[2019-01-19 15:29] ShivangiSingh17 commented on #987
May I please work on this issue?

[2019-01-20 03:02] rahul-jha98 opened #988 "Fab appears and disappears abruptly in Accounts Section"
**Summary:**

Fab appears and disappears abruptly when switching from loan to other fragment in accounts

**Steps to reproduce:**

From home go to Accounts section and then swipe to Loan and then to Share.

**Expected behaviour:**

The Add Loan Fab should animate and grow on appear.

**Observed behaviour:**

The fab will appear in a snap. Like in one frame its there and in just next its gone.

**D

[2019-01-20 03:45] rahul-jha98 commented on #988
@luckyman20 Since it was only 2 lines of change I took the liberty to open the pull request without asking whether I should work on it.
If you don't need the new animated fab entry and exit then I shall close the PR. :)

[2019-01-20 03:47] luckyman20 commented on #988
@rahul-jha98 We very much need your contribution but there are some contribution guidelines which you need to follow.

Now Since you have made the PR for this issue, it is okay. But please remember to ask for it before working on the issue even if it is a one line code change.

[2019-01-20 03:55] rahul-jha98 commented on #988
Sorry. As I am new to open source I made the silly mistake.
Henceforth, I shall follow the guidelines strictly.

[2019-01-20 07:32] rahul-jha98 opened #990 "Wasteful loading of fragment if its already the selected one"
**Summary:**

If you are in a particular fragment (section) then opening navigation drawer and going to same section's menu should only close the navigation drawer.

**Steps to reproduce:**

Open any section like Accounts, Charges etc. Open navigation drawer and click on the selected menu (which should be for the current section). You will see that the app recreates the fragment.

**Expected behav

[2019-01-20 07:32] rahul-jha98 commented on #990
@luckyman20 Can I begin working on the issue?

[2019-01-20 08:11] luckyman20 commented on #990
@miPlodder Please give your views.

[2019-01-20 11:24] ShivangiSingh17 opened #992 "Data is lost from Add Beneficiary activity when screen is rotated"
**Summary:**

When the screen rotation is enabled, the data entered by user is vanished.

**Steps to reproduce:**

1. On the Home screen, open Transfer option.
1. Choose Transfer Type as 'Third Party Transfer'
1. Choose desired Savings Account, click on Continue and then click on ```ADD BENEFICIARY```.
1. Open Add option.
1. Fill the information.
1. Rotate the screen.

**Expected behaviour:**
The

[2019-01-20 11:25] ShivangiSingh17 commented on #992
May I please work on this issue?

[2019-01-20 15:33] rahul-jha98 opened #993 "Wrong title in Help Section"
**Summary:**

Going to the Help Section in the app shows Home as title instead of Help

**Steps to reproduce:**

Going to Help Section of the app

**Expected behaviour:**
Title should be Help

**Observed behaviour:**
Title is Home

**Device and Android version:**
Moto G5 Plus, Android 8.1

**Screenshots:**

![screenshot_20190120-205913](https://user-images.githubusercontent.com/29267275/51441380-d

[2019-01-20 15:34] rahul-jha98 commented on #993
@luckyman20 Can I begin working on this issue?

[2019-01-20 17:10] miPlodder commented on #990
@rahul-jha98 Looks legit. You can start to work on it and do share you approach on how you will be doing it.

[2019-01-21 01:54] rahul-jha98 commented on #990
@miPlodder In the onNavigationItemSelected call, before doing anything we will make a check if the menu item selected is not checked (Since if it is checked it means we had switched to that fragment before and hence its the currently active fragment).

If the menu item is not checked we will do the checking and switching to required fragment but if its checked we simply close the drawer and return

[2019-01-21 07:01] rahul-jha98 commented on #990
@miPlodder @luckyman20
Please checkout the PR. I did exactly what I have written in previous comment.

[2019-01-21 07:28] rahul-jha98 opened #997 "Search Bar not occupying whole screen space in landscape"
**Summary:**

In the help section in landscape mode the search view expands to only around half the screen which looks kind of inconsistent with portrait mode.

**Steps to reproduce:**

Go to Help Section, rotate device to landscape, then on expanding search view its is only half the length of screen.

**Expected behaviour:**

It should take whole of the screen width.

**Device and Android version

[2019-01-21 07:28] rahul-jha98 commented on #997
@luckyman20 Should I start working on the issue

[2019-01-21 08:47] luckyman20 commented on #997
@rahul-jha98 We should not focus on landscape things as there is no utility of landscape (you can refer to other apps like this which are out in the market). Rather you can create a issue of fixing all the screens to portrait.

[2019-01-21 09:04] rahul-jha98 opened #998 "Setting app to work only in Portrait Mode"
**Summary:**

The app has many bugs when working in landscape mode and also on device rotation. It will be better if we restrict all activities to work in portrait mode only.
This would solve many small bugs throughout the app.

[2019-01-21 09:05] rahul-jha98 commented on #998
@luckyman20 Can I start working on this issue?

[2019-01-21 09:15] luckyman20 commented on #997
@rahul-jha98 Close this issue.

[2019-01-21 10:51] #997 closed, assigned to nobody

[2019-01-21 14:52] luckyman20 commented on #985
@shiv07tiwari You can go ahead on solving this.

[2019-01-21 14:55] shaliniv16 commented on #985
@luckyman20 @shiv07tiwari I will keep that in mind from next time.

[2019-01-22 03:19] rahul-jha98 opened #1000 "Charges and Recent Transaction section shows 'null' in TextView."
**Summary:**

In the charges section, if currency symbol is not present user will see null in UI.
Like "null 50" will be shown as Due amount.

**Expected behaviour:**

If the symbol is available for the currency then show the symbol. If it is not available, show the currency code like INR, AFN etc.
I think," **INR 50**" is better than "**null 50**" if rupee symbol is not present.

**Observed behav

[2019-01-22 03:19] rahul-jha98 commented on #1000
@luckyman20 Shall I begin working on it?

[2019-01-22 08:42] rahul-jha98 commented on #998
The PR I submitted also solves #992 indirectly.

[2019-01-22 08:46] rahul-jha98 commented on #1000
@luckyman20 I see that the same problem exists in Recent Transactions Section of the app.

Should I solve it in the fix for this issue or make a new issue for it?

![screenshot_20190122-140936](https://user-images.githubusercontent.com/29267275/51522828-41b35700-1e50-11e9-93b6-1de9954b1c7b.png)

[2019-01-22 10:02] shiv07tiwari opened #1001 "FAB Disappears in fragment transition"
**Summary:**

When the user checks loan accounts, then if he scrolls and goes to another section, then on returning he cant see the FAB.

**Screenshots:**
![videotogif_2019 01 22_15 27 00](https://user-images.githubusercontent.com/38163725/51527612-d8851100-1e5a-11e9-87e8-68948bfdb90f.gif)

[2019-01-22 10:02] shiv07tiwari commented on #1001
@luckyman20 I want to work on this issue.

[2019-01-22 10:24] luckyman20 commented on #1000
Update the issue for that.

[2019-01-22 11:48] ShivangiSingh17 commented on #992
Hello @therajanmaurya @miPlodder

Should I fix this issue by handling the lifecycle of the activity or should I restrict the orientation to portrait mode only?

May I please know your opinion on this issue.

Thank you.

[2019-01-22 15:26] shiv07tiwari opened #1004 "Share highlighted in NavDrawer after cancelling the share option"
**Summary:**
Share highlighted in NavDrawer after cancelling the share option
**Steps to reproduce:**
Open Nav Drawer and select share
Cancel when you get options
**Expected behaviour:**
Home should be highlighted
**Observed behaviour:**
Share is highlighted

[2019-01-22 15:40] shiv07tiwari commented on #1004
@luckyman20 I want to work on this issue.

[2019-01-22 21:03] shiv07tiwari opened #1005 "Invalid Link in share option"
**Summary:**

We have a wrong linking of string which results in wrong share option link.

**Steps to reproduce:**

Share the app, and click on message link

**Expected behaviour:**
It should open App store page to download the app.
**Observed behaviour:**

Invalid page.
**Device and Android version:**

[2019-01-22 21:03] shiv07tiwari commented on #1005
@luckyman20 I want to work on this issue.

[2019-01-23 02:33] rahul-jha98 opened #1007 "Clicking on Share and Settings should not change section to Home"
**Summary:**

No matter what fragment you are in clicking on Share or Settings option sets Home as the active screen

**Expected behaviour:**

It should launch the share dialog option or settings menu but not change the fragment.

**Observed behaviour:**

Clicking on Share and Settings switches fragment to Home

**Device and Android version:**

Moto G5 Plus, Android 8.1

**Screenshots:**

![a](htt

[2019-01-23 02:33] rahul-jha98 commented on #1007
@luckyman20 Can I begin working on the issue?

[2019-01-23 05:13] rahul-jha98 opened #1009 "Back from Settings Activity creates new HomeActivity"
**Summary:**

When we go to Settings menu and click back the app creates a new activity. Exiting from this instance of HomeActivity will take you to previous one
The issue was raised before  #891. But the bug is still there.

**Steps to reproduce:**

Go to Settings Menu. Go back to return to HomeActivity. Now press back 2 more times. You will see that the current HomeActitviy closes and a new one

[2019-01-23 05:13] rahul-jha98 commented on #1009
@luckyman20 Can I begin working on the issue?

[2019-01-23 09:06] shiv07tiwari opened #1010 "User profile opens twice"
**Summary:**

User profile opens twice when quickly opened twice.

**Steps to reproduce:**

Home

Quickly Click on user profile twice.

**Expected behaviour:**
Profile should open once.

**Observed behaviour:**
Profile opens twice.

[2019-01-23 09:06] shiv07tiwari commented on #1010
@luckyman20  I want to fix this.

[2019-01-23 09:08] shiv07tiwari opened #1011 "Notification opens twice."
**Summary:**

Notification activity opens twice if pressed twice quickly.

**Steps to reproduce:**

Home -> Quickly click on notification twice.

**Expected behaviour:**

It should open once.

**Observed behaviour:**

It opens twice.

[2019-01-23 09:08] shiv07tiwari commented on #1011
@luckyman20 I want to fix this issue.

[2019-01-23 09:10] shiv07tiwari opened #1012 "Open Source license opens twice"
**Summary:**

Open source license opens twice when clicked twice rapidly.

**Steps to reproduce:**

About -> click on license twice rapidly.

**Expected behaviour:**
It should open only once

**Observed behaviour:**
It opens twice.

[2019-01-23 09:10] shiv07tiwari commented on #1012
@luckyman20 I want to work on this.

[2019-01-23 09:12] shiv07tiwari opened #1013 "Filter dialog opens twice"
**Summary:**

Filter dialog opens twice when clicked rapidly.

**Steps to reproduce:**

Accounts -> quickly click on filters twice

**Expected behaviour:**

Dialog should open only once.

**Observed behaviour:**

Dialog opens twice.

[2019-01-23 09:12] shiv07tiwari commented on #1013
@luckyman20 i want to fix this.

[2019-01-23 09:14] shiv07tiwari opened #1014 "LogOut is highlighted after cancellation."
**Summary:**

LogOut is highlighted after cancellation.

**Steps to reproduce:**

Click on Logout -> click somewhere outside the dialog box.

**Expected behaviour:**

Home should be highlighted.

**Observed behaviour:**

LogOut is highlighted.

[2019-01-23 09:14] shiv07tiwari commented on #1014
@luckyman20 I want to fix this.

[2019-01-23 09:16] shiv07tiwari opened #1015 "Diaplay currency in Home Screen"
**Summary:**

As a user, I want that my home screen should display amount as well as currency for loans and savings.
Right now it doesnt show the currency.

**Steps to reproduce:**

Home screen

**Expected behaviour:**

Show the currency

**Observed behaviour:**

No currency displayed.

[2019-01-23 09:16] shiv07tiwari commented on #1015
@luckyman20 I want to add this feature.

[2019-01-23 09:43] luckyman20 commented on #1005
Please share the screenshot for same.

[2019-01-23 09:49] luckyman20 commented on #1011
@shiv07tiwari Work on only one issue at a time. Though I have assigned you multiple ones but first you need to work on them and then get assigned these.

[2019-01-23 09:49] shiv07tiwari commented on #1005
![img_20190123_151836](https://user-images.githubusercontent.com/38163725/51597870-4a745d80-1f22-11e9-8cb9-268b29c79972.jpg)

[2019-01-23 09:50] shiv07tiwari commented on #1005
Here, we see that the link is broken.

[2019-01-23 12:31] luckyman20 commented on #1005
Go ahead.

[2019-01-23 15:09] ShivangiSingh17 opened #1017 "Add Beneficiary activity loses data on screen rotation"
**Summary:**

The data entered by the user vanishes when screen rotation is enabled.

**Steps to reproduce:**

1. On Home screen click on ```Beneficiaries``` option.
1. Click on Fab button and select ```Add``` as Select Mode.

**Expected behaviour:**
On enabling the screen rotation ,the data should be present.

**Observed behaviour:**

When screen is rotated the entered data is lost.

**Device and

[2019-01-23 15:22] ShivangiSingh17 commented on #1017
May I please work on this issue?

[2019-01-23 16:30] ShivangiSingh17 opened #1018 "Toolbar title in Add Beneficiary activity changes on screen rotation"
**Summary:**
When screen rotation is enabled the toolbar text changes.

**Steps to reproduce:**
1. From Home click on  ```Beneficiaries``` option.
1. Click on Fab and choose ```Add``` option.

**Expected behaviour:**

The toolbar name should be  **Add Beneficiary**.

**Observed behaviour:**

The toolbar name changes to **Mifos Mobile**

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funto

[2019-01-23 16:31] ShivangiSingh17 commented on #1018
I would like to work on this issue.

[2019-01-23 19:30] ShivangiSingh17 opened #1020 "Notification toolbar text changes on screen rotation"
**Summary:**
When screen rotation is enabled the Notification toolbar text changes.

**Steps to reproduce:**
1. On Home screen click on ```Notification``` bell icon on top right corner.

**Expected behaviour:**

The toolbar text should be **Notifications**.

**Observed behaviour:**
On screen rotation, the toolbar text changes to **Mifos Mobile**.

**Device and Android version:**
Vivo 1724
Android

[2019-01-23 19:37] ShivangiSingh17 commented on #1020
I would like to work on this issue.

[2019-01-26 06:43] ShivangiSingh17 opened #1024 "Scroll function is not available on screen rotation"
**Summary:**
On screen rotation in Add Beneficiary section the scroll option is not available and the screen is just set to some limited options.

**Steps to reproduce:**
1. From Home screen, click on ```Beneficiaries```
1. Click on Fab option.
1. Enable screen rotation.

**Expected behaviour:**
 On screen rotation in Add Beneficiary section all the select mode options **Add**, **Scan** and **Uplo

[2019-01-26 06:44] ShivangiSingh17 commented on #1024
Please I would like to work on this issue.

[2019-01-26 10:58] harrycode007 commented on #993
Can I begin working on this issue?

[2019-01-28 06:03] abhin2149 commented on #983
Can I work on this issue?

[2019-01-28 06:07] ravi-kishan commented on #983
Yes you can. @luckyman20 sorry for not solving it in time.

[2019-01-28 09:05] ShivangiSingh17 opened #1027 "Application loses data inserted by the user"
**Summary:**
When the user adds information the application shows a pop-up for been updated but the information is lost on returning back.

**Steps to reproduce:**
1. From Accounts, slide to Loan section.
1. Choose any approval pending account(marked with yellow sider).
1. Click on three vertical dots present on top right  corner and choose View guarantor.
1.Click on  Fab button.Upgrade.

**Expect

[2019-01-28 09:29] ShivangiSingh17 commented on #1027
I would like to work on this issue.

[2019-01-29 09:36] RajaVamsi11 commented on #940
@therajanmaurya @miPlodder Working on this issue.

[2019-01-29 10:28] RajaVamsi11 commented on #940
As of now lint warnings and errors have been increased.
- Android - 100 errors and 5178 warnings
- Groovy -  2 warnings
- Java - 2 errors and 1395 warnings
- Kotlin - 24 warnings, 3 weak warnings and 1 info
- Properties Files - 2 warnings
- Spellings - 1000 typos
- XML - 4 errors and 6 warnings

![screenshot from 2019-01-29 15-50-28](https://user-images.githubusercontent.com/30550059/51901836-9de1

[2019-01-29 11:23] abhin2149 commented on #983
I have fixed the issue in my forked repo in a different branch but not committed yet.How should i proceed?

[2019-01-31 18:05] #1020 closed, assigned to nobody

[2019-01-31 18:11] #993 closed, assigned to nobody

[2019-01-31 18:12] #1017 closed, assigned to nobody

[2019-01-31 18:17] #988 closed, assigned to nobody

[2019-01-31 18:20] #979 closed, assigned to nobody

[2019-01-31 20:41] RajaVamsi11 commented on #1011
@shiv07tiwari Can I work on this issue. I think you are busy with solving other issues.

[2019-01-31 20:47] RajaVamsi11 commented on #836
@therajanmaurya @miPlodder I am interested in implementing this feature. What do you think about this? I had worked on Firebase before.

[2019-01-31 20:57] shiv07tiwari commented on #1011
Sure @RajaVamsi11

[2019-01-31 20:58] RajaVamsi11 commented on #590
@miPlodder Can I work on this issue?

[2019-01-31 21:39] shiv07tiwari commented on #1014
@miPlodder @therajanmaurya To fix this, we have 2 options :
1. Disable the dialog box to close if clicked outside the box.
2. Override the ontouch event for dialog box.
Which should I apply ?

[2019-02-01 04:01] therajanmaurya commented on #1012
This is not an issue. It is normal behavior. If you will try to click on any button in any app twice before opening the app. It will intent twice.

[2019-02-01 04:01] #1012 closed, assigned to nobody

[2019-02-01 04:04] therajanmaurya commented on #1010
As I said earlier this is not an issue. Intent opening with animation that give small time window to do any action and if you will click again. It will open again.

If you want to fix this then make the view disable after the first click.

[2019-02-01 04:04] #1010 closed, assigned to nobody

[2019-02-01 04:05] #1005 closed, assigned to nobody

[2019-02-01 04:09] #1007 closed, assigned to nobody

[2019-02-01 09:01] #621 closed, assigned to nobody

[2019-02-01 11:33] RajaVamsi11 commented on #1018
@Starcode71Ooze What are the credentials you are using to log in in the self-service app? Given credentials in the wiki are not working.

[2019-02-01 13:21] ShivangiSingh17 commented on #1018
@RajaVamsi11  I am also facing the same problem.Credentials mentioned in wiki are not working now.

[2019-02-03 07:44] #940 closed, assigned to nobody

[2019-02-03 14:11] RajaVamsi11 commented on #1011
@shiv07tiwari In my mobile notification activity is not opening twice. It works fine.

[2019-02-05 12:15] RavisimhaReddy commented on #63
Hey

Can you please help me with user story for Forgot password?

Thank you.

[2019-02-09 11:58] #1009 closed, assigned to nobody

[2019-02-10 05:17] ShivangiSingh17 commented on #1018
@RajaVamsi11 did you get the application working back after staging?

[2019-02-10 07:51] RajaVamsi11 commented on #1018
No

[2019-02-10 18:09] RajaVamsi11 commented on #557
@Starcode71Ooze I am interested in updating READ me file. Can I work on this issue?

[2019-02-10 20:35] ShivangiSingh17 commented on #557
Yeah you can proceed @RajaVamsi11 .

[2019-02-11 12:47] RajaVamsi11 opened #1038 "Feat: Add Telugu translations to the app"
**Summary:**
I am interested in adding the Telugu language translations to the app so that the app can cover many users. Telugu language is used in two states (Andhra Pradesh and Telangana ) of India.

[2019-02-11 12:48] RajaVamsi11 commented on #1038
@miPlodder @luckyman20 @therajanmaurya Can I work on this issue?

[2019-02-12 10:58] razorahul opened #1039 "Error loading client"
**Summary:**

I have tried the Master/Development branch. After it successfully logs in it redirects to client list activity. There its getting 400/401 response from the server.

**Steps to reproduce:**

Login

**Expected behaviour:**

client list
**Observed behaviour:**

Error loading client list.
**Device and Android version:**

Pixel 2XL android version 9

[2019-02-12 12:25] ShivangiSingh17 commented on #1039
@razorahul it might be due to the upgrading of the application to the version 17.07.01.Did you tried staging?

[2019-02-13 21:02] RajaVamsi11 commented on #1011
@shiv07tiwari Can you please add GIF for this issue.

[2019-02-17 16:32] YashishDua opened #1041 "Modify error handling in ClientAccountsFragment"
**Summary:**

When there is an error in a request at AccountsFragment which further calls `showError`. However instead of showing error once it shows thrice unnecessarily.

**Steps to reproduce:**

Make any sort of error while making a network request in Accounts Fragment.

**Expected behavior:**

Single Toast showing an error.

**Observed behavior:**

3 consecutive Toast messages unnecessarily.

[2019-02-17 16:35] YashishDua opened #1042 "Code refactoring in ClientAccountsFragment"
**Summary:**

Many functions like showSavingsAccounts have poor code structure and repetition.

**Expected behavior:**

More clean structure and optimized code.

[2019-02-17 16:41] YashishDua opened #1043 "Default and Release build variants"
**Summary:**

We can improve our build time and the environment by creating two buildTypes in Gradle - Debug, and Release.
Different types of optimizations can be done for debugging and release variant.

[2019-02-18 07:38] shiv07tiwari commented on #1014
![videotogif_2019 02 18_13 05 52](https://user-images.githubusercontent.com/38163725/52934993-1e5fc700-337e-11e9-873c-879dbfb5f35c.gif)
@luckyman20 Added GIF.
In first try, the cancel button is pressed, which perfectly highlights the home.
In second try, area outside the dialog box is clicked, in which logout is highlighted.

[2019-02-18 07:49] luckyman20 commented on #1014
Do not allow the user to click outside the dialog box.

[2019-02-18 08:25] shiv07tiwari opened #1045 "Navigation Drawer still open while returning from Profile."
**Summary:**
When the user goes to user profile from Navigation Drawer upon return the Navigation Drawer is still open.
**Steps to reproduce:**

Navigation -> User profile -> Back

**Expected behaviour:**
Navigation Drawer should be closed and home screen should be visible.

**Observed behaviour:**
Navigation Drawer is still open.

[2019-02-18 08:25] shiv07tiwari commented on #1045
@luckyman20 Can I fix this ?

[2019-02-18 08:33] shiv07tiwari opened #1046 "Feat: Reshaping and Adding more details in about section of app."
**Summary:**

Mifos mobile, being an OpenSource software needs as much contributions as it can get. The users using the android app without the knowledge of this repository should get a overview of how they can report some issues and how they can work on this.
We should make an about section similar to the attached image with required fields.

![screenshot_2019-02-18-13-59-42-567_org systers mento

[2019-02-18 08:33] shiv07tiwari commented on #1046
@luckyman20 @miPlodder @therajanmaurya Can I add this ?

[2019-02-18 11:09] ShivangiSingh17 opened #1047 "Adding Malayalam translation feature to the App"
**Summary:**
Adding Malayalam translation to make the application more viable.Adding this feature makes the application to be more multilingual, user-friendly and also widens its reach to common people at a great extent.

**Expected Behaviour**
Malayalam translation should be present under ```language``` drop-down list option.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS_4.

[2019-02-18 11:13] ShivangiSingh17 commented on #1047
I would like to work on this issue.

[2019-02-18 11:22] ShivangiSingh17 opened #1048 "Missing some translation in Bengali language"
**Summary:**
The application is missing some simple translation in Bengali language.

**Steps to reproduce:**
1. Go to settings.
1. Change language to ```Bengali```

**Expected behaviour:**
All strings should be translated to Bengali.

**Observed behaviour:**
Some strings lack Bengali translation.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS 4.0

[2019-02-18 11:28] ShivangiSingh17 commented on #1048
I would like to work on this issue.

[2019-02-18 19:47] ShivangiSingh17 opened #1050 "Adding Malayalam translation feature to the App"
**Summary:**
Adding Malayalam translation to make the application more viable.Adding this feature makes the application to be more multilingual, user-friendly and also widens its reach to common people at a great extent.

**Expected behaviour:**
Malayalam translation should be present under ```language``` drop-down list option.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS_4

[2019-02-18 19:47] #1047 closed, assigned to nobody

[2019-02-18 19:51] shiv07tiwari opened #1051 "App crashes without internet while Applying for loan"
**Summary:**
When the internet is off while clicking on Submit Loan, then App crashes, which should be handled in a graceful manner.
**Steps to reproduce:**

Apply for loan -> Submit loan (Without loan)

**Expected behaviour:**
User should get a message that internet is not available.

**Observed behaviour:**

App crashes.

**Screenshots:**

![videotogif_2019 02 19_01 16 12](https://user-images.gi

[2019-02-19 12:32] shiv07tiwari opened #1054 "Date Picker in Apply for loan."
**Summary:**

Date Picker in Apply for loan shows today's date highlighted even when user selects a different date.

**Steps to reproduce:**
Apply for loan -> Expected date -> Select another date -> Open date picker again

**Expected behaviour:**

It should highlight previously selected date

**Observed behaviour:**

Highlights current date.

[2019-02-19 19:47] atm1504 opened #1056 "App fails to detect the default language of the mobile and open the app in the default language."
**Summary:**
App fails to detect the default language of the app and open it in the default language of the mobile.

**Steps to reproduce:**
By using locale function, we can easily determine the default language of the mobile, and open that translated version of the app.

**Expected behaviour:**

The app should be able to detect the default language of the mobile, and open it in that version.

**O

[2019-02-19 19:48] atm1504 commented on #1056
I want to work on this issue.

[2019-02-20 07:51] luckyman20 commented on #1043
Please explain a bit more, what exactly you are planning to do and what will be your approach.

[2019-02-20 07:52] luckyman20 commented on #1041
It looks a good catch, just keep in mind that do not implement Toast, instead use Snackbar.

[2019-02-20 07:53] luckyman20 commented on #1042
Please explain a bit more.

[2019-02-20 08:22] #1014 closed, assigned to nobody

[2019-02-20 09:10] #1013 closed, assigned to nobody

[2019-02-20 09:13] #1000 closed, assigned to nobody

[2019-02-20 09:16] #1045 closed, assigned to nobody

[2019-02-20 09:17] #1048 closed, assigned to nobody

[2019-02-20 09:18] #1038 closed, assigned to nobody

[2019-02-20 09:46] shiv07tiwari opened #1057 "Add a confirmation dialog in forgot pin."
**Summary:**

When user clicks on forgot pin, he is directed to login page.

**Expected behavior:**

He should get a confirmation dialog.
https://github.com/openMF/mobile-wallet/issues/327

[2019-02-20 11:22] shiv07tiwari commented on #847
@miPlodder This is an important issue. Can I take this ?

[2019-02-20 18:20] RajaVamsi11 opened #1059 "Remove Hardcoded string in menu_transfer.xml file"
**Summary:**

The String `Refresh` in the item tag of the menu_transfer.xml file is Hardcoded.

**Steps to reproduce:**

Inspect the code by name "Hardcoded text" in Android studio. It shows all hardcoded texts in the whole project.

**Expected behaviour:**

This strings must be added in the strings.xml file instead of hardcoding it.

**Observed behavior:**

N.A

**Device and Android version:**

N

[2019-02-20 18:31] RajaVamsi11 opened #1061 "Update the compile and target SDK version"
**Summary:**
The compileSdkVersion and targetSdkVersion which are set to versions 26 and 26, respectively, must be changed to 28( Android Pie) as the latest Android APIs must be used to make use of the latest features.
There will be no issue and will not break any compatibility with older versions as minSdkVersion remains same

[2019-02-20 18:31] RajaVamsi11 commented on #1061
@luckyman20 @therajanmaurya Can I work on this issue?

[2019-02-20 19:57] shiv07tiwari commented on #1010
@therajanmaurya This issue is similar to https://github.com/openMF/mifos-mobile/pull/1036
That one was accepted, so can this be taken as a bug ?

[2019-02-20 19:59] shiv07tiwari commented on #844
@miPlodder Can I implement this ?

[2019-02-20 20:19] shiv07tiwari opened #1062 "Blank user profile is visible without internet"
**Summary:**

When we have no internet, a blank user profile is visible for a moment, and then we see not available page.

**Steps to reproduce:**
No internet -> User profile
**Expected behaviour:**

Show only one page

(Maybe we need to display the page only after loading, otherwise it leads to a bad user experience)
![videotogif_2019 02 20_22 41 20](https://user-images.githubusercontent.com/3816

[2019-02-22 01:06] shiv07tiwari commented on #1054
Already solved https://github.com/openMF/mifos-mobile/issues/983

[2019-02-22 01:06] #1054 closed, assigned to nobody

[2019-02-22 13:26] atm1504 opened #1065 "Toast is coming in english when I have different language setup in the app."
**Summary:**

Toast is coming in english when I have different language setup in the app.

**Steps to reproduce:**
Write the strings of the toast in the string file

**Expected behaviour:**

The app should display toast in the language the app has been setup.

**Observed behaviour:**

Currently, the app is showing the toast in english only.

**Screenshots:**
![whatsapp image 2019-02-22 at 6 51 10

[2019-02-22 13:27] atm1504 commented on #1065
I am working on this issue

[2019-02-22 14:00] atm1504 opened #1066 ""Beneficiaries" coming in two line."
**Summary:**

On opening the app, the word "Beneficiaries" is coming in 2 lines. Its looking very odd.

**Steps to reproduce:**

Remove the default padding in the layout, and replace it by giving margin in the imageview.

**Expected behaviour:**

The word "Beneficiaries" should come in 1 line.

**Observed behaviour:**

The word "Beneficiaries" is coming in 2 lines.

![beneficiaries](https://user-i

[2019-02-22 14:01] atm1504 commented on #1066
I am working in this issue

[2019-02-23 03:51] shaliniv16 opened #1068 "Amount column in LOAN fragment should accept up to 2 decimal digits in the amount"
**Summary:**

Amount column in LOAN fragment should accept up to 2 decimal digits in the amount.

**Device and Android version:**

Device Realme 2 Pro
Android version 8.1.0

**Screenshots:**

![screenshot_2019-02-23-09-08-57-06](https://user-images.githubusercontent.com/32845033/53281268-bdecd300-374b-11e9-8cb1-3740e99d31cb.png)

[2019-02-23 11:35] shiv07tiwari opened #1069 "User has no idea that date filter is removed in Account Transactions"
**Summary:**

When a user applies filters in Account Transactions with date, clicking on months filter removes the date filters. So either we can reset the dates or add a radio button to show that the filter is disabled.

**Steps to reproduce:**
Saving Accounts -> Approved -> Transactions

![videotogif_2019 02 23_16 57 50](https://user-images.githubusercontent.com/38163725/53285911-cfa29a80-378c-1

[2019-02-24 15:36] shaliniv16 commented on #1068
@luckyman20 Can I work on it?

[2019-02-26 11:50] ShivangiSingh17 commented on #975
Please can I  work on this issue ?

[2019-02-26 18:36] nikhil-sachdeva opened #1072 "Selecting time filter in account transactions does not update start and end date."
**Summary:**

When a time filter is selected, start and end date should be updated for better user experience and complete design.

**Steps to reproduce:**

Accounts->Select an active account->Transactions->Select radio button filter

**Expected behaviour:**

Start and end date should be updated for better UI design.

**Observed behaviour:**

It doesn't get updated.

**Device and Android version:*

[2019-02-26 18:43] nikhil-sachdeva opened #1073 "Wrong Toast message in Recent Transactions"
**Summary:**

Opening Recent Transactions shows "No more transactions available" on opening. It should only be prompted when a list is scrolled down.

**Steps to reproduce:**

Navigation Drawer->Recent Transactions

**Expected behaviour:**

The toast message should be shown only when a list is scrolled down.

**Observed behaviour:**

The toast message is shown.

**Device and Android version:**

Re

[2019-02-27 09:10] apoorva-mk commented on #1073
I'd like to work on this issue.

[2019-02-27 11:35] nikhil-sachdeva commented on #1073
I'm already working on it. @apoorva-mk

[2019-02-27 12:10] nikhil-sachdeva opened #1074 "UI changes in Help Fragment"
**Summary:**

A BottomNavigationView is implemented in the help fragment. While call and email opens intents outside the app for their respective jobs. Find Locations replaces a fragment which is a correct practice for bottom navigation.

**Steps to reproduce:**

Nav Drawer->Help

**Expected behaviour:**

The app should have FABs or Material Design buttons suiting the theme of the app. According t

[2019-02-27 13:44] nikhil-sachdeva commented on #1074
@miPlodder would like to know your views on this.

[2019-02-27 21:31] nikhil-sachdeva opened #1075 "Consistent UI for Apply for Loan with no internet."
**Summary:**

With no internet, all the other screens show the same screen as the first screenshot, while the Apply for Loan shows a different screen.

**Steps to reproduce:**

Turn off data/wifi -> Apply for Loan

**Expected behaviour:**

The design should be consistent.

**Observed behaviour:**

Inconsistent design.

**Device and Android version:**

Redmi Note 3

**Screenshots:**
![screenshot_20

[2019-02-28 09:27] ShivangiSingh17 opened #1076 "Add Beneficiary window open up twice"
**Summary:**
On double tapping the fab, the Add Beneficiary window opens up twice.

**Steps to reproduce:**
Navigation Drawer>Manage Beneficiaries>Double tap fab

**Expected behaviour:**
On clicking the fab the ```Add Beneficiary``` window should open only once.

**Observed behaviour:**
Add Beneficiary window opens twice on double taping the fab

**Device and Android version:**
Vivo 1724
Android 8

[2019-02-28 09:27] ShivangiSingh17 commented on #1076
I would like to work on this issue.

[2019-02-28 10:11] ShivangiSingh17 commented on #1011
@RajaVamsi11 may I work on this issue?

[2019-02-28 10:42] ShivangiSingh17 opened #1078 "Hardcoded text is present"
**Summary:**
Hardcoded text is present in menu_transfer.xml file.

**Steps to reproduce:**
On inspecting the code we find a hardcoded text.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS_4.0

[2019-02-28 10:55] RajaVamsi11 commented on #1011
@ShivangiSingh17 Can you add GIF for the following issue.

[2019-02-28 10:59] RajaVamsi11 commented on #1078
@ShivangiSingh17 This issue has been solved in the #1060 . Please make sure that you read previous issues before making a issue and working on it.

[2019-02-28 12:33] #1078 closed, assigned to nobody

[2019-03-01 10:01] #1069 closed, assigned to nobody

[2019-03-01 10:03] #1059 closed, assigned to nobody

[2019-03-01 10:04] #557 closed, assigned to nobody

[2019-03-01 17:50] #839 closed, assigned to nobody

[2019-03-02 13:27] ShivangiSingh17 opened #1080 "Upgrading the build:gradle version"
**Summary:**
Upgrading the gradle version to the latest version helps to access more tools of the application.
The ```build.gradle```  file shows the version to  be 3.0.0 that can be switched to new version 3.3.1 for better interaction and is more stable.

[2019-03-02 14:12] shiv07tiwari opened #1081 "Curency sign after the amount"
**Summary:**

Following the general standard, the currency sign should be before the amount, but it is violated in Saving Accounts Details.

**Steps to reproduce:**

Saving -> Active -> Transaction Details

![img_20190302_193836](https://user-images.githubusercontent.com/38163725/53683120-41e22480-3d23-11e9-823f-d3846d15a2f4.jpg)

[2019-03-02 14:38] shiv07tiwari opened #1082 "Add currency sign and UI alignment in Loan Summary"
**Summary:**

The Loan Summary page has alignment issues (highlighted in orange)
 and the currency symbol is missing in various places. (highlighted in green)
**Steps to reproduce:**

Accounts -> Approved Loan -> Loan Summary

**Screenshot**

![img_20190302_200021](https://user-images.githubusercontent.com/38163725/53683454-f0d42f80-3d26-11e9-8dbc-05dd33704ea1.jpg)

[2019-03-02 16:47] shiv07tiwari commented on #1076
https://github.com/openMF/mifos-mobile/issues/1012#issuecomment-459598019
@ShivangiSingh17 I think this is a similar issue.

[2019-03-02 17:25] shiv07tiwari opened #1086 "Irregular Snackbar Behaviour"
**Summary:**
When snackbar pops-up, then clicking on edittext causes an irregular behaviour of it.
Observed in -
1. Deposit
2. Transfer
3. Third Party Transfer

**Steps to reproduce:**

Dont enter any amount in transfer -> Snackbar pops up -> Click on edit text

**Expected behaviour:**

Snackbar should disappear as now the user knows the mistake.

[2019-03-02 17:54] ShivangiSingh17 commented on #1076
Shall I proceed working on this because double tapping on button should not open the window twice. It is not a user stable platform if such a thing happens.

[2019-03-02 18:10] ShivangiSingh17 opened #1087 "Incorrect message is displayed in snackbar"
**Summary:**
While applying for loan if we enter a principal amount greater or lesser than 10000.00 then a snack bar pops up showing incorrect message.

**Steps to reproduce:**
From the Home screen click on ```Apply for Loan```.

**Expected behaviour:**
Snack bar should show a valid message.

**Observed behaviour:**
Message displayed in bar is *Enter principal amount between 10000.00 and 10000.00*

[2019-03-02 18:28] shiv07tiwari commented on #1076
As per the mentors it is not a valid issue.
To some extent I also agree with it as opening of an activity twice shows that the app is comparatively slow.
So adding a flag just to prevent the double intent action basically hides the slow performance, whereas we can try to improve the application speed.
Just an opinion.

[2019-03-02 20:53] ShivangiSingh17 commented on #1087
I would like to work on this.

[2019-03-03 04:39] theabhishekavi opened #1088 "message should be displayed when user is successfully logged in"
**Summary:**

There should be a message when passcode is successfully saved and user is logged in.

**Steps to reproduce:**

Log in using a passcode

**Expected behaviour:**

When passcode is successfully entered there should be a message.

**Observed behaviour:**

There is no message displayed when a passcode is successfully entered

**Device and Android version:**

Android Version:- 8.1.0

[2019-03-03 05:33] theabhishekavi commented on #1088
@therajanmaurya should it be implemented?

[2019-03-03 06:11] theabhishekavi commented on #1088
there are some activity like MifosPassCodeActivitywhich can only be read. how can we write and make changes in them? can you please guide me?

[2019-03-03 08:21] ShivangiSingh17 commented on #1024
@RajaVamsi11 Setting an app to work in one mode is not a flexible way to solve a problem. Also it a user constraint.

[2019-03-03 08:28] RajaVamsi11 commented on #1024
@ShivangiSingh17 Can you please refer this [link](https://medium.com/mindorks/case-study-40-top-android-apps-have-locked-orientation-7c242f795006).

[2019-03-03 11:57] #1082 closed, assigned to nobody

[2019-03-03 12:00] #1081 closed, assigned to nobody

[2019-03-03 12:02] #975 closed, assigned to nobody

[2019-03-03 12:52] ShivangiSingh17 commented on #1076
@therajanmaurya shall I proceed working on this issue?

[2019-03-03 13:19] #980 closed, assigned to nobody

[2019-03-03 16:52] shiv07tiwari opened #1090 "App crashes on transfer section if back pressed and again reviewed"
**Summary:**

When the user makes a transfer request from a particular account details page, and then reviews the transaction, if he presses back and again asks for a review, then the app crashes.

**Steps to reproduce:**

Account - accepted savings account - make a transfer - enter valid details - review - back - dont Change the preexisting values - review

**Expected behaviour:**

The review sho

[2019-03-03 17:13] shiv07tiwari opened #1092 "Currency after amount in Repayment section"
**Summary:**

Following the general standard, the currency sign should be before the amount, but it is violated in Repayment schedule Repayment section.
Similar to #1084
Sorry i couldn't notice this error while reporting #1084.
![screenshot_2019-03-03-22-39-07-369_org mifos mobilebanking](https://user-images.githubusercontent.com/38163725/53698639-96f66700-3e05-11e9-8643-bd9f5e1e95a4.png)

[2019-03-03 17:24] shiv07tiwari opened #1093 "Settings still highlighted after exiting the activitiy."
**Summary:**
When the user opens and then exits the settings section, settings is still highlighted in the navigation drawer.

**Steps to reproduce:**

Home - settings - back

**Expected behaviour:**

Home should be highlighted

**Observed behaviour:**

Settings is highlighted
![videotogif_2019 03 03_22 49 02](https://user-images.githubusercontent.com/38163725/53698753-01f46d80-3e07-11e9-8d72-b1c1

[2019-03-03 17:56] nikhil-sachdeva opened #1094 "Confirmation after Submitting Loan Application"
**Summary:**

After submitting a loan application in Apply for Loan, the user should be asked for confirmation.

**Steps to reproduce:**

Apply for Loan->Submit Loan

**Expected behaviour:**

Confirmation tab should be opened.

**Observed behaviour:**

No confirmation.

**Device and Android version:**

Redmi Note 3

[2019-03-03 18:42] theabhishekavi opened #1096 "Withdrawal and Deposit filter should be added in savings account transaction"
**Summary:**

There should be a filter based on withdrawal and deposit

**Steps to reproduce:**

 Open view transactions in saving account account section

**Expected behaviour:**

Based on months there should be one more filter of withdrawal,deposit

[2019-03-03 18:44] theabhishekavi commented on #735
Is the following feature implemented? @therajanmaurya

[2019-03-03 19:12] theabhishekavi commented on #735
@therajanmaurya if not can i work on this?

[2019-03-04 10:11] shiv07tiwari commented on #1075
@nikhil-sachdeva Their is already a PR for same. https://github.com/openMF/mifos-mobile/pull/1053

[2019-03-04 10:26] YashishDua commented on #1043
For example, we can make crashlytics false for debug variant, disabling PNG crunching for release mode, enabling and disabling build caches and shrinking resource. There are a lot of other things we can do.
We will split our build type into two categories. And will set up things accordingly in both variants.

More:
https://developer.android.com/studio/build/optimize-your-build
https://developer.an

[2019-03-04 10:31] YashishDua commented on #1042
![screen shot 2019-03-04 at 3 58 03 pm](https://user-images.githubusercontent.com/20666950/53727478-5abf1700-3e96-11e9-8366-ae9c00adb708.png)
Above is one example where code refactoring is required. We unnecessarily find fragment twice which adds to up to latency.

![screen shot 2019-03-04 at 3 59 28 pm](https://user-images.githubusercontent.com/20666950/53727551-83471100-3e96-11e9-9059-1aa3c8c7dd

[2019-03-06 14:06] #833 closed, assigned to nobody

[2019-03-07 06:17] #1092 closed, assigned to nobody

[2019-03-07 08:59] aggarwalpulkit596 opened #1099 "Migrate to Androidx"
**Summary:**
Migrate All supporting libraries to Androidx and Use material design libraries

[2019-03-08 06:52] RahulPrajapati97 opened #1101 "Registration is not working"
When I am try to register  in registration page after filling all detail it give me error of "client not found with basic detail".

[2019-03-10 05:44] apoorva-mk opened #1102 "Back button pressed from settings moves app to the previously opened activity"
**Summary:**

If the back button is pressed from the settings activity it moves to the previously opened navigation menu tab and not the home page unlike other options

**Steps to reproduce:**

- Open Setting from the Home screen Navigation drawer.
- Select Beneficiaries
- Open Navigation menu and click on Settings
- Press Back Button
- It shows the Beneficiaries activity again.
- Same issue not s

[2019-03-10 05:54] apoorva-mk commented on #1102
I believe issue #1009 and #891 are along similar lines but the bug I raised is still present and is inconsistent with the expected outcome. I'd like to work on this.

[2019-03-11 12:16] razorahul commented on #1039
@ShivangiSingh17 I have setup mifos on Ubuntu. And trying to access it through this app from a AVD.

[2019-03-11 12:20] shiv07tiwari opened #1103 "App crashes when screen is rotated"
**Summary:**

When the screen is rotated, the app crashes in portrait mode.

![videotogif_2019 03 11_17 48 36](https://user-images.githubusercontent.com/38163725/54123595-2911f700-4426-11e9-9d91-a0deb287523c.gif)

[2019-03-11 14:00] RajaVamsi11 commented on #1103
@shiv07tiwari As soon as #999 will merge, the issues related to screen rotation will fix automatically. There is no need to worry about this type of issues.

[2019-03-12 03:37] apoorva-mk opened #1104 "App crashes when Contact Us number clicked from the Savings Account and back button pressed."
**Summary:**

 App crashes when Contact Us number clicked from the Savings Account and back button pressed.

**Steps to reproduce:**

How can we reproduce the issue?
- Login to your mifos app
- Click on Accounts
- Click on any account
- Click on the Contact Us number at the bottom
- Press the back button

**Expected behavior:**

It should take user back to the account details page. This behavior i

[2019-03-12 03:38] apoorva-mk commented on #1104
I'm working on this issue

[2019-03-12 04:23] RajaVamsi11 commented on #1104
@apoorva-mk Can you please add GIF for the above issue.

[2019-03-12 09:52] apoorva-mk commented on #1104
Hey @RajaVamsi11 I have added the relevant gif.

[2019-03-12 10:05] RajaVamsi11 commented on #1104
@apoorva-mk Looks like a valid issue.

[2019-03-12 17:01] shiv07tiwari commented on #990
@rahul-jha98 Are you still working on this ?

[2019-03-12 18:41] rahul-jha98 commented on #990
No, you can work on this one.

[2019-03-13 08:02] RajaVamsi11 commented on #603
@sridharjajoo @miPlodder Can I work on this issue?

[2019-03-13 12:30] shiv07tiwari opened #1106 "Different Snackbar messages in SIgnUp Activity"
**Summary:**

When the username is <5 words, we get a message saying that username cant be less that 5 words, and later if words = 5, we get a snack bar saying that it cant be less than 6.
**Steps to reproduce:**

How can we reproduce the issue?

SignUp -> username.wordcount < 5 -> username.wordcount = 5

**Expected behaviour:**

Both times, message should be that it cant be less than 6

![videoto

[2019-03-13 12:31] shiv07tiwari commented on #990
@rahul-jha98 Okay I am working on this.

[2019-03-14 12:01] shiv07tiwari opened #1107 "Limits for Phone No, Account number in SignUp page"
**Summary:**

As the phone numbers are constrained to be 10 digits, and our Account number is also of fixed digits, we should add a check for that before the Sign Up.

**Steps to reproduce:**

Sign Up process

**Expected behaviour:**

User should not be able to Sign Up if the values dont match the size limit.

**Observed behaviour:**

User can Log In at any value.

[2019-03-14 12:08] RajaVamsi11 commented on #1107
@shiv07tiwari I think phone number maximum digits should be 15.

[2019-03-14 12:12] shiv07tiwari commented on #1107
@RajaVamsi11 Generally the phone numbers are of 10 digits, and then we can add a country code section. Am I missing the logic as to why it should be 15 ?

[2019-03-14 12:14] shiv07tiwari commented on #1088
@theabhishekavi When the login in successful, he is already getting into a Home Screen, which shows that Login is successful. So, I think their is no use of the message.
Am I missing something ?

[2019-03-14 12:20] RajaVamsi11 commented on #1107
@shiv07tiwari  10 digits mobile is for India and some countries. Mobile number digits vary from countries.
Here is the example:
Minimum Length is 4 for Saint Helena (SH, +290)
Maximum Length is 13 for Austria (AT, +43)

So many of the applications use 15 digits to be standard length. Even mobile wallet project use 15 digits as a maximum limit.

[2019-03-14 15:01] shiv07tiwari commented on #1107
@RajaVamsi11 Thanks that's a helpful piece of information. I'll make it 15.

[2019-03-14 16:25] ShivangiSingh17 commented on #1103
@shiv07tiwari the app does not crash and works properly when rotated. There might be some build error because I worked on orientation and my app didn't crash.

[2019-03-14 19:35] stanfidu opened #1108 "Link Self service user to a client"
**Summary:**

Can't login with new account credentials. The app displays message "failed to fetch client"

**Steps to reproduce:**

Install the app
Change the endpoint to your own server with Mifos X version 18.03.01 installed
Create a new account from the app mifos-mobile
Login with provided information of the new user

**Expected behaviour:**

Login successfully

**Observed behaviour:**

The app

[2019-03-14 20:17] stanfidu commented on #1108
I want to know how to link selservice user (just created via the app) to a client (existed on the web platform)

[2019-03-14 20:29] stanfidu opened #1109 "Unfortunately, Mifos Mobile has stopped"
**Summary:**

Unfortunately, Mifos Mobile has stopped.
Already try to disable instant run

**Steps to reproduce:**

Install app on Android Phone with android version 4.4.3
Launch the app

**Expected behaviour:**

Launch successfully

**Observed behaviour:**

App close and phone displays "Unfortunately, Mifos Mobile has stopped"

**Device and Android version:**
Model Number: HUAWEI Y536A1
RAM: 1GB

[2019-03-15 07:14] RajaVamsi11 commented on #1109
@stanfidu Can you please attach GIF.

[2019-03-16 08:58] apoorva-mk opened #1111 "Repeated options in add beneficiary if not added."
**Summary:**

If beneficiary not created and the try again button is pressed the account type drop down list shows the same options but repeated again. Every time this is repeated the list options keep getting repeated and copied. Additionally if the repeated options are clicked the app crashes.

**Steps to reproduce:**

- Open Beneficiaries
- Click on Add
- Enter an invalid beneficiary
- Submit b

[2019-03-16 08:58] apoorva-mk commented on #1111
I would like to work on the issue.

[2019-03-16 11:32] #1093 closed, assigned to nobody

[2019-03-17 13:21] apoorva-mk opened #1117 "App crash when QR code shared from loan account"
**Summary:**

If QR code shared and back button pressed to return back to the app the the app crashes.

**Steps to reproduce:**

- Click in Accounts
- Click on Loan
- Click on an active Loan Account
- Click on QR code under Monitor

**Expected behaviour:**

App shouldn't crash and should return back to the activity when back button pressed.

**Observed behaviour:**

App crashes when back button pr

[2019-03-17 13:22] apoorva-mk commented on #1117
I'd like to work on this.

[2019-03-17 13:27] apoorva-mk opened #1118 "App crashes if home button pressed when applying for loan"
**Summary:**

If home button pressed when applying for loan the app crashes.

**Steps to reproduce:**

- Click on Apply for Loan
- Press home button and try to reopen app

**Expected behaviour:**

App should resume activity when opened again

**Observed behaviour:**

App crashes when opened again

**Device and Android version:**

Redmi Y2
Android Version 8.1.0

**GIF:**

![mifos5](https://user-ima

[2019-03-17 17:14] vansha10 opened #1119 "'Cannot attach empty file' on sharing QR code"
**Summary:**

On sharing QR code from account details, 'cannot attach empty file' is received in the email app.

**Steps to reproduce:**

Accounts -> Select an active/approved account -> QR code -> Share

**Device and Android version:**

OnePlus 5
Android 9

**Screenshots:**
![ezgif-1-ad49d55aa6f8](https://user-images.githubusercontent.com/29632425/54494872-ca0c2080-4904-11e9-998b-14ebea2df1b1.gif

[2019-03-18 11:12] nikhil-sachdeva opened #1122 "Offline support for the home screen."
**Summary:**

Currently the home screen shows empty spaces when no internet is available. I think a better alternative for better offline support would be saving basic informations like Name, Savings, Loan Amount in shared preferences when the internet is available. When internet is not available, it can load the same using last saved details locally.

**Steps to reproduce:**

Home Screen with no

[2019-03-18 13:27] nikhil-sachdeva commented on #1122
Would love to get your reviews @miPlodder @therajanmaurya

[2019-03-18 16:12] shiv07tiwari opened #1123 "Add No internet page for Applying for new Savings Account"
**Summary:**
When we have no internet, we should show a "Internet not available" page
**Steps to reproduce:**

**Expected behaviour:**

"Internet not available" page

**Observed behaviour:**

Page  opens, and pressing submit results in crash

[2019-03-18 16:18] shiv07tiwari opened #1124 "Show withdrawal status in accounts requested to be withdrawn"
**Summary:**

When a user requests withdrawal of an account, he should get a message saying that Withdrawal request pending when he opens the account.
**Steps to reproduce:**

Savings account - Withdrawal request for account

**Expected behaviour:**

Show "withdrawal requested" message

**Observed behaviour:**

Nothing to identify if withdrawal is requested

[2019-03-18 16:27] shiv07tiwari opened #1125 "Confirmation dialog while changing the password"
**Summary:**

Changing the password is a big decision, so their should be a dialog box to confirm it
**Steps to reproduce:**

**Expected behaviour:**
Confirmation dialog

**Observed behaviour:**

Password changes directly

[2019-03-18 17:54] shiv07tiwari opened #1126 "Different button design"
**Summary:**

The button on this page doesnt follow the general button designed throughout the app.

**Expected behaviour:**

Design should be constant throughout the app.

![Screenshot_2019-03-18-22-14-24-771_org mifos mobilebanking](https://user-images.githubusercontent.com/38163725/54551892-f1322300-49d4-11e9-99d3-589144bb35f9.png)

[2019-03-18 17:58] shiv07tiwari opened #1127 "License toolbar violates the design pattern"
**Summary:**

The open source section has a black toolbar, which violates the design pattern of the app and doesn't look good.

**Expected behaviour:**

Colour pattern should be constant

**Observed behaviour:**
Toolbar is of black colour.

![Screenshot_2019-03-18-22-18-38-896_org mifos mobilebanking](https://user-images.githubusercontent.com/38163725/54551979-16269600-49d5-11e9-80f3-5055a2f037aa.

[2019-03-18 18:00] shiv07tiwari opened #1128 "Text not visible in Guarantor section"
**Summary:**
The text for date is barely visible

![Screenshot_2019-03-18-21-49-32-380_org mifos mobilebanking](https://user-images.githubusercontent.com/38163725/54552288-c3011300-49d5-11e9-8e09-25b9a2ceb4f6.png)

[2019-03-18 18:26] nikhil-sachdeva opened #1129 "Account Number accepts letters while adding Beneficiary"
**Summary:**

Account number field should be "number" type.

**Steps to reproduce:**

Add a beneficiary

**Expected behaviour:**

Only numbers should be accepted.

**Observed behaviour:**

Letters are accepted as well

**Device and Android version:**

Redmi Note 3

**Screenshots:**

![Screenshot_2019-03-18-23-48-35-744_org mifos mobilebanking](https://user-images.githubusercontent.com/34986121/545

[2019-03-18 18:35] nikhil-sachdeva opened #1130 "UI changes in Loan Repayment Schedule"
**Summary:**

Loan repayment schedule tables look misaligned on smaller screen phones. I wish to change the layout to something similar to Account Transactions so that the UI is uniform throughout the app.

**Steps to reproduce:**

Accounts->Loans Tab->Filter "In Arrears"->Select any loan->Repayment Schedule

**Expected behaviour:**

Better layout and preferable uniform UI for dated lists of trans

[2019-03-18 18:36] #1108 closed, assigned to nobody

[2019-03-18 18:45] stanfidu commented on #1109
@RajaVamsi11
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48560205/54555094-675e6780-498c-11e9-91fa-9fabc49707a3.gif)

[2019-03-18 20:59] RajaVamsi11 commented on #1109
@stanfidu seems like a valid issue.

[2019-03-19 10:53] AathmanT commented on #1118
Are you working on this issue?

[2019-03-19 11:05] apoorva-mk commented on #1118
Hey @AathmanT I am working on this issue. Will let you know in case I discontinue working on it.

[2019-03-19 12:09] shiv07tiwari opened #1131 "Filters are not working for languages other than English in Accounts Section"
**Summary:**

When the user selects a language other than English, the filters arent working.
We need to implement the filters as per user language.
**Steps to reproduce:**

Change language to something else from settings -> Accounts -> filter
**Expected behaviour:**

Show filtered results

**Observed behaviour:**

Blank screen
![videotogif_2019 03 19_17 32 45](https://user-images.githubuserconten

[2019-03-19 14:18] stanfidu commented on #1109
@RajaVamsi11 how to fix it?

[2019-03-19 14:37] RajaVamsi11 commented on #1109
@stanfidu The errors will be shown in logcat of the Android studio when you run the device. Follow the logcat, you will find out where the app was failing.

[2019-03-19 14:56] shiv07tiwari opened #1132 "Snackbar pops up twice when scanned QR is wrong in adding a new Beneficiary"
**Summary:**

Snackbar pops up twice when scanned QR is wrong in adding a new Beneficiary, which is basically of no use.
**Steps to reproduce:**

Add a beneficiary -> upload -> scan a invalid part

**Expected behaviour:**

Snackbar should come once

![videotogif_2019 03 19_20 21 36](https://user-images.githubusercontent.com/38163725/54616126-3c0b7380-4a85-11e9-93b1-d59dba1fbd3c.gif)

[2019-03-19 15:03] shiv07tiwari commented on #1119
@vansha10 I tried this and the file is getting attached in gmail, whatsapp, etc.
Which email client are you using ?

[2019-03-19 15:11] shiv07tiwari opened #1133 "QR code share creates a useless sendTo address"
**Summary:**

When a QR code is shared in loan accounts using E-Mail, it creates the uri of image as the send to address, which should not be present.
**Steps to reproduce:**
Accepted loan -> QR code -> Share using gmail

![videotogif_2019 03 19_20 35 47](https://user-images.githubusercontent.com/38163725/54617490-5c3c3200-4a87-11e9-8797-81b568e075ed.gif)

[2019-03-19 15:24] vansha10 commented on #1119
I tried in both Inbox and Gmail.
Maybe its something related to phone/OS?
Also, not facing this all the time. This error occurred about 3 out of every 4 times when I tried this.

[2019-03-19 15:30] AathmanT commented on #1118
Ok @apoorva-mk

[2019-03-20 23:41] shiv07tiwari opened #1134 "Issues in Transaction receipt and preview"
**Summary:**

Their are some issues in transaction receipt and transaction review -
1. No currency with amount
2. Full account numbers are not shown. (1 is shown for 0000000001)

**Steps to reproduce:**

Make a transaction
![Screenshot_2019-03-20-23-22-22-219_org mifos mobilebanking](https://user-images.githubusercontent.com/38163725/54726126-af9da580-4b97-11e9-91f9-3813222ef7ce.png)

[2019-03-20 23:49] shiv07tiwari opened #1135 "Empty snackbar in change password when internet is off"
**Summary:**

When user changes a password, and if internet is off, then the app shows an empty snackbar.
**Steps to reproduce:**

Change password -> Close internet -> change password

**Expected behaviour:**

Snackbar saying no internet available/ change failed.
**Observed behaviour:**

Empty snackbar

![videotogif_2019 03 21_05 15 43](https://user-images.githubusercontent.com/38163725/54726364-e

[2019-03-20 23:54] shiv07tiwari commented on #1086
Issue due to local device.

[2019-03-20 23:54] #1086 closed, assigned to nobody

[2019-03-21 14:01] apoorva-mk opened #1136 "Remove obsolete configurations"
**Summary:**

Remove obsolete configurations in app level gradle file.

**Steps to reproduce:**

Warnings are generated when trying to build the app
Android Studio 3.3
SDK tools 26.1.1
Gradle - 4.1
Configuration 'provided' is obsolete and has been replaced with 'compileOnly'. It will be removed at the end of 2018.

[2019-03-22 03:35] #1136 closed, assigned to nobody

[2019-03-22 05:55] #1106 closed, assigned to nobody

[2019-03-22 14:54] ShivangiSingh17 opened #1140 "Improper message is displayed in the snackbar"
**Summary:**
On entering a very small amount of the form 0.00X (X can be any digits up to 10 or more precision), an error message is displayed in the snack-bar under ```Transfer``` section. It displays the error code and name which is not in user understandable form.

**Steps to reproduce:**
Under Transfer section, enter amounts beginning with double zeroes as the decimal digits, like 0.001, 0.003

[2019-03-22 14:55] ShivangiSingh17 commented on #1140
I would like to work on this issue.

[2019-03-23 02:01] miPlodder commented on #1128
@shiv07tiwari Closing this as it's not a legit issue. We have used the same colour at many places. What the contract between the color does is makes human visibility more focus on the focus text, not the secondary text. If the contrast becomes less, this wouldn't be true.

[2019-03-23 02:04] miPlodder commented on #1134
@shiv07tiwari Work on it, its a good issue and needs to resolved. Also this might persist at other places also in the app where Account Number is displayed.

[2019-03-23 02:06] #1135 closed, assigned to nobody

[2019-03-23 02:08] #1128 closed, assigned to nobody

[2019-03-23 03:57] aayushsingla opened #1143 "App crash on clicking on any account in accounts list"
**Summary:**
App crashes when you click on any account in accounts list

**Steps to reproduce:**
Click on Savings in account overview and then click on any account.

**Expected behaviour:**
App shall not crash

**Observed behaviour:**

**Device and Android version:**
Redmi note 4 running on Android Nougat and MIUI 10.

**Screenshots:**

![ezgif com-video-to-gif](https://user-images.githubuserconte

[2019-03-23 10:04] aayushsingla commented on #1143
Mostly this crash is due to server returning null for some certain lists fields in TImeline Model which Kotlin is unable to parcel due to some bug in it. Though the bug was fixed in kotlin version 1.1.60, some people including me are still facing it in 1.3.21 and 1.3.11.
This link for the discussion: https://stackoverflow.com/questions/46875178/how-to-use-null-with-kotlin-parcelize and https://sta

[2019-03-23 10:19] shiv07tiwari commented on #1143
@aayushsingla I am facing the same issue. @miPlodder @therajanmaurya

[2019-03-23 11:00] shiv07tiwari commented on #1134
@miPlodder Sure. I will look into it and try to solve them as quickly as possible

[2019-03-23 11:02] shiv07tiwari commented on #1128
@miPlodder Just wondering, was this a legit issue ?
I mean shall I look for more such places in the app where the visibility of the text is low ?

[2019-03-23 11:30] aayushsingla opened #1145 "Clicking on Add Beneficiary should open Add Beneficiary Activity"
**Summary:**
Clicking on Tap to add Beneficiary should open Add beneficiary activities.

**Steps to reproduce:**
Go to- Home Screen -> Beneficiaries  -> click on tap to add beneficiary(visible when there are no beneficiaries)

**Expected behavior:**
Add Beneficiary Activity should open

**Observed behavior:**
Nothing Happens

**Device and Android version:**
Redmi note 4 running on android Nougat a

[2019-03-23 11:41] shiv07tiwari commented on #1145
@aayushsingla It is basically for the FAB button available on the screen.

[2019-03-23 11:48] aayushsingla commented on #1145
Sorry, my wrong.

[2019-03-23 11:48] #1145 closed, assigned to nobody

[2019-03-23 13:08] aayushsingla commented on #1131
@shiv07tiwari are you working on this?

[2019-03-23 13:08] shiv07tiwari commented on #1131
@aayushsingla Yes

[2019-03-23 14:51] shiv07tiwari commented on #1111
@apoorva-mk Why did you close this issue ?
If you are not working on this, i really wish to work on this one.

[2019-03-23 14:55] apoorva-mk commented on #1111
@shiv07tiwari I closed it because this has been raised in another issue but those changes haven't been merged. I was about to work on it but closed it since it has already been raised.

[2019-03-23 14:56] apoorva-mk commented on #1111
@shiv07tiwari I closed it because this has been raised in another issue but those changes haven't been merged. I was about to work on it but closed it since it has already been raised.

[2019-03-23 14:56] #1111 closed, assigned to nobody

[2019-03-23 15:00] shiv07tiwari commented on #1111
@apoorva-mk Okay.

[2019-03-24 04:46] aggarwalpulkit596 opened #1148 "Add Support for anko"
**Summary:**
Add Support for Anko commons, layouts to improvise app performance

[2019-03-24 04:49] aggarwalpulkit596 opened #1149 "Setup Gradle Play Publisher"
Setup gradle play publisher for automated publishing of app
References:
https://github.com/Triple-T/gradle-play-publisher

[2019-03-24 20:47] aayushsingla commented on #1143
Fixed in latest release

[2019-03-24 20:47] #1143 closed, assigned to nobody

[2019-03-26 20:12] stanfidu commented on #1109
@RajaVamsi11

03-26 16:08:52.457 13713-13713/org.mifos.mobilebanking E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.mifos.mobilebanking, PID: 13713
    java.lang.RuntimeException: Unable to get provider com.google.firebase.provider.FirebaseInitProvider: java.lang.ClassNotFoundException: Didn't find class "com.google.firebase.provider.FirebaseInitProvider" on path: DexPathList[[zip file "

[2019-03-28 07:11] shiv07tiwari opened #1152 "Integrate Stetho in App"
**Summary:**

Stetho, an Open Source debug library developed by the Facebook team. When enabled developers gain access to the Chrome Developers Tools, thus it is possible to have a rich, interactive debugging experience.

As we need to grow as a community and a group of developvers, this debugging tool can be very helpful.

[2019-04-01 04:48] abhin2149 commented on #486
Can I work on this issue @miPlodder ?

[2019-04-01 04:58] abhin2149 commented on #1041
Can I work on this issue ?

[2019-04-01 13:41] luckyman20 commented on #1041
@YashishDua Are you working on this issue?

[2019-04-02 13:29] #1099 closed, assigned to nobody

[2019-04-02 17:40] abhin2149 commented on #1011
I think either it is a device specific or android specific issue or the issue has been resolved. I also couldn't reproduce the issue

[2019-04-03 06:06] shiv07tiwari opened #1153 "Centralise the account number text"
The text for account number should also be in centre so as to improve the UI.
![Screenshot_2019-04-03-11-32-57-405_org mifos mobile](https://user-images.githubusercontent.com/38163725/55456461-b64f0280-5604-11e9-8c13-7da1753b048e.png)

[2019-04-03 06:08] shiv07tiwari opened #1154 "Retain amount in loan application when template is changed"
**Summary:**

The loan amount should be retained in loan application fragment when user chooses a new template.

**Steps to reproduce:**

Apply for loan

![videotogif_2019 04 03_11 33 27](https://user-images.githubusercontent.com/38163725/55456584-0af27d80-5605-11e9-8e6c-0c95df96750b.gif)

[2019-04-03 17:25] prashantkh19 commented on #1154
@shiv07tiwari I would like to work on it

[2019-04-03 17:40] shiv07tiwari commented on #1154
Already on it @prashantkh19

[2019-04-04 16:33] prashantkh19 commented on #478
I was looking to this issue, after going through the current implementation and API changes, I found Guarantors can be added/updated for pending loan applications, but there isn't any way to add guarantors at the time of applying for the loan. And as per the current API implementation (https://demo.openmf.org/api-docs/apiLive.htm#selfloanapply), there isn't any parameter to add guarantors. So, the

[2019-04-04 16:47] shiv07tiwari opened #1155 "Hide password icon"
![Screenshot_2019-04-03-11-39-53-364_org mifos mobile](https://user-images.githubusercontent.com/38163725/55573199-1211ac80-5727-11e9-8daf-b57e980b04af.png)

The icon which displays hide password can be replaced with something like this - which is a globally accepted icon for the same
![Screenshot from 2019-04-04 22-17-12](https://user-images.githubusercontent.com/38163725/55573365-6f0d6280-5727-1

[2019-04-04 18:11] prashantkh19 commented on #1027
The guarantors shown in the app are hardcoded, the server response to list the guarantors is an empty list and creation of new guarantors is not supported in the API. So, there is a need to update the API.

[2019-04-04 18:14] prashantkh19 commented on #1072
I would like to take up this issue.

[2019-04-05 04:19] balanikaran opened #1157 "The app does not exits when pressed back button in Passcode Activity"
**Summary:**

The passcode activity should allow the user to exit the app when the user hits the back button.

**Steps to reproduce:**

Open the app, when the app asks for the passcode, press back button.

**Expected behavior:**

Exit the app.

**Observed behavior:**

Nothing happens.

**Device and Android version:**

Any

**Screenshots:**

N/A

[2019-04-05 04:26] balanikaran opened #1158 "Unable to edit user information"
**Summary:**

The app should allow the user to update his/her information and upload a profile image.

**Steps to reproduce:**

N/A

**Expected behavior:**

N/A

**Observed behavior:**

Unable to update user info

**Device and Android version:**

Any

**Screenshots:**

N/A

[2019-04-05 04:34] balanikaran opened #1159 "The app crashes while applying for a loan for the second loan product."
**Summary:**

The app crashes while applying for a loan for the second loan product.

**Steps to reproduce:**

Open "Apply for a loan" >> Select "test1" from drop down of Loan Product >> Recreate the activity >> Crash

**Expected behavior:**

The app must retain the filled values and don't crash.

**Observed behavior:**

CRASH

**Device and Android version:**

OnePlus 5
Android 9.0

**Screenshots:

[2019-04-05 05:52] prashantkh19 commented on #1056
Since no pull request has been sent yet, I would like to work on it.

[2019-04-05 08:29] prashantkh19 commented on #1096
I would like to work on this.

[2019-04-05 13:48] prashantkh19 commented on #1096
I would like to work on it. I am thinking of making the filter similar to the Account filter.

[2019-04-09 19:59] prashantkh19 commented on #1159
Yeah, I tried to reproduce the issue. I would like to work on it. Shall I? @krnblni

[2019-04-09 20:06] prashantkh19 commented on #1109
Duplicate of #886
@stanfidu Seems like a dex merge problem. Try configuring the multidex for your API level.

[2019-04-09 20:09] prashantkh19 commented on #886
@RajaVamsi11 Can I work on it?

[2019-04-09 20:11] RajaVamsi11 commented on #886
@prashantkh19 Sure.

[2019-04-10 08:04] prashantkh19 commented on #1118
@apoorva-mk are you still on it? If not, I would like to work on it.

[2019-04-10 08:06] prashantkh19 commented on #1109
@stanfidu Refer #1164

[2019-04-10 11:54] prashantkh19 commented on #1157
@krnblni I am able to exit the app by pressing the back button. Could you provide some specific case when you are not able to do so?

[2019-04-10 13:23] stanfidu commented on #1109
Thanks @prashantkh19 i will try to apply fixes

[2019-04-10 19:01] prashantkh19 opened #1165 "Support for Two Factor Authentication via Google Authenticator"
The app should support two-step verification (time-based preferably) at the time of login. This can be done using Google Authenticator.

[2019-04-10 19:02] prashantkh19 commented on #1165
I have made the first draft for this feature, will send a PR soon.

[2019-04-15 02:09] jatinkumarg commented on #1153
Hey, I added a PR https://github.com/openMF/mifos-mobile/pull/1168

Let me know if there are any changes required.

[2019-04-15 03:36] jatinkumarg commented on #1125
Hey, I have added a PR https://github.com/openMF/mifos-mobile/pull/1169

Let me know if there are any changes required.

[2019-04-15 11:29] shiv07tiwari commented on #1165
This is already an issue to be solved during GSOC.

[2019-04-15 13:19] RajaVamsi11 commented on #1153
@jatinkumarg I think you should ask the author or mentor before working on the issue and sending a PR.

[2019-04-16 14:43] shiv07tiwari opened #1172 "Empty Snackbar in signup"
**Summary:**

An empty message snackbar is shown in sign up

**Expected behaviour:**

A proper error message

**Observed behaviour:**

Blank message

![videotogif_2019 04 16_20 11 40](https://user-images.githubusercontent.com/38163725/56219288-1bced480-6084-11e9-974b-5108da70620c.gif)

[2019-04-18 09:46] apoorva-mk commented on #1118
@prashantkh19  you may work on this.

[2019-04-18 15:27] prashantkh19 commented on #1118
Thanks, I am on it.

[2019-06-01 16:39] #886 closed, assigned to nobody

[2019-06-01 16:40] #1090 closed, assigned to nobody

[2019-06-01 16:42] #1133 closed, assigned to nobody

[2019-06-01 16:43] #1132 closed, assigned to nobody

[2019-06-01 18:00] #1153 closed, assigned to nobody

[2019-06-02 09:19] #801 closed, assigned to nobody

[2019-06-02 09:19] #808 closed, assigned to nobody

[2019-06-02 10:37] #1068 closed, assigned to nobody

[2019-06-02 10:38] #1056 closed, assigned to nobody

[2019-06-02 11:57] #960 closed, assigned to nobody

[2019-06-02 12:21] #998 closed, assigned to nobody

[2019-06-02 12:21] #992 closed, assigned to nobody

[2019-06-02 12:21] #1103 closed, assigned to nobody

[2019-06-02 12:24] therajanmaurya commented on #1107
No, I don't agree with the fact that phone number hast to 10 digits, we are not building the product for India. it is a global product. and phone number vary according to country.

So we are going to use a country picker library and use it.

[2019-06-02 12:24] #1107 closed, assigned to nobody

[2019-06-02 12:27] therajanmaurya commented on #1088
Shifted to Library Repo: https://github.com/openMF/mifos-passcode/issues/24

[2019-06-02 12:27] #1088 closed, assigned to nobody

[2019-06-05 18:55] #1104 closed, assigned to nobody

[2019-06-05 18:55] #1117 closed, assigned to nobody

[2019-06-05 18:56] #1134 closed, assigned to nobody

[2019-06-05 18:57] #944 closed, assigned to nobody

[2019-06-05 19:01] #1072 closed, assigned to nobody

[2019-06-11 10:20] prashantkh19 commented on #795
Duplicate #113

[2019-06-11 10:20] #795 closed, assigned to nobody

[2019-07-20 10:14] prashantkh19 opened #1185 "Make loanPurposeId optional in Loan Application"
**Summary:**

loanPurposeId should be made optional while submitting new Loan Applications

[2019-07-21 13:10] #1130 closed, assigned to nobody

[2019-07-21 13:11] #735 closed, assigned to nobody

[2019-08-12 09:46] #1185 closed, assigned to nobody

[2019-08-17 10:41] shubhamofbce commented on #1172
I want to work on this issue?? Can I??

[2019-08-17 13:31] prashantkh19 commented on #1172
@shubhamofbce Yes, you may work on this.

[2019-08-17 18:08] shubhamofbce commented on #1172
I think the issue is already resolved . Please close this issue . I tried with all the corner cases in the signup form but nowhere i got any empty SnackBar. All the logics were also correct.

[2019-08-17 18:11] shubhamofbce commented on #1172
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/45156638/63215730-85e9aa00-c148-11e9-9765-ae57d9078420.gif)

[2019-08-17 18:12] shubhamofbce commented on #1172
Please close this issue @shiv07tiwari @prashantkh19

[2019-08-17 18:13] shubhamofbce commented on #1155
I would like to work on this issue @shiv07tiwari ?? May i

[2019-08-17 18:15] shubhamofbce commented on #1129
is it still open?? i would like to work on this

[2019-08-17 18:28] #1172 closed, assigned to nobody

[2019-08-20 05:21] devansh-299 commented on #1062
I tried but  I couldn't reproduce the same issue

[2019-08-20 08:01] devansh-299 opened #1191 "App crashes"
**Summary**
The app crashes after I entered the pin correctly. During this I had an active internet connection

**Steps to reproduce:**

Open the app ,enter your pin and after that one may encounter this issue

**Expected behaviour:**

The app should have logged me in and should have displayed the home fragment

**Observed behaviour:**

The app just crashed unexpectedly

**Device and Android versi

[2019-08-20 08:03] prashantkh19 commented on #1191
@devansh-299 Try re-installing the application

[2019-08-21 12:39] #1191 closed, assigned to nobody

[2019-08-22 08:32] rabih716 opened #1192 "java.lang.NumberFormatException: For input in beneficiary"
This issue has been raised before here
https://github.com/openMF/mifos-mobile/issues/829#issue-322972736
but since then, the code has been updated and it looks like the bug is back.

**Steps to reproduce:**
Add a new beneficiary

**Expected behaviour:**
I added 100 as the transfer limit but its being sent to the server as string 100.0

[2019-09-05 10:17] #1094 closed, assigned to nobody

[2019-09-08 05:20] gokul500 opened #1194 "#API variant"
API 'variant.getPreBuild()' is obsolete and has been replaced with 'variant.getPreBuildProvider()'.
It will be removed at the end of 2019.
For more information, see https://d.android.com/r/tools/task-configuration-avoidance.
To determine what is calling variant.getPreBuild(), use -Pandroid.debug.obsoleteApi=true on the command line to display a stack trace.

[2019-09-22 06:07] devansh-299 commented on #1158
I am interested in working on this issue . Can you /anyone just specify which all details should the user be allowed to update?

[2019-09-23 10:18] elirehema commented on #1194
According to Gradle 3.5.0 [Release Notes](https://developer.android.com/studio/releases/gradle-plugin#3-5-0)

When using Kotlin Gradle plugin 1.3.31 or earlier, you might see the following warning when building or syncing your project:
`WARNING: API 'variant.getPackageLibrary()' is obsolete and has been replaced
         with 'variant.getPackageLibraryProvider()'.`
To resolve [this issue](https://

[2019-09-23 10:19] elirehema commented on #1194
Am working on this

[2019-10-04 12:17] devansh-299 opened #1197 "App crashes on start"
**Summary:**

The app crashes whenever I tried to start the app  ( I am using the latest files)

**Device and Android version:**

Xiaomi Poco F1
Android 9
Stock rom from the manufacture

**Error Message / Further Details**
The app crashes  while attempting to set user profile image. The error message is *bad base-64*
in the UserDetailsPresenter

[2019-10-09 13:06] #1197 closed, assigned to nobody

[2019-10-09 17:31] devansh-299 opened #1199 "Blank Screen in Accounts Activity"
**Summary:**

Whenever  the filter in accounts activity returns empty list ( no result) , then there's just a blank screen in the view . This is affects the user experience

**Steps to reproduce:**

Go to Account Activity ->  Apply filters that  give no result

**Expected behaviour:**

Should have displayed an appropriate message

**Observed behaviour:**

Blank Screen

**Device and Android version

[2019-10-10 19:04] devansh-299 opened #1201 "No response on clicking change passcode in settings activity"
**Summary:**

Clicking on change passcode on Settings Activity does not do anything

**Steps to reproduce:**

Settings -> Change Passcode

**Expected behaviour:**

Should direct to window where one can change passcode

**Observed behaviour:**

Does nothing

**Device and Android version:**

Xiaomi Pocof1
Android 9
Stock rom

[2019-10-13 05:43] geekanamika commented on #1201
Hi @devansh-299 I checked in development codebase & looks like there's no code available for changing passcode in SettingsFragment. I am working to fix this bug. Thanks 😊

[2019-10-13 12:14] geekanamika commented on #1129
Closing this issue as per comment by @therajanmaurya on PR #1139

[2019-10-13 12:14] #1129 closed, assigned to nobody

[2019-10-13 12:21] geekanamika commented on #1062
@shiv07tiwari This issue doesn't exists anymore, checked on emulator & motorola physical device. We can close this issue, if it still persists, please reopen with steps to reproduce it.

[2019-10-13 12:21] #1062 closed, assigned to nobody

[2019-10-13 12:22] geekanamika commented on #1080
Issue is resolved & related PR is already closed, closing this issue.

[2019-10-13 12:22] #1080 closed, assigned to nobody

[2019-10-13 12:28] geekanamika commented on #1018
Issue already resolved in #1022

[2019-10-13 12:28] #1018 closed, assigned to nobody

[2019-10-13 12:50] geekanamika commented on #742
List of all strings which need translation :
![translation](https://user-images.githubusercontent.com/16922933/66715848-cc285600-ede5-11e9-9333-4622cae2bc6f.gif)

@ShivangiSingh17 @AkshGautam  Since it's been for a long time, I would like to work on this issue.

[2019-10-13 13:33] ShivangiSingh17 commented on #742
@geekanamika Sure..Go ahead!!

[2019-10-17 13:27] devansh-299 opened #1204 "Filters cleared when layout is refreshed"
**Summary:**

When swipe to refresh is used to refresh accounts activity , the filters applied (if any) are removed

**Steps to reproduce:**

Accounts activity --> Apply filters --> Swipe to refresh

**Expected behaviour:**

Swipe to refresh should have refreshed the layout while preserving the filters i.e. it should have refreshed among the filtered list

**Observed behaviour:**

Filters were los

[2019-10-22 05:19] Grandolf49 opened #1205 "Gradle build warning: API 'variant.getPreBuild()' is obsolete and has been replaced with 'variant.getPreBuildProvider()'."
**Summary:**

This warning comes after gradle build is complete.

**Steps to reproduce:**

Build->Make Project. Check the Build Log

**Expected behaviour:**

The build should pass without any warnings as this might lead the app to crash in the future

**Observed behaviour:**

Warning is Build Log:

**Device and Android Versions**
Android Studio Version 3.5.1
Gradle Build Tools Version: 3.3.2
Kotli

[2019-10-23 06:27] devansh-299 opened #1206 "App crashes when orientation is changed"
**Summary:**

App crashes when orientation is changed  when a person is on Home Activity

**Steps to reproduce:**

Go to home screen --> Change the orientation

**Expected behaviour:**

App should have handled the orientation change without crashing

**Observed behaviour:**

The app crashed

**Device and Android version:**

Xiaomi Poco F1
Android 9
Stock rom

**Screen Recording:**

![GIF-191023_11

[2019-10-23 10:02] Grandolf49 commented on #1206
I would like to work on this issue

[2019-10-23 10:16] devansh-299 commented on #1206
@Grandolf49  I am already working on it

[2019-10-23 10:19] Grandolf49 commented on #1206
Oh even I solved it. Should I create a pull request?

[2019-10-24 05:36] Grandolf49 opened #1208 "No fingerprint authentication available, only passcode authentication"
**Summary:**

There is no fingerprint authentication but only passcode.

**Expected behaviour:**

When the app asks for passcode, the user should also be able to authenticate using his fingerprint

**Observed behaviour:**

The PassCode feature only asks for passcode user saved.

**Device and Android version:**

OnePlus 6
Android 10
stock ROM

[2019-10-24 09:29] elirehema commented on #1127
Am working on this

[2019-10-25 10:18] devansh-299 opened #1210 "Pressing back on transfer process fragment is not handled and null values are shown"
**Summary:**

* Pressing back on Transfer Process Fragment is not handled properly unlike the cancel button which is handled properly
* Null values are shown in Transfer Process Fragment instead of sender's and receiver's account number

**Steps to reproduce:**

Go to Third party transfer --> Fill details

**Expected behaviour:**

* Back button pressing should be properly handled like cancel butto

[2019-10-26 16:24] devansh-299 commented on #1159
@krnblni  I can reproduce a similar issue , Apply for loan --> Select 1 st loan product --> Small business , app crashes . Shall I work on this?

[2019-10-27 07:26] balanikaran commented on #1159
Yes, please go ahead. 👍

[2019-10-27 17:58] edcable opened #1213 "Test Issue"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did

[2019-10-29 10:46] Grandolf49 commented on #1204
Is this still available for implementing or is it completed? If so, I would like to work on this

[2019-10-29 19:31] devansh-299 commented on #1204
Sure! Please go ahead

[2019-10-31 18:32] Grandolf49 opened #1214 "User cannot edit Profile Picture"
**Summary:**

User cannot edit Profile Picture in User Details fragment. Nothing happens when Edit Floating Action Button is pressed.

**Steps to reproduce:**

Open App -> Click on the profile pic -> Click on Edit Icon (nothing happens)

**Expected behaviour:**

The user should be able to change his profile picture.

**Observed behaviour:**

Nothing happens when clicked on edit icon

**Device and

[2019-11-04 09:06] raunak-many-ac opened #1215 "Developer login credentials please..."
Username: selfservice
Password: Password@123

or

Username: mifos
Password: password

none of them are working

[2019-11-04 09:10] Grandolf49 commented on #1215
1st credential is incorrect
Username: selfservice
Password: password

[2019-11-08 09:42] myselfanuj opened #1217 "There is couple of slight issues related to the keyboard in login/signup pages."
**Summary:**

Whenever the user tapping anywhere on the screen there is no shutdown of the keyboard on login/signup page. This affects the user experience.

**Steps to reproduce:**
  Just tap anywhere on the screen after opening the keyboard in login/Signup.

**Expected behavior:**
   There should be shutting down of keyboard after tapping anywhere on the screen

**Observed behavior:**

  Whenever

[2019-11-10 10:57] GOVINDDIXIT opened #1218 "Remove extra space in settings"
**Summary:**

There is extra space present on the left of the items in the Settings menu of the app. Either place icons or remove the extra space

**Steps to reproduce:**

Go to the Settings menu by clicking on the `settings` option present in the navigation drawer

**Expected behavior:**

There should be icons for the setting items.

**Observed behavior:**

There is extra space. Space is for icon

[2019-11-11 13:12] elirehema commented on #1214
@santoshconflux @Grandolf49 can i work on this ?

[2019-11-11 13:24] Grandolf49 commented on #1214
@elirehema sure go ahead

[2019-11-11 14:40] GOVINDDIXIT opened #1220 "Change passcode should open option to change the passcode of the app"
**Summary:**

Change passcode should open option to change the passcode of the app

**Steps to reproduce:**

Open Setting menu, Clicking on change passcode is doing nothing

**Expected behavior:**

1. It should open a menu to change the passcode of the app
2. Open existing passcode fragment on clicking change passcode and update the passcode of the app

**Observed behavior:**

Clicking on change p

[2019-11-11 14:41] GOVINDDIXIT commented on #1220
@santoshconflux This issue is for GCI

[2019-11-12 13:26] devansh-299 commented on #1220
Already reported under #1201

[2019-11-12 13:44] devansh-299 commented on #1118
@prashantkh19  if the issue hasn't been resolved  then shall I work on this?

[2019-11-12 17:10] GOVINDDIXIT opened #1223 "Improve the UI of the homescreen"
**Summary:**

There is a scope of UI improvement in the home screen of the app
Icons can be made smaller
Visit [this](https://dribbble.com/shots/7587490-MOLLET-Wallet-app-UI-Kit/attachments/372728?mode=media) for reference

**Steps to reproduce:**

Open the app

**Expected behaviour:**

Icons can be made smaller, Othe UI improvements will be appreciated

**Observed behaviour:**

Currently, the hom

[2019-11-12 17:15] GOVINDDIXIT commented on #1220
@devansh-299 Thanks the issue can be moved under GCI category for more priority

[2019-11-13 07:31] devansh-299 commented on #1223
Can I work on this issue?

[2019-11-13 15:03] luckyman20 commented on #1223
@GOVINDDIXIT Can you please be more specific on what things you want to improve?

[2019-11-13 18:28] GOVINDDIXIT commented on #1223
@luckyman20 updated.

[2019-11-14 06:57] jddeep opened #1224 "App Info button on Login screen"
**Summary:**

There should be an app info for first-time users and basic info which they should know in order to login in the mobile app.

**Steps to reproduce:**
Install the app and land on the Login screen.

**Expected behaviour:**
There should be an App info button on Login screen.

**Observed behaviour:**

Not enough information and steps for first time users.

**Device and Android version:**

[2019-11-14 19:37] refactor-droidyy commented on #1223
@GOVINDDIXIT can I work on this ?

[2019-11-15 05:45] GOVINDDIXIT commented on #1223
@refactor-droidyy The above issue is for GCI Students. You can look for other non-GCI issues

[2019-11-19 14:13] elirehema commented on #1214
@Grandolf49 am wating for response on this https://github.com/openMF/android-client/issues/1182#issuecomment-555524888

[2019-11-19 14:22] Grandolf49 commented on #1214
@elirehema  i already replied :)

[2019-11-19 14:42] elirehema commented on #1214
If we implement this it gonna conflict with the issue i've shared with you above try to check my comment in the link provided above.

[2019-11-20 14:54] jddeep opened #1226 "Update library dependencies and build tools, configure build variant"
**Summary:**

Update library dependencies and build tools versions to correct and latest ones.
Irradicate sync and build errors + warnings.
Issues with build variant.

**Steps to reproduce:**

Clone the project and build it.

**Expected behaviour:**

The build should be successful without any dependency warnings or errors.

**Observed behaviour:**

Dependency warnings, build tools outdated, build

[2019-11-20 15:43] jddeep opened #1227 "Remove hardcoded strings from xml layout files"
**Summary:**

Remove hardcoded strings resources from xml layout files.

**Steps to reproduce:**

Go through the project codebase and layout files.

**Expected behaviour:**

Remove hardcoded resources from xml layout files.

**Observed behaviour:**

Move hardcoded strings to strings.xml file

**Device and Android version:**

Android Pi.

**Issue for GCI**

Beginner level.

[2019-11-21 15:50] refactor-droidyy commented on #1155
@shiv07tiwari which icon to replace for this I am unable to get it.
![](https://user-images.githubusercontent.com/38163725/55573365-6f0d6280-5727-11e9-80fe-d18f764af5d6.png)

[2019-11-22 16:12] shiv07tiwari commented on #1155
@shubhamofbce @refactor-droidyy The icon I added in the issue description.

[2019-11-24 07:28] refactor-droidyy commented on #987
can I work on this issue?

[2019-11-24 10:43] geekanamika commented on #1224
@jddeep Can you Add some UI example to specific about submission requirement for GCI?

[2019-11-24 10:44] geekanamika commented on #1220
Solved in #1202 . So, closing this issue :)

[2019-11-24 10:44] #1220 closed, assigned to nobody

[2019-11-24 10:47] #1218 closed, assigned to nobody

[2019-11-24 10:49] #1126 closed, assigned to nobody

[2019-11-24 10:56] elirehema commented on #1127
@geekanamika we got design policy issue

[2019-11-24 11:07] geekanamika commented on #1127
@elirehema I didn't get your comment, can you please explain?

[2019-11-24 12:33] PiyushSharma99 commented on #1224
@jddeep @geekanamika I would like to work on this as part of GCI. When should I make a PR?

[2019-11-24 12:34] PiyushSharma99 commented on #1213
I would like to work on this sir.

[2019-11-24 12:35] PiyushSharma99 commented on #1226
@jddeep @geekanamika I would like to work on this as part of GCI. When should I make a PR?

[2019-11-24 16:19] #1199 closed, assigned to nobody

[2019-11-24 16:29] geekanamika commented on #985
Fixed in #1200

[2019-11-24 16:29] #985 closed, assigned to nobody

[2019-11-24 16:31] geekanamika commented on #987
@refactor-droidyy Added GCI label on it :)

[2019-11-25 10:26] elirehema commented on #1127
@geekanamika i meant the design policy violation not privacy policy.

[2019-11-25 16:27] shambu2k commented on #1223
Can I work on the UI ??

[2019-11-25 16:28] shambu2k commented on #1208
##### Can I add this feature??  I've done it in one of my apps

[2019-11-25 18:06] luckyman20 commented on #1223
@shambu2k We would have loved seeing working on this issue but this issue is only meant for Google Code-in participants.

[2019-11-25 20:20] elirehema commented on #1148
@aggarwalpulkit596 why do you think adding **anko commons** in Java application ?

[2019-11-26 09:51] santoshconflux commented on #1226
@PiyushSharma99 , The contest begins for students on December 2, 2019

[2019-11-27 11:40] #1215 closed, assigned to nobody

[2019-11-27 13:15] PiyushSharma99 commented on #1226
Okay @santoshconflux Thanks. Will do likewise. You can assign me on this issue.

[2019-11-27 13:19] jddeep commented on #1224
@PiyushSharma99 GCI begins on December 2. Please do make a PR during that time period. Thanks.

[2019-11-27 19:43] C9-Neo opened #1228 "Logining into the app"
When I am attempting to register I do not receive a successful registration prompt and I have been unable to login to the app to use it.

[2019-11-27 19:46] Grandolf49 commented on #1228
Use these credentials to log in:
Username: selfservice
Password: password

On Thu, Nov 28, 2019, 1:14 AM C9-Neo <notifications@github.com> wrote:

[2019-11-27 19:57] C9-Neo commented on #1228
Thanks, I will try that

[2019-11-28 05:20] C9-Neo commented on #1228
Okay thanks that worked, but how do I register my own account and credentials? I would like to customize the profile picture and name of the user.

[2019-11-28 14:31] shambu2k commented on #1223
Please update the tags.. this wasn't under the GCI tags

[2019-11-28 14:35] shambu2k commented on #1057
Is this for GCI??

[2019-11-28 22:44] C9-Neo opened #1229 "Registering user accounts"
How do I register my own account and credentials? I would like to customize the profile picture and name of the user.

[2019-11-29 09:47] C9-Neo commented on #1228
@Grandolf49 Do you know how the registration works?

[2019-11-29 10:05] santoshconflux commented on #1057
@shambu2k , No, Because @shiv07tiwari already sent PR.

[2019-11-29 15:39] refactor-droidyy commented on #1155
@shiv07tiwari this can be solved by making changes to
https://github.com/openMF/mifos-passcode/
for the same as you mentioned. Is this correct to what I am thinking in order to solve this issue since all the files related to this are in read mode.

[2019-11-30 08:19] geekanamika commented on #1226
@PiyushSharma99 GCI works a little differently. You need to "Claim" a task on the GCI portal to work on any issue.
Let's wait for GCI to begin & If you are participating as a GCI student, feel free to claim this task & then work on this issue :)

[2019-11-30 08:26] geekanamika commented on #1155
Issues related to Passcode should be pointed to https://github.com/openMF/mifos-passcode/ as @refactor-droidyy  mentioned :)

[2019-11-30 08:26] #1155 closed, assigned to nobody

[2019-11-30 08:28] geekanamika commented on #1213
@PiyushSharma99 This is a test issue, an example to demonstrate how an issue should be created on the repository.

[2019-11-30 14:18] harshshinde07 opened #1230 "Select Account Type Spinner not working properly [GCI]"
**Summary:**

For every failed request, the spinner duplicates all the list items. The task here is to prevent this behavior.

**Screenshots:**

<img src="https://user-images.githubusercontent.com/25999879/69901618-27b89e00-13aa-11ea-854f-12a5f346f119.png" width=200 />

[2019-11-30 14:19] harshshinde07 commented on #1230
@santoshconflux Please add the GCI tag.

[2019-11-30 18:03] KartikPant12 commented on #1208
@shiv07tiwari  can I work on this issue??

[2019-12-01 14:00] gptshubham595 commented on #1228
@Grandolf49
Hey That is not working can you provide another login id pass

[2019-12-01 14:03] gptshubham595 commented on #561
Can I take this?@ivary43

[2019-12-01 15:00] gptshubham595 commented on #561
For fingerprint

[2019-12-01 16:57] geekanamika opened #1231 "Remove hardcoded dimens from xml layout files"
**Summary:**

Remove hardcoded dimen resources from xml layout files.

**Steps to reproduce:**

Go through the project codebase and layout files.

**Expected behaviour:**

Remove hardcoded dimen resources from xml layout files.

**Observed behaviour:**

Move hardcoded dimension(ex: 10dp) to dimens.xml file

**Device and Android version:**

Android Pi.

**Issue for GCI**

Beginner level.

[2019-12-02 05:18] santoshconflux commented on #1228
@gptshubham595 , @C9-Neo :+1:
1) Login here: https://mobile.openmf.org/#/home  (username: mifos, password: password).
2) Go to Clients menu and click on Clients and then click on Create Client. Provide all mandatory inputs and submit it.
3) Then in the client page, go to 'More' menu and click on 'Create Self Service User'.
4) Provide the inputs and submit it.
5) In the self- service mobile app, lo

[2019-12-02 14:06] C9-Neo commented on #1228
Thanks for the response! I just created the user but failed to login, do I need to update the application on my device? Thanks in advance for the response @santoshconflux

[2019-12-03 05:36] PiyushSharma99 commented on #1224
@jddeep @santoshconflux I would like to work on this next. I have submitted a PR for my previous task. Please review and approve that asap. Thank you!

[2019-12-03 05:44] santoshconflux commented on #1224
@PiyushSharma99 , what is the PR which you already sent?

[2019-12-03 06:49] PiyushSharma99 commented on #1224
@santoshconflux Here it is - https://github.com/openMF/mifos-mobile/pull/1233

[2019-12-03 09:24] luckyman20 commented on #1214
@elirehema Please do not work on this since it has been added as GCI task list.

[2019-12-03 09:27] luckyman20 commented on #1204
@Grandolf49 @devansh-299 Please do not work on this since it has been added as GCI task.

[2019-12-03 09:30] luckyman20 commented on #1024
@ShivangiSingh17 I agree wtih @RajaVamsi11, such apps should only exist in portrait mode.

[2019-12-03 11:29] OHassini commented on #1214
Change it locally or even in the server ?

[2019-12-03 12:22] ShivangiSingh17 commented on #1024
@luckyman20 sure.
In that case we need to have constraint on all the activities as well.

[2019-12-03 12:31] luckyman20 commented on #1024
@ShivangiSingh17 We can do it in one go. Can you please open another issue for that (if not existing already)?

[2019-12-03 12:59] OHassini commented on #1066
Hi : ) I just fixed this issue in [this](https://github.com/openMF/mifos-mobile/pull/1234) pull request.

[2019-12-03 14:06] rchtgpt commented on #1024
So we don't require scroll function in landscape mode anymore, do we ?

[2019-12-03 14:39] ShivangiSingh17 commented on #1024
@luckyman20, there was an issue for a particular fragment but there was a lot of clashes and finally it was closed. I will open a new open for the whole application. That will be a better.

[2019-12-03 14:41] ShivangiSingh17 commented on #1024
@rachittt since we are restricting the whole application to work in the portrait mode, I don't think there is a need for scroll function in landscape mode anymore.

[2019-12-04 10:18] C9-Neo commented on #1228
@Grandolf49 I am unable to login with these credentials anymore. @santoshconflux  I can't log in at all

[2019-12-04 13:24] rchtgpt commented on #1228
@C9-Neo @gptshubham595 try
username: testing
password: password

[2019-12-04 13:51] rachittt commented on #1214
@luckyman20 can i work on this?

[2019-12-04 14:23] C9-Neo commented on #1228
@rachittt Same thing as the selfservice login. After a while of the "logging in" spinner, a toast appears without an error message. That even happens with the new user I created

[2019-12-04 17:58] OHassini commented on #1230
Hi, I just fixed this issue please have a look at my PR 😄

[2019-12-05 07:08] ShanmugamArusamy opened #1239 "Unable to login"
**Summary:**

Unable to login , getting invalid authentication error , it is urgent we have demo
User Name : selfservice
Password : password

[2019-12-05 12:54] devansh-299 commented on #1239
Try these credentials

User Name : testing
Password : password

[2019-12-05 15:15] ShivangiSingh17 opened #1241 "Setting the application to work only in portrait mode"
**Summary:**
Right now the application has many bugs when working with the screen rotation from portrait to landscape. So it is better to restrict the application to work only in the portrait mode as it solves many issues and helps the application to function smoothly.

**Expected behaviour:**
The application to work in portrait mode only.

**Would you like to work on this issue?**

[2019-12-05 17:33] #1226 closed, assigned to PiyushSharma99

[2019-12-05 17:51] luckyman20 commented on #1024
@ShivangiSingh17 closing this issue as discussed.

[2019-12-05 17:51] #1024 closed, assigned to nobody

[2019-12-05 18:05] #1229 closed, assigned to nobody

[2019-12-08 12:56] Saransh0905 commented on #1241
Hey @ShivangiSingh17 , I would like to solve this issue ,can you guide me how to proceed?

[2019-12-09 12:22] luckyman20 commented on #1241
@Saransh0905 This issue is for GCI students.

[2019-12-10 07:50] elirehema opened #1248 "Add ldrtl and ldltr layouts"
**Summary:**

Since mifos mobile applications support both  LTR languages and  RTL(right-to-left) languages like Arabic. The specific layouts i.e  "layout-direction-right-to-left" and "layout-direction-left-to-right"  for RTL languages should be added to [supportRtl](https://developer.android.com/guide/topics/manifest/application-element.html#supportsrtl).

[2019-12-12 11:52] SkroX commented on #1123
hey @shiv07tiwari I would like to work on this issue. Let me know if it is not been done by anyone else. Thank you.

[2019-12-14 08:35] devansh-299 opened #1250 "No verification while transferring"
**Summary:**

Currently transferring money doesn't require any verification step . This is valid for both third party transfer and self transferring

**Steps to reproduce:**

* Go to transfer
* Select transfer/third party transfer
* Fill the details
* Click on transfer
* Observer that there's no verification step

**Expected behaviour:**

Passcode , fingerprint passcode verification should have be

[2019-12-15 06:59] #983 closed, assigned to nobody

[2019-12-17 19:18] elirehema commented on #713
@rradzzio Your commit is currently in your forked repo. Create PR here

[2019-12-20 17:02] amitYadavDev commented on #1231
Hi ma'am @geekanamika ,
I want to work on this issue, can I?

[2019-12-20 17:05] amitYadavDev commented on #1201
hi sir @devansh-299,
I want to work on this issue.

[2019-12-21 14:50] amitYadavDev commented on #1206
hi sir/ma'am @devansh-299 can i work on this issue?

[2019-12-21 15:10] amitYadavDev commented on #718
hi @ivary43 can i work on this issue?

[2019-12-21 15:12] amitYadavDev commented on #563
hi sir @sridharjajoo can i work on this issue?

[2019-12-21 19:51] devansh-299 commented on #1206
Hi @amit6663 , I think @Grandolf49 has already put up a pull request that solves the issue. But still you can discuss with @Grandolf49 if any further changes are required

[2019-12-21 19:54] devansh-299 commented on #1201
Hi @amit6663 ,  @geekanamika has already made a pull request that solves the issue .

[2019-12-22 05:47] zoman-anamika commented on #1231
@amit6663 already solved during GCI :)

[2019-12-23 21:03] rchtgpt opened #1257 "Remove Hardcoded text"
**Summary:**

There are some text that are hard-coded in the XML files of the project remove them by extracting them as sting resources

[2019-12-25 19:45] #1057 closed, assigned to nobody

[2019-12-26 05:27] s-ayush2903 opened #1259 "No CI"
There is no Continuous Integration script other than travis

[2019-12-26 05:29] s-ayush2903 commented on #1259
I'm solving this issue

[2019-12-28 13:45] akonic commented on #1257
Hi @rachittt I would like to solve this issue.

[2019-12-28 18:44] #1257 closed, assigned to nobody

[2019-12-30 12:52] devansh-299 opened #1261 "New accounts are not added instantaneously"
**Summary:**

New Saving/Loan accounts are not updated in the recyclerview after they are added

**Steps to reproduce:**

* Go to Accounts Fragment
* Click on add floating action button for Saving/Loan account
* Complete the adding procedure
* Observe that new account hasn't been added yet
* Swipe to refresh and now the new account is visible

**Expected behaviour:**

The new account should have b

[2020-01-03 16:10] laxyapahuja opened #1263 "Replace Toasts with Snackbars on Login"
## Summary

When you login to the app, you see a toast instead of a snackbar which is provided in the utils (Toaster).

## Steps to reproduce

Fill in the username and password -> Login -> Notice the toast
Fill in the wrong username and password -> Login -> Notice the toast

## Expected Behaviour

The message is shown in a snackbar.

## Observed Behaviour

The message is shown in a toast.

## Devi

[2020-01-03 16:23] rchtgpt commented on #1263
@laxyapahuja You must be aware that a snackbar disappears when the activity finishes. Therefore, the material guidelines suggest us to not use a snackbar (and use a toast instead) to display a message, when there is a change in the activity. Hence, i don't think it is necessary to switch to a snackbar.

[2020-01-03 16:27] laxyapahuja commented on #1263
@rachittt if you look at the first screenshot, the message appears in the same activity and it doesn't move to another activity :) I agree with the second case though but I've seen a trend of replacing toasts with Toasters throughout the project so thought about posting an issue.

[2020-01-03 16:38] amitYadavDev commented on #1159
@krnblni  can i work on this issue?

[2020-01-03 16:38] amitYadavDev commented on #1158
@krnblni  i want to work on this issue

[2020-01-03 16:48] amitYadavDev commented on #1073
@nikhil-sachdeva is it fixed or can i work on this?

[2020-01-03 16:50] amitYadavDev commented on #1087
@ShivangiSingh17 is it open, can i work on this?

[2020-01-03 16:52] amitYadavDev commented on #1051
@shiv07tiwari is it still open?

[2020-01-03 16:57] rchtgpt commented on #1263
For the first case:
It is always recommended to use the Toast class for displaying system messages. I think that the toast message in the first case is pertaining to the system, so do you think there is an actual need to replace it with a snackbar? Because I feel it is important to comply with the guidelines as well

[2020-01-03 17:06] laxyapahuja commented on #1263
@rachittt The user also needs to know what the reason is behind him/her not being able to log in. It's **not** entirely a system message. Either the message can be reframed to something like "Invalid username or password." or we can keep the same message but in a snackbar. It depends on what a project maintainer suggests but a snackbar (Toaster) is indeed needed. :)

[2020-01-03 18:11] ShivangiSingh17 commented on #1087
@amit6663 I am on it. Will be sending the PR soon.

[2020-01-03 18:38] amitYadavDev commented on #1087
How long @ShivangiSingh17

[2020-01-03 19:04] ShivangiSingh17 commented on #1087
Within the next 24hrs. If I am unable to do, you can work on it.

[2020-01-04 15:40] amitYadavDev commented on #1206
@Grandolf49 any help from me or u completed this issue?

[2020-01-04 15:45] amitYadavDev commented on #1231
any reply @geekanamika ?

[2020-01-04 16:11] Grandolf49 commented on #1206
@amit6663 I have already put up a pull request for this issue

[2020-01-05 04:51] luckyman20 commented on #1227
Fixed in #1258

[2020-01-05 04:51] #1227 closed, assigned to nobody

[2020-01-05 05:23] amitYadavDev commented on #1087
@ShivangiSingh17 time is over, now may I work on the issue?

[2020-01-05 06:39] devansh-299 commented on #1231
@amit6663 this issue is under GCI category , you may work on other issues that are not tagged under this category

[2020-01-05 06:41] devansh-299 commented on #1159
@amit6663 this issue has already been addressed in #1212

[2020-01-05 08:49] ShivangiSingh17 commented on #1087
Yeah sure
Go ahead

On Sun, Jan 5, 2020, 10:53 AM Amit Yadav <notifications@github.com wrote:

[2020-01-05 11:47] devanshi7799 commented on #1208
If no one is working on this issue , I would like to work on this issue.

[2020-01-05 11:51] devanshi7799 commented on #1158
@krnblni I Would like to work on this issue. If no one is already working can i work on this?

[2020-01-05 11:53] devanshi7799 commented on #1140
@ShivangiSingh17 i would like to work on this if it is yet not solved

[2020-01-08 18:02] devanshi7799 commented on #1074
@nikhil-sachdeva Can i work on this?

[2020-01-08 18:07] devanshi7799 commented on #920
@ethanhsuhsu is this issue solved? If not , I would like to work on it

[2020-01-08 19:18] etlhsu commented on #920
Have at it @devanshi7799

[2020-01-09 03:53] ojasgulati opened #1264 "BadParcelableException"
**Summary:**
sometimes opening mifos application, It throws BadParcelable exception.
Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**
How can we reproduce the issue?
This is error doesn't produce every time. Mostly It happens when we leave app in memory ideal for some time.
**Expected behaviour:**
Every time the app should open correct

[2020-01-09 04:09] ojasgulati opened #1265 "Denied Permission Error in Beneficiary"
**Summary:**
Summarize your issue in one sentence (what goes wrong, what did you expect to happen).
Showing storage denied permission error in beneficiary even after allowing the storage permission.

**Steps to reproduce:**

How can we reproduce the issue?

![ezgif-2-6e78289537e7](https://user-images.githubusercontent.com/23313191/72037261-80d9f280-32c3-11ea-8b14-720792f1d973.gif)

**Expected beha

[2020-01-09 11:48] devansh-299 opened #1266 "UI/UX enhancement"
**Summary:**

The design of the home fragment duplicates the working of navigation drawer to a certain extent. The home fragment can instead be used to provide other certain important information to the user

**Steps to reproduce:**

* Open the app
* Go to home

**Expected behaviour:**

Home fragment should provide more information to the user  like recent transactions etc .

**Device and Android

[2020-01-10 11:34] devansh-299 commented on #923
@RajaVamsi11 I would like to work on this issue if it hasn't been addressed yet

[2020-01-10 11:41] RajaVamsi11 commented on #923
Yes you can work on this issue if its get approved by mentors.

On Fri, 10 Jan, 2020, 5:04 PM Devansh Aggarwal, <notifications@github.com>
wrote:

[2020-01-10 11:44] devansh-299 commented on #923
Thanks , for allowing

[2020-01-11 09:17] devanshi7799 commented on #987
@geekanamika can i work on this? or is it just for GCI?

[2020-01-11 09:19] devanshi7799 commented on #846
@miPlodder i would like to work on this

[2020-01-11 09:25] devanshi7799 commented on #491
@edcable Can i work on this issue?

[2020-01-11 12:15] ashwinkey04 commented on #1215
Can we add this in the README? I had to search for a while to find this

[2020-01-12 04:44] luckyman20 commented on #923
@devansh-299 Go ahead on working on this.

[2020-01-12 09:09] falayy commented on #1261
I will work on it.

[2020-01-12 18:56] devansh-299 commented on #923
Thanks for the approval

[2020-01-13 08:45] falayy commented on #1261
Hi @therajanmaurya  &&  @devansh-299, I figured, I need a go-to start working the issue can I start?

[2020-01-13 10:17] devansh-299 commented on #1261
Yes , you can start working on issue

[2020-01-13 18:32] falayy commented on #1261
Thanks.

[2020-01-13 18:59] devansh-299 commented on #1001
@shiv07tiwari Can I work on this issue?

[2020-01-13 19:09] devansh-299 commented on #847
@miPlodder @luckyman20  Can I work on this issue?

[2020-01-13 19:21] devansh-299 commented on #770
@ivary43 @luckyman20  can I work on this issue?

[2020-01-14 08:51] luckyman20 commented on #1001
@devansh-299 Go ahead if this is still reproducible.

[2020-01-17 09:01] vibhusharma101 commented on #1230
Can I work on this issue?
@devansh-299 this issue still exists in the app

[2020-01-17 16:14] Saransh0905 commented on #1265
Hey! @ojasgulati Can I work on this issue?
I am new to mifos , so I want to learn
Thank you

[2020-01-18 04:52] harshshinde07 commented on #1230
@vibhusharma101 the PR is yet to be merged that's why the issue still exists in the app. Once it is done it will be fixed.

[2020-01-18 11:51] devanshi7799 commented on #676
@miPlodder Can i work on this issue?

[2020-01-18 12:40] vibhusharma101 commented on #1230
Okay @harshshinde07

[2020-01-18 14:11] divyank00 commented on #1265
Hey! @ojasgulati  Can i try to solve this issue? I am new to open source contribution so wanna try this one.
Thank you!

[2020-01-18 15:01] ojasgulati commented on #1265
@Saransh0905 you can work on this.

[2020-01-18 16:19] divyank00 commented on #1265
Is there any importance of write permission? We just need to pick an image from phone storage so isn't the read permission enough?

[2020-01-18 18:13] divyank00 opened #1272 "App Crashes"
**Summary:**

'Pay To' field accepts empty entries and the spinner is empty which is not good at all.
'Pay From' field accepts empty entries and the spinner is empty which is not good at all.

App crashes,
On following actions:
Transfer->Transfer->Continue->Continue->App Crashed

**Expected behaviour:**

Give an error after pressing continue if the field was empty and if it succeeds,
Ask for Amoun

[2020-01-19 07:50] shaljais01 opened #1274 "No response on clicking the button for changing profile pic"
**Summary:**

After clicking on the  profile pic(on the home page) -> user details, when  I click on the pink button(responsible for changing the profile pic), no option available for changing the profile pic.

**Steps to reproduce:**

Home page -> click on profile pic -> Click on pink button -> no response

**Expected behaviour:**

After clicking on the button a dialog box should appear showing u

[2020-01-19 08:15] #1274 closed, assigned to nobody

[2020-01-19 08:19] shaljais01 opened #1275 "No option available to edit user's profile information"
Summary:

User cannot edit User Details in User Details fragment.

Steps to reproduce:

Open App -> Click on the profile pic -> No option to change user details

Expected behaviour:

The user should be able to change his information by clicking on a Edit profile button

Observed behaviour:

No such Edit Profile button is available

Device and Android version:

Android 6.0
Motorola E3 Power

[2020-01-19 08:20] shaljais01 commented on #1275
I would like to work on this issue, May I?

[2020-01-19 08:42] shaljais01 opened #1276 "No verification to change the password"
**Summary:**

There is no verification or authentication needed to change the password, if the app is open then anyone can change the password.

**Steps to reproduce:**

Click on the profile pic -> We are guided to user details fragment -> Click on change password button -> anyone can change the password

**Expected behaviour:**

An OTP should be send to the mobile number and on entering the OTP t

[2020-01-19 08:42] shaljais01 commented on #1276
Can I please work on this issue?

[2020-01-19 08:45] divyank00 opened #1277 "User Cant Update his/her Profile"
**Summary:**

The update button in profile is disabled.

**Expected behaviour:**

Able to update profile

**Observed behaviour:**

Cant update

**Device and Android version:**

One plus 6
Android Q

**Screenshots:**

![Desktop_20200119141245](https://user-images.githubusercontent.com/50913976/72677767-19435480-3ac6-11ea-8fe6-b64d8c3a3392.gif)

[2020-01-19 08:45] divyank00 commented on #1277
I would like to work on this?

[2020-01-19 09:09] divyank00 commented on #1276
I guess it should ask for current password and if it is correct then only update, why send otp.

[2020-01-19 09:12] shaljais01 commented on #1276
Yes, @divyank00 you are right! It should ask for current password, So can I work on the issue?

[2020-01-19 09:18] divyank00 opened #1278 "What user details can be updated?"
**Summary:**

Which fields from profile of user can be changed?
Like activation Date cant be changed, but Username can change.

**Device and Android version:**

One plus 6
Android Q

**Screenshots:**

![WhatsApp Image 2020-01-19 at 2 47 35 PM](https://user-images.githubusercontent.com/50913976/72678320-b4d6c400-3aca-11ea-96cc-e45993c7924a.jpeg)

[2020-01-19 09:28] droidchef commented on #676
Yes, you can work on it.

On Sat, 18 Jan 2020 at 12:51, Devanshi Shah <notifications@github.com>
wrote:

[2020-01-19 11:18] vibhusharma101 opened #1279 "In Third party Transfer Activity, User can continue with the transfer even if no item is selected in Pay From spinner"
**Summary:**

In Third party Transfer Activity, User can continue with the transfer even if no item is selected in Pay From spinner. If the user has not selected any account user should not be able to go to the next step.

Here a toast message should appear telling the user that no account has been selected.

**Device and Android version:**
Device Oppo Rmx1811

![C2F0A24F-C5B5-46A7-9A15-990B72B60C

[2020-01-19 11:34] shaljais01 commented on #1277
@divyank00 I have already opened #1275 issue for editing user details

[2020-01-19 11:41] shaljais01 commented on #1279
vibhusharma101 Can I work on this issue?

[2020-01-19 11:42] shaljais01 commented on #1279
@vibhusharma101 Can I work on this issue?

[2020-01-19 11:44] vibhusharma101 commented on #1279
@shaljais01 I am working on this, I am waiting from confirmation from maintainers

[2020-01-19 11:46] divyank00 commented on #1279
I have already solved this in issue #1272

[2020-01-19 11:47] divyank00 commented on #1277
Ya i didnt observe it!

[2020-01-19 11:50] shaljais01 commented on #1277
No Problem, it happens :)

[2020-01-19 11:51] divyank00 commented on #1277
Can i work on this?

[2020-01-19 11:55] #1277 closed, assigned to nobody

[2020-01-19 11:55] divyank00 commented on #1275
Can i work on this?

[2020-01-19 12:03] vibhusharma101 commented on #1279
okay

[2020-01-19 12:07] vibhusharma101 commented on #1124
@geekanamika  can I Work on this issue?

[2020-01-19 15:38] devanshi7799 opened #1280 "unable to change password."
**Summary:**
Unable to change password if language is other than English

**Steps to reproduce:**
Settings-->Language-->change Language-->Click on change Password

unable to change
**Expected behaviour:**

Password must be changed

**Observed behaviour:**
When the application language is set to language other than English, we cannot change the password

**Device and Android version:**
Vivo Y51L

*

[2020-01-19 16:18] divyank00 commented on #1280
Can i work on this?

[2020-01-19 17:18] divyank00 opened #1282 "Unable to change passcode"
**Summary:**

Unable to change passcode.

**Expected behaviour:**

Allow to change passcode
**Observed behaviour:**

No CHange

**Device and Android version:**

One plus 6
Android Q

**Screenshots:**

![Desktop_20200119224530](https://user-images.githubusercontent.com/50913976/72685196-becde680-3b0d-11ea-8599-e0f675cec28a.gif)

Can be created by pressing the Volume Down and Power Button at the sam

[2020-01-19 17:24] laxyapahuja commented on #1282
Duplicate of #519 and already fixed in #1202

[2020-01-19 17:51] divyank00 commented on #1282
Yeah!

[2020-01-19 17:51] #1282 closed, assigned to nobody

[2020-01-19 21:44] vibhusharma101 opened #1284 "unable to change passcode which is used to login in app."
**Summary:**

I am able to change password but unable to change passcode, It is unresponsive.
**Steps to reproduce:**

What did you expect the app to do?
I except the app to open a new activity to change the passcode.

**Observed behaviour:**
There is nothing happening on clicking of the change passcode button.

**Device and Android version:**
Device Oppo Rmx1811

@luckyman20 @geekanamika  can I W

[2020-01-19 21:59] vibhusharma101 opened #1285 "Nothing happened after clicking surveys button in home activity"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/39101226/72689326-42033280-3b36-11ea-9732-d7a04743f49b.gif)

**Summary:**

Surveys button is not functional.

**Expected behaviour:**
New activity must open after clicking surveys button in home activity

**Observed behaviour:**
Nothing happened on clicking surveys button

**Device and Android version:**
Device Oppo Rmx1811

I Wan

[2020-01-20 03:26] divyank00 commented on #1284
Duplicate of #519 and already fixed in #1202

[2020-01-20 03:27] divyank00 commented on #1284
@vibhusharma101 So close this issue. Have a great day!

[2020-01-20 07:36] #1284 closed, assigned to nobody

[2020-01-20 07:36] vibhusharma101 commented on #1284
Already solved

[2020-01-20 07:47] vibhusharma101 commented on #1192
@luckyman20 @devansh-299   can I work on this issue?

[2020-01-20 07:51] vibhusharma101 commented on #1264
@luckyman20  can I work on this issue?

[2020-01-20 07:59] vibhusharma101 commented on #1250
@devansh-299  Can I Work on this? If this is still open

[2020-01-20 10:59] devansh-299 commented on #1250
@vibhusharma101 my PR is still under review . If it gets rejected you can work for the same

[2020-01-20 11:02] vibhusharma101 commented on #1250
Ok @devansh-299

[2020-01-20 13:37] devansh-299 commented on #1279
@vibhusharma101 its duplicate of #1272 , you can close this issue

[2020-01-20 14:34] #1279 closed, assigned to nobody

[2020-01-20 14:55] vibhusharma101 commented on #1210
@devansh-299  can I work on this if this is still open?

[2020-01-20 15:15] devansh-299 commented on #1210
@vibhusharma101 #1211 already addresses this issue

[2020-01-20 17:37] arunikayadav42 commented on #1285
I want to work on this issue. Please help me get started :)

[2020-01-20 17:49] mayankwadhwani commented on #1250
Hi peeps, if youre not working / PR rejected, I'll like to take up on this issue.

[2020-01-20 20:45] vibhusharma101 commented on #1250
@mayankwadhwani I will be working on this if PR gets rejected

[2020-01-21 05:13] divyank00 opened #1287 "FAB Button disappears"
**Summary:**

Fab button disappears in account section

**Steps to reproduce:**

Go to Accounts, swipe to Loan, swipe to Share, and then swipe back to loan or saving, the FAB button disappears.

**Expected behaviour:**

What did you expect the app to do?

The FAB button to reappear

**Device and Android version:**

One plus 6
Android Q

**Screenshots:**

![Desktop_20200121103129](https://user-imag

[2020-01-21 06:23] laxyapahuja commented on #1287
Duplicate of #1001

[2020-01-21 06:24] laxyapahuja commented on #1287
Fixed in #1270

[2020-01-21 06:32] #1287 closed, assigned to nobody

[2020-01-21 06:32] divyank00 commented on #1287
Yeah😅

[2020-01-21 07:08] falayy commented on #1280
did you squash your commit? @divyank00

[2020-01-21 07:10] divyank00 commented on #1280
Yeah, it's visible in pull request but not here  Could you help me!

[2020-01-21 10:55] falayy commented on #1278
Hi @divyank00 , what is the issue here? or what do you think should be done?

[2020-01-21 11:02] divyank00 commented on #1278
Should I add a FAB to update user info

[2020-01-21 14:57] Habeebu commented on #83
I am trying to use the API, this method https://domain.com/fineract-provider/api/v1/savingsaccounts/227/transactions/11128
But I received this error,
{
  "timestamp": 1579618103606,
    "status": 500,
    "error": "Internal Server Error",
    "exception": "org.springframework.dao.EmptyResultDataAccessException",
    "message": "Incorrect result size: expected 1, actual 0"
}
Any help, I checked and

[2020-01-22 06:23] falayy commented on #1261
@devansh-299 Please can you help review my PR

[2020-01-22 06:24] falayy commented on #1285
maybe it's not functional because the feature hasn't been implemented.

[2020-01-22 06:25] falayy commented on #1285
HI @luckyman20  && @devansh-299  can we discuss the survey feature as a whole and what feature needs to be added so we can work on it?

[2020-01-22 08:16] devansh-299 commented on #1285
@corneliuze as far I know there's no backend support for surveys till yet. I guess this can be added to this year's to do list

[2020-01-22 10:42] falayy commented on #1285
That sounds like a plan, thanks, @devansh-299

[2020-01-22 11:13] tiwariritesh1700 commented on #83
same Problem

[2020-01-22 11:58] arunikayadav42 commented on #1285
Is this issue open? Please help me get clear about it :)

[2020-01-22 12:32] falayy commented on #1285
Talk to the mentors to close it.

[2020-01-22 14:31] VaishSiddharth opened #1288 "Accounts card freeze for a second onclick"
**Summary:**
When the app is removed from background and is opened again, On clicking Accounts card a 1 or 2 second lag appears.

**Steps to reproduce:**

1. Remove the app from background.
2. Open the Mifos App
3. Click on Accounts card

**Expected behaviour:**

Either a progress bar or a dialog box should appear.

**Observed behaviour:**

Lag when Accounts button is clicked for the first time.

[2020-01-22 14:32] VaishSiddharth commented on #1288
I would like to work on this

[2020-01-23 15:12] ShivangiSingh17 commented on #1087
@amit6663 are you working on it?

[2020-01-23 16:13] devansh-299 commented on #1192
@vibhusharma101 I think only @luckyman20 can give you the approval

[2020-01-23 16:40] Saransh0905 commented on #1241
I am working on this issue.

[2020-01-23 23:45] falayy commented on #1261
@devansh-299  updated it again

[2020-01-24 06:06] jddeep opened #1293 "bug: User details Edit FAB button unfunctional"
**Summary:**

User details Edit FAB button unfunctional.

**Steps to reproduce:**

Click on the User name in the home page. You will be directed to user details page.

**Expected behaviour:**

Remove the global FAB button and individual edit options should be available for necessary fields.

**Observed behaviour:**

Unfunctional.

**Device and Android version:**

Android 9

**Screenshots:**

<img

[2020-01-24 06:07] jddeep commented on #1293
@luckyman20 @santoshconflux @geekanamika Can I work on this?

[2020-01-24 06:29] jddeep opened #1294 "bug: Keyboard settings for Account number field in Add beneficiary"
**Summary:**

bug: Keyboard settings for Account number field in Add beneficiary

**Steps to reproduce:**
add n
Go to Third Party transfer -> Beneficiary -> Add -> Add beneficiary page

**Expected behaviour:**

Number type keyboard should pop up only for entering numerical digits

**Observed behaviour:**

Plain text type keyboard appears

**Device and Android version:**

Android 9

**Screenshots:*

[2020-01-24 06:29] jddeep commented on #1294
@luckyman20 @santoshconflux @geekanamika Can I work on this?

[2020-01-24 10:41] luckyman20 commented on #1293
@jddeep You have to check if API for edit profile is available or not.

[2020-01-24 10:42] luckyman20 commented on #1294
I am not sure if account number will always be in numeric characters only.

[2020-01-24 11:02] jddeep commented on #1294
Hmm..if that is the case then we can keep it maybe if we are confident that account numbers can have text as well.

[2020-01-24 11:17] jddeep commented on #1293
@luckyman20 Where can i find more details about checking the API in our app? Any features or screens in the app you can say which uses similar functionality?

[2020-01-24 11:19] jddeep commented on #1293
If editing profile is available(from api response) we can allow users to edit certain fields and update.

[2020-01-24 16:01] jddeep opened #1295 "bug: passcode screen content should be centered along all devices"
**Summary:**

bug: passcode screen should be centered along all devices.

**Steps to reproduce:**

Open the app once logged in.

**Expected behaviour:**

passcode screen content should be centered along all devices.

**Observed behaviour:**

passcode screen content was at upper portion of the screen.

**Device and Android version:**

Android 9

**Screenshots:**

<img src="https://user-images.githu

[2020-01-24 16:02] jddeep commented on #1295
@luckyman20 @santoshconflux @geekanamika thoughts?

[2020-01-25 08:15] ayushraj0309 commented on #1295
Hey @luckyman20 @santoshconflux @geekanamika , can i work on this one??

[2020-01-26 09:16] devansh-299 commented on #1276
@shaljais01 Can I work on this issue?

[2020-01-26 13:22] luckyman20 commented on #1295
This is a issue of passcode library.

[2020-01-26 13:22] #1295 closed, assigned to nobody

[2020-01-26 13:24] luckyman20 commented on #1294
The thing is with little modification they can be in alpha-numeric (in case they are numeric only) so this wouldn't make sense then.

[2020-01-26 13:24] #1294 closed, assigned to nobody

[2020-01-26 13:32] luckyman20 commented on #1192
Please attach screenshot and explain the bug properly.

[2020-01-26 17:58] Saransh0905 commented on #1293
@jddeep This issue is already mentioned in #1275

[2020-01-26 19:11] shaljais01 commented on #1276
@devansh-299 I am working on this issue

[2020-01-27 02:56] jddeep commented on #1293
@Saransh0905 The idea may be similar of both the issues. But the idea/approach of the resolution mentioned here (see the Expected behaviour section) is different. But the PR made to this issue will undoubtedly close #1275 as well.

[2020-01-27 16:51] devanshi7799 commented on #1125
Can i work on this issue?

[2020-01-27 16:54] devanshi7799 commented on #1015
@shiv07tiwari  Can i work on this issue?

[2020-01-27 17:08] rchtgpt commented on #1125
i don't think there is a need of a confirmation dialog as the user has already typed the password for the second time to give his/her confirmation.

[2020-01-28 13:16] ShivangiSingh17 opened #1298 "Improving the UI"
**Summary:**
The user details section of the application can be enhanced by improving the UI.

**Observed behaviour:**
In the user section right now when the application is switched to landscape mode, the user has to scroll and the details are available in the order (first image and then the details).

**Expected behaviour:**
For better UI, the details of the user can be placed beside the user ima

[2020-01-28 18:23] OHassini opened #1299 "Apply for loan icon should be unique."
**Summary:**
It would be better to make the apply for loan icon in the Home activity unique, not similar to the accounts icon (as in mifos mobile cn app)
**Steps to reproduce:**
Just visit the home activity
**Expected behaviour:**
The apply for loan icon should be unique.
**Observed behaviour:**
The apply for loan icon is similar to the accounts icon.
**Device and Android version:**
This isn't rel

[2020-01-28 18:26] OHassini commented on #1299
@luckyman20 @geekanamika I would like to work on this !

[2020-01-28 18:34] OHassini opened #1300 "The contact us section is in the home fragment"
**Summary:**
As in almost every major app out there, the contact us section should be in the about us fragment (or the help fragment in some rare cases).
The home fragment's main purpose is to be a sort of a dashboard and the contact us section doesn't add up to that main functionality.
**Steps to reproduce:**
Just visit the home activity
**Expected behaviour:**
The contact us section should be in

[2020-01-28 18:38] OHassini commented on #1300
@luckyman20 @geekanamika I would like to work on this !

[2020-01-28 19:33] devansh-299 commented on #1300
Nice idea, but what about the empty space at the bottom?

[2020-01-29 13:13] fidelsam1992 commented on #1239
Both username used to work before, but now I'm getting this error on both :
Invalid authentication details were passed in api request

[2020-01-29 13:26] fidelsam1992 commented on #1239
A solution to overcome this is to follow the steps here to create a new self-service account :
https://github.com/openMF/mifos-mobile/issues/1228#issuecomment-560235204

[2020-01-29 16:11] OHassini commented on #1300
There isn't going to be empty space (in most devices)

[2020-01-29 19:58] devansh-299 opened #1303 "Redesigning home screen"
**Summary:**

Currently the home screen layout looks very dated . The layout can be redesigned to provide better user experience

**Steps to reproduce:**

Go to home fragment

**Proposed Design**

![image](https://user-images.githubusercontent.com/46667021/73392346-aaed6600-42ff-11ea-9210-bbfcc66b3375.png)

[2020-01-29 19:59] devansh-299 commented on #1303
What are your thoughts @luckyman20 @geekanamika ?

[2020-01-30 15:51] OHassini commented on #1303
@devansh-299 Amazing design !!! seems like all the changes are there !!!!

[2020-01-30 16:07] amitYadavDev commented on #1087
yes

[2020-01-30 16:17] amitYadavDev commented on #1263
can i work on this issue? @laxyapahuja

[2020-01-30 17:02] amitYadavDev opened #1304 "there is no option for password forgot"
**Summary:**
there is no option for password forget
Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**
add an option to reset password through mobile number and email id
How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in

[2020-01-30 18:20] devansh-299 commented on #1303
Thanks @OussEmaDevCode for your suggestions :)

[2020-02-02 10:51] Bhavnaharitsa commented on #1300
@OussEmaDevCode  @luckyman20  this feature seems good...can we have it in mobile_wallet as well? If so, I would like to work on it

[2020-02-02 12:57] dubeyaayush07 opened #1305 "floating action button vanishes and does not return again when moving back from the share tab in the accounts section"
**Summary:**

The action button vanishes in the share section (rightly so) but does return when the user switches to the loan/saving section

**Steps to reproduce:**

How can we reproduce the issue?
Login and go to the accounts section toggle to the share tab now move back to loan/saving tab the floating action button does not return.

**Expected behaviour:**

While toggling between tabs in the ac

[2020-02-02 13:06] dubeyaayush07 commented on #1305
@luckyman20 @geekanamika Can I work on this?

[2020-02-03 02:17] anujji1999 commented on #1248
Can i work on this issue?

[2020-02-03 22:17] falayy commented on #1304
I think you should have a discussion with the backend developers to ask if  forgot password feature was implemented

[2020-02-04 05:03] #1305 closed, assigned to nobody

[2020-02-04 05:03] dubeyaayush07 commented on #1305
Already addressed

[2020-02-04 06:43] dubeyaayush07 opened #1307 "the lists in the accounts section are not updated when the filters are removed"
**Summary:**

After applying filters the list is updated correctly but when these filters are deleted the list doesn't get refreshed

**Steps to reproduce:**

Apply a filter then remove it

**Device and Android version:**

Redmi Note 5 pro Android Pie

**Screen Recording**

<img src="https://user-images.githubusercontent.com/30518564/73720196-691d4f00-4747-11ea-9d09-7835b634218b.gif" height="60%"

[2020-02-04 06:43] dubeyaayush07 commented on #1307
I would like to work on this

[2020-02-04 08:35] #1307 closed, assigned to nobody

[2020-02-04 14:27] devansh-299 opened #1309 "Skip passcode"
**Summary:**

Currently when user chooses to skip passcode login then he needs to login via usual username and password but still after that user is greeted with "Set-Up Passcode" screen every time he tries to use the app . So if a user doesn't want to set up passcode ever this screen shouldn't be displayed for him/her until and unless he/she changes her mind.

**Steps to reproduce:**

* Clear dat

[2020-02-04 14:27] devansh-299 commented on #1309
@luckyman20  @geekanamika I would like to work on this issue

[2020-02-04 15:17] ShivangiSingh17 opened #1310 "Adding Unit Tests"
**Summary:**
Unit tests are not present for some files.
Adding Unit Tests for:
- AddGuarantorPresenter
- HelpPresenter
- HomePresenter
- QrCodeImportPresenter
- SavingsAccountApplicationPresenter

**Would you like to work on this issue?**
Yes

[2020-02-04 20:29] devansh-299 opened #1312 "Pressing back from change password fragment"
**Summary:**

Pressing back from the Change Password fragment takes user to previous activity rather than back to the settings screen

**Steps to reproduce:**

* Go to Settings -> Change Password
* Press back button
* Observe that previously opened activity is being displayed

**Expected behaviour:**

Settings screen should have been displayed

**Device and Android version:**

Xiaomi PocoF1
Androi

[2020-02-05 07:46] dubeyaayush07 opened #1314 "Filters do not work after empty accounts message is displayed"
**Summary:**
Once the list is filtered such that no accounts are displayed, no matter what filters are applied after that the list does not change.
**Steps to reproduce:**
Go to the accounts section, filter with all the options unchecked. Now no matter which filter you apply the list does not change.

**Screen Recording:**
<img src="https://user-images.githubusercontent.com/30518564/73819234-1d38d

[2020-02-05 07:48] dubeyaayush07 commented on #1314
@luckyman20 @geekanamika  Can I work on this?

[2020-02-05 08:01] devansh-299 commented on #1011
@shiv07tiwari @RajaVamsi11 I can reproduce the issue in two different devices. Can I work on this issue?

[2020-02-05 08:04] devansh-299 commented on #1046
@shiv07tiwari @luckyman20 Can I work on this ?

[2020-02-05 11:18] ShivangiSingh17 commented on #1011
The issue doesn't exist anymore. It may be android specific. The notification works fine.

[2020-02-05 11:20] devansh-299 opened #1316 "Incorrect icon shown"
**Summary:**

When user tries to open user profile in absence of internet connection, the message shown contains incorrect icon.

**Steps to reproduce:**

* Login into the app
* Turn off mobile data/Wifi
* Open user profile
* See the screen being displayed

**Expected behaviour:**

The icon should be replaced with an appropriate one

**Screenshots:**
![WhatsApp Image 2020-02-05 at 4 50 05 PM](http

[2020-02-05 11:23] devansh-299 commented on #1011
On which android version  did you try?

[2020-02-05 11:38] ShivangiSingh17 commented on #1011
10.0 and 8.1.0

[2020-02-05 12:45] devansh-299 commented on #1011
I can successfully reproduce the issue on Android 9.0 and 7.0
Let's see what the mentors have to say on this issue

[2020-02-05 13:14] vrsandeep1 commented on #1316
Can I work on this bug?

[2020-02-05 13:28] HilaryKinyua opened #1317 "Can't login into the android application how can i resolve this? Have tried with all the given password but that can't help"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did

[2020-02-05 14:04] devansh-299 commented on #1317
@HilaryKinyua please don't describe the issue itself in the title. I guess the someone has changed the credentials given  here https://github.com/openMF/mifos-mobile/wiki
Till the time these are fixed , you can use the following login credentials
Username :- 299devansh
Password :- password

[2020-02-05 14:07] HilaryKinyua commented on #1317
Thank you so much

On Wed, Feb 5, 2020 at 5:04 PM Devansh Aggarwal <notifications@github.com>
wrote:

[2020-02-05 14:55] CapTen101 commented on #1317
I was having the same problem, thanks. @devansh-299

[2020-02-05 14:57] CapTen101 commented on #1317
@devansh-299 How did you register on the app? what did you enter in account number input?

[2020-02-05 15:33] devansh-299 commented on #1317
@CapTen101 as far as I know, you cannot create client on the mobile app itself. First the bank staff needs to register you as a client from MifosX  and then only  you can create self-service account

[2020-02-05 15:37] CapTen101 commented on #1317
So did you(and other users) do the same?

On Wed, Feb 5, 2020, 9:03 PM Devansh Aggarwal <notifications@github.com>
wrote:

[2020-02-05 15:39] devansh-299 commented on #1317
Yeah, I guess its the only way

[2020-02-05 16:34] CapTen101 commented on #1317
okay

[2020-02-05 20:19] Grandolf49 commented on #1317
@CapTen101 To create an account you need to put up a request to @santoshconflux . I think he is responsible for creating accounts. I got my account created the same way

[2020-02-05 20:32] Grandolf49 commented on #1303
@devansh-299 Good design. I think it's high time that we need to upgrade the UI of the application as it looks very out dated.

[2020-02-05 22:18] devansh-299 commented on #1303
Thanks, just waiting for the mentor's approval

[2020-02-06 06:16] amitYadavDev commented on #1304
@corneliuze can you give me channel of backend developers?

[2020-02-06 06:28] amitYadavDev opened #1318 "Improve Registration UI, and add required instructions for credentials. like essential character for valid password"
**Summary:**

didn't show required character and min length for password, username etc.

**Steps to reproduce:**
go to create an account

**Expected behaviour:**
when we fill the registration form to create an account, there should be shown the min length of password and username and matched password and essential character and country wise code for mobile number

**Observed behaviour:**
on creati

[2020-02-06 08:14] dubeyaayush07 opened #1319 "message should be displayed when no accounts are found after search"
**Summary:**

Currently when the search returns an empty list a blank screen is displayed, I am thinking we should display a no accounts found message instead

**Screenshots:**

<img src="https://user-images.githubusercontent.com/30518564/73918030-b84db600-48e6-11ea-8575-95960d0e15b4.jpg" height="50%" width="50%" >

[2020-02-06 08:16] Bhavnaharitsa commented on #1318
@amit6663 Please fill in the blanks and make the issue more appropriate and elaborate

[2020-02-06 08:23] falayy commented on #1304
Well, I have no idea about that just reach out to people on gitter

[2020-02-06 08:24] falayy commented on #1319
@devansh-299  Let me work on this

[2020-02-06 08:28] dubeyaayush07 commented on #1319
@corneliuze I am already working on this

[2020-02-06 08:56] falayy commented on #1319
Alright.

[2020-02-06 10:00] HilaryKinyua opened #1321 "SUBMIT LOAN ERROR"
This is the error am  receiving after clicking the SUBMIT LOAN button the datatable [Approval Notes] needs to be filled in before the current action can be proceeded.
Anyone with a solution to this error

[2020-02-06 10:18] CapTen101 commented on #1317
oh, okay. thanks @Grandolf49

[2020-02-07 07:57] dubeyaayush07 opened #1322 "Cancel manual login in PassCodeActivity does not work"
**Summary:**

When the manual login dialog is cancelled in the `PassCodeActivity`, even though the user is not redirected to login manually the app does not recognize the user's passcode. This happens because in `MifosPasscodeActivity` `clearTokenPreferences` is called before `startLoginActivity`. I think we should get rid of the login dialog altogether because making the cancel dialog work would

[2020-02-07 07:58] dubeyaayush07 commented on #1322
I would like to work on this

[2020-02-07 11:46] CapTen101 commented on #1321
Please describe the issue completely in accordance with the issue guidelines as written [here](https://github.com/openMF/mobile-wallet/blob/master/.github/CONTRIBUTING.md)

[2020-02-07 12:09] ShivangiSingh17 commented on #1314
@dubeyaayush07 this issue is due to the demo server you are using. The activity works fine for the original demo sever which is not working right now. Checkout previous year GSoC work report for more reference.

[2020-02-07 12:13] dubeyaayush07 commented on #1314
@ShivangiSingh17  The filters did not seem to work because the empty accounts message was not removed. After I removed the error message when the filteredList was not empty the problem went away check my PR.

[2020-02-07 12:13] ShivangiSingh17 commented on #1321
Can you please attach the screenshot of the same

[2020-02-07 17:20] divyank00 opened #1324 "Whats the password and username for the app?"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did

[2020-02-07 17:26] rchtgpt commented on #1324
@divyank00 please use the [gitter channel](https://gitter.im/openMF) to ask such questions instead of making issues on github. Please close the issue

[2020-02-07 17:51] #1324 closed, assigned to nobody

[2020-02-07 22:47] falayy commented on #1319
Ensure you ask the code maintainers for go-ahead before working on an issue

[2020-02-08 08:18] devanshi7799 commented on #1304
@amit6663 i would also like to work on this issue

[2020-02-08 17:44] devansh-299 commented on #844
@luckyman20 @miPlodder
Should we close this issue as suggested here
https://github.com/openMF/mobile-wallet/issues/336#issuecomment-466892192

if not, I would like to work on it as I too think implementing it during the self service client registration process is a nice idea

[2020-02-08 17:56] falayy commented on #1261
hi @devansh-299  I've updated the PR

[2020-02-08 22:24] devansh-299 opened #1325 "App crashes while sharing qr code"
**Summary:**

App crashes when user attempts to share the qr code of share account details

**Steps to reproduce:**

* Go to accounts -> Savings tab
* Tap on any approved account
* Click on QR Code

**Expected behaviour:**

App shouldn't have crashed

**Stack trace**
`Caused by: android.os.BadParcelableException: ClassNotFoundException when unmarshalling: android:viewHierarchyState
        at andr

[2020-02-08 22:50] devansh-299 commented on #1261
thanks for the update :)

[2020-02-09 05:39] devansh-299 commented on #1322
@dubeyaayush07 I don't think removing the dialog itself is a good idea. The issue seems genuine, maybe you can try to find another way to fix this issue

[2020-02-09 05:51] dubeyaayush07 commented on #1322
@devansh-299 I think we should not modify MifosPassCodeActivity as it is a generic class, and in PassCodeActivity setting the preferences after cleaning them seems awkward and redundant. While I was looking for a work-around I looked into mifos-wallet and they are kind of dealing with it the same way directly starting the Login activity. Any suggestions?

[2020-02-09 06:05] devansh-299 commented on #1322
Yeah setting the preferences again won't be a good idea but still removing dialog box itself still doesn't seem to be a good idea as I myself found it useful at times.

[2020-02-09 06:15] dubeyaayush07 commented on #1322
@devansh-299  We will have to set the preferences again as they are needed for the PassCodeActivity to work the other option is to modify MifosPassCodeActivity which I am reluctant to do as all of these mifos app have this activity in common and modifying it would entail changing code in other apps too. Still I will see If I can find a work-around.

[2020-02-09 20:21] som23ya commented on #1316
hey can i work on this?

[2020-02-10 02:50] devansh-299 commented on #1316
@som23ya yeah, please go ahead

[2020-02-10 06:15] HilaryKinyua commented on #1321
This is a sample screenshot of the error am getting in my app while trying to acquire the loan`
![Screenshot_20200210-090948](https://user-images.githubusercontent.com/22560606/74125251-d3217280-4be5-11ea-87f7-79dd6481059e.png)
`

[2020-02-10 11:39] devansh-299 commented on #1321
@HilaryKinyua your attachment is inaccessible, please attach it again

[2020-02-10 11:49] HilaryKinyua commented on #1321
![Screenshot_20200210-090948](https://user-images.githubusercontent.com/22560606/74147479-5fe32500-4c14-11ea-9781-ea4d385eab0b.png)

This is a sample screenshot of the error am getting in my app while trying to acquire the loan

[2020-02-10 11:58] HilaryKinyua opened #1327 "How to Approve the Loan"
How is the loan approved after apply for it in mifos mobile?

[2020-02-10 12:10] HilaryKinyua opened #1328 "What is the name given to the loan repayment activity"
I am trying to whitelabel the application to meet my needs and can't find out the name given to the repay loan activity. Someone to help me see this activity

[2020-02-10 15:27] devansh-299 commented on #1328
@HilaryKinyua I am not able understand the problem. Can you please use the template and be more precise?

[2020-02-10 20:45] som23ya commented on #1316
i propose to recreate it this way. should i push the request?

![image](https://user-images.githubusercontent.com/43650322/74188331-378b1300-4c74-11ea-9f44-5e6c93e34e66.png)

[2020-02-10 21:36] devansh-299 commented on #1316
yeah, I think this is perfect

[2020-02-11 18:32] som23ya commented on #1328
you can-
go to navigation menu- click on file , search for the desired activity. I guess there are two loan repay activities.

[2020-02-12 09:53] HilaryKinyua opened #1330 "Loan Repayment"
After applying for loan how can one repay his or her loan using mifos-mobile.Please someone to explain this it's urgent
I want to know how one can make payment of loan applied for

[2020-02-12 17:43] som23ya commented on #1316
@devansh-299 Travis CI - Pull Request , Failing after 11m — Build Failed , what should i do to correct this? any idea?

[2020-02-12 18:31] ShivangiSingh17 opened #1332 "Keywords disappear when the user clicks the option"
**Summary:**
After clicking certain options under the Help section activity some of the words disappear from the screen when they are clicked.

**Steps to reproduce:**
Under Help section, click on "Leave an email" and "Find Locations" option.

**Screenshots:**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/43827236/74587751-7d512e00-501c-11ea-933c-2b00957404d3.gif)

**Device a

[2020-02-12 18:50] ShivangiSingh17 opened #1333 "User details section"
**Summary:**
User details are not visible until the user image is clicked.

**Expected behaviour:**
The user details should be shown even when the the name in clicked.

**Observed behaviour:**
The user details are not visible if you click on any other thing other than the user image.

[2020-02-12 19:38] ShivangiSingh17 commented on #1333
I would like to work on this issue.

[2020-02-13 04:47] devansh-299 commented on #1316
@som23ya I have mentioned the changes required in PR section

[2020-02-13 07:44] HilaryKinyua opened #1334 "Loan repayment Activity"
I want some help from mifos developers. Am trying to customize my mifos mobile to meet my needs and would want a user to click a button that takes him or her to Repay Loan section or activity, how do I go about this? Please, someone, help

[2020-02-13 10:08] devansh-299 commented on #1334
Hi @HilaryKinyua , Mifos Mobile does support this functionality. But recently because of a certain change being merged, users are not able to interact with loan account items in the recycler view.
I would suggest you to make the following change so that you can undo same

* In Android Studio go to `build.gradle` at Project level
* Change `supportLibraryVersion = '1.1.0'` to `supportLibraryVersion

[2020-02-13 10:09] elirehema commented on #1248
Go on @anujji1999

[2020-02-13 10:29] HilaryKinyua commented on #1328
@som23ya  which one specifically should be used for the purpose of loan repayment

[2020-02-13 10:31] devansh-299 opened #1335 "Snackbar unusual behaviour"
**Summary:**

When the user tries to enter data with the help of keyboard the snackbar behaves unusually if Ok button hasn't been pressed.

**Steps to reproduce:**

* Go to accounts -> Select any approved savings account
* Click on Deposit / Make a transfer
* Leave amount/ remark edit text empty
* Snackbar appears, without pressing Ok click again on edit text that was left empty

Same goes for "Re

[2020-02-13 10:57] devansh-299 opened #1337 "Loan transactions Recycler view"
**Summary:**

The loan transactions recyclerview does not cover the entire screen which ideally it is supposed to do . Currently it covers only the area required area to contain the items inside it. Hence swiping across them results in bad user experience

**Steps to reproduce:**
* Go to accounts -> Loan tab
* Select any disbursed loan
* Tap on Transactions

**Expected behaviour:**

Ideally the re

[2020-02-13 12:59] jawidMuhammadi commented on #1337
I would like to work on this issue. But I am facing a problem. I followed your provided steps to reproduce
Click Account -> Click on Loan Tab -> Click on any item of recycler view, nothing is happening.
Testing on Pixel 3 API 29 emulator. Any idea why, please help with this @devansh-299 . Thanks

[2020-02-13 14:26] devansh-299 commented on #1337
@jawidMuhammadi first follow the below steps then you can interact with recyclerview  and can reproduce the issue

* In Android Studio go to `build.gradle` at Project level
* Change `supportLibraryVersion = '1.1.0'` to `supportLibraryVersion = '1.0.0'`

[2020-02-13 14:27] jawidMuhammadi commented on #1334
Thanks @devansh-299 . I was facing the same issue (loan account items were not being clicked). After doing changes in `build.gradle` now it is working.

[2020-02-13 14:36] jawidMuhammadi commented on #1337
Thanks for your detailed help. I did solve your raised issue (#1337)

[2020-02-13 14:42] jawidMuhammadi commented on #1337
@devansh-299 When raising PR should I revert the change in `biuld.gradle` or not?

[2020-02-13 14:46] devansh-299 commented on #1337
@jawidMuhammadi actually even I also don't know what exactly should be done. I myself though do not revert the changes done in  `build.gradle` file

[2020-02-13 16:00] dubeyaayush07 opened #1338 "Clear filter button does not function properly after empty accounts message is displayed"
**Summary:**
After filtering such that no accounts are displayed, when the clear filter button is pressed the list does not get refreshed and displays the same empty accounts message.

**Steps to Reproduce**
Filter the list such that no accounts are displayed now try pressing clear filter button

**Screen Recording**
<img src="https://user-images.githubusercontent.com/30518564/74452774-85d42800-4e

[2020-02-13 16:01] dubeyaayush07 commented on #1338
I would like to work on this

[2020-02-13 19:10] jawidMuhammadi commented on #1337
#Fix #1340

[2020-02-13 20:58] som23ya opened #1341 "creating account"
**Summary:**
Introduction of more help section on  creating account fragment. If the user encounters any problems during creating account, an easy understandable guideline page should appear.

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

TO BE MORE REACHABLE.

**Observed behaviour:**
The app get confusing to new clients.

**Device and Android version:**

nexus

[2020-02-13 20:58] som23ya commented on #1341
i would be working on this one.

[2020-02-13 21:08] som23ya opened #1342 "country code picker"
**Summary:**
A drop down list of country codes appearing for phone numbers while creating account

**Expected behaviour:**

TRADITIONAL INPUT OF PHONE NUMBERS.

**Device and Android version:**

nexus 5, motorola g6

![image](https://user-images.githubusercontent.com/43650322/74478270-0eb48900-4ed3-11ea-98e4-341ee33ea382.png)

[2020-02-13 21:09] som23ya commented on #1342
I would be working on this.

[2020-02-13 21:12] som23ya opened #1343 "proposed UI for surveys"
**Summary:**
Currently, the survey feature has no functionality. I would to propose some to it.
**Expected behaviour:**

NO functionality.

**Device and Android version:**

nexus 5, motorola g6

[2020-02-13 21:12] som23ya commented on #1343
I would be working on this.

[2020-02-13 21:43] som23ya opened #1344 "change password UI"
**Summary:**
user can directly change password without acknowledgement of current one.

verification with current password should be implemented first.

I would like to design a mockup UI for this.

**Device and Android version:**

nexus 5, motorola g6

![image](https://user-images.githubusercontent.com/43650322/74480876-b7fd7e00-4ed7-11ea-8bdf-fadbeb41d4d4.png)

[2020-02-13 21:43] som23ya commented on #1344
I would like to design a mockup UI for this.

[2020-02-13 21:59] som23ya opened #1345 "Shared Preference for auto login functionality"
**Summary:**

Once the app is exited, it gets automatically logged out.

**Steps to reproduce:**

Use Shared Preference for auto login functionality. When users log in to your application, store the login status into sharedPreference and clear sharedPreference when users log out.

**Device and Android version:**

moto g6, nexus 5

[2020-02-13 21:59] som23ya commented on #1345
I would be working on this one.

[2020-02-13 22:01] som23ya commented on #1345
This is risky ,as it raises security issues. Should this be implemented?

[2020-02-13 22:13] som23ya opened #1346 "toast prompt on change password, slow internet"
When slow or no internet connection is there, no toast or prompt appears, in change the password section.

Error message should be displayed to user.

device moto g6, nexus 5.
![image](https://user-images.githubusercontent.com/43650322/74483221-09a80780-4edc-11ea-927d-9b1d8a79188a.png)

[2020-02-13 22:15] som23ya commented on #1346
i would be working on this.

[2020-02-14 06:29] HilaryKinyua commented on #1334
Thank you for this

[2020-02-14 09:34] jawidMuhammadi opened #1347 "App crashes when user clicks on last item of Purpose of Loan spinner"
**Summary:**
On apply for loan fragment after selecting any item from Loan Product spinner when you select the last item from the _Purpose of Loan spinner_, App crashes.

**Steps to reproduce:**

- Go  to Home Screen -> Tap on Apply for Loan
- Click on Select Loan Product spinner -> Select any item you want
- Click on Purpose of Loan spinner -> Select the last time.

**Expected behaviour:**
When y

[2020-02-14 09:38] jawidMuhammadi commented on #1347
I will be working on it.

[2020-02-14 11:15] jawidMuhammadi commented on #1345
I think it is not a good idea to save the user's credentials in SP and implement auto-login; as you know it is a banking app and credentials are very sensitive data. To make login easier we already providing an optional feature of setting 4 digit passcode for users. But still, if you want to implement this, I would suggest you first talk with any mentors about it.

[2020-02-14 11:31] falayy commented on #1341
Hi @som23ya , well-done, I think you should talk with the project maintainers if there would be a need for this and for approval ofcourse.

[2020-02-14 11:52] devansh-299 commented on #1347
@jawidMuhammadi this issue has already been solved #1212

[2020-02-14 12:10] devansh-299 commented on #1343
@som23ya  this issue has already been pointed out many times. Also as far as I know currently there's no back-end support for surveys

[2020-02-14 12:28] jawidMuhammadi commented on #1347
@devansh-299 I did have searched about this issue to know is it exists or not but I have not checked your code. Yeah, it has already been solved. So should I close the bug?

[2020-02-14 14:55] som23ya commented on #1341
@corneliuze who are the project maintainers and mentors currently?

[2020-02-14 15:09] falayy commented on #1341
well, I don't know but I tag @devansh-299 every time

[2020-02-14 17:28] devansh-299 commented on #1341
well, I am not a mentor xD

[2020-02-14 17:33] dubeyaayush07 opened #1349 "Error indicator in LoanApplicationFragment is not removed even after the loan is reviewed"
**Summary:**
The error indicator in `tilPrincipalAmount` persists even after correct value is entered and is visible when coming back from the review window.

**Steps to reproduce:**
Enter an invalid value now correct the value and press the review button, now press back the error is still there

**Screen Recording**
<img src="https://user-images.githubusercontent.com/30518564/74553777-09604880-4f

[2020-02-14 17:33] dubeyaayush07 commented on #1349
I would like to work on this

[2020-02-14 20:28] jawidMuhammadi commented on #1332
Hi @ShivangiSingh17  would you mention the device features which you have tested on it. I tried to reproduce the same as you have described but it is working as expected in Pixel 3 API 29 Emulator.

[2020-02-14 21:02] jawidMuhammadi opened #1351 "Adding support for Turkish and Persian languages"
**Summary:**
The app does not support Turkish and Persian languages. By adding support for these two languages we can reach many people in need from Turkey, Azerbaijan, Turkmenistan, Iran, Tajikistan, and Afghanistan.

[2020-02-14 21:13] jawidMuhammadi commented on #1351
Should I work on this? If it is something necessary I can translate to these languages very well; because Persian is my native language and Turkish is the language that I have studied for 5 years during my high school and have a Gold Medal from Turkish International Olympiads.

[2020-02-15 06:32] #1349 closed, assigned to nobody

[2020-02-15 06:49] #1335 closed, assigned to nobody

[2020-02-15 06:55] #1319 closed, assigned to nobody

[2020-02-15 07:03] #1312 closed, assigned to nobody

[2020-02-15 07:33] #1338 closed, assigned to nobody

[2020-02-15 10:31] jawidMuhammadi opened #1353 "Displaying null value in LoanAccountSummaryFragment"
**Summary:**
Displaying  null value instead of currency symbol or currency code in LoanAccountSummaryFragment

**Steps to reproduce:**

- Go to acounts-> Loan tab
- Select any disbursed loan
- tap on Loan Summery

**Expected behaviour:**

The app should show a currency symbol or a currency code in case if there is no symbol for it -like AFN beside amount instead of null value

**Device and Android

[2020-02-15 10:31] jawidMuhammadi commented on #1353
I am going to work on it.

[2020-02-15 11:01] jawidMuhammadi opened #1354 "TableView width in Repayment Schedule fragment."
**Summary:**

TableView width is not covering all the space in **larger devices** or when the app is in the **landscape** mode which is supposed to do.

**Steps to reproduce:**

- Go to accounts -> Loan tab
- Select any disbursed loan
- Tap on Repayment Schedule

**Expected behaviour:**

Table View width should cover all the space.

**Device and Android version:**

Pixel 3, API 29
Android Version

[2020-02-15 11:01] jawidMuhammadi commented on #1354
I am going to work on it

[2020-02-15 11:14] jawidMuhammadi opened #1355 "Displaying null in Repayment Schedule Table View"
**Summary:**

Displaying null value instead of currency symbol or currency code in Repayment Schedule Fragment's table view and also it is showing nu when the amount is 0 or null in Loan Balance column in the table view

**Steps to reproduce:**

- Go to accounts -> Loan tab
- Select any disbursed loan
- Tap on Repayment Schedule

**Expected behaviour:**

The app should show a currency symbol or a

[2020-02-15 11:14] jawidMuhammadi commented on #1355
I am going to work on it

[2020-02-15 12:17] ShivangiSingh17 commented on #1332
Updated

[2020-02-15 12:47] devansh-299 commented on #990
@naman14 @luckyman20 this issue seems important. Can I work on this issue?

[2020-02-15 18:15] devansh-299 opened #1356 "Blank screen shown when filtering returns no results"
**Summary:**

Currently when there are no transactions related to a savings account a blank screen is shown. This can rise either because of certain filters being applied or no transactions were made at all

**Steps to reproduce:**

* Go to accounts ->Savings account
* Select any approved account
* Tap on transactions
* Apply filters to get no search results/choose a savings account that had no tr

[2020-02-16 19:19] jawidMuhammadi commented on #1304
Hey @devanshi7799 are you working on this issue. I would also like to work on it.

[2020-02-17 05:42] #1353 closed, assigned to nobody

[2020-02-17 09:20] jawidMuhammadi opened #1361 "ApplySavingsFragment 's UI refactor proposal"
**Summary:**
I want to redesign the ApplySavingsFragment's UI. Here are the reasons why:

1. Current screen design does not follow material design guidelines like margins and spacings
2. In landscape orientation, the screen is not scrollable and also not able to see the submit button in
 small screens
3. Submit button's height becomes very small in larger devices
4. A redundant card view has been

[2020-02-17 10:28] devansh-299 commented on #1303
@naman14 @therajanmaurya  @luckyman20 what are your thoughts?

[2020-02-17 10:58] jawidMuhammadi opened #1362 "Apply for Loan UI refactor proposal"
**Summary:**

I would like to refactor UI  for ApplyLoanFragment. Because the current design does not follow the Material Design guidelines in both RTL and LTR languages.

**Steps to reproduce:**

- Go to accounts -> Loan tab
- Click on Add FAB

**Expected behaviour:**

It is very important to follow material design guidelines to make the app look awesome and provide smooth and clear UX for users.

[2020-02-17 11:12] jawidMuhammadi commented on #1361
Dear @naman14 @therajanmaurya @luckyman20 what are your thoughts? If you approve and agree with it. I would like to implement it. Thanks

[2020-02-17 11:12] jawidMuhammadi commented on #1362
Dear @naman14 @therajanmaurya @luckyman20 what are your thoughts? If you approve and agree with it. I would like to implement it. Thanks

[2020-02-17 11:42] jawidMuhammadi commented on #1303
It would be much better if the icons in the bottom navigation bar are in minium standard width and height (24dpX24dp) and contain a label too. Take a look in this material desing guidelines please: https://material.io/components/bottom-navigation/# thanks

[2020-02-17 11:47] jawidMuhammadi commented on #1362
The proposed UI Background should be white. During desing, I have forgotten to change from greyish to white.

[2020-02-17 12:23] devansh-299 commented on #1303
@jawidMuhammadi thank you for the suggestions, I will keep this in mind if I ever implement this design

[2020-02-17 17:10] devanshi7799 commented on #1304
@jawidMuhammadi You can on this  :)

[2020-02-17 18:54] devansh-299 opened #1364 "Add functionality to display Transaction Details"
**Summary:**

From the api documentation for self service app, the backend supports
* Getting savings account transaction details
* Getting loan account transaction details
* Getting client transaction details

but currently app does not the have the functionality to display these

**Expected behaviour:**

The app should extend its functionality to provide these features that are supported by the

[2020-02-17 18:54] devansh-299 commented on #1364
@naman14 @therajanmaurya @luckyman20 I would like to work on this issue

[2020-02-17 22:49] #1347 closed, assigned to nobody

[2020-02-19 14:53] som23ya commented on #676
@miPlodder @therajanmaurya @droidchef the phone number is still not opening the phone dialer, can i work on this?

[2020-02-21 17:40] devansh-299 opened #1368 "Add functionality to display charge details"
**Summary:**

From the api documentation for self service app, the backend supports:
* Sending details of a client charge
* Sending details of a loan account charge
* Sending details of a savings account charge

but till yet these functionalities haven't been added to the self service app

**Expected behaviour:**

Clicking on a charge in the charge list should display the complete details of the c

[2020-02-21 17:41] devansh-299 commented on #1368
@therajanmaurya @naman14 @luckyman20 I would like to work on this issue

[2020-02-22 09:36] nirmalhk7 commented on #923
I'm extremely sorry if @devansh-299 was working on this: I genuinely didn't know such issue already existed, and I saw this after I finished my work.

Note that our shortcuts will be displayed static only, but our min API support is API 16, and shortcuts were introduced in API 26. This means that we need to programmatically (i.e. from Java) check the OS version before showing the shortcuts, which

[2020-02-22 17:51] iamsharad98 opened #1370 "Add Dark/ Night Mode"
**Summary:**

The night mode in app will enhance the user experience and it will reduce eye strain at night.

**Screenshots:**
Some example screenshots of apps using night mode
![ios-13-dark-mode-1200x1084](https://user-images.githubusercontent.com/26202526/75096865-d9422680-55c9-11ea-905e-8a9ada92d2c3.jpg)

[2020-02-22 17:51] iamsharad98 commented on #1370
I would like to work on this feature.

[2020-02-22 19:50] devansh-299 commented on #1370
@anonghostteamz I think @prashantkh19 had already successfully implemented this feature during his GSoC'19 period

[2020-02-22 22:32] devansh-299 commented on #923
No problem, I wasn't working on this issue anymore

[2020-02-23 02:30] iamsharad98 opened #1372 "Add "Introduction Splash Screen" On Start Of The App"
**Summary:**

Add an introduction splash screen activity at start of the app if a new user opens the app.
It will really help in enhancing the user experience and the user gets to know about the app easily.

**Steps to reproduce:**

I will edit the splash activity from the activities directory to add this feature.

**Expected behaviour:**

A splash activity is showing when a new user opens the app

[2020-02-23 02:31] iamsharad98 commented on #1372
I would like to work on this issue, may I?

[2020-02-23 02:36] iamsharad98 commented on #1370
But I don't find this feature anywhere in-app, so maybe it's incomplete or not accepted by the organisation so, may I give it a try?

[2020-02-23 04:05] iamsharad98 opened #1373 "Add PhoneNo. verification and Dob edit option."
**Summary:**

There is no feature in-app to edit the phone number and to verify the phone number and edit the date of birth after get logged in.

**Expected behaviour:**

There should be a feature to verify phone no. with an OTP so only verified users get logged in.
**Observed behaviour:**

What did you see instead?
There is no option to edit phone no. and verify phone no. and we cannot even chang

[2020-02-23 06:39] devansh-299 opened #1374 "[question] - Database Helper class"
**Summary:**

I was going through the notification system code when I came across `DatabaseHelper` class . Currently we are fetching the notifications from our local database and not from remote server. Was this done for testing purpose? because according to me there's no point in fetching notifications  from local database

**Steps to reproduce:**

* Go to `mifos-mobile/app/src/main/java/org/mifo

[2020-02-23 07:08] iamsharad98 commented on #1373
I would like to work on this issue.

[2020-02-23 07:43] devansh-299 opened #1375 "Duplicate transactions in savings account transactions"
**Summary:**

While filtering the savings account transactions by their statuses, certain combination of filters results in returning single transaction multiple times. This probably happens because a single transaction has multiple statuses (which it ideally shouldn't have) and thus gets added multiple times

**Steps to reproduce:**

* Go to accounts -> any approved savings account
* Tap on trans

[2020-02-23 08:04] #1355 closed, assigned to nobody

[2020-02-23 17:36] #1372 closed, assigned to nobody

[2020-02-25 02:38] iamsharad98 opened #1377 "Add ChatBot For Customer Support"
**Summary:**

Chatbot feature streamlines interactions between people and services, enhancing customer experience. Some advantage of chatbot:-
1. Response times speed up 3x with chatbots
2. People now assume the app will have chatbots — they also like that bots are available 24/7.
3. and many more.
### I know that I am not able to make the whole working chatbots like big companies in this short pe

[2020-02-25 02:39] iamsharad98 commented on #1377
I would like to work on this issue.

[2020-02-25 11:49] HilaryKinyua opened #1378 "Unable to login after updating api endpoint"
Someone to clearly explain how we should change the endpoints because after updating the endpoints the app is not logging in.
I even went ahead to change the following codes to our endpoints:
              public static final String API_ENDPOINT = "mobile.openmf.org";
              public static final String API_PATH = "/fineract-provider/api/v1/self/";
              public static final String PRO

[2020-02-25 19:50] iamsharad98 opened #1379 "Login With Gmail Button"
**Summary:**

There should be login with the Gmail button so the user can register using Gmail very fast and it will enhance the user experience.

**Expected behaviour:**

A Login with Gmail button available on the LoginActivity. So, the user can able to signup into the app using Gmail and we automatically fetch his name, profile picture, etc information and saved in our database.

**Observed beha

[2020-02-25 19:51] iamsharad98 commented on #1379
I would like to work on this issue.

[2020-02-26 05:13] #1373 closed, assigned to nobody

[2020-02-26 06:51] HilaryKinyua opened #1380 "Unable to login after updating api endpoint"
Someone to clearly explain how we should change the endpoints because after updating the endpoints the app is not logging in.
I even went ahead to change the following codes to our endpoints:
public static final String API_ENDPOINT = "mobile.openmf.org";
public static final String API_PATH = "/fineract-provider/api/v1/self/";
public static final String PROTOCOL_HTTPS = "https://";

Still not worki

[2020-02-26 11:27] iamsharad98 commented on #1380
This issue is already open in #1378 then why you recreate this issue.

[2020-02-26 11:31] iamsharad98 commented on #1378
You can ask about this issue in OpenMF- Gitter [https://gitter.im/openMF/mifos](channel ) .

[2020-02-26 14:40] devansh-299 opened #1381 "Flash on/off option in qr code scanner"
**Summary:**

Similar to Mifos-Wallet, the flash functionality while scanning the qr code should be implemented here also as this can prove to be very beneficial in certain conditions

**Steps to reproduce:**

* Go to Add beneficiaries
* Tap on Scan

**Expected behaviour:**

Flash functionality should have been implemented

[2020-02-27 04:06] falayy commented on #1381
Hi @devansh-299, I was thinking, I could hop on this.

[2020-02-27 04:13] devansh-299 commented on #1381
I actually solved this in  #1382

[2020-02-27 04:26] falayy commented on #1381
oh alright, let me review then.

[2020-02-27 04:30] falayy commented on #1375
Do you have an open PR for this too? @devansh-299

[2020-02-27 19:25] falayy commented on #1342
Hi @som23ya  are you still working on this?

[2020-02-28 12:23] devansh-299 opened #1383 "Showcase View"
**Summary:**

The homescreen has too many items inside it which may confuse a first timer. To address this problem we can implement Android Showcase view. With the help of showcase view we can just brief the user about the various elements that are on the homescreen

**Illustration**

![example](https://user-images.githubusercontent.com/46667021/75548095-682fc280-5a52-11ea-82c8-2fb3b813dd2c.png)

[2020-02-28 12:24] devansh-299 commented on #1383
@therajanmaurya @luckyman20 @droidchef What are your thoughts?
Can I work on this issue?

[2020-02-28 12:28] jawidMuhammadi commented on #1342
Hey, @corneliuze  it has been more than 15 days she has not raised any PR regarding this. So you can start work on it.

[2020-02-28 12:30] som23ya commented on #1342
@corneliuze @jawidMuhammadi i had my examination so couldn't commit uptil now. I m still working on it  :)

[2020-02-29 00:29] iamsharad98 opened #1384 "Update the UI design of EditProfile"
**Summary:**

The design of the fragment user profile looks too old and not enhancing the user interface.

**Expected behaviour:**
The UI design should look good for first-time users.

**Device **
Mi Note5 Pro

**Screenshots:**
**The UI design right now**:-

<img src="https://user-images.githubusercontent.com/26202526/75596906-93e59380-5ab8-11ea-8ce6-05cdfe717ec6.jpeg" width="200" height="400" />

[2020-02-29 00:34] iamsharad98 commented on #1384
I would like to work on this issue

[2020-02-29 11:16] jawidMuhammadi commented on #1384
Hey, @anonghostteamz before starting to refactoring any UI or proposing any please make Mock design which should show the final look of the exact screen. During designing keep in mind that we have to follow an exact design pattern to the entire app to keep consistency which is very important.

[2020-02-29 13:02] ShivangiSingh17 commented on #1343
Can you go please through this:
https://github.com/openMF/mifos-mobile/issues/841

[2020-02-29 14:33] devansh-299 opened #1385 "Improvements in source code"
**Summary:**

The source code of mifos-mobile still has scope of being improved in terms of refactoring, code documentation, and reducing boilerplate.

**Scope of Improvement:**

* Documentation of Presenters and some fragments
* Reduction in boilerplate by using functions
* Reduction in line of code
* Use of `else if` instead of multiple `if`

[2020-03-01 03:37] iamsharad98 commented on #1384
Okay, @jawidMuhammadi I will add the screenshot in my PR and I always design UI by taking the previous design pattern in my mind. BTW thanks for the suggestion.

[2020-03-01 04:52] devansh-299 commented on #1384
@anonghostteamz can you please first attach the screenshot of your design scheme because as @jawidMuhammadi said its important to follow one design scheme throughout the application.
You can use [Figma](https://www.figma.com/) etc for the same

[2020-03-01 10:42] iamsharad98 commented on #1384
@jawidMuhammadi @devansh-299 I already designed the UI and only I need to resolve some issues.
I update my issue and add screenshots of my design, check it out.

[2020-03-01 17:20] jawidMuhammadi commented on #1384
@anonghostteamz  Why you have added all those different icons and how did you find them?  Would you give us some more details about it?
 Please note that icons play a very important role, once we use an icon for a specific title than we have to use the same across all our products on mobile and web. In the future when you decide to make some important UI changes, first please discuss with the comm

[2020-03-01 17:26] jawidMuhammadi commented on #1384
Please make sure to use the same color for hints or titles as it is used on other screens and the icon style also should be filled or bordered according to other icons in the app. You have used different styles of icons and different colors for titles and icons too which does not follow material design guidelines.

[2020-03-01 17:57] devansh-299 commented on #1384
@anonghostteamz before you start working on the issue, according to me it would be better to first consult with the mentors

[2020-03-01 18:04] iamsharad98 commented on #1384
Okay, @devansh-299 can you share me the mail or something using which I can contact the mentors. Because, as I saw, everyone here working on issues without any permissions. But if I get any contact email then definitely, I first consult with mentors and then start contributing.

[2020-03-01 18:16] neeraj0403 commented on #1346
@som23ya are u working on this issue?

[2020-03-01 18:29] som23ya commented on #1346
@neeraj0403 yes, i m.  :)

[2020-03-02 19:58] refactor-droidyy commented on #1378
@anonghostteamz same here cannot login whats the correct api endpoints.

[2020-03-04 07:43] rutvik-panchal commented on #1342
Can i work on this issue?

[2020-03-07 15:39] debarghya472 commented on #1276
has this issue been resolved?

[2020-03-07 16:50] souravmunjal opened #1391 "Could not create a new account with the lastest development branch code"
**Summary:**

Could Not create a new account with the create account

**Steps to reproduce:**

1. Go to create account page.
2. Fill the Details
3. Giving error "Client not found with basic details"

Lenovo K5 (Android Version Lollipop 5.0)
version from the manufacturer or a custom ROM?

**Screenshots:**
![Screenshot_2020-03-07-21-53-15](https://user-images.githubusercontent.com/30770269/76147323-

[2020-03-07 16:57] souravmunjal commented on #1391
@devansh-299 could you please look into this?

[2020-03-07 18:24] devansh-299 commented on #1391
@souravmunjal for creating a self service user, first you need to create an account from the MifosX webapp then you can register from the mobile app using the account number and other details that you got. If you want to login for developer purpose, you can login using the these credentials
Username: 299devansh
Password: password

[2020-03-08 04:43] rutvik-panchal commented on #1379
I think that for this service we need a google account from mifos.

[2020-03-08 06:00] nirmalhk7 commented on #883
Since #887 has been closed by @therajanmaurya , can I work on this issue?

[2020-03-08 06:57] ShivangiSingh17 commented on #1370
This issue is already raised in another issue. Can you please close this issue to avoid the duplication of the same issue.

[2020-03-08 07:08] ShivangiSingh17 commented on #676
@som23ya its working. Once you click on the number, the phone dialer opens. Which device and Android version are you using?

[2020-03-08 10:36] rutvik-panchal opened #1392 "Settings ToolbarTitle not changed on BackButton Pressed"
**Summary:**

On the back button pressed from the change password, the toolbar title is not changed.

**Expected behaviour:**

The toolbar title of settings activity should change on the back button pressed from the change password.

**Observed behaviour:**

The toolbar is not changed and is the same on the back button pressed.

**Device and Android version:**

Vivo V17
Android 9.0

**ScreenShot:*

[2020-03-08 19:44] devansh-299 opened #1394 "ViewGuarantor - recyclerview doesnot fill entire screen"
**Summary:**

The recyclerview inside the ViewGuarantorFragment doesnot fill the entire screen because of which animation for reaching the bottom of recyclerview appears in the middle of the screen

**Steps to reproduce:**
* Go to any loan that hasn't been approved
* Go to menu -> View Guarantor

**Expected behaviour:**

The recyclerview should have completely filled the screen

**ScreenRecording:

[2020-03-09 05:53] devansh-299 opened #1395 "Unnecessary loading of fragments on back pressed"
**Summary:**

In SavingsAccountDetail Fragment and LoanAccountDetailFragment gets reloaded from the server when a user returns to them after pressing back button. This is completely unnecessary as it just uses up more resources.

**Steps to reproduce:**

* Go to Loan/SavingsAccountDetail Fragment for any account that has been approved
* Click on any button (for ex- Transactions)
* Now press back b

[2020-03-09 08:37] ankurxshukla commented on #1394
Working on it.

[2020-03-09 10:39] devansh-299 opened #1397 "AccountsFragment - applying no filter returns nothing"
**Summary:**

When the user presses Filter even without checking any checkbox the result returned is empty.
After referring to many other apps, I think in such situation the app should have either returned the same results as if the filter wasn't even applied.

**Steps to reproduce:**

* Go to Accounts
* Apply filter without selecting any checkbox for Savings/LoanAccounts

**Expected behaviour:**

[2020-03-09 12:23] rutvik-panchal commented on #1397
I would like to work on this issue

[2020-03-09 12:25] devansh-299 commented on #1397
I am already working on it :sweat_smile:

[2020-03-09 12:36] rutvik-panchal commented on #1397
I got the solution😅

[2020-03-09 12:40] devansh-299 commented on #1397
Actually I have already solved the issue just sending the PR
You can work on other open issues :)

[2020-03-09 13:12] ShivangiSingh17 opened #1399 "Scrolling functionality is not available"
**Summary:**
The scrolling is not available thereby restricting the complete view of the details.

**Steps to reproduce:**
Under the ```Accounts``` section, click on ```Loan``` .

**Expected behaviour:**
User should be able to scroll through the whole content available.

**Observed behaviour:**
The scroll functionality is not available.

**Device and Android version:**
Android 8.1.0
Funtouch OS_4.

[2020-03-09 14:35] devansh-299 commented on #1399
@ShivangiSingh17 this problem has already been solved. Sync your fork of the project with the upstream

[2020-03-09 14:41] ShivangiSingh17 opened #1400 "Invalid email"
**Summary:**
When the user inputs the email address, invalid email address is also getting accepted and not showing the error message of invalid email inputed by the user.

**Steps to reproduce:**
While creating a new account, input the email  ```.......@gmail.com```

**Expected behaviour:**
The error message should be shown about the invalid input.

**Observed behaviour:**
The address error is no

[2020-03-09 14:48] devansh-299 opened #1401 "Qr code icon different than the rest"
**Summary:**

The qr code icon inside SavingsAccountDetails and LoanAccountDetails fragment has different color than rest of the icons displayed on the screen

**Steps to reproduce:**

* Go to Loan/Savings account that has been approved
* Observe the icons

**Expected behaviour:**

Like other icons, the qr code icon should be blue and white

**Observed behaviour:**

Oddly it has grey-white color s

[2020-03-09 15:22] ShivangiSingh17 commented on #1399
Its already in the sink and the issue still exists. I can't find this issue been addressed anywhere?

[2020-03-09 18:05] devansh-299 commented on #1399
You mean that `recyclerview` is not scrolling?

[2020-03-09 18:24] devansh-299 opened #1402 "No scrollview in AboutUs Fragment"
**Summary:**

AboutUs Fragment does not have the `NestedScrollView` and hence it can create problems like not showing complete user interface in certain devices or in landscape mode for other devices

**Steps to reproduce:**

* Go to AboutUs Fragment from Navigation drawer
* Try reproducing the issue with landscape mode (if possible with your device)

**Expected behaviour:**

It is safe to add Scr

[2020-03-10 06:54] rutvik-panchal commented on #1400
@ShivangiSingh17
There is validation for the email input field already.

[2020-03-10 07:08] rutvik-panchal commented on #1401
@devansh-299 Would like to work on this issue, Are you working on it?

[2020-03-10 07:22] devansh-299 commented on #1401
No, I am not working on this issue. You can work on it

[2020-03-10 07:55] rutvik-panchal commented on #1401
Working on it.

[2020-03-10 13:28] HilaryKinyua commented on #1380
I recreated it because it was never solved

[2020-03-12 06:09] ShivangiSingh17 commented on #1400
@rutvik-panchal validation exists but the mentioned issue arises and the condition needs to be mentioned in the codebase. Please reproduce and issue and check.

[2020-03-12 06:23] ShivangiSingh17 commented on #1402
Refer to this issue: https://github.com/openMF/mifos-mobile/issues/1024
I think the issue you opened is already into action and doesn't need to be referred again.

[2020-03-12 09:20] HilaryKinyua opened #1407 "Invalid authentication Details passed to API"
After updating mifos mobile to work with my endpoint say for example my endpoint is ="42.345.154.28/Xyz_company" in the BaseURL.java  and also changing The file SelfServiceInterceptor.java DEFAULT_TENANT to default instead of mobile am getting this error while trying to login Invalid authentication Details passed to API.

I have already created the self service user and assigned that user the self

[2020-03-12 09:31] devansh-299 commented on #1402
@ShivangiSingh17 should I close this issue and related PR? because for Portrait mode we don't need scrollview for this fragment

[2020-03-12 14:03] virajpatel2411 opened #1408 "Error in EditText View on Login Page doesn't get removed on entering data"
Summary : If user clicks on login button without entering the username and password i.e leaving both fields empty then error is shown. When user clicks on the username field to enter valid data the error doesn't get removed. Same is the case with password field.

Steps to reproduce : Listener is to be kept so that clicking on the respective field, the error of the respective field gets removed.

E

[2020-03-12 14:03] virajpatel2411 commented on #1408
I will work on this issue @virajpatel2411

[2020-03-12 14:14] ShivangiSingh17 commented on #1402
@devansh-299 It's better if you close it because the issue is already under process and creating PR multiple times for the same issue (though different ragments)creates duplication.

[2020-03-12 14:56] #1402 closed, assigned to nobody

[2020-03-12 17:11] rutvik-panchal commented on #1400
Reproduced with the latest branch of development, it's working fine for me as expected.

[2020-03-12 17:57] ShivangiSingh17 opened #1409 "Improper UI in Login page"
**Summary:**
The UI on the login page is not proper.
**Steps to reproduce:**
On the login page without filling any of the fields click on the ```Login``` button and notice the blockage of the ```password``` field heading from the bottom.

**Expected behaviour:**
The **password** field should be properly placed.

**Observed behaviour:**
Due lack of spacing the password field is not placed properly

[2020-03-12 18:09] ShivangiSingh17 opened #1410 "Improper warning message is shown"
**Summary:**
Warning message shown at the ```Create an account``` page is misleading and needs to be improved.
**Steps to reproduce:**
While creating the new account click directly on the ```Register``` button without any input of data.

**Expected behaviour:**
All the **Required** fields should be display the warning message at a time instead of showing separately field by field.
**Observed behav

[2020-03-12 18:42] ShivangiSingh17 opened #1411 "Back button pressed moves the app directly to the home screen"
**Summary:**
When the user clicks on the back button from  the ```Change password``` activity it gets redirected to the home screen.
**Steps to reproduce:**
Open ```Settings``` and select ```Change password``` option and press the back button.

**Expected behaviour:**
The back navigation should redirect to the Settings main activity.

**Observed behaviour:**
When the user clicks back button from t

[2020-03-12 18:43] ShivangiSingh17 commented on #1411
I would like to work on this issue.

[2020-03-13 02:09] devansh-299 commented on #1411
@ShivangiSingh17 I addressed this issue in #1313 and thus this problem has already been solved.
Thus this issue shouldn't be reproducible on the latest commit

[2020-03-13 04:45] shaljais01 commented on #1276
@debarghya472 I am working

[2020-03-13 09:57] #1411 closed, assigned to nobody

[2020-03-13 15:43] amitYadavDev commented on #1304
@naman14 due to my continuous assessment I was busy now I continue with my full energy.

[2020-03-14 14:21] amitYadavDev commented on #1318
@naman14 is it a valid issue?

[2020-03-14 14:41] amitYadavDev commented on #1309
@naman14 can i work on this issue?

[2020-03-15 06:53] rutvik-panchal commented on #1394
@ankurxshukla
Are you still working on it, if not then can I work on it?

[2020-03-15 08:17] rutvik-panchal opened #1415 "Savings Account Transactions on filter gives an improper result."
**Summary:**
Savings Account Transactions on filter gives an improper result.

**Steps to reproduce:**
Go to Accounts -> Savings Accounts -> Transactions -> Filter

**Expected behavior:**
Transactions should also filter when just the Transaction Period is selected giving the list of all the transactions that occurred in the selected period.

**Observed behavior:**
The transactions are not displaye

[2020-03-15 20:26] AntonAsmirko commented on #1409
Can I work on this issue?

[2020-03-15 21:01] AntonAsmirko commented on #1409
Is the problem in biasing the password field when user clicks login button?

[2020-03-16 04:13] rutvik-panchal commented on #1394
@devansh-299 I think it's been a long time and @ankurxshukla has not raised any PR regarding this issue, Can I work on it?

[2020-03-16 06:25] rutvik-panchal commented on #1375
Pull Request #1416 also fix's this issue

[2020-03-16 06:36] rutvik-panchal opened #1417 "Message is not displayed if there are no transactions after filter"
**Summary:**

On filter of Savings Account Transactions if there are no transactions the UI should show give a response.

**Steps to reproduce:**

Accounts -> Savings -> Transactions -> Filter (Apply category with may return no transactions. For Eg, In my case it was Rejected Transfer )

**Expected behaviour:**

The UI should not be blank and should respond with a message of no transactions if the

[2020-03-16 06:38] rutvik-panchal commented on #1417
I am working on this issue.

[2020-03-16 07:36] AntonAsmirko commented on #1410
I am working on this issue

[2020-03-16 08:17] ShivangiSingh17 commented on #1410
@AntonAsmirko I created the issue and I am already working on it.

[2020-03-17 09:31] virajpatel2411 opened #1421 "Improper Error display in AddBeneficiaryFragment"
**Summary:**

Improper Error display in AddBeneficiaryFragment

**Steps to reproduce:**

Add proper touch listeners to remove errors on typing in the field.

**Observed behaviour:**
![1](https://user-images.githubusercontent.com/36664384/76842355-23809580-6860-11ea-98a3-5c9bc41ed452.jpeg)

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

One Plus 6
A

[2020-03-17 18:31] ShivangiSingh17 opened #1423 "Automatic Bumping of Dependencies"
**Summary:**
We need to have automatic Dependency Upgrading tool activated to facilitate better feature updates offered by newer versions of Library

**Expected behaviour:**
We need to enable a program called ```Dependabot``` available in Github MarketPlace which will help us by directly notifying for the dependency update.

**Would you like to work on this issue?**
Yes

[2020-03-17 20:15] #1423 closed, assigned to nobody

[2020-03-17 20:19] #1417 closed, assigned to nobody

[2020-03-18 06:21] devansh-299 opened #1430 "Withdraw Loan - font size is too big"
**Summary:**

Layout file for Withdraw Loan Fragment has text size set to `Base.TextAppearance.AppCompact.Large` which can prove to too big for some devices and this also affects the uniformity of application's design

**Steps to reproduce:**

* Go to Accounts -> Loan Tab
* Select any loan that has its approval pending
* Go to menu -> select withdraw loan
* Observe the mentioned issue

**Expected

[2020-03-18 08:54] rutvik-panchal opened #1432 "null value displayed in place of currency in Loan Summary"
**Summary:**

Displaying null value in place of currency in Loan Summary

**Steps to reproduce:**

Accounts -> Loans -> Loans Account Details

**Expected behaviour:**

Currency Code or Symbol should be displayed with the amount.

**Observed behaviour:**

null is displayed instead of the Currency Code or Symbol.

**Device and Android version:**

Vivo V17
FunTouch OS_9.2

**Screenshots:**

![Screens

[2020-03-18 08:54] rutvik-panchal commented on #1432
Working on this issue

[2020-03-18 12:02] rutvik-panchal opened #1434 "No dividers in Savings Account Transaction RecyclerView"
**Summary:**

There are no dividers in transaction recycler view

**Steps to reproduce:**

Accounts -> Savings -> Transactions

**Expected behaviour:**

There should be dividers between the transactions.

**Observed behaviour:**

There are no dividers between the transactions.

**Device and Android version:**

Vivo V17
FunTouch OS_9.2

**Screenshots:**

I am attaching a collage of both the current

[2020-03-18 12:02] rutvik-panchal commented on #1434
I am working on it.

[2020-03-18 16:26] ShivangiSingh17 commented on #1304
#718

[2020-03-19 08:38] #1304 closed, assigned to nobody

[2020-03-19 08:38] amitYadavDev commented on #1304
already created #718

[2020-03-20 18:11] devansh-299 opened #1436 "Create Self-Service User page added"
**Topic - Wiki**

As per the discussion over the Gitter channel, I have created a Wiki Page related to the creation of the self-service users.

Here's the [link](https://github.com/devansh-299/mifos-mobile/wiki)

Point:
1. I couldn't find any email thread stating guidelines for the creation of self-service user, so I followed the steps I followed.
2. Currently, https://demo.mifos.io/ has no functi

[2020-03-20 18:12] devansh-299 commented on #1436
@therajanmaurya Please have a look

[2020-03-21 17:23] devansh-299 opened #1437 "Improper color of Application components"
**Summary:**

Certain components of the application make use of the default color `accent` provided by the Android Studio. This affects the uniformity of the application color-scheme.

**Steps to reproduce:**

* Go to Apply for loan and click on data picker. Observe the color of the date picker.
![WhatsApp Image 2020-03-21 at 10 44 51 PM(2)](https://user-images.githubusercontent.com/46667021/77232

[2020-03-22 11:21] rutvik-panchal commented on #1437
Can I work on this issue?

[2020-03-22 11:26] devansh-299 commented on #1437
Yes

[2020-03-22 15:10] rutvik-panchal opened #1439 "Client Account Number field does not accept alphabetical letters"
**Summary:**

- To create a self-service user I created a client on https://staging.mifos.io, then the account number of the client I got was **Head Offic000000081**.
- For registration through the mobile application, I found that the account number field for self-service registration accepts only numbers.
- I have checked the API, it is ok to pass letters also as API passes accountNumber as a str

[2020-03-25 18:24] devansh-299 opened #1446 "feat: Show Recurring and Non-Recurring Savings Account"
**Summary:**

Recurring accounts should be shown to the user. Though the non-recurring savings accounts are already being shown but it's not specified anywhere.

**Expected behavior:**

The Savings Account tab in AccountsFragment should display recurring savings accounts.
It already shows Non-Recurring savings account but doesn't specify anywhere

**Observed behaviour:**

Recurring savings account

[2020-03-26 10:28] moegreenfs opened #1448 "Cannot login/register the app"
**Summary:**

I have try to login/register in android studio emulator and i also downloaded the app in Google Play to do the same thing but failed

**Steps to reproduce:**

-

**Expected behaviour:**

To enter the app by login or register

**Observed behaviour:**

Nothing. Cannot enter by both method

**Device and Android version:**

PIXEL 3 XL Api 22

**Screenshots:**

![WhatsApp Image 2020-03-26

[2020-03-26 13:29] moegreenfs commented on #1448
@devansh-299 please help me sir to look in this problem

[2020-03-26 13:41] devansh-299 commented on #1448
Hi @moegreenfs you will need to change your API_ENDPOINT to any of these:
* staging.mifos.io
* mobile.mifos.io
* demo.mifos.io
and then you can log in with 299devansh/password credentials

API_ENDPOINT specification can be found at `/app/src/debug/java/org/mifos/mobile/api/BaseURL.java`

[2020-03-27 06:43] moegreenfs commented on #1448
@devansh-299 for register sir how can i make my own account?

[2020-03-27 06:57] devansh-299 commented on #1448
@moegreenfs you can check out this [wiki-page](https://github.com/devansh-299/mifos-mobile/wiki/Create-Self-Service-User)

[2020-03-27 15:28] devansh-299 opened #1449 "Removing uneccessary files"
**Summary:**

The source code of the application has unreachable code that can be deleted safely without affecting the current state of the application. These files are:

**Account Overview Related Code**
The purpose served by the Account Overview Fragment has already been achieved by the Home Fragment. Hence we can delete the below files:
*  `mifos-mobile/app/src/main/java/org/mifos/mobile/ui/act