[2020-03-28 20:32] IShahnawazShaikh commented on #1449
I am working on this. @devansh-299

[2020-03-29 05:13] devansh-299 commented on #1449
@imshahnawazdevil since this issue involves deleting the existing code, I think it would be better to ask mentor/maintainer's approval before going ahead

[2020-03-29 07:47] IShahnawazShaikh commented on #1449
@satyan may I work on this issue ?

[2020-04-02 07:43] devansh-299 opened #1450 "BeneficiaryAddOptionsFragment - request permission problem"
**Summary:**
* The `onRequestPermissionsResult` method of BeneficiaryAddOptionsFragment is never called.
* `WRITE_EXTERNAL_STORAGE` is not required API level 19 onwards and because of this the `Manifest.permission.WRITE_EXTERNAL_STORAGE` always returns '-1' i.e Permission denied on devices above API level 19. [Link](https://developer.android.com/guide/topics/manifest/uses-permission-element.html)

[2020-04-02 08:04] rutvik-panchal commented on #1450
Can i work on this issue?

[2020-04-02 08:06] devansh-299 commented on #1450
@rutvik-panchal I am already working on this issue

[2020-04-06 08:15] devansh-299 opened #1452 "LoginActivity - welcome message"
**Summary:**

After a successful login, the username is shown in the welcoming toast message. Instead of  username, the current client's full name should be used

**Steps to reproduce:**

* log in using the username/password
* See that a welcoming toast message is shown with "username"

**Expected behaviour:**

Welcoming message should include the current client's full name instead of the username

[2020-04-07 17:52] devansh-299 opened #1456 "No checks against adding own accounts as beneficiaries"
**Summary:**

Currently, there are no checks against adding own accounts as beneficiaries. Since the application provides dedicated self transfer functionality, this shouldn't be allowed.

**Steps to reproduce:**

* Go to Beneficiaries -> Tap on FAB
* Add any of the client's own accounts as beneficiaries
* Observe that there no above-mentioned checks.

**Expected behaviour:**

The application for

[2020-04-07 17:54] devansh-299 commented on #1456
@therajanmaurya @luckyman20 are the above-mentioned checks needed?

[2020-04-12 05:02] luckyman20 commented on #1456
@devansh-299 What kind of checks are you suggesting?

[2020-04-12 05:12] devansh-299 commented on #1456
@luckyman We can check that the account number entered is not same as the account number of any of the client's own accounts and allow creation of beneficiary only if the account number is differen t from any of the client's own account numbers

[2020-04-20 10:38] devansh-299 opened #1459 "Withdraw pending savings account not working"
**Summary:**

The "withdraw savings account" feature is not working and shows "HTTP 405 Method Not Allowed". There were minor issues with the current implementation but even after fixing them,  the same error comes whenever withdrawing of a pending savings account is performed.

**Steps to reproduce:**

* Go to Accounts -> SavingsAccount tab
* Select any pending account.
* Select Withdraw Savings

[2020-04-20 10:43] devansh-299 commented on #1459
@therajanmaurya @luckyman20 can you please help me with this issue? The application's implementation code seems fine to me

[2020-04-20 17:38] rutvik-panchal commented on #1459
@devansh-299  I tried reproducing the issue but, works fine for me no issues!
Have you try the same without creating a new Thread, that is by subscribing on the Schedulers.io rather than on Schedulers.newThread()?

[2020-04-20 18:06] devansh-299 commented on #1459
@rutvik-panchal Actually, the result has been hardcoded to give "Saving Account Withdrawn Successfully", see method on line 148 [here](https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobile/api/DataManager.java). On removing the hardcoded result, you will be able to reproduce the issue

[2020-04-24 17:57] devansh-299 opened #1460 "Help Fragment: blank screen is shown when no questions are found"
**Summary:**

In Help Fragment, a blank screen is shown if no questions are found after the search query. Like other parts in the application, we can make use of `SweetError` library to handle this scenario by displaying a message: "No questions found"

**Steps to reproduce:**

* Go to Help fragment from Navigation drawer
* Write a search query so that no resultant questions are returned
* Just a

[2020-05-10 18:05] areebmomin opened #1466 "make a document more readable"
**Summary:**

Need to add a word under 'Screenshots' heading to make it readable.
[https://github.com/openMF/mifos-mobile/blob/development/.github/ISSUE_TEMPLATE.md](url)

**Need of change:**
To make this document more readable for new contributors.

[2020-05-10 18:07] areebmomin commented on #1466
# https://github.com/openMF/mifos-mobile/pull/1464  Pull Rrequest

[2020-05-10 18:14] s-ayush2903 commented on #1466
Issue Title is completely unsemantic and also, explain the need for this change. Just remove the .md mention of PR from here, linking it from PR will work fine

[2020-05-10 18:15] s-ayush2903 commented on #1466
Go through the previously merged PRs and the successfully closed issues for more references

[2020-05-10 18:21] s-ayush2903 commented on #1466
By this I expected you to remove [this comment](https://github.com/openMF/mifos-mobile/issues/1466#issuecomment-626366554) that is in the markdown format as that particular comment is useless when you've linked the issue via a PR.

Still, I'm seeing the Issue title to be unsemantic, change it as well

[2020-05-10 18:32] areebmomin commented on #1466
Please guide how to write a correct issue title @s-ayush2903

[2020-05-10 18:33] s-ayush2903 commented on #1466
Follow [this comment](https://github.com/openMF/mifos-mobile/issues/1466#issuecomment-626367516)

[2020-05-11 09:12] areebmomin commented on #1333
@ShivangiSingh17 can i work on this issue

[2020-05-11 10:43] ShivangiSingh17 commented on #1333
@areebmomin it works fine now. There is no such issue in the application anymore. You can try replicating the issue, its not there.

[2020-05-11 11:36] s-ayush2903 commented on #1333
If the issue no longer exists, it should better be closed. What are your
thoughts on this?

On Mon, May 11, 2020, 4:13 PM Shivangi Singh <notifications@github.com>
wrote:

[2020-05-12 17:09] ShivangiSingh17 commented on #1333
@areebmomin you can work on this issue.

[2020-05-13 08:50] rutvik-panchal opened #1469 "No separate issue template for feature request and issues related to documentation"
**Summary:**
Currently, there is only one issue template and looks like it is just for bug reports.

**Steps to reproduce:**
Go to create a new issue.

**Expected behavior:**
There should be separate issue templates for all bug reports, feature requests, documentation, and work-related issues.

I would like to work on this issue with approval.

[2020-05-13 17:43] areebmomin opened #1470 "Improper margin given to textview in an activity"
**Summary:**

In 'Apply for loan' activity the margin given to text-view is lacking left margin.

**Steps to reproduce:**

Add a start and left margin so that the text-view can align in the center.

**Expected behaviour:**

The text-view in the activity must be aligned in the center of the screen.

**Device and Android version:**

Device: MI 6A
Android version: oreo 8.1
ROM: Custom ROM

**Would yo

[2020-05-17 11:57] ShivangiSingh17 commented on #1448
@moegreenfs can you close this issue as the info is already updated in the wiki.

[2020-05-17 13:34] rchtgpt commented on #1448
Closing this issue as the solution is provided in the wiki-page.

[2020-05-17 13:34] #1448 closed, assigned to nobody

[2020-05-17 18:35] devansh-299 opened #1473 "Feat: Add application introduction slider"
**Summary:**

We can add an introduction slider to the application to give basic insights into what the self-service application aims to provide to the users. These slides can also be used to ask for necessary permissions from the users for the functioning of the application

[2020-05-18 18:42] edcable opened #1475 "Finalize rocketchat integration for customer support"

[2020-05-18 18:42] edcable commented on #1475
Link to feature: https://mifos.productboard.com/feature-board/planning/features/4699419

[2020-05-18 18:43] edcable opened #1477 "Connect Mifos Mobile to Fineract via Open Banking APIs"

[2020-05-18 18:43] edcable commented on #1477
Link to feature: https://mifos.productboard.com/feature-board/planning/features/4368170

[2020-05-18 18:49] edcable opened #1478 "Integrate fingerprint authentication"

[2020-05-18 18:49] edcable commented on #1478
Link to feature: https://mifos.productboard.com/feature-board/planning/features/4699452

[2020-05-18 20:12] edcable opened #1479 "Create matrix of APIs that are consumed."

[2020-05-18 20:12] edcable commented on #1479
Link to subfeature: https://mifos.productboard.com/feature-board/planning/features/4699424

[2020-05-23 13:14] ShivangiSingh17 commented on #1421
The issue doesn't exist in the application.
![issue](https://user-images.githubusercontent.com/43827236/82731561-788bcc80-9d25-11ea-92d7-5cdfd96f45ce.jpg)

[2020-05-23 13:15] ShivangiSingh17 commented on #1421
@virajpatel2411 close it.

[2020-05-29 11:00] zahoor-saleem opened #1484 "Login (Ivalid JSON Body)"
**Summary:**

Unable to login from application and same user login in web successfully.

**Steps to reproduce:**

Create User from web and try to login from application

**Expected behaviour:**

Authorized user should login successfully and navigate to the dashboard screen

**Observed behaviour:**

Empty Toast message is displaying on screen.
Invalid JSON in BODY message received in response and s

[2020-06-05 09:45] qamarmukhtar commented on #1484
Summary:

Unable to login from application and same user login in web successfully.

me to having same problem

[2020-06-06 17:07] #1421 closed, assigned to nobody

[2020-06-07 18:17] ShivangiSingh17 opened #1487 "Show Logout status of the application"
**Summary:**
When the application is logged out, there is no toast available to show the logout status.

**Expected behaviour:**
Logout status should be shown when the logout button is pressed.

**Observed behaviour:**
No toast message is displayed.

[2020-06-07 18:22] ShivangiSingh17 opened #1489 "Adding dependency for user image"
**Summary:**
Adding CircleImage view dependency for better appearance of user image on the profile.

[2020-06-07 18:27] ShivangiSingh17 opened #1491 "User image is unclickable"
**Summary:**
When the user clicks on the image on the profile, it doesn't open up.

**Steps to reproduce:**
Home-> User profile

**Expected behaviour:**
User image should be clickable.

**Observed behaviour:**
No action when user image is pressed.

[2020-06-07 19:02] ShivangiSingh17 opened #1492 "No warning message when going back in info forms"
**Summary:**
While filing the form if the user presses back button, no warning message is displayed and the info filled by the user is lost.

**Steps to reproduce**
Fill details to ```Create an account``` and backpress without clicking on Register button.

**Expected behaviour:**
While filing forms, on leaving the page there should be a message displayed.

**Observed behaviour:**
No warning messag

[2020-06-08 05:15] ShivangiSingh17 opened #1493 "Network change"
**Summary:**
There is no network register present to check the availability of network connection after the user login into the application.

**Steps to reproduce:**
After logging in the application, switch the network connection.

**Expected behaviour:**
Network changer register should be available.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS_4.0

[2020-06-08 06:32] ShivangiSingh17 opened #1495 "Switching between fields for filling information"
**Summary:**
While filling forms present in the application, the user has to navigate through each text field by pressing on the required text field.

**Expected behaviour:**
Automatic switching between fields through keyboard to make it easy and fast for the user to put in info.

**Observed behaviour:**
Pressing and filling fields takes time.

[2020-06-08 06:32] ShivangiSingh17 opened #1496 "No smooth transitions for fragments"
**Summary:**
The transition between fragments in the application is not smooth and takes time to load. We can make the transition smooth while switching between the previous and next fragments.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS_4.0

[2020-06-09 11:06] ShivangiSingh17 opened #1499 "Back press to dismiss the soft keyboard"
**Summary:**
While using the application if the user wants to dismiss the soft keyboard then we need to press the back button and then only the board disappears. Instead, the keyboard should dismiss on tapping anywhere on the back screen.

What did you expect the app to do?
Dismiss the soft keyboard when tapping anywhere on the back screen.

**Device and Android version:**
Vivo 1724
Android 8.1.0

[2020-06-15 10:04] akarshmishraa commented on #1492
Is there anyone working on this issue? I would like to work on this...

[2020-06-15 11:55] ShivangiSingh17 commented on #1492
@akarshmishraa you can work on this. I am not working on this at the moment.

[2020-06-15 14:31] ShivangiSingh17 opened #1500 "Home screen UI redesign"
**Summary:**
The Home screen of the application can be improved.
1. The view for services
2. The split of names can be avoided.

**Screenshots:**
![rsz_home](https://user-images.githubusercontent.com/43827236/84671231-be167080-af44-11ea-81a0-f3f3f23e18db.png)

[2020-06-15 17:05] ShivangiSingh17 commented on #1491
The issue is already solved.

[2020-06-15 17:05] #1491 closed, assigned to nobody

[2020-06-16 08:31] ShivangiSingh17 opened #1503 "Change Passcode activity doesn't work"
**Summary:**
The application has the option of editing the passcode but it is not working.

**Steps to reproduce:**
Settings -> Change Passcode

**Expected behaviour:**
The user should be able to edit the passcode after login.

**Observed behaviour:**
User cannot change the passcode.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS_4.0

I am working on it.

[2020-06-16 17:57] ShivangiSingh17 opened #1504 "Application denies the passcode entered after three times"
**Summary:**
Entering passcode after the wrong passcode for three times, the application doesn't accept the passcode even the correct passcode.
The application should accept the passcode after a few seconds of wait and the activity should be available.

I am working on it.

[2020-06-17 05:20] ashwinkey04 commented on #1479
I would like to work on this @miPlodder

[2020-06-17 12:17] ShivangiSingh17 commented on #1469
@rutvik-panchal you can go ahead.

[2020-06-23 13:46] ashwinkey04 commented on #1479
Update: I have created a [Google sheet](https://docs.google.com/spreadsheets/d/1gR84jZzLF-mM0iRw5JyeMAsHMK6RQPK0vyDmNAY9VhE/edit?usp=sharing) with the first set of API calls which I found working as of now.

[2020-06-24 04:41] ShivangiSingh17 opened #1508 "User Details section - improvements in UI"
**Summary:**
There are some unwanted fields under the user details section. Removed them and added the required field.

[2020-06-27 07:58] ShivangiSingh17 opened #1512 "Conversion to Kotlin"
**Summary:**
Convert Services related files to Kotlin.

[2020-06-27 08:08] ShivangiSingh17 opened #1514 "Generating e-receipt of every Transaction"
**Summary:**
Adding a feature to generate an e-receipt for every transaction and allow the user to download the receipt when needed.

**Device and Android version:**
Vivo 1724
Android 8.1.0
Funtouch OS_4.0

I am working on it.

[2020-06-28 14:26] ashwinkey04 opened #1515 "Change authentication API call from query to body"
**Summary:**
Update the API call used in the app for authentication

**Steps to reproduce:**
Try logging in the app and check the adb logs by filtering `OkHttp` processes

[code]
**Expected behaviour:**

It is expected to send the credentials as a raw body like shown in the screenshot from Postman below

![image](https://user-images.githubusercontent.com/20596763/85950054-0fc4ef00-b978-11ea-92d5-7

[2020-07-03 15:38] francisguchie commented on #1484
I get the same challenge at the moment yet i thought this was updated

[2020-07-06 07:09] kitoalone opened #1517 "how to login this app"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did

[2020-07-06 07:26] kitoalone commented on #1500
hi ShivangiSingh17 , how to login now

[2020-07-06 07:33] kitoalone opened #1518 "Can't login mifos-mobile app"
**Summary:** Can't login mifos-mobile app
what is username & password

[2020-07-06 07:36] ShivangiSingh17 commented on #1518
@bountherngpls follow this: https://github.com/openMF/mifos-mobile/pull/1507
and please close the issue.

[2020-07-06 07:37] ShivangiSingh17 commented on #1517
This will be helpful: https://github.com/openMF/mifos-mobile/pull/1507
Closing the issue.

[2020-07-06 07:37] #1517 closed, assigned to nobody

[2020-07-06 07:39] #1518 closed, assigned to nobody

[2020-07-07 04:50] kitoalone commented on #1101
Can you do it?

[2020-07-07 07:21] kitoalone opened #1519 "mifos-mobile"
is this app still usable?

[2020-07-07 12:23] ShivangiSingh17 commented on #1519
@bountherngpls yes

[2020-07-07 12:24] ShivangiSingh17 commented on #1519
Also while creating issue please follow the issue template.

[2020-07-07 12:27] kitoalone commented on #1519
Yes i'm hete

[2020-07-07 12:30] kitoalone commented on #1519
Thanks for comment @ShivangiSingh17  ,now... i'm can't login and can't create user in mifos-mobile app, can you help me, please...😓

[2020-07-08 01:47] #1519 closed, assigned to nobody

[2020-07-08 01:47] kitoalone commented on #1519
done

[2020-07-11 16:32] #1515 closed, assigned to nobody

[2020-07-13 15:07] ShivangiSingh17 opened #1524 "Mutli-theme functionality"
**Summary:**
Right now the application has only light theme. Addition of multi-theme support to enhance white-labeling of the application.

[2020-07-13 15:15] #1370 closed, assigned to nobody

[2020-07-25 17:32] alexanderon opened #1529 "Support for the latest gradle support"
**Summary:**

We can upgrade it to latest gradle version to get faster builds.

**Steps to reproduce:**

current build version is using the gradle 4.10.1

**Expected behaviour:**

Current gradle version is above gradle 6

[2020-07-26 14:42] ashwinkey04 opened #1530 "FAB for adding Savings or loan account disappears"
**Summary:**

- FAB for adding Savings or loan account disappears

**Steps to reproduce:**

- Open Accounts. Switch to Loan tab and then Share tab
- Come back to Loan tab/ Saving tab. The FAB will not appear again

**Expected behaviour:**

- FAB must re-appear on coming back to Loan/Saving tab

**Observed behaviour:**

FAB disappears instead of re-appearing

**Device and Android version:**

Lenovo

[2020-08-13 08:04] Him887 commented on #1530
Can I work on this issue??

[2020-08-13 17:04] ashwinkey04 commented on #1530
@Him887 I have solved this already on the PR mentioned above

[2020-08-14 16:57] Him887 commented on #1276
has this issue been resolved? or i can work on this??

[2020-08-14 17:04] Him887 commented on #1309
IS the issue fixed?? or  I can work on it??

[2020-08-14 17:36] luckyman20 commented on #1309
@devansh-299 has already sent a Pull Request for this issue @amit6663 @Him887

Sorry, but you guys may like to fix some other issue.

[2020-08-15 17:13] Him887 opened #1536 "NO "Rate The App" dialog appears while using the app"
**Summary:**

No pop up box appears to ask the user to rate the app

**How can we reproduce the issue?**

Start using the app. You will find that there is no way user bother to rate the app

**Expected behaviour:**

There should be a Pop-up dialog to ask user to rate the app.

**Device and Android version:**
Vivo V15
Android 9
Funtouch OS

[2020-08-15 17:13] Him887 commented on #1536
I am working on this issue.

[2020-08-19 19:10] Him887 opened #1539 "TextDrawable UserImage disappears in Homepage when screen is rotated"
**Summary:**

TextDrawabe UserImage disappears in Homepage when screen is rotated.

**Steps to reproduce:**

Turn onn the screen rotation and rotate the phone on homepage.UserImage will disappear

**Device and Android version:**

Vivo V15
Android 9
FuntouchOS

**Screenshots:**

![Screenshot_20200820_003619](https://user-images.githubusercontent.com/58593815/90679079-45ea6500-e27d-11ea-9f45-4071532

[2020-08-19 19:10] Him887 commented on #1539
I am working on this issue.

[2020-08-23 04:44] ShivangiSingh17 commented on #1500
@bountherngpls you can refer wiki for it.

[2020-08-23 04:51] kitoalone commented on #1500
I can do it

[2020-08-23 18:47] ShivangiSingh17 opened #1542 "App Info"
**Summary:**
Adding a separate section for App info in the application.

**Behaviour:**
Right now there is no such section. Adding this will provide workflow on the application.

[2020-08-24 18:34] ShivangiSingh17 opened #1543 "About Us section"
**Summary:**
Improved the UI of ```About Us``` section in the application.

[2020-08-28 10:54] sachin-0102 commented on #1492
@ShivangiSingh17 Can I work on this issue?

[2020-08-28 12:20] ShivangiSingh17 commented on #1492
@sachin-0102 go ahead!

[2020-08-30 19:09] Jaikishan-Saroj commented on #1213
I would like to work on it sir !

[2020-08-30 19:12] Jaikishan-Saroj commented on #1231
Mam I want to Work on this issue.
May I able to take this issue? @geekanamika

[2020-08-30 19:15] Jaikishan-Saroj commented on #1536
can I work on this issue? @Him887

[2020-08-30 19:17] Jaikishan-Saroj commented on #1514
can I work on this issue? @ShivangiSingh17

[2020-08-31 03:31] ShivangiSingh17 commented on #1514
You can work on it @Jaikishan-Saroj

[2020-08-31 03:33] ShivangiSingh17 commented on #1213
@Jaikishan-Saroj its a test issue and there is nothing to work on over it. You can choose to work on the other created issues.

[2020-08-31 03:34] ShivangiSingh17 commented on #1536
@Jaikishan-Saroj the PR linked above solves the issue mentioned.

[2020-08-31 03:36] ShivangiSingh17 commented on #1231
@Jaikishan-Saroj the issue is tagged under GCI and also the 2 PRs created above solves the issue mentioned.

[2020-08-31 06:42] Jaikishan-Saroj commented on #1542
Can i Work on it ? @ShivangiSingh17

[2020-08-31 07:09] ShivangiSingh17 commented on #1542
@Jaikishan-Saroj I am already working on it.

[2020-08-31 19:58] Hilary325 commented on #1330
This is a great question! I'm thinking about applying for a stormgrams loan. Usually I don't run into debts, but I want to promote my business and didn't find investors. I heard about mifos-mobile, but I'm clueless about its work. So, I agree that it would be awesome if someone explained it here.

[2020-09-09 14:29] edcable opened #1549 "Identifier Status Type"

[2020-09-09 14:29] edcable commented on #1549
Link to feature: https://mifos.productboard.com/feature-board/planning/features/5571321

[2020-09-17 14:28] sachin-0102 opened #1550 "The default credentials don't work"
**Summary:**

If you try to login with the default credentials the app will show that you're not authorised

**Steps to reproduce:**

Just open the login screen and enter then default credentials available in wiki

**Expected behaviour:**

It should login

**Observed behaviour:**

I displays a toast saying "You're not authorised"

**Device and Android version:**

realme 7
android 10

**Screenshots

[2020-09-17 14:38] ShivangiSingh17 commented on #1550
@sachin-0102 which server are you using to login?

[2020-09-17 14:40] sachin-0102 commented on #1550
@ShivangiSingh17  I don't think I had a server option anywhere... I am using the app on my personal device

[2020-09-17 14:41] sachin-0102 commented on #1550
And how am I supposed to know and change the server..

[2020-09-19 05:07] sachin-0102 commented on #1550
@ShivangiSingh17 please tell me about this server thing.

[2020-09-19 10:34] ShivangiSingh17 commented on #1550
You can get to know about the server from the file name "BaseURL" in the project code.
Did you install the app directly from playstore?

[2020-09-19 10:53] sachin-0102 commented on #1550
No. I cloned the repo and ran it through Android Studio @ShivangiSingh17

[2020-09-19 10:54] sachin-0102 commented on #1550
Alright I will look into it and tell if something comes up

[2020-10-10 13:46] ashwinkey04 opened #1553 "Update crashlytics SDK version"
**Summary:**

Current crashlytics SDK version is about to be depreceated and needs to be updated

**Steps to reproduce:**

Check version in build.gradle of :app module

**Expected behaviour:**

Upgrade version to 17.x.x

**Observed behaviour:**

Currently in 2.6.7

[2020-10-14 14:45] brandhuge commented on #1378
@anonghostteamz @HilaryKinyua Do you get solaution to the login problem. Please share I am having similar issue.

Thanks

[2020-10-18 20:05] intrigus-lgtm opened #1556 "Potential security problem"
Hi, could you please create a new [draft security advisory](https://help.github.com/en/github/managing-security-vulnerabilities/creating-a-security-advisory) and
[invite me](https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-collaborator-to-a-security-advisory) to it?
Any other private communication channel would also be fine.
I think I've found a potential security probl

[2020-10-20 09:31] vorburger commented on #1556
@edcable could you ping any active mifos-mobile maintainers here to engage with @intrigus-lgtm ?

[2020-10-22 11:28] ReCodee opened #1559 "AccountsFragment - Savings and Loan account list do not update automatically."
**Summary:**

Changes made by the user in the savings or loan account list in the Accounts are not updated automatically instead the user has to swipe refresh to get the updated data, This might lead to a bad user experience.

**Steps to reproduce:**

- Go to Accounts From Homepage

- Make changes to savings or loan account list

- Traverse back to accounts

**Expected behavior:**

Lists should be

[2020-10-22 11:32] ReCodee commented on #1559
I'm working on this issue.

[2020-11-01 09:05] rutvik-panchal commented on #1550
@sachin-0102 @Vani-j01 You can change the ENDPOINT of the API [here](https://github.com/openMF/mifos-mobile/blob/383fc562a25c88cdb16b6dfc2fdc42135b4b54bf/app/src/debug/java/org/mifos/mobile/api/BaseURL.java#L10)

You can go with any of the following instances -
1. https://staging.mifos.io/
2. https://mobile.mifos.io/
3. https://demo.mifos.io/

If possible create a self service user for yourself an

[2020-11-01 09:25] Vani-j01 commented on #1550
@sachin-0102  I am facing a similar issue. Did you figure out how to make it work?

[2020-11-01 09:57] rutvik-panchal commented on #1550
@Vani-j01 You can change the ENDPOINT of the API [here](https://github.com/openMF/mifos-mobile/blob/383fc562a25c88cdb16b6dfc2fdc42135b4b54bf/app/src/debug/java/org/mifos/mobile/api/BaseURL.java#L10)
You can go with any of the instances

[2020-11-03 16:05] rutvik-panchal commented on #1550
@sachin-0102 @Vani-j01 You can change the ENDPOINT of the API [here](https://github.com/openMF/mifos-mobile/blob/383fc562a25c88cdb16b6dfc2fdc42135b4b54bf/app/src/debug/java/org/mifos/mobile/api/BaseURL.java#L10)

You can go with any of the following instances -
1. https://staging.mifos.io/
2. https://mobile.mifos.io/
3. https://demo.mifos.io/

If possible create a self service user for yourself an

[2020-11-06 04:44] edcable commented on #1556
@miPlodder can you please reach out to @intrigus-lgtm?

[2020-11-07 14:11] miPlodder commented on #1556
@intrigus-lgtm @edcable We use the mailing list for this purpose.

[2020-11-07 14:14] miPlodder commented on #1556
@intrigus-lgtm We can use the Mifos Mailing list for communication or a private mail thread for the purpose.

@edcable Can you create a Security Advisory and add req folks as collaborators?

[2020-11-07 14:54] vorburger commented on #1556
@miPlodder I've created https://github.com/openMF/mifos-mobile/security/advisories/GHSA-9657-33wf-rmvx

FYI security sensitive matters are typically not discussed on public mailing lists until they are resolved.

I don't know much about these GitHub security advisories, but they seem like a good way to deal with this. I assume after everything is fixed, they may become public when the (now fixed)

[2020-11-08 11:25] miPlodder commented on #1556
Thanks @vorburger ,

@intrigus-lgtm Security Advisory is created, https://github.com/openMF/mifos-mobile/security/advisories/GHSA-9657-33wf-rmvx

[2020-11-10 15:41] shitesh2607 commented on #1514
Can I work on this issues? @Jaikishan-Saroj

[2020-11-10 16:08] shitesh2607 commented on #1208
Can I work this issue?

[2020-11-10 17:25] ShivangiSingh17 commented on #1514
@shitesh2607 you can work on this issue as @Jaikishan-Saroj hasn't updated anything.

[2020-11-10 17:27] ShivangiSingh17 commented on #1550
@sachin-0102 close this issue.

[2020-11-11 16:00] shreyashcode commented on #1410
Is the issue resolved ? I want to work on it.

[2020-11-11 16:07] shreyashcode commented on #1379
Is anyone working on it ?

[2020-11-12 19:01] shitesh2607 commented on #1379
I am working on it.

[2020-11-16 17:44] #1550 closed, assigned to nobody

[2020-11-16 17:49] #1530 closed, assigned to nobody

[2020-11-16 17:52] miPlodder commented on #1512
Conversion completed as a part of other PR https://github.com/openMF/mifos-mobile/pull/1526

[2020-11-16 17:52] #1512 closed, assigned to nobody

[2020-11-16 17:58] miPlodder commented on #1484
@ashwinkey04 Correct me if I'm wrong, this issues is solved as a part of this https://github.com/openMF/mifos-mobile/pull/1516.

Confirm this, so that I can close this issue?

[2020-11-16 18:01] miPlodder commented on #1479
@edcable Can you take a look at it and close this issue

[2020-11-16 18:10] #1466 closed, assigned to nobody

[2020-11-16 18:27] miPlodder commented on #1351
I don't see any requirement for additional language support. Hence closing it.

[2020-11-16 18:27] #1351 closed, assigned to nobody

[2020-11-16 18:28] #1346 closed, assigned to nobody

[2020-11-16 18:28] #1479 closed, assigned to nobody

[2020-11-16 18:38] miPlodder commented on #1310
Anyone whosoever is interested in picking these issues can write a Unit test for any missing class. [Use Jacoco for it]

[2020-11-16 18:41] #1327 closed, assigned to nobody

[2020-11-16 18:41] #1334 closed, assigned to nobody

[2020-11-16 18:42] #1288 closed, assigned to nobody

[2020-11-16 18:44] miPlodder commented on #1285
Redundant of https://github.com/openMF/mifos-mobile/issues/582

[2020-11-16 18:44] #1285 closed, assigned to nobody

[2020-11-16 18:46] ReCodee commented on #1310
@miPlodder can i work on this issue??

[2020-11-16 18:47] miPlodder commented on #1275
Duplicate of https://github.com/openMF/mifos-mobile/issues/1293

[2020-11-16 18:47] #1275 closed, assigned to nobody

[2020-11-16 18:49] miPlodder commented on #1310
@ReCodee Yes, go ahead

[2020-11-16 18:52] #1213 closed, assigned to nobody

[2020-11-18 11:18] ashwinkey04 commented on #1484
Yes @miPlodder. I have solved it in #1516

[2020-11-20 13:51] PatelVatsalB21 opened #1566 "App crashes on no internet"
**Summary:**
If app is started by user without internet connection and clicked on login or register it should show toast as "Please check your internet connection" instead app crashes.

**Steps to reproduce:**

Turn off Internet/Wifi
Open app
Click on Login or fill all details in register section and click on register

**Expected behaviour:**

If app is started without internet connection and logi

[2020-11-20 13:52] PatelVatsalB21 commented on #1566
Hii i am new to mifos, can i work on this issue

[2020-11-20 19:45] #1484 closed, assigned to nobody

[2020-11-21 04:38] ashwinkey04 opened #1567 "Update branch policy"
**Summary:**

Branch policy needs to be updated post Kotlin conversion

[2020-11-21 06:16] Sparsh1212 commented on #1499
I would like to work on this issue. Please assign this to me.

[2020-11-21 06:18] Sparsh1212 commented on #1543
If this issue is still up for grab, then I would love to work on this. Please assign this to me.

[2020-11-21 06:36] garvit984 opened #1568 "Add CI/CD GitHub Actions and remove other build checks"
**Summary:**

The project currently has Travis. We need to remove this and use Github actions.
Following are the requirements:-

Generate the apk for every merged pull request and every commit on the redesign and master branch.
Build checks for every commit on any other branch.

[2020-11-21 06:39] rutvik-panchal commented on #1568
Can I work on this issue?

[2020-11-21 06:41] Sparsh1212 commented on #1568
I am willing to contribute to this. Please assign this to me.

[2020-11-21 06:45] garvit984 commented on #1567
@ashwinkey04 Can you update it?

[2020-11-21 06:55] garvit984 commented on #1542
@ShivangiSingh17 Are you still working on it?

[2020-11-21 14:03] miPlodder commented on #1567
https://github.com/openMF/mifos-mobile/pull/1564 Done here

[2020-11-21 14:03] #1567 closed, assigned to nobody

[2020-11-24 13:51] ritish099 opened #1570 "Redesign: Date in row_client_charge.xml not in position"
**Summary:**

Date in row_client_charge.xml not in correct position

**Steps to reproduce:**

Login into the app and open "Charges"

**Expected behaviour:**

Date should be aligned

**Observed behaviour:**

Date not aligned.

**Device and Android version:**
Samsung J-6. Android 10.

**Screenshots:**
![Screenshot_20201124-191325_Mifos Mobile](https://user-images.githubusercontent.com/54978105/10010

[2020-11-24 13:51] ritish099 commented on #1570
can i work on it ?

[2020-11-24 20:09] garvit984 commented on #1568
@rutvik-panchal Are you still working on it?

[2020-11-25 12:15] rutvik-panchal commented on #1568
@garvit984 Yes

[2020-11-26 18:29] PatelVatsalB21 opened #1573 "App crashes on pressing back button on review loan page"
**Summary:**
On Review loan page if back button from toolbar or back button is pressed app crashes. Problem is with Purpose of Loan spinner

**Expected behaviour:**
It should load all selected and entered values on Submit loan page

**Device and Android version:**
Lenovo Tab7
Android 7.0
Stock ROM

![Screenshot_20201126-235513](https://user-images.githubusercontent.com/70195106/100383299-4c8a3480-

[2020-11-26 18:30] PatelVatsalB21 commented on #1573
can i work on this issue?

[2020-11-27 16:10] PatelVatsalB21 opened #1575 "After changing language, format of language doesn't change instantly."
**Summary:**
When language is changed back from arabic type to english or hindi format remains right aligned in settings page, instead of being left aligned

**Steps to reproduce:**
Go to settings and change and change language to arabic type, i selected 4th option then againg change language back to english

**Expected behaviour:**

After changing back to english layout should return to left alig

[2020-11-27 16:23] ReCodee commented on #1575
@PatelVatsalB21 I guess screen recording would give a better explanation here :)

[2020-11-27 16:45] PatelVatsalB21 commented on #1575
Sure
![GIF-201127_220857](https://user-images.githubusercontent.com/70195106/100470166-bf57e600-30fd-11eb-8677-33d9e79ffe16.gif)

[2020-11-28 11:35] #850 closed, assigned to nobody

[2020-11-28 11:35] #846 closed, assigned to nobody

[2020-11-28 11:37] miPlodder commented on #844
@devansh-299 Yep, correct, its a bad UI experience

[2020-11-28 11:37] #844 closed, assigned to nobody

[2020-11-28 11:37] #840 closed, assigned to nobody

[2020-11-28 11:38] #837 closed, assigned to nobody

[2020-11-28 11:38] #836 closed, assigned to nobody

[2020-11-28 11:38] #838 closed, assigned to nobody

[2020-11-28 11:39] #590 closed, assigned to nobody

[2020-11-28 11:40] #723 closed, assigned to nobody

[2020-11-28 15:14] #1401 closed, assigned to nobody

[2020-11-28 16:28] rutvik-panchal commented on #1575
Can I work on this issue?

[2020-11-28 17:06] #1568 closed, assigned to nobody

[2020-11-28 17:32] miPlodder opened #1576 "Refactor README file"
- Fix Batches in README file

Can be created by pressing the Volume Down and Power Button at the same time on Android 4.0 and higher.
![image](https://user-images.githubusercontent.com/22195621/100521929-fe08a180-31cc-11eb-85a8-3ca254f5e305.png)

- Move below text to new Heading (under `Instruction to get the latest APK`)in README file

![image](https://user-images.githubusercontent.com/22195621/1

[2020-11-28 17:32] miPlodder commented on #1576
It's a minor issue, anyone can pick it up and raise a PR

[2020-11-28 17:33] rutvik-panchal commented on #1576
I will do it!

[2020-11-28 18:05] Sparsh1212 opened #1578 "Remove unnecessary ndk specifications from build.gradle files"
**Summary:**
There is no need to change the build.gradle files for Github Actions CI build. We can safely remove them.

[2020-11-29 07:53] PatelVatsalB21 commented on #1575
i am not working on it

[2020-11-29 14:32] #1576 closed, assigned to nobody

[2020-11-29 15:19] #1578 closed, assigned to nobody

[2020-11-29 16:04] #1392 closed, assigned to nobody

[2020-11-29 16:44] #1460 closed, assigned to nobody

[2020-11-29 17:44] #1430 closed, assigned to nobody

[2020-11-30 09:59] Sparsh1212 opened #1595 "Redesign splash screen as per new design"
**Summary:**
Replace the old splash screen with the new design.

**Screenshots:**
Old design:
<img src="https://user-images.githubusercontent.com/55937724/100637596-0ee61e00-3359-11eb-93f7-d22b6b253ad0.png" width="280" height="600">

New design:
<img src="https://user-images.githubusercontent.com/55937724/100597028-eb07e580-3322-11eb-82d9-b2f018b4d9b7.png" width="280" height="600">

[2020-11-30 11:45] PatelVatsalB21 opened #1598 "Expected Disbursement Date textview don't show retained value on Submit Loan page"
**Summary:**
When back button is pressed from Review Loan page to Submit Loan page, Expected Disbursement datepicker retains selected value but textview doesn't

**Steps to reproduce:**
- Open Apply loan page
- Enter values and submit loan
- Press back on Review loan page

**Expected behaviour:**
On backpress textview should show user selected date

**Observed behaviour:**
Datepicker retains user

[2020-11-30 15:36] Sparsh1212 commented on #1487
@garvit984 @devansh-299 Please review.

[2020-11-30 19:03] yashraj-01 opened #1601 "Redesign ui of login screen as per new design"
Old Screenshot:
<img src="https://user-images.githubusercontent.com/63469151/100653968-27613300-336f-11eb-847c-157c9004a7c5.jpeg" width="270" height="538">

New Screenshot:
<img src="https://user-images.githubusercontent.com/63469151/100657142-d3a51880-3373-11eb-901a-e26e7652ac9b.png" width="270" height="480">

[2020-12-01 06:55] Sparsh1212 commented on #1553
I am working on this.

[2020-12-02 14:17] shubhamji88 opened #1604 "Wrong Date format in Charges Section"
**Summary:**

Wrong Date format in Charges Section , if the title is long enough..

**Steps to reproduce:**

Go to Charges and see the Date

**Expected behaviour:**

Date below the title would be better .

**Observed behaviour:**

The Date is currently in front of the title and if the title is long the format of date not correctly displayed.

**Device and Android version:**

Samsung Galaxy A50
Mod

[2020-12-02 14:54] ReCodee commented on #1604
@shubhamji88, #1571 already addresses this issue.

[2020-12-02 14:57] shubhamji88 commented on #1604
oh.. .thanks..

[2020-12-02 14:57] #1604 closed, assigned to nobody

[2020-12-04 05:48] #1570 closed, assigned to nobody

[2020-12-04 17:08] #1559 closed, assigned to nobody

[2020-12-04 17:15] #1595 closed, assigned to Sparsh1212

[2020-12-04 17:36] #1394 closed, assigned to nobody

[2020-12-04 17:40] #1259 closed, assigned to nobody

[2020-12-06 12:42] #1487 closed, assigned to nobody

[2020-12-07 15:51] justdvnsh commented on #561
@ivary43 @ReCodee I am new to this project. Can I take this issue up ?

[2020-12-07 16:30] justdvnsh commented on #1504
@ShivangiSingh17 Are you currently working on this one or can I take up this issue. Actually I am new to this project, thus it would help me get started.

[2020-12-07 17:00] ShivangiSingh17 commented on #1504
@justdvnsh you can work on it.

[2020-12-07 17:30] justdvnsh commented on #1504
@ShivangiSingh17 thanks !

[2020-12-07 17:36] ReCodee commented on #561
@justdvnsh Mifos passcode library has support for fingerprint authentication however I don't know if it's ready to be implemented in this app, this can be discussed in our community channel and one more thing please seek approvals by tagging project maintainers and mentors, I'm just a contributor like you :)

[2020-12-07 17:38] justdvnsh commented on #561
@ReCodee Ohkay. Thanks. My bad ! 😅

[2020-12-08 17:32] hellosagar commented on #1549
Im interested in this from where can I get started?

[2020-12-09 13:44] Sparsh1212 opened #1615 "Change hyperlink of Github Actions in readme"
**Summary:**
On following the current  Github [Actions](https://github.com/openMF/mifos-mobile/actions) hyperlink in the readme, the user is navigated to the apk generated for the latest triggered workflow (that can be of any pull request which isn't merged in the development branch).
The main idea of building APKs and saving them as artifacts was to allow people to test out the latest stable buil

[2020-12-09 13:44] yashraj-01 commented on #1615
I would like to work on this issue.

[2020-12-09 15:59] ritish099 opened #1616 "Account Number Keyboard error"
**Summary:**

When in Create account activity. Account Number EditText allow us to type only "Numbers" when in Add Beneficiary Activity then EditText Account Number it allows us to type number, letters and characters.

**Steps to reproduce:**

Open Create Account activity and Add beneficiary activity

**Expected behaviour:**

Input behaviour of Both of them should be same.

**Observed behaviour:**

[2020-12-09 16:00] ritish099 commented on #1616
Kindly review this. Is this a good and valid issue? @miPlodder @danishjamal104 @robustTechie

[2020-12-09 16:51] miPlodder opened #1617 "Payment Hub Integration"
Payment Hub Integration

Reference PR - https://github.com/openMF/mifos-mobile/pull/1546

[2020-12-09 19:34] garvit984 commented on #1617
For documentation, check out the readme. Similar features have been implemented in Mifos Wallet and Mifos Mobile CN. https://github.com/openMF/mobile-wallet/pull/1009 https://github.com/openMF/mifos-mobile-cn/pull/194

[2020-12-09 19:43] Sparsh1212 commented on #1617
Okay, I will start by exploring the documentation and the reference PR.

[2020-12-10 02:41] atharva137 commented on #1492
@ShivangiSingh17  can I work on this issue  ?

[2020-12-10 18:31] #1553 closed, assigned to nobody

[2020-12-11 16:20] ritish099 opened #1620 "Feature: Turn on the flashlight while scanning QR"
**Summary:**

It would be nice if flashlight turn on while scanning QR

**Steps to reproduce:**

Beneficiary->Add Beneficiary->Scan QR

**Expected behaviour:**

Flashlight not Turned on.

**Observed behaviour:**

FlashLight turn on

**Device and Android version:**

Samsung J6, Android 10

**Screenshots:**

<img src="https://user-images.githubusercontent.com/54978105/101927754-d2d57780-3bfa-11eb-9a

[2020-12-11 16:21] ritish099 commented on #1620
Can i work on it @miPlodder

[2020-12-11 16:56] rutvik-panchal commented on #1620
@ritish099 Issue already exists #1381

[2020-12-11 16:57] ritish099 commented on #1620
@rutvik-panchal Closing the issue

[2020-12-11 16:57] #1620 closed, assigned to nobody

[2020-12-11 17:24] ritish099 opened #1621 "Correction in UI in Apply Loan Activity"
**Summary:**

Top two text fields are not aligned properly.

**Steps to reproduce:**

Open App->Apply For Loan

**Expected behaviour:**

Everything should be properly aligned

**Observed behaviour:**

Everything is not aligned

**Device and Android version:**

Samsung J6, Android 10

**Screenshots:**

<img src="https://user-images.githubusercontent.com/54978105/101934542-bdb11680-3c03-11eb-9aa4-35

[2020-12-11 17:25] ritish099 commented on #1621
Can I work on it?

[2020-12-15 11:06] yashraj-01 opened #1625 "Redesign Home UI as per new design"
Current UI:
<img src="https://user-images.githubusercontent.com/63469151/102207172-acae2100-3ef3-11eb-9967-5e16cabe3be7.png" width="270" height="436">

Proposed UI:
![Screenshot from 2020-12-15 16-28-16](https://user-images.githubusercontent.com/63469151/102207196-b768b600-3ef3-11eb-94c5-a2d7dbee08cd.png)

[2020-12-15 11:07] yashraj-01 commented on #1625
I am working on this issue.

[2020-12-15 18:09] #1439 closed, assigned to nobody

[2020-12-15 18:13] #1452 closed, assigned to nobody

[2020-12-15 18:55] #1615 closed, assigned to nobody

[2020-12-15 19:32] #1316 closed, assigned to nobody

[2020-12-16 05:09] rutvik-panchal commented on #1566
@PatelVatsalB21 I have also encountered same issue even after login, the app crashes on no internet.
So can we have a generic title to the issue like `App crashes on no internet.`

[2020-12-16 07:46] PatelVatsalB21 commented on #1566
@rutvik-panchal it sounds good. Thank you :)

[2020-12-16 07:48] anthonrodgrs01 commented on #1231
I want to work on this issue, Can I

[2020-12-16 12:44] yashraj-01 opened #1628 "Incorrect icon shown when no recent transactions found"
**Summary:**

When user opens the Recent Transactions and there are no recent transactions found, the icon displayed with the error message is inappropriate.

**Steps to reproduce:**

- Login to the app.
- Open Recent Transactions from the Navigation Drawer
- If there are no recent transactions found, you will see a message saying **No Recent Transactions Found** with an icon above it.

**Expected

[2020-12-16 12:45] yashraj-01 commented on #1628
I am working on this issue.

[2020-12-16 14:28] #1628 closed, assigned to nobody

[2020-12-16 14:37] #1536 closed, assigned to nobody

[2020-12-16 14:38] #1539 closed, assigned to nobody

[2020-12-17 13:19] PatelVatsalB21 opened #1631 "Inappropriate icon for gender in User Profile"
**Summary:**
Icon meant for groups is used for gender in User Profile.

**Expected behaviour:**
New icon for gender

**Device and Android version:**
Any

**Screenshots:**
<img width='333' alt='ss' src='https://user-images.githubusercontent.com/70195106/102492640-fdf71580-4097-11eb-8ded-9dee862b5155.jpeg'>

[2020-12-17 18:12] rutvik-panchal opened #1633 "Feat - Add a option to Add/Remove Passcode in Settings"
**Summary:**

Currently, while first login if the user skips adding/generating passcode there is no option to add it later.

**Steps to reproduce:**

Login -> Skip Passcode Step

**Expected behaviour:**

There should be option for adding passcode if it was skipped while initial setup.

**Observed behaviour:**

There is no option to add a passcode

**Device and Android version:**

Vivo V17, Android

[2020-12-17 18:13] rutvik-panchal commented on #1633
I am working on this issue.

[2020-12-19 10:16] PatelVatsalB21 opened #1634 "Every App launch requires sign in"
**Summary:**
As we know every time user launches mifos mobile app it asks user to login. This might be frustrating, also we have details stored in preferences of user even though asking to login.

**Expected behaviour:**
If user has setup Passcode, app should ask for it but without clicking logout button it should not ask to user to login again.

**Device and Android version:**
Any

[2020-12-23 17:00] PatelVatsalB21 commented on #1379
@miPlodder , @garvit984 can i start working on this. Please reply

[2020-12-23 18:25] PatelVatsalB21 opened #1641 "Bad alignment of text drawable in User Details Section"
**Summary:**
Alignment of text drawable circular imager view is bad, it is at bottom which does not matches with background

**Expected behaviour:**
It should be center vertical

**Device and Android version:**
Lenovo Tab 7
Android 7

**Screenshots:**
<img alt="ss" width ="333" src="https://user-images.githubusercontent.com/70195106/103026545-31dfa880-457a-11eb-89ae-3d7781b40497.jpeg">

[2020-12-25 15:24] #1566 closed, assigned to nobody

[2020-12-25 15:42] #1333 closed, assigned to nobody

[2020-12-25 17:27] #1437 closed, assigned to nobody

[2020-12-25 17:34] #1621 closed, assigned to nobody

[2020-12-25 18:15] #1631 closed, assigned to nobody

[2020-12-25 19:10] #1492 closed, assigned to nobody

[2020-12-26 14:06] ForgottenProgramme commented on #1616
Hey, @ritish099 !
I think it's a very good catch!
There should be consistency in the type of keyboard that opens up for 'Account Number', based on whether the account number can have only digits or both digits and alphabets.

[2020-12-26 14:16] ritish099 commented on #1616
@ForgottenProgramme Inside the app. All account numbers are containing both digits and alphabets. So I think that every keyboard which pops up for entering "Account Number" should have both digits and alphabets

[2020-12-26 14:20] ritish099 commented on #1616
I checked now that someone has already solved the issue. The issue no longer exists. Closing the issue.

[2020-12-26 14:20] #1616 closed, assigned to nobody

[2020-12-26 15:01] ritish099 opened #1643 "App crashes on opening the "Privacy Policy" section"
**Summary:**

App crashes on opening the "Privacy Policy" section

**Steps to reproduce:**

Open the app go to "About us" and click on "Privacy Policy"

**Expected behaviour:**

The App Should not crash

**Observed behaviour:**

App is crashing

**Device and Android version:**

Any

**Screenshots:**

<img src="https://user-images.githubusercontent.com/54978105/103153839-802eba80-47b9-11eb-90b0-5ba

[2020-12-26 16:39] VaishnaviShri opened #1646 "User logged out before confirmation on selecting "Forgot passcode" option"
**Summary**
Selecting "Forgot passcode, login manually" option in the PassCodeActivity logs out the user before the confirmation dialog opens up. The option should only open the dialog and the user should be logged out if "Logout" is chosen in the confirmation dialog.

**Steps to reproduce**
- Login using id and password. Set passcode for the app.
- Restart the app such that it asks for passcode.

[2020-12-26 17:43] #1073 closed, assigned to nobody

[2020-12-26 17:46] #1643 closed, assigned to nobody

[2020-12-26 18:16] PatelVatsalB21 opened #1648 "Transaction period checkbox error in Saving Account Transactions"
**Summary:**
When Transactions are opened in Saving Account Details and filter dialog is opened, on selecting radio button options of Transaction Period checkbox, radio button is check but checkbox is not checked while ideally it should.

https://user-images.githubusercontent.com/70195106/103156977-84b49c80-47d4-11eb-9227-223c15c3dfab.mp4

**Steps to reproduce:**
1 Open Transactions of Saving Acco

[2020-12-27 04:59] PatelVatsalB21 opened #1650 "Filter dialog error in SavingAccountsTransactionFragment.kt"
**Summary:**
When user applies filter in SavingAccountsTransactionFragment and if no transaction is available for that condition then sweetError layout shows but after clearing filter or applying different filter that layout does not go. Also when no checkbox is selected from filter dialog then error layout shows up.

https://user-images.githubusercontent.com/70195106/103163556-2663da00-4825-11eb-

[2020-12-27 06:58] PatelVatsalB21 opened #1653 "Account adapter error in Add Benificiary Fragment"
**Summary:**
When user adds new benificiary and error occurs, try again button appears which on clicking navigates back to add benificiary page where we can see that **account type** list has repeated 2 more options and number of time this loop is repeated more values are added in **account type** list

https://user-images.githubusercontent.com/70195106/103165497-b9f5d480-483e-11eb-9561-af1b1f94db

[2020-12-27 10:50] rutvik-panchal opened #1655 "Savings Account Product Id is not Updating"
**Summary:**

Savings Account Product Id is not updating.

**Steps to reproduce:**

Go to Accounts -> Any account which is not approved -> Update Savings Account -> Submit with any change

**Expected behaviour:**

Savings Account product ID should be changed

**Observed behaviour:**

Savings Account Product Id is not updating.

**Device and Android version:**

Vivo V17
Android Version 10

**Screen

[2020-12-27 10:50] rutvik-panchal opened #1656 "Savings Account Application is not Withdrawn"
**Summary:**

Savings Account Application is not withdrawn

**Steps to reproduce:**

Go to Accounts -> Any account which is not approved -> Withdraw Savings Account -> Submit with any reason

**Expected behaviour:**

Savings Account Application should be withdrawn

**Observed behaviour:**

Saving Account Application is not withdrawn

**Device and Android version:**

Vivo V17
Android Version 10

**

[2020-12-27 12:41] yashraj-01 opened #1659 "Update branch policies in readme file"
**Summary:**

A new `ui-redesign` branch is made which focuses on redesigning the app. It should be mentioned in the branch policies in readme.md file

[2020-12-27 12:41] yashraj-01 commented on #1659
I am working on this issue.

[2020-12-29 08:28] ritish099 opened #1661 "In Register Activity. Validator code missing for Phone Number Field"
**Summary:**

In Register Activity. Validator code missing for Phone Number Field

**Steps to reproduce:**

Go to Register Activity and try to register without entering phone number

**Expected behaviour:**

Warning should be displayed as shown for other fields

**Observed behaviour:**

No warning

**Device and Android version:**

Any

**Screenshots:**

<img src="https://user-images.githubusercont

[2020-12-29 11:38] rutvik-panchal opened #1663 "Handle Back Press on Update Password Submit"
**Summary :**

On submit request of change password a new Activity is started and if back button is pressed the old screen with change password UI appears.

**Steps to reproduce :**

Settings -> Change Password -> Submit -> Press Back Button

**Expected behaviour:**

On Back Button Press from Settings Activity, Home Activity show appear

**Observed behaviour:**

On Back Button Press from Settings

[2020-12-30 06:06] PatelVatsalB21 opened #1665 "Filter error in Account Fragment"
**Summary:**
When user opens Accounts tab and use filter for savings account then error layout does not disappear when filter options are changed. Also if  filters are used in loan accounts, they don't work at all. Also in both if no checkbox is checked then error layout is visible.

https://user-images.githubusercontent.com/70195106/103333078-99be5380-4a92-11eb-9b8a-5b3528703892.mp4

https://user

[2020-12-31 05:03] francisguchie opened #1668 "Offline Synchronization - Ability to search for clients and then sync them for offline transactions"
**Summary:**

The offline Synchronization works perfectly, but it has one major limitation. For a user to be able to work offline, they have to follow the steps below as shared by Mallikarjun in the link below
https://discourse.mifos.org/t/offline-sync-for-loan-and-savings-transaction-not-possible/6854

**Steps to reproduce:**
When you are online,
1- User has to browse to client list
![MifosXDroid

[2020-12-31 05:07] francisguchie commented on #1668
@miPlodder @garvit984  i would like to hear your comments

[2021-01-01 09:21] francisguchie commented on #1668
@miPlodder  & @garvit984  i think this issue is miss-placed

[2021-01-01 09:23] francisguchie commented on #1668
I have opened it here
https://github.com/openMF/android-client/issues/1702

[2021-01-04 16:24] PatelVatsalB21 opened #1675 "Unnecessary visibility of List of loan, savings or recurring accounts"
**Summary:**
When user opens a client and if user does not have any associated accounts either any one or more than one of loan, savings, recurring, then also those division shows up with 0 (Number of associated accounts) at end of view.

https://user-images.githubusercontent.com/70195106/103556059-32136880-4ed7-11eb-9027-d5d22a25aee6.mp4

**Steps to reproduce:**
1 Open Client List
2 Open Client D

[2021-01-04 16:24] PatelVatsalB21 commented on #1675
I am working on this issue

[2021-01-04 16:44] #1675 closed, assigned to nobody

[2021-01-05 02:34] CodyHarsh commented on #1407
Yes, I have also had the same problem so here are the id's from which you can log in
Username: 299devansh
Password: password

[2021-01-06 18:43] divyank00 opened #1678 "Amount column in LOAN fragment must not be in exponential form"
**Summary:**
Amount column in LOAN fragment must not be in exponential form for bigger amount

**Steps to reproduce:**
1. Open Apply for Loan fragment
2. Select a product whose initial principal amount is large, for eg. 'Tranche Loan Product'
3. Observe

**Expected behaviour:**
Principal Amount must be shown in numeric format

**Observed behaviour:**
Principal Amount is shown in exponential format

[2021-01-06 20:47] divyank00 opened #1680 "Incorrect logic in LoanApplicationFragment.kt"
**Summary:**
The following code snippets are from LoanApplicationFragment.kt
In loanPurposeOptions, we manually add the first item, which is R.string.loan_purpose_not_provided (As shown in Image 1)
In onItemSelected we store the id of the selected position in the variable purposeId (As shown in image 2)
But we should store the value of position-1 and when position is 0, we should assign -1 to purp

[2021-01-06 21:06] divyank00 commented on #1680
@miPlodder Can you please review

[2021-01-07 10:21] divyank00 opened #1682 "After submitting loan application, create loan activity is shown"
**Summary:**
After successfully submitting a loan application, apply for loan activity is shown

**Steps to reproduce:**
1. Apply for a new loan
2. Click on 'Submit Loan'
3. Observe

**Expected behaviour:**
Activity previous to apply for a loan must be shown

**Observed behavior:**
Apply for loan fragment is shown

**Device and Android version:**
OnePlus 6
Android 10

**Screenshots:**

https://use

[2021-01-07 10:34] divyank00 opened #1684 "On pressing back in review loan page, all data resets"
**Summary:**
On pressing back in review loan page, all data resets

**Steps to reproduce:**
1. Fill in the details in apply for loan
2. Click on Review
3. Press back button
4. Observe

**Expected behaviour:**
The last entered data must be visible to edit

**Observed behaviour:**
All data resets

**Device and Android version:**
OnePlus 6
Android 10

**Screenshots:**

https://user-images.githubuserc

[2021-01-10 11:35] #1659 closed, assigned to nobody

[2021-01-10 12:32] #1325 closed, assigned to nobody

[2021-01-10 12:37] #1655 closed, assigned to nobody

[2021-01-11 17:19] ritish099 opened #1686 "Redesign of UI"
**Summary:**
Extra-large text-view of currency

**Steps to reproduce:**
How can we reproduce the issue?
Open Update Loan Activity

**Expected behaviour:**
Medium Size Textview of currency

**Observed behaviour:**
Extra Large TextView of currency

**Device and Android version:**
Any

**Screenshots:**
<img src="https://user-images.githubusercontent.com/54978105/104215685-225bcd00-545f-11eb-820c-c4d3

[2021-01-12 17:24] PatelVatsalB21 opened #1689 "Unnecessary visibility of Contact Us in Saving Account Transactions"
**Summary:**
As visible in image attached "Contact Us" layout is visible in transactions. It is available in SavingsAccountDetails section so it is redundant to have it here.

**Steps to reproduce:**
1 Open Savings Account Details
2 Open Transactions

**Expected behaviour:**
Contact Us should not be visible in Transactions

**Device and Android version:**
Lenovo Tab 7
Android 7

**Screenshots:**
<

[2021-01-13 06:52] divyank00 commented on #1656
This is a backend issue, the only thing we can improve is after successful withdraw, we can finish the activity which says approval pending

[2021-01-13 07:29] divyank00 opened #1691 "App Crashes when going to background in Saving Account Details"
**Summary:**
App Crashes when going to the background in Saving Account Details

**Steps to reproduce:**
1. Open Account from the dashboard
2. Open an application
3. Go in background
4. Observe

**Expected behaviour:**
App goes in background

**Observed behaviour:**
App crashes

**Device and Android version:**
OnePlus 6
Android 10

**Screenshots:**

https://user-images.githubusercontent.com/509139

[2021-01-13 11:17] divyank00 opened #1694 "Data mismatches after clicking on CLEAR FILTER in saving account transactions"
**Summary:**
Data mismatches after clicking on CLEAR FILTER in saving account transactions

**Steps to reproduce:**
1. Open Accounts from dashboard
2. Open an approved account
3. Open transactions
4. Click on the filter icon and click clear filters

**Expected behaviour:**
Data must be shown as it was earlier

**Observed behaviour:**
Additional mismatched data is visible now

**Device and Android

[2021-01-13 11:21] divyank00 opened #1695 "Original data disappears after removing applied filter in Saving Account Transaction"
**Summary:**
Original data disappears after removing applied filter in Saving Account Transaction

**Steps to reproduce:**
1. Open Accounts from the dashboard
2. Open an approved account
3. Open transactions
4. Click on the filter icon and apply some filters
5. Remove all filters
6. Observe

**Expected behaviour:**
Original Data must be visible

**Observed behaviour:**
Original Data disappears

**

[2021-01-13 11:22] #1695 closed, assigned to nobody

[2021-01-13 18:39] rutvik-panchal commented on #1656
@divyank00 Yes, It's a backend issue.
The screen is also changing after withdraw application submit, so i don't think it's necessary to kill the details activity of #1693 that would create a bad user experience.

[2021-01-13 18:43] divyank00 commented on #1656
Why would you show the user a deleted account.

Assume you have opened a whatsapp chat and the click "Delete Chat", then it wont be there in your recently messaged also. So when backend fixes, after withdrawal, the item won't be in the list

[2021-01-13 18:44] PatelVatsalB21 opened #1697 "Unnecessary visibility of dates in Transactions Filter Dialog"
**Summary:**
When date radiobutton is not selected even though start and end are disabled they are visible. This might not happen when buttons are disables instead layout should be hidden.

**Steps to reproduce:**
1 Open Savings Account
2 Open Transactions
3 Open Filter Dialog

**Expected behaviour:**
Start and End date should be visible only when date radiobutton is clicked.

**Device and Android

[2021-01-13 18:58] rutvik-panchal commented on #1656
@divyank00 Well, use cases for both the application's are much different, here we are dealing with financial records/details which is important so just a overview is necessary.
Also let's leave this thing to project maintainers.

[2021-01-13 19:44] PatelVatsalB21 opened #1699 "Permission Dialog shows 2 times in Upload QR"
**Summary:**
When user goes to add beneficiary and selects Upload QR option then if app does not have storage permissions it makes 2 repetitive dialogs, instead of just one.

https://user-images.githubusercontent.com/70195106/104501455-bff10100-5605-11eb-84b4-5044bee2d777.mp4

**Steps to reproduce:**
1 Open Beneficiary
2 Add Beneficiary
3 Select Upload QR option

**Expected behaviour:**
Only one p

[2021-01-14 04:30] rutvik-panchal commented on #1656
@miPlodder There is a change in API [link](https://demo.mifos.io/api-docs/apiLive.htm#savingsaccounts_withdrawbyapplicant).

In the current implementation we are passing **savingsAccountNumber** [ref](https://github.com/openMF/mifos-mobile/blob/d297d2c688314e2fe86ab4fd7a45e7df3cd15ade/app/src/main/java/org/mifos/mobile/ui/fragments/SavingsAccountWithdrawFragment.kt#L101), i tried to update the api

[2021-01-14 07:48] divyank00 commented on #1689
This doesnt seem to be a real issue

[2021-01-15 14:35] PatelVatsalB21 commented on #1689
@divyank00 as you are developer you might know that importance of UI is far greater than clean code alone. And if you have used some app like Amazon you would have noticed that they don't show customer care number everywhere. Same was the case here. So this might not be an error but a bug that needs to be fixed today or tomorrow. Hope you got it. Thank you 😊

[2021-01-15 14:43] divyank00 commented on #1689
I guess this page wants to say that if you have any issue with the transactions, you can contact us

For Eg.

![Screenshot_20210115-201130__01.jpg](https://user-images.githubusercontent.com/50913976/104740612-27c25b80-576e-11eb-9b08-e5f1bc677550.jpg)

[2021-01-15 14:54] PatelVatsalB21 commented on #1689
@divyank00 I got your point. But if you noticed it was page of transaction detail. Not whole list of transactions. And this issue was only for transaction list. That's why I didn't pointed at CONTACT US which is also placed on Saving Account details page, as it is fine there. Hope you got it.

[2021-01-15 14:56] divyank00 commented on #1689
Yeah, np😀

[2021-01-16 19:17] #1691 closed, assigned to nobody

[2021-01-16 19:20] miPlodder commented on #1656
@rutvik-panchal It picks up value from [here](https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobile/presenters/LoanAccountWithdrawPresenter.kt#L52), since the backend API's were not ready when this functionality was added previously. Are the backend API's ready, if yes, let's first start working on integrating it with the app?

[2021-01-16 19:33] miPlodder commented on #1656
@rutvik-panchal
- Refer https://demo.fineract.dev/fineract-provider/swagger-ui/index.html, I guess swagger docs are more updated
- If you feel, its an backend issue, create a backend ticket for it

[2021-01-16 19:40] #1686 closed, assigned to nobody

[2021-01-17 04:56] #1278 closed, assigned to nobody

[2021-01-18 11:43] miPlodder commented on #1689
Redesigning of UI will should take care of it.

[2021-01-18 11:43] #1689 closed, assigned to nobody

[2021-01-21 13:12] renovate[bot] opened #1703 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:41] #1703 closed, assigned to nobody

[2021-01-26 14:16] rutvik-panchal commented on #1656
@miPlodder Self Loans do not have any method for withdrawal of savings account, what should i do? [link](https://demo.fineract.dev/fineract-provider/swagger-ui/index.html#/Self%20Savings%20Account)

[2021-01-29 08:14] spacemonkey1101 commented on #1231
is this issue open? can I be assigned?

[2021-01-29 08:15] spacemonkey1101 commented on #1449
is this issue open? can I be assigned?

[2021-01-31 08:51] ritish099 opened #1705 "Missing Country Code Picker with backend functionality in Register Activity"
**Summary:**

Missing Country Code Picker with backend functionality in Register Activity

**Steps to reproduce:**

Open create new account activity

**Expected behaviour:**

Phone number field should have a country code picker.

**Observed behaviour:**

Phone number field donot have a country code picker.

**Device and Android version:**

Any

**Screenshots:**

<img src="https://user-images.githu

[2021-02-02 01:27] Edward1919 commented on #1705
I want to solve this issue

[2021-02-02 05:00] ritish099 commented on #1705
@Edward1919 already PR is there...

[2021-02-05 06:42] divyank00 commented on #829
![IllegalException](https://user-images.githubusercontent.com/50913976/107004414-4091c000-67b4-11eb-975c-55509629acc3.png)

@miPlodder This issue is not solved at the backend-side. So should we solve it in the frontend?

[2021-02-05 06:44] divyank00 commented on #1456
@devansh-299 Should I work on this?

[2021-02-05 07:30] divyank00 opened #1708 "Pay To and Pay From are null in Third party Transfer"
**Summary:**
Pay To and Pay From are null in Third party Transfer

**Steps to reproduce:**
1. Click on Transfer in home
2. Choose Third Party Tranfer
3. Fill Details
4. Click on Review
5. Observe

**Expected behaviour:**
Pay from and Pay to should be the respective account number

**Observed behaviour:**
Pay from and Pay are null

**Device and Android version:**
OnePlus 6
Android 10

**Screenshots

[2021-02-05 07:41] divyank00 opened #1710 "First beneficiary needs refresh"
**Summary:**
After adding the first beneficiary, a refresh is needed to reflect the data

**Steps to reproduce:**
1. Delete all beneficiaries
2. Add a new beneficiary
3. Observe

**Expected behaviour:**
The new beneficiary should be visible

**Observed behaviour:**
User needs to refresh to see the newly added beneficiary

**Device and Android version:**
OnePlus 6
Android 10

**Screenshots:**

http

[2021-02-05 07:46] divyank00 commented on #1192
![IllegalException](https://user-images.githubusercontent.com/50913976/107004414-4091c000-67b4-11eb-975c-55509629acc3.png)

@luckyman20 Adding beneficiary and update beneficiary needs amount as Integer

[2021-02-05 08:37] divyank00 opened #1711 "Can we add a screen to show all recent transactions"
**Summary:**
The recent transaction from third party transfer or transfer is shown nowhere.

Endpoint- GET https://Domain Name/api/v1/accounttransfers

[2021-02-05 09:33] divyank00 commented on #1711
@miPlodder

[2021-02-11 15:42] ritish099 opened #1714 "Minor UI tweak in Apply Loan Screen"
**Summary:**

"Submission Date" and "Expected Disbursement Date" value alignment with value of "Currency"

**Steps to reproduce:**

Go to Apply Loan Screen

**Expected behaviour:**

Values should be aligned.

**Observed behaviour:**

Values not aligned.

**Device and Android version:**

Any

**Screenshots:**

<img src="https://user-images.githubusercontent.com/54978105/107659983-c8dcfd00-6cad-11eb

[2021-02-13 18:03] PatelVatsalB21 opened #1717 "Unable to create or update Beneficiary"
**Summary:**
As user creates new beneficiary after entering all details, it shows same error, failing to create beneficiary. Same issue happens when user tries to update beneficiary

**Steps to reproduce:**
1 Go to Beneficiary Section
2 Create New Beneficiary

**Expected behaviour:**
Beneficiary should be created successfully

**Device and Android version:**
Any

**Create Beneficiary:**
https://us

[2021-02-14 08:17] PatelVatsalB21 opened #1719 "Error in No Beneficiary view"
**Summary:**
If there are no beneficiaries available "No Beneficiary" view is visible instead of recyclerview. But if user tries to refresh it refresh icon is not visible and when user releases refresh action, layout refreshes, shows recyclerview and again shows No Beneficiary view.

**Steps to reproduce:**
1 Go to Beneficiary Section
2 Refresh List

**Expected behaviour:**
Refresh icon should be

[2021-02-15 18:28] PatelVatsalB21 opened #1721 "Error in "Make transfer" of Saving Account Details"
**Summary:**
When user opens saving account details and clicks "Make a Transfer" fragment SavingsMakeTransferFragment is visible. Here as **Pay From** is already selected after first step(Pay To), step 3 should come, but due to bug it again goes to Step 2 but spinner is diabled.

**Steps to reproduce:**
1 Open Saving Account Details
2 Click on Make a Transfer
3 Click and observe every step

**Expe

[2021-02-16 11:02] rutvik-panchal opened #1724 "The Last Transaction details of Savings Account are incorrect"
**Summary:**

The Last Transaction details section of Savings Account Details should show the last transaction amount and date, but the data displayed is incorrect.

**Steps to reproduce:**

Accounts -> Savings Account -> Savings Account Detail

**Expected behaviour:**

The Last Transaction details section of Savings Account should show the details of last transaction.

**Observed behaviour:**

Th

[2021-02-16 11:02] rutvik-panchal commented on #1724
I am working on it.

[2021-02-18 05:08] omprakashcs01 commented on #1231
can I work on  this project

[2021-02-18 07:58] ritish099 opened #1726 "Clear Filter option not working."
**Summary:**
Clear Filter not working.

**Steps to reproduce:**
See the Video below

How can we reproduce the issue?
See the Video below

**Observed behaviour:**'
What did you expect the app to do?
Clear Filter Should work

What did you see instead?  Describe your issue in detail here.
Clear Filter not working

**Device and Android version:**

Any

**Screenshots:**

https://user-images.githubuserc

[2021-02-18 12:27] PatelVatsalB21 opened #1728 "Sorting feature missing in Transactions list"
**Summary:**
When user opens saving account details and goes to transactions, it is visible that Filters are available for selection based on type of criteria , but sorting feature is missing which helps user to see the order of certain or all type of transactions.

**Expected behaviour:**
There should be icon for sort along with filters

**Device and Android version:**
Any

**Screenshots:**
<img

[2021-02-18 13:29] #1726 closed, assigned to nobody

[2021-02-19 16:36] PatelVatsalB21 opened #1730 "Error in transfer in SavingsMakeTransferFragment"
**Summary:**
When user pays loan or transfer money, if entered amount is bigger than available balance it is notified to user untill payment is processed. This is not good as this days every app notifies user before selecting mode of payment if balance is available. This makes easy for user to switch account before reaching final stage

**Steps to reproduce:**
1 Open Loan Account
2 Make Payment
3

[2021-02-19 17:38] PatelVatsalB21 opened #1732 "Error in amount in SavingsMakeTransferFragment"
**Summary:**
When user enters amount below 0.01 it is not 0.0 so it escapes from check for zero amount, but when it is passed in TransferProcessFragment due to `formatCurrency` it is converted to 0.00. This causes error on transaction. This edge case should be covered

**Steps to reproduce:**
1 Open Loan Account
2 Make Payment
3 Enter Amount below 0.01

**Expected behaviour:**
It should show messa

[2021-02-20 14:33] ritish099 opened #1734 "Error in Updating EndPoint data"
**Summary:**

Even if the user does not make any changes to the Endpoint data still the user is logged out.

**Steps to reproduce:**

Follow the video below

**Expected behaviour:**

The user should not be logged out if he/she does not make any changes to the endpoint data

**Observed behaviour:**

Even if the user does not make any changes to the Endpoint data still the user is logged out.

**Dev

[2021-02-21 16:23] PatelVatsalB21 opened #1736 "Filter error in Loan Accounts"
**Summary:**
When user goes to loan accounts section and uses filter, none of  the filter works properly.

**Steps to reproduce:**
1 Go to Accounts Sections
2 Open Loan Accounts
3 Use Filters

**Expected behaviour:**
Filter should shows No Accounts View when selected type of accounts are not there. And also successfully clear them.

**Device and Android version:**
Any

**Recordings:**

https://use

[2021-02-22 05:20] divyank00 opened #1738 "Notification icon disappears in Persian language"
**Summary:**
Notification icon disappears in Persian language

**Steps to reproduce:**
1. Open settings
2. Click on Language
3. Select the last language
4. Press the back button

**Expected behaviour:**
Notification icon on the left side of the toolbar

**Observed behaviour:**
The notification icon disappears but still, it is clickable

**Device and Android version:**
OnePlus 6
Android 10

**Scree

[2021-02-22 05:25] divyank00 opened #1739 "Layout issue in settings page after selecting Persian language and then choosing English"
**Summary:**
Layout issue in settings page after selecting Persian language and then choosing English

**Steps to reproduce:**
1. Open settings
2. Click on the language
3. Choose the last language
4. Then again change the language to english
5. Observe

**Expected behaviour:**
The final language should be English with a left to right structure

**Observed behaviour:**
The final language is English

[2021-02-22 08:41] divyank00 opened #1742 "Help page FAQs state is forgotten on screen orientation"
**Summary:**
Help page FAQs state is forgotten on screen orientation

**Steps to reproduce:**
1. Open Help Section
2. Open any of the given FAQ
3. Rotate the screen
4. Try opening another FAQ
5. Observe

**Expected behaviour:**
The previous FAQ should close and the new one should open

**Observed behaviour:**
The previous FAQ is not closed and the new one opens

**Device and Android version:**
One

[2021-02-22 09:23] divyank00 opened #1743 "Search Bar not occupying whole screen space"
**Summary:**
Search Bar not occupying whole screen space and the edit text is closed when cross is clicked if edit text is empty

**Steps to reproduce:**
1. Open Help section
2. Click on search
3. Type something
4. Click on back button
5. Observe

**Expected behaviour:**
1. Search bar should take the full width
2. Search bar should disappear on the first press of the back button and on second pres

[2021-02-22 09:42] divyank00 opened #1745 "Help Screen's empty FAQ UI hides the bottom bar"
**Summary:**
Help Screen's empty FAQ UI hides the bottom bar

**Steps to reproduce:**
1. Open Help
2. Search something which is not present in the list
3. Observe

**Expected behaviour:**
No Questions Found screen should be showed between toolbar and bottom bar

**Observed behaviour:**
No Questions Found screen hides the bottom bar

**Device and Android version:**
OnePlus 6
Android 10

**Screensho

[2021-02-22 10:24] avivijay19 commented on #1742
I like to work on this issue...

[2021-02-22 16:21] PatelVatsalB21 commented on #1739
@divyank00 this issue was already raised in #1575 please confirm before making new issue. Also please reference that issue #1740

[2021-02-22 16:23] divyank00 commented on #1739
Oopss my bad. I will link the pr. Thanks

[2021-02-22 16:24] #1739 closed, assigned to nobody

[2021-02-23 17:09] PatelVatsalB21 commented on #1742
@avinash14022002 are you still working on it?

[2021-02-23 17:18] avivijay19 commented on #1742
Yes @PatelVatsalB21,
I like to work and was working on it

[2021-02-23 17:38] PatelVatsalB21 opened #1748 "Changes required in SavingAccountsDetailFragment"
**Summary:**
When user opens non active account  `Deposit` & `Tranfer` buttons are visible to user and on clicking them Snackbar is visible. Nowadays it is often know that facilities are shown to user only if he/she can access it or ele they are not shown. We should implement like that.

**Steps to reproduce:**
1 Open Accounts
2 Open Saving Accounts
3 Open Non Active account
4 Click deposit or tra

[2021-02-24 02:56] divyank00 commented on #1742
I am not sure whether this needs to be solved because @miPlodder said orientation changes are out of the scope

[2021-02-24 11:04] PatelVatsalB21 commented on #1742
You made error so I solved it, if it is out of scope please dodge those errors. I will take care of it ahead. Thanks

[2021-02-25 16:11] PatelVatsalB21 opened #1750 "Error in No Recent Transactions view"
**Summary:**
If there are no recent transactions available "No Recent Transactions" view is visible instead of recyclerview. But if user tries to refresh it refresh icon is not visible and when user releases refresh action, layout refreshes, shows recyclerview and again shows No Recent Transactions view.

**Steps to reproduce:**
1 Go to Recent Transactions Section
2 Refresh List

**Expected behavi

[2021-02-28 14:55] PatelVatsalB21 opened #1752 "Feature: Adding transaction details dialog in Saving Account Details"
**Summary:**
As user opens Transactions list it is visble that there is list of transactions which have account balance, type of payment and other details conjusted. For better understanding of user and to get clear record there should be transaction details page for specific transaction.

**Steps to reproduce:**
1 Open Saving Account
2 Open Transaction Details

**Expected behaviour:**
There shoul

[2021-03-01 16:58] Abhinavtdk commented on #1752
@PatelVatsalB21 Hey, can u give the demo credentials you used because with the ones given in wiki, I'm not able to login

[2021-03-02 09:34] ritish099 opened #1756 "Change Password Button not working in any language other than English language mode"
**Summary:**

Change Password Button not working in any language other than English language mode

**Steps to reproduce:**

Watch the video

**Expected behaviour:**

Change Password Button should work in every language

**Observed behaviour:**

Change Password Button should does not work in any language other than English

**Device and Android version:**

Any

**Screenshots:**

https://user-images

[2021-03-05 14:56] PatelVatsalB21 opened #1759 "Fab behaviour rectification in Accounts"
**Summary:**
As attached in video below when user scrolls down fab hides but does not show up itself. Also special file is made for it. It can be done with handful of code

**Steps to reproduce:**
1 Open Accounts
2 Scroll List

**Expected behaviour:**
Fab should show itself

**Device and Android version:**
Any

**Screenshots:**

https://user-images.githubusercontent.com/70195106/110131778-87dd9180

[2021-03-08 15:59] garvit984 opened #1761 "Enhancement in Existing UI- Transfer screen"
**Summary:**

The current UI needs to be revamped.
This image can be referred to.

![](https://user-images.githubusercontent.com/44428198/72667781-86fb6c00-3a45-11ea-9fa4-588b71d01bbe.png)

[2021-03-08 16:02] garvit984 opened #1762 "Enhancement in Existing UI- Amount screen"
**Summary:**

The current UI needs to be revamped.
This image can be referred to.

![](https://user-images.githubusercontent.com/44428198/72680643-44d43800-3ae2-11ea-9159-e3d097449c00.png)

[2021-03-08 16:04] garvit984 opened #1763 "Enhancement in Existing UI- Profile screen"
**Summary:**
The current UI needs to be revamped.
This image can be referred to.

![](https://user-images.githubusercontent.com/44428198/71902398-05bff180-3188-11ea-96b0-91806d16bf17.png)

[2021-03-08 16:07] garvit984 opened #1764 "Redesign: Create Add Beneficiaries and Show Beneficiaries Screen"
**Summary:**

There should be an **'Add beneficiaries'** and **'Show Beneficiaries'** screen in the app to let users add beneficiaries to facilitate smooth and secure transactions and also let the user check the existing beneficiaries he/she have added already.

**Proposed design:**

![Add Beneficiaries](https://user-images.githubusercontent.com/20682192/71641648-a95f5c80-2cc5-11ea-9268-984c664ddf

[2021-03-08 16:10] garvit984 commented on #1617
@Sparsh1212 Are you still working on it?

[2021-03-08 16:34] Sparsh1212 commented on #1763
I would like to work on this.

[2021-03-08 16:35] Sparsh1212 commented on #1762
I would like to work on this.

[2021-03-08 16:49] yashraj-iitr commented on #1761
I would love to work on this issue.

[2021-03-08 16:49] yashraj-iitr commented on #1764
I would like to work on this issue.

[2021-03-09 10:14] vinayak0505 opened #1765 "what are the login credentials"
i have tried login by using this
its not working can anyone help
it says you are not authorize
#Demo Credentials

Username: mifos
Password: password

[2021-03-15 17:57] miPlodder commented on #1764
Anyone interested can work on this enhancement. Do mention in this issue, that you are working, so we don't have duplicate efforts.
Target branch: `ui-redesign`

[2021-03-15 17:58] miPlodder commented on #1763
Anyone interested can work on this enhancement. Do mention in this issue, that you are working, so we don't have duplicate efforts.
Target branch: `ui-redesign`

[2021-03-15 17:58] miPlodder commented on #1762
Anyone interested can work on this enhancement. Do mention in this issue, that you are working, so we don't have duplicate efforts.
Target branch: `ui-redesign`

[2021-03-15 17:58] miPlodder commented on #1761
Anyone interested can work on this enhancement. Do mention in this issue, that you are working, so we don't have duplicate efforts.
Target branch: `ui-redesign`

[2021-04-07 21:02] intrigus-lgtm commented on #1556
Fixed, see https://github.com/openMF/mifos-mobile/security/advisories/GHSA-9657-33wf-rmvx

[2021-04-07 21:02] #1556 closed, assigned to miPlodder

[2021-05-02 12:09] rahulraghuwanshii commented on #1764
can i work on this

[2021-05-03 02:40] thisrahul commented on #1763
Hello sir, can i work on this

[2021-05-03 02:40] rahulraghuwanshii commented on #1762
can i work on this

[2021-05-03 02:41] rahulraghuwanshii commented on #1761
can i work on this

[2021-06-26 17:33] ayushi790 opened #1781 "Gradle build failure error"
**Summary:**

Gradle build fail with the error : "package javax.annotation.processing does not exist"

**Steps to reproduce:**

1. Clone the repository.
2.  Open the project in android studio
3. Build the project by clicking at run button

**Expected behaviour:**
The app should run successfully

**Observed behaviour:**
Project build failed with error : "package javax.annotation.processing does not

[2021-07-05 06:22] mukundpradhan-inndata opened #1783 "Gradle build failure error"
**Summary:**

Gradle build failed with error Caused by: org.gradle.api.plugins.UnknownPluginException: Plugin with id 'findbugs' not found.

**Steps to reproduce:**

1. Clone the repository.
1. Open the project in android studio
1. Gradle project sync failed. Basic functionality (e.g editing, debugging) will not work properly.

**Expected behaviour:**

The app should run successfully.

**Observed

[2021-08-14 15:15] nishant3721 commented on #1783
Mind if I work on it?

[2021-08-25 15:34] duttabhishek0 commented on #1783
Hey, is this issue still there?
Cause when I tried to build it on my system, there were no issues.

[2021-08-28 18:32] duttabhishek0 commented on #1781
Hey, can I work on this issue?

[2021-10-02 00:19] francisguchie opened #1804 "You are not authorized for self service user"
Summary:
**If you try to login with the default credentials the app will show that you're not authorized**

**Steps to reproduce:**
Create a self service user using the UI of your Fineract installation

Clone the Repo, change the server and identifier in the paths below to your liking
**app/src/release/java/org/mifos/mobile/api/BaseURL.kt**  and  **app/src/debug/java/org/mifos/mobile/api/BaseURL.k

[2021-10-02 00:20] francisguchie commented on #1804
@rrpawar96, @bgowda , @BLasan
Have you encountered this ?

[2021-10-02 00:21] francisguchie commented on #1804
This issue was once opened and closed https://github.com/openMF/mifos-mobile/issues/1550 , I wonder why?

[2021-10-02 00:24] francisguchie commented on #1804
@sachin-0102 , @ShivangiSingh17, @miPlodder
Is there something am doing wrong?

[2021-10-02 01:07] francisguchie commented on #1804
@luckyman20  is there anything I have not done well?

[2021-10-02 04:36] luckyman20 commented on #1804
@francisguchie I think I will have to check it myself. Can you please help me with the server credentials?

[2021-10-02 22:56] francisguchie commented on #1804
@luckyman20  kindly check your email

[2021-10-13 01:15] francisguchie commented on #1804
@luckyman20,  @rrpawar96, @bgowda , @BLasan
I am going to close this issue, I rebase my development branch and followed the steps https://github.com/openMF/mifos-mobile/issues/1804#issue-1013857446 and it is now working

[2021-10-13 01:15] #1804 closed, assigned to nobody

[2021-10-20 06:33] renovate[bot] opened #1810 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dependency gradle to v7.6.3](../pull/2369)
 - [ ] [chore(deps): update plugi

[2021-12-02 15:16] Taruns123 commented on #1473
I would like to work on this but can you give a more clear idea about it . @devansh-299  do you want me to put some activities which will give the user a walkthrough of the application when he opens the application for the very first time?

[2021-12-06 08:10] francisguchie commented on #1473
@Taruns123  I am excited to see the out come of this please work on it

[2021-12-22 17:26] afk11 opened #1820 "Invalid URL for TPT Transfer"
**Summary:**

An incorrect encoding is used when sending 'type=tpt' from the App, which means the server does not recognize the request as TPT request, but instead, a self-to-self transfer.

This is because the server checks for `tpt` not `"tpt"`

**Steps to reproduce:**

Simply run the app right now and make a TPT transfer. The error returned is ONLY used for self-to-self transfers, when we have

[2021-12-22 17:29] afk11 opened #1822 "Beneficary info not loaded correctly"
**Summary:**

The app cannot correctly set the beneficiaryAccountOption in ThirdPartyTransferFragment

**Steps to reproduce:**

Simple, just do a transfer

**Expected behaviour:**

On the review page, clicking continue should work

**Observed behaviour:**

It returns form validation errors, that the account info is missing

**Device and Android version:**

What make and model device (e.g., Samsung

[2022-01-10 15:07] pete10200 opened #1825 ""Bad Request","message":"","path":"/fineract-provider/api/v1/self/authentication"}"
@rrpawar96  I am getting below error when logging on to app:
{"timestamp":1641671332070,"status":400,"error":"Bad Request","message":"","path":"/fineract-provider/api/v1/self/authentication"}

[2022-01-10 16:05] rrpawar96 commented on #1825
@pete10200 try again by removing 'self' from path i.e.  fineract-provider/api/v1/authentication

[2022-01-10 16:32] pete10200 commented on #1825
I get the same error message

On Mon, Jan 10, 2022, 18:05 Rahul Pawar ***@***.***> wrote:

[2022-01-10 16:33] pete10200 commented on #1825
@rrpawar96  i get the same error message if i  use this on the base url  "/fineract-provider/api/v1/authentication"

[2022-01-10 16:41] rrpawar96 commented on #1825
To which server you are connected to? what is your URL and headers? @pete10200

[2022-01-10 18:13] pete10200 commented on #1825
@rrpawar96 W/OpenGLRenderer: Failed to choose config with EGL_SWAP_BEHAVIOR_PRESERVED, retrying without...
D/EGL_emulation: eglCreateContext: 0xaebe3fc0: maj 2 min 0 rcv 2
D/EGL_emulation: eglMakeCurrent: 0xaebe3fc0: ver 2 0 (tinfo 0xab2a3150)
D/EGL_emulation: eglMakeCurrent: 0xaebe3fc0: ver 2 0 (tinfo 0xab2a3150)
E/FirebaseCrashlytics: Failed to retrieve settings from https://firebase-settings.cr

[2022-01-10 18:36] rrpawar96 commented on #1825
@pete10200  it seems you are missing one parameter ie. ?tenantIdentifier=default parameter at the end of the url.

First use RESTCLIENT API or POSTMAN and try to authentication once you get authentication 200 ok there then use the same configuration in your request in your code here

For example i will post my REST CLIENT screenshot here:

![image](https://user-images.githubusercontent.com/2075097

[2022-01-11 08:10] pete10200 commented on #1825
Without /self
![image](https://user-images.githubusercontent.com/97407144/148894797-d6c7e08a-cd42-4fc2-be24-f2faad7829d6.png)

with /self
![image](https://user-images.githubusercontent.com/97407144/148895024-220a4ad7-f7d2-41eb-9df1-82fb488c4a50.png)

without ?tenantIdentifier=
![image](https://user-images.githubusercontent.com/97407144/148895104-13d04330-6413-49f2-a150-270b21ba1252.png)

Its behav

[2022-01-11 09:12] rrpawar96 commented on #1825
@pete10200 Earlier you was mention that community-app is working right? check how the request is passed from community-app, and then try it out here

[2022-01-11 14:25] pete10200 commented on #1825
@rrpawar96 I dont know what changed but the below is now working on Postman: without self
![image](https://user-images.githubusercontent.com/97407144/148958481-da6ac1cd-48d8-46a8-bab0-057902f99983.png)

with self
![image](https://user-images.githubusercontent.com/97407144/148963305-db2ce28d-f482-4fb1-83a0-3fdc5f96a043.png)

**I have ensured that the same is on the andriod app but i keep getting th

[2022-01-11 19:04] rrpawar96 commented on #1825
Good.

Just check with your other parameters as well like headers by changing the tenant identifier which is in the file :
app/src/debug/java/org/mifos/mobile/api/SelfServiceInterceptor.kt  in companion object { }

[2022-01-12 16:29] er-prince commented on #1825
if you are using mifos release 18.03 & develop version of mifos mobile app  it will not work , upgrade it to 21.07 release it ill work.

[2022-01-12 18:07] pete10200 commented on #1825
I am using version 21.07

On Wed, Jan 12, 2022, 18:29 Rajarshi Singha ***@***.***>
wrote:

[2022-01-12 18:51] pete10200 commented on #1825
after making this change i have managed to log on. thank you!!

[2022-01-12 18:51] #1825 closed, assigned to nobody

[2022-01-12 18:53] pete10200 commented on #1825
after making this change i have managed to log on. thank you!!

[2022-01-12 18:58] rrpawar96 commented on #1825
@pete10200 can you please end the thread on email as well and paste the link of this issue, so if anyone in the future gets the same issue they can resolve it by going through this conversation.

[2022-01-12 19:17] pete10200 commented on #1825
issue resolved, see "Bad
Request","message":"","path":"/fineract-provider/api/v1/self/authentication"}
· Issue #1825 · openMF/mifos-mobile (github.com)
<https://github.com/openMF/mifos-mobile/issues/1825>

On Wed, Jan 12, 2022 at 8:58 PM Rahul Pawar ***@***.***>
wrote:

[2022-01-12 19:45] pete10200 opened #1826 "Apply For Loan option terminating with error"
@rrpawar96  The error below is noticed and application terminates on the **Apply For Loan** function :

Selecting this option and waiting for a few seconds when the option screen is displayed results in the status in the image below:

![image](https://user-images.githubusercontent.com/97407144/149210555-2d99a654-2745-4669-8c4d-95f1dd29a0e6.png)

I/MultiDex: VM has multidex support, MultiDex suppor

[2022-01-14 13:13] anamansari062 commented on #1765
@vinayak0505
Username: selfservice
Password: password

[2022-03-10 10:27] satishviswanadham opened #1833 "Unable to login"
**Summary:**

getting internal server error while trying to login

**Steps to reproduce:**

username : mifos
password  : password

when I click on login getting that issue

 this is the response I am getting

https://demo.mifos.io/fineract-provider/api/v1/authentication?username=mifos&password=password

 <!doctype html><html lang="en"><head><title>HTTP Status 500 – Internal Server Error</title><st

[2022-03-20 16:38] er-prince opened #1836 "Savings Account Details not working in Fineract 1.6"
**Summary:**
 Savings account shows unable to load data
Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**

Upgrade Fineract to 1.6 or develop & try to see savings account details
**Expected behaviour:**

Savings Account should load normally

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Devic

[2022-03-22 18:06] AditiKamath commented on #1761
hello i would like to work on it.. the widget next to the mobile number can be made circular and the card can be provided with more radius for the curvature

[2022-03-22 18:24] AditiKamath commented on #1231
is this issue still open? can I be assigned?

[2022-03-22 18:25] AditiKamath commented on #1762
i would like to work on this.. can i be assigned ?
the amount edit text needs to be worked on and the contact number is too faint

[2022-03-23 10:20] rahul-gill commented on #1833
The demo account credentials are
username: selfservice
password: password

[2022-03-23 10:21] rahul-gill commented on #1783
This happens sometimes with me too

[2022-03-23 10:22] rahul-gill commented on #1764
Is this issue relevant still. The current app ui is not as shown in image(bottom nav etc.)

[2022-03-23 10:26] rahul-gill opened #1839 "Unit tests failing on latest commit of development branch."
**Steps to reproduce:**
Run the LoginPresenterTest

Failure message
[code]

[2022-03-23 14:06] AditiKamath commented on #1764
Is this issue still open i would like to work on it .

[2022-03-23 18:39] AditiKamath commented on #1549
Im interested in this from where can I get started?

[2022-03-28 08:06] #1833 closed, assigned to nobody

[2022-04-13 14:02] #1159 closed, assigned to nobody

[2022-04-13 14:28] #1210 closed, assigned to nobody

[2022-04-13 14:52] #1395 closed, assigned to nobody

[2022-04-13 14:57] #1066 closed, assigned to nobody

[2022-04-13 15:35] #1381 closed, assigned to nobody

[2022-04-14 18:32] #1826 closed, assigned to nobody

[2022-06-16 11:33] #1839 closed, assigned to nobody

[2022-06-16 16:40] rahul-gill opened #1861 "Update dependencies versions and make neccessary changes afterwards"
To use the android libraries which are not added as dependencies in the app right now(e.g. constraint layout), We'll have to find the version of the library which is compatible with the libraries included in the app.

## Why
Because latest version of the new dependencies introduces latest version of other libraries like core-ktx and app-compat as transitive dependencies which require updating Grad

[2022-06-18 06:28] rahul-gill opened #1862 "Too many unneccessary nullable variables"
This is probably because of Java to Kotlin conversion. Many class properties, variables, function arguments and return type can be made non-nullable.

[2022-06-18 12:39] tapaswenipathak opened #1863 "[github wiki] Standardize Documentation"
Ref:

1. https://github.com/openMF/android-client/issues/1876.
2. https://github.com/openMF/mobile-wallet/issues/1331

cc @edcable.

[2022-08-19 16:26] #1543 closed, assigned to nobody

[2022-09-17 08:01] PHCANALYST commented on #1765
User Name and password is not working tried with Username: mifos /Password: password and Username: selfservice Password: password.

Can someone help

[2022-10-11 16:23] sanjeev0210 commented on #1862
@rahul-gill has the fix for this been developed yet?

[2022-10-11 16:29] rahul-gill commented on #1862
no

[2022-10-17 18:38] arinmodi commented on #1762
I would like to work on this issue, can anyone assign me ?

[2022-10-19 12:26] arinmodi commented on #1762
@miPlodder, is this issue still exists, cause I am not able to locate this fragment in the code

[2022-10-22 10:26] arinmodi commented on #1862
@rahul-gill I have made the PR #1886, can you please review it ?

[2022-11-05 21:04] rishujam commented on #1763
Hey, Is this project still being maintained?

[2022-11-26 14:14] dmdbilal commented on #1231
Is this issue still open ?