[2016-08-12 05:51] pa1pal opened #6 "Pull to refresh shows the default progress bar as well."
In all the activities whenever I pull to refresh the default progress bar appear. In login activity as well.

[2016-09-23 08:37] ishan1604 opened #18 "Add License Gradle Plugin"

[2016-09-23 08:37] droidchef opened #19 "Add License"

[2016-09-23 08:37] ishan1604 opened #20 "Add a Contributions guideline"

[2016-09-23 08:37] ishan1604 opened #21 "Integrate Gradle Quality Check Plugins"

[2016-09-23 08:37] ishan1604 opened #22 "Integrate Travis-CI"

[2016-09-23 08:37] ishan1604 opened #23 "Add a README.md"
With Project description

[2016-09-23 19:05] therajanmaurya commented on #22
I am working with Travis-CI

[2016-09-23 20:25] therajanmaurya opened #25 "Shift Images from mipmap folder to drawables except App Icon"
Shift Images from mipmap folder to appropriate drawable folder because mipmap folder is only for the app icons not for the drawable.

for more info : http://stackoverflow.com/a/28065664/3176277 and
http://android-developers.blogspot.in/2014/10/getting-your-apps-ready-for-nexus-6-and.html

[2016-09-26 10:25] therajanmaurya commented on #22
Done #24

[2016-09-26 10:26] therajanmaurya commented on #21
Do you mean PMD, Findbugs and CheckStyle?

[2016-10-01 09:46] #22 closed

[2016-10-01 09:47] ishan1604 commented on #21
@therajanmaurya yes

[2016-10-03 15:30] ishan1604 commented on #21
Merged with PR#26

[2016-10-03 15:30] #21 closed

[2016-10-03 19:49] therajanmaurya opened #27 "Fix: Every Time Login."
Whenever we open the app, the user needs to log in and enter the credentials again and again.

**Expected**
User has to log in one time and rest of time, he able to see his accounts and other staff.

[2016-10-03 19:54] therajanmaurya commented on #27
@ishan1604 I found that Login Presenter is working the PrefrenceHelper.
That is not right according to MVP pattern.

Need a quick discussion about the future fixes.

[2016-10-04 13:37] ishan1604 commented on #27
@therajanmaurya

MVP Pattern doesn't define user experience and/or User Flow.

Now coming on to, why Login is necessary every time? Since this app involves financial transactions I wouldn't want to allow any chance of my financial data or money being stolen.

Imagine you signed into your app, and give your phone to someone to make a call. After the call I see the app running in background, I can q

[2016-10-04 14:06] therajanmaurya commented on #27
So you mean, User need to log in every time, whenever he/she will open the app.

[2016-10-04 14:07] ishan1604 commented on #27
Yes

[2016-10-04 14:08] therajanmaurya commented on #27
Ok.

[2016-10-04 14:15] Nayan commented on #27
Or think of situation where you have lost the mobile and person having
access to mobile will have access to your bank account too

On Oct 4, 2016 7:40 PM, "Ishan Khanna" <notifications@github.com> wrote:

[2016-10-04 14:40] therajanmaurya commented on #27
One more thing, right now when user is logging in to app, He is able to look list of clients,
and there is a single client as the user is only one.
is it good? or he is able to look his account directly with seeing the client list.

[2016-10-07 17:44] sosnickm commented on #6
Is this still a problem? When I pull down to refresh I get the circular arrow refreshing and that's it.

[2016-10-07 18:15] #27 closed

[2016-10-07 20:34] therajanmaurya commented on #6
Yeah, to fix this issue you need to replace ProgressDialog to ProgressBar because ProgressBar does not block the UI.

[2016-10-18 20:01] therajanmaurya commented on #18
@ishan1604 can you please provide some links.

[2016-10-19 15:44] therajanmaurya commented on #23
Added in #32

[2016-10-20 06:19] therajanmaurya opened #33 "Add Android Code Style"
Need to add code style in the project.
@ishan1604 as we have talked earlier about the guidelines.
Please look [Android Code style](https://github.com/android/platform_development/blob/master/ide/intellij/codestyles/AndroidStyle.xml) and what are things that we do not need to follow like

[code]

Need a suggestion which things we do not need to follow in code style.

[2016-10-21 08:41] #23 closed

[2016-10-21 17:10] ashu-dadhich commented on #25
@therajanmaurya can I do it

[2016-10-21 17:22] therajanmaurya commented on #25
Yeah @top-gun007.

[2016-10-21 17:25] ashu-dadhich commented on #25
ok thanks will send a PR soon

[2016-10-22 09:03] therajanmaurya opened #35 "Fetch Client in Login activity and remove ClientList"
As user is logged in the app. user can see client that is not necessary.
Remove this ClientListActivity and fetch client in LoginActivity and directly show user dashboard.

[2016-10-22 13:57] therajanmaurya commented on #35
Added in #36

[2016-10-22 13:57] #35 closed, assigned to therajanmaurya

[2016-10-23 17:29] ashu-dadhich commented on #6
@therajanmaurya is someone working on it..if not can I?

[2016-10-24 06:08] therajanmaurya opened #39 "Refactor ClientAccount and write the generic type AccountFragment."
Refactor ClientAccount and write the generic type AccountFragment that will handle every Type of account request.

Here is a flow chart.

![group 7](https://cloud.githubusercontent.com/assets/5724482/19635442/ffe1a44a-99df-11e6-90e4-c306929ed331.png)

[2016-10-24 07:17] therajanmaurya commented on #39
**Completed**
- Refactored ClientAccounts.
- Added Generic Type AccountFragment.
- Fix Style Theme.
- Fix Toolbar Theme and TabLayout.

[2016-10-24 07:23] therajanmaurya commented on #39
Added in #38

[2016-10-24 07:23] #39 closed, assigned to therajanmaurya

[2016-10-28 14:31] therajanmaurya commented on #25
Fixed in #37

[2016-10-28 14:31] #25 closed

[2016-10-28 14:36] therajanmaurya commented on #6
Actually, this issue is explaining the whole app and that's a bad idea to make the changes in every file in single PR. that will rise the conflicts the others contributor works.

I will open the small issues to fix the ProgressDialog to ProgressBar :)

[2016-10-28 14:36] #6 closed

[2016-10-28 16:37] ashu-dadhich commented on #6
ok @therajanmaurya thanks for being for helpful :smile:

[2016-10-29 04:23] therajanmaurya commented on #20
Added in #41

[2016-10-29 04:23] #20 closed

[2016-10-29 05:35] therajanmaurya opened #43 "Add : Savings Account Status (Active or Not) in SavingsAccount list item."
In current user is able to see the SavingsAccount list but there is no sign to look. what is the status of SavingsAccount. it is Active or not.

How to achieve this issue :
- Add a circular Image view in SavingsAccount Item list.
- show the status of the Saving Account.

[2016-10-29 05:37] therajanmaurya opened #44 "Add : Savings Account Status (Active or Not) in SavingsAccount list item"
In current user is able to see the SavingsAccount list but there is no sign to look. what is the status of SavingsAccount. it is Active or not.

How to achieve this issue :
- Add a circular Image view in SavingsAccount Item list.
- show the status of the Saving Account.

[2016-10-29 05:38] #43 closed, assigned to nobody

[2016-10-29 05:41] therajanmaurya opened #45 "Add : LoanAccount Status (Active or not) in LoanAccount list item."
In current user is able to see the LoanAccount list but there is no sign to see. what is the status of LoanAccount. it is Active or not.

How to achieve this issue :
- Add a circular Image view in LoanAccount Item list in Adapter .
- show the status of the LoanAccount.

[2016-10-29 06:00] therajanmaurya opened #46 "Feature ShareAccounts."
Add feature ShareAccounts in ClientAccountFragment ViewPager.

How to achieve :
Add ShareAccount Adapter
Add UI for ShareAccount list item.
Add method in ClientAccounts that will update the UI in AccountFragment to show the ShareAccount.
@edcable Can you please suggest, what are the fields we need to show in share account list item.

[2016-10-29 06:48] therajanmaurya opened #47 "Feature Recurring Account"
Add feature Reoccurring Accounts in ClientAccountFragment ViewPager.

How to achieve :
Add Reoccurring Account Adapter
Add UI for Reoccurring Account list item.
Add method in ClientAccounts that will update the UI in AccountFragment to show the ShareAccount.
@edcable Can you please suggest, what are the fields we need to show in Reoccurring account list item

Till that show the Reoccurring Account

[2016-10-29 06:52] sagar15795 commented on #44
@therajanmaurya I am working on this issue.

[2016-10-29 07:02] sagar15795 commented on #44
@therajanmaurya  Can you tell me what type of circular image we have to use?
Is it symbolic icon images or text-based images ?

[2016-10-29 07:15] awasum opened #48 "Ability for clients to Apply for loans"
Client applies for loan using mobile app.
Loan officer approves loan.
Loan disbursed to clients savings account or mobile money account.

[2016-10-29 07:31] therajanmaurya commented on #44
Right now we want this type of UI and forget about the colors, I will tell you color sequence soon.
![group 13](https://cloud.githubusercontent.com/assets/5724482/19827968/3bb2c922-9dd7-11e6-8869-91002ef82dd2.png)

Image View will be good and as accordingly we will fill color into them.

[2016-10-29 07:36] therajanmaurya commented on #48
@edcable, have a look this issue.

[2016-10-29 07:42] therajanmaurya opened #49 "Show Valid Message In Recent Transaction."
In Recent Transaction show a message, if there is no recent transaction and also If any error occured during fetching the transaction.

[2016-10-29 09:32] ashu-dadhich commented on #45
can I work on it @therajanmaurya

[2016-10-29 09:43] therajanmaurya commented on #45
Yeah,  Go ahead. In which issue you have to add image view in  LoanAccount Adapter.
and UI would be like this. I am talking about the Image for showing the status.
![group 13](https://cloud.githubusercontent.com/assets/5724482/19828665/32f5698a-9dea-11e6-83e4-296d99d73762.png)

[2016-10-29 11:05] ashu-dadhich commented on #45
Yeah got it @therajanmaurya  thanks

[2016-10-30 05:34] therajanmaurya commented on #45
@top-gun007 You were asking me, how will you get Account status.
Please look into the LoanAccountListAdapter, you will found `private Status` field.
that will give you the status of the Account.
Sorry, I have missed getter setter when I was fixing the POJO. So make the getter setter of the LoanAccountListAdapter and you are able to access the Status of the Account.

I want from this issue only :
-

[2016-10-30 05:35] therajanmaurya commented on #44
@sagar15795 Please look, how you have to proceed with this Issue. Here #45 5th comment.

[2016-10-30 05:56] therajanmaurya opened #50 "Show Login Form onFailure Response."
Whenever a user is trying to login into the app.
If the response comes in the onFailure. In any case like
- User is log in with credentials
- The user is fetching client.
  then there is two methods showError(String errorMessage) and showMessage(String errorMessage) that showing the Failure response.

How to achieve this issue:
- Remove the showError(String errorMessage) method and use the showMes

[2016-10-30 12:23] sagar15795 commented on #44
Thanks @therajanmaurya.

Can you tell me what is the order of status attribute?

[2016-10-30 12:31] therajanmaurya commented on #44
I think You didn't read the full comment.

**I will open separate issue for this setting correct color order for account in Adapter for both Savings and Loan.**

[2016-10-30 12:41] therajanmaurya commented on #44
Color order means, there is many types of accounts :  Active, InActive, pendingApproval, waitingForDisbursal etc and for every type of accout we need to show his status by color indicator.
but in this issue you have do one thing.

Add Circular ImageView or you can use VIew Class instead because we want to fill the color in the view. So Please Use View. For Example : http://stackoverflow.com/a/1420

[2016-10-30 16:46] sagar15795 commented on #44
I understand what are you saying but my question is different. I am asking about order of status attributes from the following attributes

[code]

So I have following questions
1) At any particular time, only one attribute will be true or not
2) If not then which attribute has high weightage.

[2016-10-30 17:20] therajanmaurya commented on #44
Here is order

[code]

It will be like this.

and Please try to talk about the issue on the Github issue, If you have any query that is not related to issue. you can ask on Gitter channel because we are using the issue as a tracker, So we can easily track the fixes If we needed.

[2016-10-31 12:01] sagar15795 commented on #44
@therajanmaurya I have created UI as suggested by you

![image](https://cloud.githubusercontent.com/assets/5468111/19853470/666dcba8-9f8f-11e6-9cda-9a29ecb8e915.png)

Is it correct or not ?

[2016-10-31 12:18] sagar15795 commented on #44
@therajanmaurya
I have also implemented using the same approach as used in #52. You suggested that change view to custom Circular ImageView. So, I have to wait till you merge #52. Otherwise, it may create conflict for the custom Circular ImageView class.

[2016-10-31 15:48] therajanmaurya commented on #44
@sagar15795 It's great. send a PR, I will review and merge :)

[2016-10-31 21:31] therajanmaurya commented on #44
Fixed in #53

[2016-10-31 21:31] #44 closed, assigned to nobody

[2016-11-01 04:46] sagar15795 commented on #49
@therajanmaurya  I would like to work on this issue.

[2016-11-01 04:54] therajanmaurya commented on #49
Yeah, go ahead.

[2016-11-01 05:08] sagar15795 commented on #49
This issue only demands to add no recent transaction text view only.
As we are showing all error in the toast.
Is it ok?

[2016-11-01 05:16] therajanmaurya commented on #49
there should be a Image and Text in the center and according to response, If response transaction size is zero then show an Image and text("There is no transaction to show :).") and if failed, show image and text("Failed to load transactions").

[2016-11-01 05:24] therajanmaurya commented on #49
You can use drawable images for showing error : https://github.com/openMF/self-service-app/blob/development/app/src/main/res/drawable-hdpi/ic_error_black_24dp.png and for showing empty transaction https://github.com/openMF/self-service-app/blob/development/app/src/main/res/drawable-hdpi/ic_assignment_turned_in_black_24dp.png

[2016-11-01 05:25] sagar15795 commented on #49
@therajanmaurya thanks

[2016-11-01 10:14] therajanmaurya commented on #45
Fixed in #54

[2016-11-01 10:14] #45 closed, assigned to nobody

[2016-11-02 01:33] sosnickm commented on #50
I searched, but couldn't find any times the app uses the "showError(String errorMessage)" function. Did you mean another function like "showErrorFetchingClients(String errorMessage)" or "onLoginError(String errorMessage)"?

[2016-11-02 01:36] sosnickm commented on #50
Additionally, you want me to create a new function called showMessage(StringerrorMessage) right?

[2016-11-02 01:59] denilap opened #56 "User Story - Register/Sign-up"
User Story: As a customer opening the self-service app, I want to see an option to either login or register, so I can  access my self-service online account
### **Implementation of Registering a self service user : https://github.com/openMF/self-service-app/issues/56#issuecomment-309098971**
Acceptance Criteria-

- [x]  User should see login screen with input data fields for 1) Username 2) Passwor

[2016-11-02 02:10] denilap opened #57 "User Story - Self-service App Login"
User Story - As a customer, I want to be able to login to the self-service app with my credentials so I can securely access my self-service online account.

Acceptance criteria:
1) Both username and password data-fields are required input data fields:
  If username data field is left blank, show error alert - "Username cannot be left blank"
  If password data field is left blank show error alert -

[2016-11-02 04:46] therajanmaurya commented on #50
@sosnickm I think you looking with the `master` branch and `master` branch in not working default branch, `development` is main default branch, Please look the `development` branch and you will able to achieve this issue.

 if not Please let me know.

[2016-11-03 14:07] therajanmaurya commented on #56
- [x] User should see login screen with input data fields for
- Username
- Password
  ![login](https://cloud.githubusercontent.com/assets/5724482/19969114/58129d16-a1fd-11e6-8c6a-d6c496566312.jpg)
  This feature implemented successfully and working fine.

[2016-11-03 14:28] therajanmaurya commented on #56
- [ ] User should see an option to **Register/Sign-up**.
  if they don't have an online self-service account created - clicking on this option will route user to the Registration/Sign-in screen.
- Login Approach :  As we logging into the app. login screen prompt the username and password of the user and the client,  who is logging into that are attached to that user.

this is the whole approach we

[2016-11-03 19:21] sosnickm commented on #50
I switched to the development branch and that helped a lot!

However, I can only find the interface that declares these methods. I can't find the class that implements showMessage() or showError(). Can you help direct me to that?

[2016-11-03 20:17] sosnickm commented on #50
Submitted pull request https://github.com/openMF/self-service-app/pull/58

[2016-11-04 00:37] denilap opened #59 "User Story - Registration Screen - Account Validation"
User Story:
As a customer, I want my banking profile and accounts to be located and linked to my self-service online account so I can access them through my self-service app.

Acceptance criteria:

Input data fields  to enter 1) Account number  2) Phone number
Both are  required input data fields:
  If Account number data field is left blank, show error alert - "Account number is required"
  If Ph

[2016-11-04 00:45] denilap opened #60 "User Story - Registration Screen - Username and Password creation"
User Story:
As a customer, I want to create login credentials so I can securely access my self-service online account

Acceptance Criteria:
Input data fields to enter -  1) Username 2) Password 3) Re-enter Password  4) Security question 5) Security answer

Username data field specifications - TBD for specifications
Password data field specifications - At least 7 characters, 1 number, 1 uppercase l

[2016-11-04 08:24] puneetkohli521 commented on #47
@therajanmaurya I will take up this, will ask questions if any

[2016-11-04 08:27] puneetkohli521 commented on #46
@therajanmaurya I will take up this, will ask questions if any

[2016-11-04 15:51] therajanmaurya commented on #46
Yeah, Go ahead. I have created demo for share accounts 👍
You have now demo data for testing.

Let me know, if you have need any help.

[2016-11-05 07:58] awasum commented on #48
Linked to #60 #59 #57 as prerequisites.

[2016-11-05 09:59] #50 closed, assigned to sosnickm

[2016-11-05 20:07] therajanmaurya opened #61 "Show Client Charge"
Self-Service is a end user application. So we have to show as much as data to client, So that client will be satisfied.

Currently UI is like
![screenshot](https://cloud.githubusercontent.com/assets/5724482/20033167/e58cdc6e-a3c0-11e6-8908-53c7c7e602f1.jpg)

We want this UI
![group 6](https://cloud.githubusercontent.com/assets/5724482/20033169/ec180a90-a3c0-11e6-8151-87744260750b.png)

How to achi

[2016-11-05 20:22] denilap opened #62 "User Story - Password Reset Feature - step 1 (identity confirmation)"
User Story:
As a self-service app user, I want to securely reset my password, so that I can change my password for security reasons or if I missplaced my previous password

Acceptance criteria:
Password reset screen will ask for the following input data fields from the user:
1) Account number
2) Username
3) Security Answer ( Security Question should be displayed)

All input data fields are require

[2016-11-05 20:24] denilap opened #63 "User Story - Password Reset Feature - step 2 (set new password)"
User Story:
As a self-service app user, I want to securely reset my password, so that I can change my password for security reasons or if I missplaced my previous password

Acceptance criteria:
User will need to enter the following input data fields :

1)  New Password
2)  Re-enter New Password

New Password data field specifications - At least 7 characters, 1 number, 1 uppercase letter, 1 lowerca

[2016-11-05 20:53] therajanmaurya commented on #62
Looks good 👍

I looked into the [REST API](https://demo.openmf.org/api-docs/apiLive.htm#clients_retrieve)
and found that we have
1. Account number
2. First name
3. displayName(full name)

But We do not have any specific Username and Security Answer ( Security Question should be displayed) for a client.

Please Help @ishan1604, @shrunk7byadagi, @rajuan, @Nayan, @edcable

[2016-11-06 13:35] therajanmaurya commented on #48
I am looking closely all user stories and found that these are related to the validation and adding some extra paramter to validate user and thier accounts.
And after that i have looked the Self-Service REST API for applying loan(https://demo.openmf.org/api-docs/apiLive.htm#selfloanapply). In Present we are authenticating user with access token during fetching accounts, Client Charges etc.

Accour

[2016-11-06 13:36] therajanmaurya commented on #48
I am looking closely all user stories and found that these are related to the validation and adding some extra parameter to validate the user and their accounts.
And after that, i have looked the Self-Service REST API for applying loan(https://demo.openmf.org/api-docs/apiLive.htm#selfloanapply). In Present we are authenticating the user with access token during fetching accounts, Client Charges et

[2016-11-06 14:25] therajanmaurya commented on #48
Here you go @DanCarl857 If you need any help feel free to ask 👍

[2016-11-06 16:05] sosnickm commented on #61
Rajan, could you tell me what are the id's for the values Due amount, Paid amount, waived amount and outstanding amount? (right now there's just one id called tv_amount)

[2016-11-06 16:09] therajanmaurya commented on #61
You have to implement this UI from scratch.

[2016-11-07 08:10] rajuan commented on #56
@ishan1604, @shrunk7byadagi, @rajuan, @Nayan, @edcable , @denilap , @therajanmaurya

The user creation API that you have mentioned is for a normal user. For a self service user, additional flag of isSelfServiceUser and clients is required. Look at the additional examples given in create user api doc.

Creating a user is a secure operation that needs authentication credentials with appropriate perm

[2016-11-18 16:16] edcable commented on #47
@therajanmaurya Sorry i didn't address these comments. I'm trying to get the accounts set up but I'm running into issues with the interest rate charts. However for recurring deposit accounts we should display:
- Recurring Deposit Amount
- Next Meeting Date
- Meeting frequency
- Nominal Interest Rate
- Current interest earned to date
- Total balance
- Maturity Date

You can reference the mockup for

[2016-11-22 15:39] sosnickm commented on #61
<img width="403" alt="screen shot 2016-11-22 at 10 39 25 am" src="https://cloud.githubusercontent.com/assets/12140915/20529971/fb50d3d4-b09f-11e6-80e7-f652f719a021.png">

[2016-11-22 15:42] sosnickm commented on #61
Rajan, this is what I have now, but I am unsure of two things.
1 - Can you explain the green dot in the corner /  is it necessary?
2 - The 'Charge' class only has one number stored as amount. I don't see where I would get the information for "paid amount", "waived amount", or "outstanding amount". Where is that info stored?

[2016-11-25 09:05] therajanmaurya opened #64 "Add feature to show user details."
How to achieve this issue
1. Add layout in Navigation Header to show logged in user profile image and name.
2. Onclick profile ImageView opens a Layout that shows the user profile.
    like : User profile image, Name Account Number etc.

[2016-11-25 09:21] therajanmaurya commented on #61
_1 - Can you explain the green dot in the corner / is it necessary?_
Green dot showing the status of the charge, Is active or not. Yes, this is necessary.

_2 - The 'Charge' class only has one number stored as the amount. I don't see where I would get the information for "paid amount", "waived amount", or "outstanding amount". Where is that info stored?_
I have looked the source code, you have to

[2016-11-26 14:20] therajanmaurya opened #65 "Add RTL Support"
**Summary:**

Android now offers several APIs that allow you to build user interfaces that gracefully transform layout orientation to support languages that use right-to-left (RTL) UIs and reading direction, such as Arabic and Hebrew.

To begin supporting RTL layouts in your app, set the android:supportsRtl attribute to the ```<application>``` element in your manifest file and set it “true". Once

[2016-11-26 14:49] mayank-kgp opened #66 "Text in layout is going out of device screen."
**Summary:**

In detail page of a particular loan or saving account, sometimes the text is going out of device screen.

**Steps to reproduce:**

Navigate to LOAN ACCOUNTS and click on first account.

**Expected behavior:**

Space should be automatically adjusted.

**Observed behavior:**

Product name is going out of device screen.

**Device and Android version:**

YUREKA with Android 5.1.1

**Scre

[2016-11-26 15:16] mayank-kgp opened #67 "App is not displaying account list after coming from another drawer item."
**Summary:**

Account list is not there if we navigate from another drawer item.

**Steps to reproduce:**

Navigate to Recent Transactions or Charges in navigation drawer and click on account.

**Expected behavior:**

Account list should be there after reloading of data.

**Observed behavior:**

There is no account on screen.

**Device and Android version:**

YUREKA with Android 5.1.1

**Screensho

[2016-11-26 15:20] therajanmaurya commented on #67
This issue already fixed. @mayank-kgp Please go through the project wiki first and then change workspace from master to development.

Thanks

[2016-11-26 15:20] #67 closed, assigned to nobody

[2016-11-30 03:37] denilap opened #68 "User Story - Savings Accounts Summary Screen"
User story: As a self-service app user, I should be able to view a list of all my savings accounts, so that I can see the status and summary details of my savings accounts in one place

Acceptance criteria:

1)User will be shown the total available balance (total of available balance across all savings accounts)
2) User will be able to see a list of all savings accounts with the following details

[2016-12-03 12:25] therajanmaurya opened #69 "Add Home Screen Feature"
As an authenticated self-service user, upon initial log-in, I want to see a summary of my accounts and relevant details of balances.

Home screen is showing full client details
1. His Savings Share accounts.
2. His Details etc.

See the below screenshot.

<img width="636" alt="screen shot 2016-12-03 at 5 42 35 pm" src="https://cloud.githubusercontent.com/assets/5724482/20859283/fe822308-b97f-11e6-

[2017-01-15 00:05] sosnickm commented on #61
We should close this issue as the PR was accepted

[2017-01-15 01:47] therajanmaurya commented on #61
fix in #74

[2017-01-15 01:47] #61 closed, assigned to sosnickm

[2017-01-16 23:03] sosnickm commented on #69
@therajanmaurya there is no current function to get the picture from the client API. I am confused about how to do this. Is this something that I should do or should I do the update without this and someone else can it in later?

[2017-01-19 20:22] sosnickm commented on #69
If no picture is available, then should I show nothing, a blank box, or is there a specific image (like a fake profile)?

[2017-01-19 20:22] sosnickm commented on #69
How can I access the data stored for shares? For example I can get the loan / saving account info from the the client account, but I don't see the shares within that. If it is, then what function / input should I use?

[2017-01-19 20:28] therajanmaurya commented on #69
[Here](https://github.com/openMF/android-client/blob/master/mifosng-android/src/main/java/com/mifos/mifosxdroid/adapters/ClientNameListAdapter.java) you can find how to access client Image. look the line 73-77

[2017-01-19 20:33] therajanmaurya commented on #69
Using this [API](https://demo.openmf.org/api-docs/apiLive.htm#selfclientsaccounts) you will get every type of account loan, savings, and shares.
for Example check this [END_POINT](https://demo.openmf.org/fineract-provider/api/v1/self/clients/1/accounts?tenantIdentifier=default&pretty=true) [Enter the username and password in alert dialog]

[2017-01-23 15:56] sosnickm commented on #69
@therajanmaurya So i followed that link to the mifos android client app and it required bringing over a bunch of classes from that code base.

[2017-01-23 15:57] sosnickm commented on #69
Also the current sign in doesn't have a client picture, is there a way to add one so that I can see if my code works? Thanks

[2017-01-23 16:55] therajanmaurya commented on #69
What about this API END point https://demo.openmf.org/api-docs/apiLive.htm#selfclientsimages.
It is giving the Client Image Binary data.

[2017-02-03 17:26] mayank-kgp commented on #66
@therajanmaurya I would like to work on this issue.

[2017-02-03 17:29] mayank-kgp commented on #46
@puneetkohli521 @therajanmaurya I would like to know the status of task.
If nobody is working on this issue, I would like to work on.

[2017-02-04 20:27] ghost commented on #66
I would like to solve this issue

[2017-02-08 08:25] ghost commented on #60
@therajanmaurya  i have created some layout for registration...
![screenshot_20170208-134834](https://cloud.githubusercontent.com/assets/14215902/22728853/20edebce-ee06-11e6-91ac-4a383a403c54.png)
![screenshot_20170208-134839](https://cloud.githubusercontent.com/assets/14215902/22728865/2a3b1b66-ee06-11e6-9750-79353eb67619.png)
 please refer the above screen shots

[2017-02-08 08:26] ghost commented on #60
@therajanmaurya as the security questions at to be defined i have added some trial questions

[2017-02-08 22:12] puneetkohli521 opened #76 "App crashes loan accounts list"
App crashes if you try to view details of a loan list item.

[2017-02-08 23:02] mayank-kgp commented on #76
@puneetkohli521 It is working fine on my device.
Please make sure you are working on development branch.
Which device and android version are you using?

[2017-02-19 18:23] therajanmaurya commented on #69
any update @sosnickm

[2017-02-20 00:49] sosnickm commented on #69
I paused for 2-3 weeks, but will update late next week!

[2017-02-21 11:43] therajanmaurya commented on #18
Hi @ishan1604 do you mean to add this plugin https://plugins.gradle.org/plugin/com.github.hierynomus.license?
Or Add this https://github.com/openMF/android-client/blob/master/LICENSE.md in project root and mention in every project file like this
[code]

[2017-02-21 11:46] sgatibaru opened #78 "User Login"
I really need your help on this. Its not bad to ask so please forgive my naivete, Ive been trying to login to the app as a user, i even created a datatable for user authentication called 'authentication' on the demo system. I however cant access the system.. **I also was wondering if a new user could create an account in the system**. Ive been digging around the internet and i tried using the user

[2017-02-21 12:12] therajanmaurya commented on #78
@Siltech here is the credentials
username: selfservice
password: Password@123

[2017-02-21 12:17] sgatibaru commented on #78
Thank you for that @therajanmaurya, is there a way to map this user to mifos? i cant seem to find 'selfservice' on the list of account holders? Or rather, how to create a mifos client who can log into the client service app?

[2017-02-22 12:15] therajanmaurya commented on #18
Added in https://github.com/openMF/self-service-app/commit/66756b78ce3889a4d0c67f09ef86c7dd3d9d183f

[2017-02-22 12:15] #18 closed

[2017-02-22 12:41] akmittal006 commented on #64
how to get user image?

[2017-02-22 12:44] therajanmaurya commented on #64
Here is the API END point https://demo.openmf.org/api-docs/apiLive.htm#selfclientsimages.
It is giving the Client Image Binary data.

[2017-02-22 12:44] akmittal006 commented on #64
can i add picasso ??

[2017-02-22 12:46] therajanmaurya commented on #64
Yes you can. Go ahead.

[2017-02-23 07:28] therajanmaurya opened #82 "Refactor Saving Account Summary"
This is the Savings Account feature. In which you have to refactor the SavingAccount Feature.
![image](https://cloud.githubusercontent.com/assets/5724482/23248645/69fa78d4-f9c6-11e6-8ace-e54712d246d2.png)

[2017-02-23 07:55] therajanmaurya opened #83 "Feature Savings Account Transaction"
This is the Savings Account Transaction feature
![image](https://cloud.githubusercontent.com/assets/5724482/23249550/e4dc99ac-f9ca-11e6-833e-a44954d7f20b.png)

You can use this END POINT: https://demo.openmf.org/fineract-provider/api/v1/self/savingsaccounts/21?associations=transactions for implementing the feature

In which you can pass the savingsaccountId: 21 for now and an item in Navigation Dr

[2017-02-23 08:02] therajanmaurya opened #84 "Refactor LoanAccount details"
![image](https://cloud.githubusercontent.com/assets/5724482/23249735/d1182b38-f9cb-11e6-8f93-14bb876bd5bf.png)

In this feature there is three button for now you have to show toast onclick button.

[2017-02-23 09:00] singhalok641 commented on #83
I want to work on this issue

[2017-02-23 09:01] singhalok641 commented on #83
You can use this END POINT: https://demo.openmf.org/fineract-provider/api/v1/self/savingsaccounts/21?associations=transactions for implementing the feature.
The link shows an error .

[2017-02-23 12:53] sgatibaru commented on #84
Hi @therajanmaurya , there are many things I'm not getting with the self service app... I'm not the best java programmer but I'm very determined to contribute as i learn both android and java.

I'm figuring out a way to:
a) register a new user in the system who will have to be activated before he can use the app
b) Where i can get the app shown in the images above. The one i can see when i run the

[2017-02-23 13:23] therajanmaurya commented on #84
@SkylerGatibaru  you do not have to make user. Here the demo credentials https://github.com/openMF/self-service-app/wiki.
You have to implement this feature including the UI and logic.

[2017-02-23 13:26] therajanmaurya commented on #46
Fixed in #81

[2017-02-23 13:26] #46 closed, assigned to puneetkohli521

[2017-02-23 13:27] therajanmaurya commented on #65
Fixed in #72

[2017-02-23 13:29] #65 closed, assigned to nobody

[2017-02-23 13:31] therajanmaurya commented on #66
Open new issue for refactoring loan account details here #84

[2017-02-23 13:31] #66 closed, assigned to nobody

[2017-02-23 13:48] sgatibaru commented on #84
@therajanmaurya, thats for experimental purposes & i wanted to create a user and registration page that would link each user with the corresponding account.

[2017-02-23 15:59] therajanmaurya commented on #84
@SkylerGatibaru  There is some complication during creating the self-service user.
I am working on it. I will write some documentation as I will be done. Till that you can work with this credential.

[2017-02-23 22:15] ghost commented on #82
i would like to work on this issue

[2017-02-24 08:38] therajanmaurya commented on #82
Go ahead.

[2017-02-24 08:39] therajanmaurya commented on #83
@singhalok641 Here is documentation for testing the demo request in postman
https://github.com/openMF/self-service-app/wiki/Test-Mifos-API-in-Postman

[2017-02-24 11:56] therajanmaurya commented on #49
fixed in #88

[2017-02-24 11:56] #49 closed, assigned to nobody

[2017-02-24 16:19] puneetkohli521 opened #89 "Share Account Details"
Share account details following a share account list item. Similar to loan and saving account details section.

[2017-02-24 16:22] therajanmaurya commented on #89
Great go ahead👍

[2017-02-24 18:57] dilpreet2028 opened #90 "Redundant code for ProgressDialog"
**Summary:**

LoanAccountsDetailActivity and SavingAccountDetailActivity **initializes another progress dialog** and does not use the progress dialog already initialized in the BaseActivity.

Already working on it .

[2017-02-24 19:01] therajanmaurya commented on #90
@dilpreet96 There is no class with name `LoanAccountsDetailActivity` and `LoanAccountsDetailActivity` Can you please give me link.

[2017-02-24 19:03] therajanmaurya commented on #90
Yes, It is. Some of the contributors are working on issue refactoring and implementing the new mockups.

[2017-02-24 19:04] dilpreet2028 commented on #90
yes , here's the link :- https://github.com/openMF/self-service-app/blob/development/app/src/main/java/org/mifos/selfserviceapp/ui/activities/LoanAccountsDetailActivity.java

[2017-02-24 19:05] therajanmaurya commented on #90
@dilpreet96  I got it I was thinking about the android-client app Sorry for that.
Here is the issue #84 and #82

[2017-02-24 19:07] dilpreet2028 commented on #90
So Should , I send a quick PR ?

[2017-02-24 19:12] therajanmaurya commented on #90
I do not think so you will break some work. If you wanna work I can make you a issue.

[2017-02-24 19:16] therajanmaurya commented on #90
Let me know.

[2017-02-24 19:16] dilpreet2028 commented on #90
Yes I am interested in solving other issues

[2017-02-24 19:16] therajanmaurya commented on #90
Wait for some time. Let me look.

[2017-02-24 19:20] therajanmaurya commented on #90
Let me make some mockup.

[2017-02-24 19:23] dilpreet2028 commented on #90
Okay :) , till then i will search for more bugs

[2017-02-24 19:28] therajanmaurya opened #91 "Loan Account Summary Feature"
**Summary:**

This is the Loan Account summary for the LoanAccount feature
This is the [API](https://demo.openmf.org/api-docs/apiLive.htm#selfloan).
You can use Loan Account Number: 29 and put this static for now in the contractor.
When we compile the whole feature we will make dynamic

**Expected behavior:**

Should be a page for Loan Account Summary.

**Observed behavior:**

There are no summary

[2017-02-24 19:29] therajanmaurya commented on #90
Here you go @dilpreet96  #91

[2017-02-24 19:30] therajanmaurya commented on #90
I am closing this issue for now. No make sense.
Thanks and Welcome in the community.

[2017-02-24 19:30] #90 closed, assigned to nobody

[2017-02-24 19:30] therajanmaurya commented on #90
Please comment If you want to work in this issue.

[2017-02-24 19:31] dilpreet2028 commented on #91
I want to work on this

[2017-02-24 19:32] dilpreet2028 commented on #90
Yes, I want to work on this issue

[2017-02-24 19:33] therajanmaurya commented on #91
@dilpreet96 Go ahead. We are looking forward to your contribution.

[2017-02-24 19:36] therajanmaurya commented on #91
I know these mockups are old So please Use CardView and other Material Design tools that you want.

[2017-02-24 19:37] dilpreet2028 commented on #91
Okay :)

[2017-02-24 19:41] therajanmaurya commented on #91
If You need any help ask me on Gitter channel.
Best of Luck 👍

[2017-02-25 10:04] therajanmaurya commented on #91
Added in #92

[2017-02-25 10:04] #91 closed, assigned to nobody

[2017-02-25 10:08] therajanmaurya commented on #84
@SkylerGatibaru Any update

[2017-02-28 01:28] edcable commented on #78
@SkylerGatibaru Since the self-service APIs were also designed to support agents authenticating in and servicing multiple clients, there was some initial confusion with assigning a login which only has a one to one relationship with the client. As @therajanmaurya you should just use the demo credentials for attempting to work on these features. We are still building out a way for a user to self-cr

[2017-02-28 01:36] edcable opened #94 "Transfer funds between own savings accounts"
**Summary:**

As a self-service user, I want to transfer funds between savings accounts between two different accounts that belong to me.

See

![screen shot 2017-02-27 at 5 32 47 pm](https://cloud.githubusercontent.com/assets/823454/23387717/304e552e-fd13-11e6-8891-d2fe2985ca15.png)

See https://demo.openmf.org/api-docs/apiLive.htm#selftransfertemplate

[2017-02-28 04:55] mayank-kgp commented on #94
@therajanmaurya I would like to work on this.

[2017-03-01 06:32] therajanmaurya commented on #84
fixed in #93

[2017-03-01 06:32] #84 closed, assigned to nobody

[2017-03-01 11:36] therajanmaurya commented on #89
This issue is on hold now because the API is not ready yet.

[2017-03-01 12:07] therajanmaurya commented on #82
@prashanthkomuravelli Any update

[2017-03-01 13:15] ghost commented on #82
@therajanmaurya I will send PR till day after tomorrow,sorry for late

[2017-03-01 13:56] immabhay commented on #68
@therajanmaurya I would like to work on this issue.

[2017-03-01 14:23] therajanmaurya commented on #76
fixed in #95

[2017-03-01 14:23] #76 closed, assigned to nobody

[2017-03-01 17:51] joydeepsaha05 opened #97 "Add checks for login fields"
**Summary:**

A progress dialog is seen on the login screen even when the Username and Password field is left blank and the login button is selected.

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behavior:**

Prompt the user to input username and/or password. Although a prompt is seen, the progress dialog shouldn't.

**Observed behavior:**

A toast message along with the pr

[2017-03-01 17:56] joydeepsaha05 commented on #97
Just saw this issue: #57
Is this part of some other, bigger code changes?

[2017-03-01 18:10] joydeepsaha05 commented on #64
@therajanmaurya Should the profile image and name be added on top of the current Mifos image?

[2017-03-01 18:57] deepakbansal168 commented on #62
Hi
I would like to contribute in this project and started my work from this task. I designed the screen layout and almost done with functionality too. Please let me know if designs are correct so that i can proceed further.
![Uploading Screenshot_20170302-001442.png…]()

[2017-03-01 19:13] lokeshkvn opened #98 "Strings in row_client_charge.xml are Hardcoded"
**Summary:**

Strings in Relative layout of row_client_charge.xml are Hardcoded

**Steps to reproduce:**

N.A

**Expected behavior:**

These strings must be added in strings.xml file instead of hardcoding it.

**Observed behavior:**

N.A

**Device and Android version:**

N.A

**Screenshots:**

N.A

[2017-03-01 19:14] lokeshkvn commented on #98
I am a beginner to the open-source community and I would like to work on it.

[2017-03-01 19:51] Pritom14 commented on #98
The strings are already present in strings.xml file

[2017-03-01 20:21] lokeshkvn commented on #98
Hi, can you please review the PR #99 ?

[2017-03-02 05:07] therajanmaurya commented on #97
@joydeepsaha05 Go ahead and fix this issue.

[2017-03-02 05:08] therajanmaurya commented on #97
@joydeepsaha05 Community discussion is not the issue. It is the normal discussion.

[2017-03-02 05:52] Pritom14 commented on #97
Please review #100 . I have added the checks for login field and the progress dialog won't show up if either the username is empty or password field is empty, instead it will prompt the user to re-enter the fields.

![17036726_1741282042850565_2080568137_o](https://cloud.githubusercontent.com/assets/16569570/23494713/7184e07a-ff3a-11e6-89f7-3faeef16cb59.jpg)

[2017-03-02 05:53] Pritom14 commented on #97
@therajanmaurya can you please review it

[2017-03-02 06:22] therajanmaurya commented on #98
fixed in #99

[2017-03-02 06:22] #98 closed, assigned to nobody

[2017-03-02 06:45] Pritom14 commented on #97
I have fixed all the issues and submitted a pull request again #101 , can you please review it @therajanmaurya

[2017-03-02 07:55] therajanmaurya opened #102 "Feature Help"
**Summary:**

There is no feature for help.

![image](https://cloud.githubusercontent.com/assets/5724482/23497977/86daefe4-ff4b-11e6-95a0-75e627aa072e.png)

Add an item in navigation drawer Help and add Google Maps and above UI.

[2017-03-02 08:00] code-dagger opened #103 "App crash - Share AccountFragment"
**Summary:**
Application crashes when a list item in Share Tab clicked.

**Steps to reproduce:**
How can we reproduce the issue?

**Expected behavior:**
It should display the user detail screen of account info.

**Observed behavior:**
When we click an item it triggers onItemClick method, in which the actual crash is happening.

[code]

**Device and Android version:**
Redmi Note 3 - Android 6.0

**

[2017-03-02 08:01] dilpreet2028 commented on #102
I would like to work on this

[2017-03-02 08:02] immabhay commented on #102
I would like to work on this issue. @therajanmaurya

[2017-03-02 08:52] therajanmaurya commented on #102
Go ahead 👍

[2017-03-02 08:52] therajanmaurya commented on #103
Go ahead fix the bug.

[2017-03-02 17:40] vikasdesale opened #107 "feat: Change App Icon"
**Summary:**
The App still uses Android App default icon.

**Steps to reproduce:**

Apps Menu on Phone

**Expected behavior:**

Need App Icon related to Application.

**Observed behavior:**

Default Android App Icon

**Device and Android version:**
ALL

**Screenshots:**
<img src="https://cloud.githubusercontent.com/assets/12857075/23519398/c2afe1ea-ff9c-11e6-9252-8e4106f9bf63.png" width="250" heig

[2017-03-02 17:58] vikasdesale opened #108 "fix:Doesn't support orientation change"
**Summary:**
Doesn't show landscape orientation on rotation of device by the user.

**Steps to reproduce:**

rotate device

**Expected behavior:**

on rotation change app orientation to landscape.

**Observed behavior:**

only shows portrait orientation on device rotation.

**Device and Android version:**
ALL

**Screenshots:**
-

[2017-03-02 18:13] vikasdesale opened #109 "fix: Saving account details overflowing out of the screen"
**Summary:**
 Saving account details text views with large text overflowing out of the screen.

**Steps to reproduce:**

Open Saving Account details screen.

**Expected behavior:**

Text in text views on Saving account details screen must not be overflowing out of the screen.

**Observed behavior:**

text overflowing out of the screen.

**Device and Android version:**

Micromax A106(Android Versio

[2017-03-02 19:38] vikasdesale commented on #109
resolve issue #66

[2017-03-02 19:38] #109 closed, assigned to nobody

[2017-03-02 19:39] vikasdesale commented on #109
resolve issue #66

[2017-03-02 23:34] doomers opened #114 "Use of Vector Drawable Instead of 5 PNGs"
**Summary:**

replace 5 PNGs with Vector Drawables

**Steps to reproduce:**

Create Vector Drawables(SVGs) of the same PNGs.

**Expected behavior:**

App should use be using Vector Drawables instead of PNGs.

**Observed behavior:**

App is using 5 PNGs for every drawable resource instead of which a single SVG which will handle all resolutions by itself, can be used.
**Device and Android version:**

[2017-03-03 00:02] doomers commented on #114
I have done it.
Shall I send a PR?

[2017-03-03 01:07] atefhares commented on #63
Can I work on This?

[2017-03-03 01:34] atefhares commented on #56
i want to work on this, is it ready to be implemented?

[2017-03-03 01:47] atefhares opened #115 "The app keeping the user loggedIn!"
**Summary:**

The app is saving that I am logged In after closing it.

**Steps to reproduce:**

login with username & pass and simply close that app then open it again and you will see the login screen.

**Expected behavior:**

App should keeps user logged in!

**Observed behavior:**

The login screen.

**Device and Android version:**

Android 6.0.1

[2017-03-03 04:20] Pritom14 commented on #115
Since the app deals with money transactions , so it's better that it is logged out once the app is closed, don't you think? What's your opinion?

[2017-03-03 10:38] therajanmaurya commented on #115
@atefhares @Pritom14  is right.

[2017-03-03 10:43] therajanmaurya commented on #114
G0 ahead Send PR.

[2017-03-03 10:44] therajanmaurya commented on #108
Yes, I know. Can you please propose your way of implementing.

[2017-03-03 11:45] therajanmaurya commented on #102
Added in #105

[2017-03-03 11:45] #102 closed, assigned to nobody

[2017-03-03 11:50] therajanmaurya opened #119 "Feature Loan Account Transactions"
**Summary:**

Add feature for Loan Account Transactions.

**Expected behavior:**

Open any active or closed account and there will be button "Transactions". Add feature to show the loan transactions.

**Observed behavior:**

There is only toast showing.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version (e.g., And

[2017-03-03 11:53] dilpreet2028 commented on #119
I would like to work on this

[2017-03-03 11:54] therajanmaurya commented on #119
Go ahead 👍

[2017-03-03 12:14] therajanmaurya opened #120 "Feature Loan Repayment"
**Summary:**

Add Feature Loan Repayment Schedule

**Steps to reproduce:**

Open any loan account and click on Repayment Schedule.

**Expected behavior:**

There should be a Repayment Schedule Fragment that will show the Repayment schedule

**Observed behavior:**

Showing Toast

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What A

[2017-03-03 12:53] vikasdesale commented on #120
I would like to work on this issue, sir @therajanmaurya.

[2017-03-03 13:54] vikasdesale commented on #108
sir, I would like to use Parcelable and saveInstanceState to implement this feature.This is because app using Parcelable previously so easy to get and save data when screen rotates.
I will start with all
  1.login activity
  2.Navigation Drawer Menus
     i.Tabs on Fragment(Accounts)
                tabs on click details screens
                   1.saving account details(Activity)

[2017-03-03 14:05] atefhares commented on #115
@Pritom14 @therajanmaurya  I am convinced of your idea but that is a poor UX, is n't there any other possible way to handle this?!
At least offer to keep the user logged In after checking that there is a pin/password/pattern on the device's lock screen and otherwise don't keep him

[2017-03-03 15:03] code-dagger commented on #107
Can I work on this?

[2017-03-03 15:49] code-dagger commented on #103
@therajanmaurya bug fix PR #121

[2017-03-03 16:58] therajanmaurya commented on #103
fixed in #121

[2017-03-03 16:58] #103 closed, assigned to nobody

[2017-03-03 18:00] vikasdesale commented on #107
Hi @immabhay look at pull request #112

[2017-03-04 17:06] code-dagger opened #127 "Add About Us Screen"
**Summary:**
Add about us screen to the application.

**Steps to reproduce:**
How can we reproduce the issue?

**Expected behavior:**
Application should open About Us screen on clicking about us menu in navigation drawer list.

**Observed behavior:**
Application only updates the app bar title of the application to About Us, but doesn't open any About Us screen (activity/fragment).

**Device and An

[2017-03-04 17:07] immabhay commented on #127
@therajanmaurya I would like to work on this if you can assign me this.

[2017-03-04 18:36] shivamarora96 commented on #127
@therajanmaurya I would also love to work on this. Kindly describe the content that should appear in About us screen?

[2017-03-04 18:54] shivamarora96 commented on #115
@atefhares @therajanmaurya @Pritom14
I think Login details(username and Password) should be asked only one time.After successful login, app should prompt the user to set the security code (Numeric generally). After this whenever user reopened the app it should only ask for the security code (Like Dropbox, BOB mpassbook) instead of re-typing the username and password again and again.Whenever a user

[2017-03-05 03:47] Subhankar29 commented on #127
Can I Claim the issue?

[2017-03-05 06:14] dilpreet2028 commented on #119
Added in #126

[2017-03-05 11:54] therajanmaurya commented on #82
implemented in #125

[2017-03-05 11:54] #82 closed, assigned to nobody

[2017-03-05 11:54] #119 closed, assigned to nobody

[2017-03-05 11:55] therajanmaurya commented on #120
Added in #128

[2017-03-05 11:55] #120 closed, assigned to therajanmaurya

[2017-03-05 12:15] therajanmaurya commented on #69
@sosnickm Can you please send the PR.

[2017-03-05 12:26] therajanmaurya opened #129 "Login Button text Color to White"
**Summary:**

Change the Login button color to white because button text color is not making sense with our current theme.

[2017-03-05 12:27] dilpreet2028 commented on #129
Will be sending a quick PR

[2017-03-05 12:29] therajanmaurya commented on #129
Go ahead👍, I have fixed a lot in code. Please force pull. Otherwise, you may get conflicts.

[2017-03-05 13:14] dilpreet2028 commented on #129
I just got confused with the summary given as it says " Login button colour to white" .. sorry for that ..
Fixed in #130

[2017-03-05 13:43] therajanmaurya commented on #129
Fixed in #130

[2017-03-05 13:43] #129 closed, assigned to nobody

[2017-03-05 14:13] dilpreet2028 opened #131 "Feature Make Payment"
**Summary:**

Add feature Make Payment in LoanAccountDetails

Yes , I would like to work on this

 @therajanmaurya can you provide a mock or api endpoint for this

[2017-03-06 06:22] shivamarora96 opened #132 "To implement the passcode feature so that user do not have to enter Username and Password Again And Again."
**Summary:**
To implement the passcode feature so that user do not have to enter Username and Password Again And Again.

**Steps to reproduce:**
login with username & pass and simply close that app then open it again and you will see the login screen.

**Expected behavior:**
After successful login, app should prompt the user to set the security code (4-digit Numeric). After this whenever user reop

[2017-03-06 06:23] shivamarora96 commented on #132
@therajanmaurya  I would like to work on this.

[2017-03-06 06:23] shivamarora96 commented on #132
Kindly assign me this issue.

[2017-03-06 07:39] therajanmaurya commented on #132
Looks great, Go ahead 👍. Please follow app material styles for now.

[2017-03-06 07:51] shivamarora96 commented on #132
ok

[2017-03-06 08:00] therajanmaurya opened #133 "refactor Loan Repayment Schedule"
**Summary:**

Refactor Loan Repayment UI.

![image](https://cloud.githubusercontent.com/assets/5724482/23601323/e6d96754-0270-11e7-9537-bb53cb054be0.png)

How to navigate to the feature.
switch to loan accounts -> click on active account -> you can view repayment schedule.

[2017-03-06 08:01] Pritom14 commented on #133
Can I work on this?

[2017-03-06 08:01] dilpreet96 commented on #133
I would like to work on this

[2017-03-06 08:01] therajanmaurya commented on #133
@Pritom14 Yes You can.

[2017-03-06 08:03] dilpreet2028 commented on #83
I would like to work on this

[2017-03-06 08:03] Pritom14 commented on #133
Thank you , I will try to send the PR as soon as I am done

[2017-03-06 08:06] rahulbabbar1 commented on #69
@therajanmaurya can I work on this??

[2017-03-06 08:12] therajanmaurya commented on #83
Go ahead.

[2017-03-06 08:14] therajanmaurya commented on #69
Wait, Let me ping @sosnickm. I do not want that two people doing the same thing.

[2017-03-06 08:15] therajanmaurya commented on #132
You can make this quick, So I will review and try to add in this release.

[2017-03-06 08:15] rahulbabbar1 commented on #69
yeah sure.

[2017-03-06 08:41] shivamarora96 commented on #132
I am working on it and Complete this by the end of the day.Since its my first commit to the repo hence i need a little more time to deal with the codebase.

Surely i will make it by the end of the day

[2017-03-06 09:03] Pritom14 commented on #133
@therajanmaurya can I get the api ?

[2017-03-06 09:04] therajanmaurya commented on #115
further discussion here #132

[2017-03-06 09:04] #115 closed, assigned to nobody

[2017-03-06 09:06] therajanmaurya commented on #114
@doomers It will be great, if you will fix your commit message and try to follow the commit style guideline. https://github.com/openMF/self-service-app/wiki/Commit-Style-Guide

[2017-03-06 09:40] therajanmaurya commented on #133
@Pritom14 It's already implemented, In this issue you have to change the UI of the feature.

[2017-03-06 09:41] Pritom14 commented on #133
Okay

[2017-03-06 09:42] therajanmaurya commented on #133
I have updated the description check again.

[2017-03-06 09:57] therajanmaurya opened #135 "UI Enhancement in Loan Summary."
**Summary:**

UI enhancement in Loan Summary

![image](https://cloud.githubusercontent.com/assets/5724482/23605076/52c1ea76-0281-11e7-8e12-261cef3acd80.png)

About the status if the account check savings account summary implementation.

[2017-03-06 09:59] Pritom14 commented on #135
can I work on this?

[2017-03-06 10:05] rahulbabbar1 commented on #135
I would like to work on this.

[2017-03-06 10:07] therajanmaurya commented on #135
@Pritom14 This is not the way of working. Please pick only one issue at a time.
I can not assign you another issue till that you will complete the previous one.

[2017-03-06 10:07] therajanmaurya commented on #135
@rahulbabbar1 yes you can, Go ahead 👍

[2017-03-06 10:09] rahulbabbar1 commented on #135
okay.

[2017-03-06 11:11] sosnickm commented on #69
I'm working on this! Will try to send the PR ASAP

[2017-03-06 13:20] doomers commented on #114
Sure I will , tomorrow with proper guidelines provided by you

[2017-03-06 17:15] hardik124 commented on #107
@therajanmaurya  i am new here , can i work on this?

[2017-03-06 18:06] dilpreet2028 commented on #83
@therajanmaurya PR sent #136

[2017-03-06 18:27] ghost opened #137 "clicking back button in navigation drawer items completely exiting App"
by clicking back button in the layout of  any item in navigation drawer( Recent transactions,charges,help...etc) it's closing complete app, it will be better if we go first to home screen(Accounts screen) and then closing app...

@therajanmaurya can you please look at this issue...
if this issue is considerable ,i would like to work on this issue..

[2017-03-06 19:25] sosnickm commented on #69
Hey, my Android studio will only run with gradle version 2.14.1, what should i do about this?

[2017-03-06 19:29] sosnickm commented on #69
I can't do a gradle sync and was having trouble merging the new commits

[2017-03-06 20:11] therajanmaurya commented on #69
what type of trouble you are getting.

[2017-03-06 20:12] therajanmaurya commented on #137
Go ahead 👍

[2017-03-06 20:30] sosnickm commented on #69
Error:Minimum supported Gradle version is 2.14.1. Current version is 2.10. If using the gradle wrapper, try editing the distributionUrl in /Users/michaelsosnick/AndroidStudioProjects/self-service-app/gradle/wrapper/gradle-wrapper.properties to gradle-2.14.1-all.zip
Fix Gradle wrapper and re-import project

[2017-03-06 21:03] therajanmaurya commented on #48
Added in #139

[2017-03-06 21:03] #48 closed, assigned to nobody

[2017-03-06 21:07] therajanmaurya commented on #107
Fixed in #138

[2017-03-06 21:07] #107 closed, assigned to nobody

[2017-03-06 21:07] therajanmaurya commented on #97
fixed in #118

[2017-03-06 21:07] #97 closed, assigned to nobody

[2017-03-06 21:43] sosnickm commented on #69
I've changed it for now because it seems as if you have already changed it as well. I am still having gradle issues with the pull. Will try to post problems here

[2017-03-06 21:52] m-murad opened #141 "Add name of user in NavBar Header."
**Summary:**
Like most of the apps we should add name of the User in the NavBar Header.

**Expected behavior:**
The NavBar Header does not have the name of the user who has logged in.

**Observed behavior:**
The NavBar Header has not text.

**Device and Android version:**
Moto G4 Plus, Android 7

[2017-03-06 21:59] m-murad opened #142 "Change the Help icon in Nav Bar"
**Summary:**
The `About Us` and `Help` icons are the same.

**Expected behavior:**

The icons should be different. The `About Us` icon is fine but we can replace the `Help` icon with an appropriate one given in Android Icon assets.

**Device and Android version:**

Moto G4 Plus, Android 7

**Screenshots:**
![screenshot_20170307-032550](https://cloud.githubusercontent.com/assets/17262180/23631877/e

[2017-03-06 22:00] m-murad commented on #142
@therajanmaurya
Should I send a PR.

[2017-03-06 22:00] m-murad commented on #141
@therajanmaurya
Should I send a PR?

[2017-03-06 22:10] m-murad opened #143 "RecentTransaction items are unnecessarily clickable."
**Summary:**
In `Recent Transactions` fragment the list items are clickable. On clicking theses items the ripple effect can be seen but nothing happens. This confuses the user if every thing is working fine or not.

**Expected behavior:**
The ripple effect should be disabled so that there is no confusion.

**Observed behavior:**
The ripple effect creates confusion if some other activity has to ope

[2017-03-06 22:10] m-murad commented on #143
@therajanmaurya
Should I send a PR?

[2017-03-07 05:34] hardik124 commented on #143
I think it's better to leave it like that , because later there could be a transaction detail fragment which will open  when user clicks on a transaction.

[2017-03-07 05:45] therajanmaurya commented on #143
@hardik124 You are right, In future, we will implement Transaction Details Fragment. That's why I did not remove the ripple effect.

[2017-03-07 05:46] therajanmaurya commented on #143
Closing Now.

[2017-03-07 05:46] #143 closed, assigned to nobody

[2017-03-07 05:47] therajanmaurya commented on #142
Yeah Go ahead 👍

[2017-03-07 06:16] m-murad commented on #141
@therajanmaurya
What about this one?

[2017-03-07 06:18] m-murad commented on #143
@therajanmaurya  @hardik124
Sure if in near future we are implementing the feature then we should keep it.
But if we are planning an early release (before implementing the feature) then Think we should remove it.
Let me know if you change your mind.

[2017-03-07 06:20] therajanmaurya commented on #141
@free4murad It's not fixed, We have to add a feature in for showing the client detail.
Checkout https://github.com/openMF/self-service-app/issues/64 and let me know, If you wanna pick.

[2017-03-07 06:21] therajanmaurya commented on #142
Added in #144

[2017-03-07 06:21] #142 closed, assigned to nobody

[2017-03-07 06:22] hardik124 commented on #64
I want to work on this.

[2017-03-07 06:22] m-murad commented on #64
Can I work on this

[2017-03-07 06:25] therajanmaurya commented on #64
@hardik124 Go ahead 👍. Please try to be quick.

[2017-03-07 12:07] therajanmaurya commented on #83
Added in #136

[2017-03-07 12:07] #83 closed, assigned to nobody

[2017-03-07 12:20] dilpreet2028 commented on #133
Can I work on this issue

[2017-03-07 12:21] therajanmaurya commented on #133
Go ahead 👍

[2017-03-07 12:21] Rishabhk07 opened #147 "No message on login if internet is not connected"
**Summary:**

In login activity if we login with no internet access, login dialog shows and returns to login activity, here we can give user a snackBar or toast with "No internet connection" message.

**Steps to reproduce:**

Step1: enter correct username and password
Step2: give no internet access to your phone
Step3: press Login
Step4: Login Dialog shows and returns to same activity

**Expected

[2017-03-07 12:25] therajanmaurya commented on #147
great catch, Go ahead  👍.

[2017-03-07 12:26] therajanmaurya commented on #147
@Rishabhk07 I think we do not have Connection Utils. Use this https://gist.github.com/emil2k/5130324

[2017-03-07 12:29] Rishabhk07 commented on #147
@therajanmaurya cool, will use this and send the PR 👍

[2017-03-07 12:30] therajanmaurya commented on #147
Put this Connection Utils class in utils package.

[2017-03-07 12:36] Rishabhk07 commented on #147
okay, with the same name or with ConnectionUtils name ?

[2017-03-07 16:10] shivamarora96 commented on #127
@therajanmaurya  can i work on this ?

[2017-03-07 17:02] #135 closed, assigned to nobody

[2017-03-08 03:02] rahulbabbar1 commented on #56
@therajanmaurya for the client problem, i think what we can do is:
- Case 1 (When self service user is registering through the app): User can simply register in the app using his mobile no, and email address similar to as other apps do. After successful sign up, user will get an option link/request a client for his account until then we can store a boolean haveClientConnected with a fals value.
-

[2017-03-08 08:13] shivam21 commented on #147
Hi,I would like to work on this issue.please aaign it to me.

[2017-03-08 08:19] shivam21 commented on #141
I want to work on this issue.Please assign me this

[2017-03-08 08:20] shivam21 commented on #137
hi,i would like to work on this issue

[2017-03-08 08:22] shivam21 commented on #132
hi,i would like to work on thiis issue.

[2017-03-08 08:36] shivamarora96 commented on #132
@shivam21 I have already implemented it.See PR

[2017-03-08 08:59] Rishabhk07 commented on #147
@shivam21 Hey, i have fixed this issue and sent the PR but thanks for your interest.

[2017-03-08 18:08] ghost opened #154 "Adding statement feature in Recent Transactions"
As we already having Recent transactions ,We can send statement of transactions to customer email if he wants ...because i observed this feature in some banking apps....
@therajanmaurya can you please suggest me that whether this feature is addable ,if yes i would love to work on this feature.......

[2017-03-08 21:07] sosnickm commented on #69
@therajanmaurya  How many of each type of account should there be on the home page? 3 saving accounts, 2 loan accounts and 1 star account?

[2017-03-08 21:09] sosnickm commented on #69
Also, should the "total saving accounts" be the total of the three accounts that are on the page or of all of the accounts? (the same question applies to the other types of accounts)

[2017-03-09 03:30] rahulbabbar1 opened #155 "Feature Withdraw Pending Loan Application"
**Summary:**

Withdraw Pending Loan Application
Add the option to withdraw any pending loan option from the tool-bar menu.

Using the following API:
https://demo.openmf.org/fineract-provider/api/v1/self/loans/{loanId}?command=withdrawnByApplicant

[2017-03-09 03:30] rahulbabbar1 commented on #155
@therajanmaurya I would like to implement this.

[2017-03-09 04:29] rahulbabbar1 commented on #69
I think it would be better if it shows a scrollable list of accounts in each section. If total no. of shares, saving acc, and loans exceeds 6 then each category must limit 2 account in a single view. Else if total no. Is less than 6 then simply show all entities.
What's your opinion about this @therajanmaurya

[2017-03-09 05:51] hardik124 opened #156 "Cannot login with given account"
**Summary:**

Login with credentials (selfservice,Password@123) was working fine until now , now i cannot login

**Steps to reproduce:**

Try to login using the app login page

**Expected behavior:**

To login and open HomeActivity

**Observed behavior:**

ReOpens the login page

**Device and Android version:**
6.0 , custom rom

[2017-03-09 06:01] dilpreet2028 commented on #156
I am also experiencing the same ,every endpoint is returning 404 there might be some server issues

[2017-03-09 07:03] shivam21 commented on #156
it started working now.

[2017-03-09 18:36] kienme opened #157 "Dates in transaction filter"
**Summary:**

Clicking on the filter button in transactions without setting start and end dates shows an empty result.

**Steps to reproduce:**

Click on any item in the savings tab in home screen and select 'transactions' from the overflow menu. Tap on the filter button without setting start or end dates.

**Expected behavior:**

The expected behaviour is for the app to prompt the user to select

[2017-03-09 18:37] kienme commented on #157
I can work on this. Can I fix it and send a PR?

[2017-03-09 18:50] sosnickm commented on #69
I was thinking that it shouldn't really show all of the accounts for three reasons: one - it would be hard to scroll through that little section and it wouldn't be super usable on a phone. two - if you wanted to look at all the accounts or scroll through them, then it so much easier to just go to the accounts page. three - isn't this supposed to be an overview page? pushing functionality on this p

[2017-03-09 18:50] therajanmaurya commented on #156
Yes, Because of down server.

Closeing this

[2017-03-09 18:50] #156 closed, assigned to nobody

[2017-03-10 03:01] rahulbabbar1 commented on #69
Yup sounds right. Just add a option in each section "see all accounts" , on clicking which corresponding activity opens .

[2017-03-10 03:11] rahulbabbar1 opened #158 "Feature Profile Section"
**Summary:**

Add a profile section for the users, where the user can see or set his profile pic, DOB, mobile no., email id , etc.

[2017-03-10 03:12] rahulbabbar1 commented on #158
@therajanmaurya can I work on this??

[2017-03-10 03:28] hardik124 commented on #158
@therajanmaurya I will send the pull request today. Sorry for delay.

[2017-03-10 04:09] rahulbabbar1 commented on #158
Sorry, didn't know that a similar issue exist.

[2017-03-10 04:09] #158 closed, assigned to nobody

[2017-03-10 08:38] therajanmaurya commented on #157
Yeah Go ahead 👍

[2017-03-10 08:38] therajanmaurya commented on #157
Yeah Go ahead 👍

[2017-03-10 08:39] therajanmaurya commented on #155
@rahulbabbar1 I have to talk first about this in community.
I will talk today and let you know.

[2017-03-10 08:42] therajanmaurya commented on #157
@kienme Remove the `None` Radio button.
![image](https://cloud.githubusercontent.com/assets/5724482/23788201/7e659746-059b-11e7-85ff-6eb134d78923.png)

And add a simple button for showing all, like above

[2017-03-10 08:46] therajanmaurya commented on #154
@prashanthkomuravelli Right now we do not have any API for generating the statement of the transactions.

[2017-03-10 08:46] therajanmaurya commented on #154
Closing for now.

[2017-03-10 08:46] #154 closed, assigned to nobody

[2017-03-10 08:47] #147 closed, assigned to nobody

[2017-03-10 08:52] dilpreet2028 opened #160 "Feature Transfer of funds one account to another"
**Summary:**

Ability to transfer Monetary funds from one account to another

I would like to work on this

[2017-03-10 09:43] ghost opened #161 "Adding FEEDBACK feature"
@therajanmaurya ,can i add feedback feature ,i,e if customer wants to give his opinion about our services he can send us mail ...as this is the most common feature i observed in some banking apps

[2017-03-10 10:01] kienme commented on #157
@therajanmaurya am I right in understanding that I should

1) remove the 'None' radio button and
2) add a button that resets the filter and shows all results when clicked

Please clarify.

[2017-03-10 10:15] therajanmaurya commented on #157
Yes

On 10-Mar-2017 3:31 PM, "Ravikiran" <notifications@github.com> wrote:

[2017-03-10 11:15] therajanmaurya commented on #64
@hardik124  Any update

[2017-03-10 11:24] therajanmaurya commented on #69
@sosnickm Follow this
![image](https://cloud.githubusercontent.com/assets/5724482/23793587/feeace66-05b1-11e7-8a4e-62d30988e979.png)

OnClick any type of account make Fragment Transaction ClientAccountFragment.class

[2017-03-10 14:49] rahulbabbar1 opened #164 "Feature to export transaction history to an excel file."
**Summary:**

Feature to let any user export his/her transaction history to an excel file for personal/professional use.

[2017-03-10 14:50] rahulbabbar1 commented on #164
@therajanmaurya I would like to work on this.

[2017-03-11 02:06] kienme opened #167 "Validate date in filter"
**Summary:**

Filter option in saving transactions allows end date to be earlier than start date.

**Steps to reproduce:**

Set end date earlier than start date and click on filter.

**Expected behavior:**

End date selection should be disabled before setting start date. Allowed dates should be after the start date.

**Observed behavior:**

Clicking on filter after doing so returns an empty list.

[2017-03-11 06:48] Rishabhk07 opened #168 "UI enhancement : SnackBar instead of toast if internet is not connected in charges fragment"
**Summary:**

if we pull to refresh data in charges fragment when internet is not connected, a toast pops with error message "Error loading in client charges", instead of this toast a SnackBar with same message will enhance the UI

**Steps to reproduce:**

Step1: login into app
Step2: go to charges fragment
Step3: give no internet access to your phone
Step4: pull to refresh data and a toast will a

[2017-03-11 06:51] therajanmaurya commented on #168
Go ahead 👍

On Sat, Mar 11, 2017 at 12:18 PM, Rishabh Khanna <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-03-11 08:05] akmittal006 commented on #64
I was already working on it . I had my mid terms, so i couldnt update. @therajanmaurya  any other issue i can work on?

![screenshot_4](https://cloud.githubusercontent.com/assets/8525715/23821652/77e1a4c2-065f-11e7-8e06-046348b16f1b.png)

[2017-03-11 10:10] therajanmaurya commented on #94
Added in #169

[2017-03-11 10:10] #94 closed, assigned to nobody

[2017-03-11 10:14] therajanmaurya commented on #157
fixed in #165

[2017-03-11 10:14] #157 closed, assigned to nobody

[2017-03-11 10:21] dilpreet2028 commented on #133
Added in #150

[2017-03-11 10:23] dilpreet2028 opened #170 "Refractor ChargeAppWidget"
**Summary:**

Problem cases with wigdet :
case 1 :- When we try to add a widget on home screen without logging in the widget shows no prompt that  user needs to login first.
case 2 :- If ClientChargesFragment is not loaded then also widget shows nothing as no data is stored in the database which could be retireved by the WidgetDataProvider
case 3:- No broadcast sent after the data is updated in Da

[2017-03-11 10:24] dilpreet96 commented on #170
@therajanmaurya I would like to work on this

[2017-03-11 10:33] #133 closed, assigned to nobody

[2017-03-11 10:39] therajanmaurya opened #171 "Feature Deposit in SavingsAccount Details."
**Summary:**

Add a `Deposit` button at the left side of `Make Transfer` and on click `Deposit button.
Make Fragment transaction `SavingsMakeTransferFragment` and Pass the Value accountId and
`Constants.TRANSFER_PAY_TO`

![image](https://cloud.githubusercontent.com/assets/5724482/23822596/409b174e-0675-11e7-93a0-43bb0bd1e415.png)

[2017-03-11 10:47] Pritom14 commented on #171
Sir, can I work on this?

[2017-03-11 10:55] therajanmaurya commented on #171
Go ahead 👍

On Sat, Mar 11, 2017 at 4:17 PM, Pritom14 <notifications@github.com> wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-03-11 13:14] Pritom14 commented on #171
Sir @therajanmaurya , do I have to create a new fragment `SavingMakeTransferFragment`  , which will be displayed on clicking the `deposit` button?

[2017-03-11 13:31] therajanmaurya commented on #171
No It's already created in my last PR .
You need to just button and make fragment transaction with this fragment.

Read carefully issue description.

On 11-Mar-2017 6:44 PM, "Pritom14" <notifications@github.com> wrote:

[2017-03-11 13:34] Pritom14 commented on #171
Sure sir, I will send a PR as soon as it is done

[2017-03-11 15:28] shivamarora96 commented on #132
@therajanmaurya Help needed!
1.when i hit this api not getting response! it says unautherized Access or Not found Errors
2.does access_token starts with Basic ? or its simply b64coded
3.getting error while hitting api.Is this url correct ? beacuse at wiki some other url is mentioned.
https://demo.openmf.org/fineract-provider/api/v1/self/userdetails?access_token={access_token}

Please reply quickly

[2017-03-11 18:35] itsamitgoel commented on #168
:+1:
**Summary:**

if we pull to refresh data in charges fragment when internet is not connected, a toast pops with error message "Error loading in client charges", instead of this toast a Sweet Alert Dialog Box with same message will enhance the UI. This sweet alert dialog box will be better than both toast and snackbar

**Steps to reproduce:**

Step1: login into app
Step2: go to charges fragment

[2017-03-11 18:48] itsamitgoel commented on #168
@Rishabhk07 Hi. what do you think of sweet alert box instead of snackbar ?

[2017-03-11 18:55] itsamitgoel commented on #127
@therajanmaurya sir is anyone working on this issue? if not, i would like to take it up.

[2017-03-12 04:42] ghost opened #174 "Feature adding Saving Account Transaction filter Based on amount"
@therajanmaurya sir, in Saving Account Transactions there is filter based on time only ,why don't we add filter based on amount also(i,e transactions between certain amount to certain amount)
<img width="180" alt="screenshot_20170312-100809" src="https://cloud.githubusercontent.com/assets/14215902/23829079/9a08c71c-070c-11e7-9d73-3eb29d0842e3.png">

and i would like to work on this issue

[2017-03-12 06:40] doomers opened #176 "Apply for Loan Screen can be opened, even if Internet is not connected."
**Summary:**

we can open apply for loan screen in app if we are not connected to internet.

![ss_laon](https://cloud.githubusercontent.com/assets/11586392/23829621/cc18a9d8-071c-11e7-8473-a532164cc189.gif)

**Steps to reproduce:**

in ClientAccountsFragment check on OnOptionsItemSelected that internet is connected or not using Network in Utils and snackbar using Toaster which is also in Utils.

*

[2017-03-12 10:36] kienme commented on #167
@therajanmaurya Can I take this up?

[2017-03-12 10:39] shivamarora96 commented on #132
@therajanmaurya  kindly check this Api, getting error when i hit this api.
https://demo.openmf.org/fineract-provider/api/v1/self/userdetails?access_token={access_token}

[2017-03-12 12:21] ghost commented on #176
I would like to work on this issue

[2017-03-12 12:28] doomers commented on #176
I have already done that @prashanthkomuravelli i am just waiting for @therajanmaurya to review the issue ,will send the PR after he approves.

[2017-03-12 12:46] #114 closed, assigned to nobody

[2017-03-12 12:54] ghost commented on #176
@doomers i'm sorry, i thought u just raised issue

[2017-03-12 13:47] hardik124 commented on #114
@therajanmaurya can I take up this issue ?

[2017-03-12 13:49] doomers commented on #176
@prashanthkomuravelli  NO Problem

[2017-03-12 15:55] doomers commented on #114
@hardik124 i have already done that. see #124

[2017-03-12 20:50] ghost opened #177 "Double click on back Button when user wants to close App"
when user double tap on back button on home screen the app will be closed.
@therajanmaurya i would like to work on this issue

[2017-03-13 09:25] therajanmaurya commented on #171
Added in #175

[2017-03-13 09:25] #171 closed, assigned to nobody

[2017-03-13 09:41] itsamitgoel commented on #168
@therajanmaurya please review  this sweet alert dialog box thing. Or should i open new issue regarding this feature?

[2017-03-13 09:51] therajanmaurya commented on #78
I think. No Further disscssion needed.

[2017-03-13 09:51] #78 closed, assigned to nobody

[2017-03-13 12:57] doomers commented on #176
@therajanmaurya i would like to fix this,

[2017-03-13 15:30] icancode23 commented on #47
@therajanmaurya sir has this feature been implemented..? or can i try this...

[2017-03-14 06:49] AbhilashG001 opened #179 "Image (Mifos logo) present in the navigation drawer is not properly displayed"
**Summary:**

The image (the Mifos logo) present in the navigation drawer is not properly displayed, it is partially cropped at the top.

**Steps to reproduce:**

Step 1) Open the self-service android app.
Step 2) Tap on the hamburger menu.

**Expected behavior:**

The image (Mifos logo) should be properly displayed.

**Observed behavior:**

The image (Mifos logo) is partially cropped from the top

[2017-03-14 06:50] AbhilashG001 commented on #179
I would like to work on this issue.

[2017-03-14 07:34] #168 closed, assigned to nobody

[2017-03-14 07:38] therajanmaurya commented on #179
Go ahead

[2017-03-14 08:46] sgatibaru commented on #78
Hi Rajan Muaraya, a few things have been keeping me away from work. i
deeply apologize for my quietness and i hope all is well. I just came back
to work and i will have another look at the code..

Also, I've been trying to get around this by building an ionic app, just to
view the savings accounts details and possibly to apply for a loan. I will
push data directly to the database as a start before

[2017-03-14 15:09] AbhilashG001 commented on #179
@therajanmaurya, I have made appropriate changes, please review my pull request. Also kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/self-service-app/pull/180

[2017-03-14 15:16] ghost commented on #177
@therajanmaurya i would like to implement this...

[2017-03-14 21:25] shivamarora96 opened #181 "Improvement in UI of charges section"
**Summary:**

Enhance UI/UX of Charges Section

**Steps to reproduce:**

Improvement in Ui of Charges Section Of Selfserviceapp

**Expected behavior:**
Beautiful UI Without any overlapping of texts

**Observed behavior:**
Texts are Overlapping each other

**Device and Android version:**
Android - 6.0.1

**Screen-shots:**

## Observed:

![screenshot_2017-03-15-00-13-47-798_org mifos selfserviceapp]

[2017-03-14 21:28] shivamarora96 commented on #181
@therajanmaurya i would like to work on this issue.

[2017-03-15 15:18] sosnickm commented on #69
@therajanmaurya For the ShareAccount and SavingAccount we store the getApprovedShares and the getAccountBalance, so I only need the List-ShareAccount and the List-SavingAccount to get the total. However, for LoanAccount we do not store getTotalOutstanding. I am having trouble adding up the total for this because each LoanAccount is returning at different times from the data manager. Is there a way

[2017-03-15 15:41] dilpreet2028 opened #182 "Loan Repayment Schedule Incorrect Data"
**Summary:**

In Loan Repayment Schedule , Loan Balance data and Repayment data needs to be interchanged as they are showing each other's data

<img src="https://cloud.githubusercontent.com/assets/12071739/23956802/9b30317a-09c3-11e7-8bcf-fab38776281b.png" width="250" height="450">

[2017-03-15 15:42] dilpreet2028 commented on #182
@therajanmaurya I would like to fix this

[2017-03-15 15:46] dilpreet2028 commented on #132
@shivamarora96 why do you need to use this api in this feature ? And are you working on this issue ?

[2017-03-15 17:00] sosnickm commented on #69
@therajanmaurya Which fragment should the Quick Transfer button lead to? and the loan payment fragment requires that you input a loanId before you open it, which loanId should that be?

[2017-03-15 17:04] therajanmaurya commented on #69
Right Now show the toast onclick buttons.

Make a PR. I will merge.

[2017-03-15 17:06] therajanmaurya commented on #182
Go ahead

On Wed, Mar 15, 2017 at 9:12 PM, Dilpreet Singh <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-03-15 19:34] karsai1993 opened #185 "Improve UX implementation of Loan Account Details"
Summary:
The UI implementation of LoanAccountsDetailFragment should be improved.

Steps to reproduce:
1, After login, open LOAN tab
2, Click one of them e.g.: 000000500

Expected behavior:
The textViews should be placed in the center of their layout to have a better look on them. Additionally, in case of the value of Next Installment, there should be the currency shown as it is in case of Outstand

[2017-03-15 19:35] karsai1993 commented on #185
I have already implemented the solution. Please take a look at the attach image showing the result of my implementation. I am ready to commit and send a pull request.
![improved_load_account_details_wrong_ui](https://cloud.githubusercontent.com/assets/15123875/23967371/f231e450-09be-11e7-8f44-7ff5ea28b45e.png)

[2017-03-15 20:55] ghost opened #186 "Transfer amount Accepting '0'"
the amount field in transfer layout accepting 0 amount @therajanmaurya  i would like to fix this bug...
<img width="180" alt="screenshot_20170316-022204" src="https://cloud.githubusercontent.com/assets/14215902/23970461/de5dfc4e-09ef-11e7-9cc7-3b2008733ace.png">

[2017-03-15 21:04] shivamarora96 commented on #132
@dilpreet96 so as to authenticate using access_token and load client in the homeactivity, beacuse without authrntication clients cannot be loaded.

[2017-03-15 21:13] hardik124 opened #187 "Cannot retrieve User image"
**Summary:**
Cannot retrieve user Image

**Steps to reproduce:**

Make a GET request to retrieve client image in binary form
**Expected behavior:**
Should return the raw body of binary encoded  image
**Observed behavior:**
Returns 404
Retrofit Error body :-   {"developerMessage":"The requested resource is not available.","httpStatusCode":"404","defaultUserMessage":"The requested resource is not av

[2017-03-15 21:13] shivamarora96 commented on #132
Basically what i am doing is starting the app with splash screen where passocode status is checked. If status not set then login activity is opened and authentication is done using username and password after this user goes to passcodeactivity where je can set the new passcode.Since authentication is already done so clients can be loaded Easily.(Till this i have implemented it)

But when passcode

[2017-03-15 21:17] shivamarora96 commented on #132
Waiting for rajanmaurya's reply. @dilpreet96
@therajanmaurya ?

[2017-03-15 23:46] karsai1993 commented on #185
The currency symbol should be after the value, not before it. See attached image:
![newest_improved_load_account_details_wrong_ui](https://cloud.githubusercontent.com/assets/15123875/23975603/0c3899a2-09e2-11e7-9d9d-35e00ba25007.png)

[2017-03-16 00:18] karsai1993 opened #189 "Improvement of UX implementation in Saving Account related fragments"
**Summary:**
Changes are required to improve UI implementation in Saving Account related fragments. This issue deals with three fragments: SavingAccountsDetailFragment and SavingAccountsTransactionFragment.

**Steps to reproduce:**
1, Open one of the fragments above.

**Observed and Expected behavior:**
In case of **SavingAccountsDetailFragment**:
1, ToolBar label is too long, the user cannot read

[2017-03-16 03:18] karsai1993 commented on #189
I have 95% done with the implementation because making disabled the menu option button is not working 100% but I am working on it. However, I could show some image about how it and my whole solution would be looked like. Steps between the two fragments inline:
SavingAccountsDetailFragment:
![details_1](https://cloud.githubusercontent.com/assets/15123875/23980347/6a1bf79a-09ff-11e7-8758-6c5a3a70002

[2017-03-16 06:08] itsamitgoel opened #190 "UI enhancement :Sweet alert dialog box instead of SnackBar if internet is not connected in charges fragment"
Summary:

if we pull to refresh data in charges fragment when internet is not connected, a snackbar shows with error message "Error loading in client charges". Instead of this , a Sweet Alert Dialog Box with same message will enhance the UI. This sweet alert dialog box will be better than  snackbar. It will make ui look more attractive.

Steps to reproduce:

Step1: login into app
Step2: go to char

[2017-03-16 09:06] hardik124 commented on #64
@therajanmaurya  i am not able to retrieve user image please check #187

[2017-03-16 10:40] hardik124 commented on #187
Also , I cannot PUT or POST image .
it returns error code 405

[2017-03-16 12:15] itsamitgoel commented on #190
@therajanmaurya  please review

[2017-03-16 13:44] AbhilashG001 opened #191 "Username field (EditText) in the Log In Activity should ignore trailing spaces of the value entered by the user"
**Summary:**

User name field (EditText) in the Log In Activity should ignore spaces after the end of the value entered by the user. Currently, the code takes into account the spaces entered after the username; which should be ideally ignored. The username field should only acknowledge spaces present between the value entered by the user.

**Steps to reproduce:**

Step 1) Open the self service And

[2017-03-16 13:44] AbhilashG001 commented on #191
I would like to work on this issue.

[2017-03-16 14:29] rahulbabbar1 commented on #155
@therajanmaurya any update??

[2017-03-16 17:09] karsai1993 commented on #189
Disabling is done but in TransactionFragment, there is a need for futher changes as the price value does not have enough place to be read. See images above.

[2017-03-16 18:14] karsai1993 commented on #189
I have managed to make the app handle better the textview in TransactionFragment. See attach image. I am ready for commit and send a PR.
![transaction_4](https://cloud.githubusercontent.com/assets/15123875/24012016/caafeb02-0a7c-11e7-90a5-6e7f5f2ec28e.png)

[2017-03-16 18:46] karsai1993 opened #192 "Unification of Saving and Sharing Account relating CircularImageView(RecycleView) colours"
**Summary:**
The CircularImageView(RecycleView) colours corresponding to the same status (active, approved, submitted and pending aproval and other) in Saving and Sharing Accunt related fragments.

**Steps to reproduce:**
1, Open SAVING tab
2, Take a look at the colour of the circularImageView
3, Click on it and if its status is approved or other (described below), then the colour which can be see

[2017-03-16 19:03] karsai1993 commented on #192
I have implemented the solution. I used the the colours settings which are set in SavingAccountsDetailFragment:
if (status.getActive()) {...R.color.deposit_green...} else if (status.getApproved()) {...R.color.blue...}
else if (status.getSubmittedAndPendingApproval()) {...R.color.light_yellow...} else {...R.color.black...}
Of course, it can be changed, just please let me know.

It is set in both Sa

[2017-03-16 19:25] sosnickm commented on #187
@therajanmaurya do you know why this could be?

[2017-03-16 19:55] dilpreet2028 opened #193 "Share Account List does not gets refreshed"
**Summary:**

On Refreshing using SwipeRefreshLayout in Accounts Fragment, Share account list does not refreshed because AccountPresenter function  `loadAccount(String accountType)` does not implements the logic for returning Share account List

[2017-03-16 19:55] dilpreet2028 commented on #193
@therajanmaurya I would like to fix this

[2017-03-16 20:59] karsai1993 opened #194 "NullPointerException if system locale is not English"
**Summary:**
The user can face with a NullPointerException when she/he wants to filter among saving account transactions.

**Steps to reproduce:**
1, Reach SavingAccountTransactionsFragment
2, Filter e.g.: for 4 months

**Expected behavior:**
The filtering should be successful.

**Observed behavior:**
NullPointerException is thrown because the in DateHelper class, in getDateAsLongFromString method

[2017-03-16 21:10] karsai1993 commented on #194
I have implemented the solution:
public static long getDateAsLongFromString(String dateStr, String pattern) {
        SimpleDateFormat sdf = new SimpleDateFormat(pattern, Locale.ENGLISH);
...}
It is working as shown in attached file below:
![improved_unparseable](https://cloud.githubusercontent.com/assets/15123875/24018707/57332676-0a95-11e7-8ae5-07c70a9f2e16.png)

I am ready to commit and send a

[2017-03-16 23:21] shubham-1996 opened #195 "Disabling deposit and make transfer buttons for saving accounts which are not active."
**Summary:**
In the savings tab, if we select an account whose status is not active, then I think we should disable the buttons for deposit and transfer. And even if it is required to keep them, still some changes to code is required as after we click 'Transfer', the app crashes.

**Steps to reproduce:**
1. Go to an account whose status is not active(can be pending, needs approval etc.).
2. Click

[2017-03-16 23:23] shubham-1996 commented on #195
@therajanmaurya please let me know if this is a valid issue and if it is which one would you like me to commit?

[2017-03-17 06:02] code-dagger commented on #132
@shivamarora96 what I was thinking that when the user is logging in into the application for the first time, after successful authentication we should store the username and password in SharedPreferences and prompt the user to Add passcode security code and the next time the user opens the application if first asks for passcode and then checks if the SharedPreference has username and password if i

[2017-03-17 06:22] code-dagger opened #196 "Entire application fails to fetch the data after crash reported in issue #195"
**Summary:**

Entire Application not able to fetch details from the endpoints after the application crash because of the issue reported by @shubham-1996 , Issue #195

**Expected behavior:**

The app should display the details.

**Observed behavior:**

The entire application fails to fetch the details from the endpoints.

**Device and Android version:**

Redmi note 3 (Android 6.0)

**Screenshots:**

[2017-03-17 09:17] AbhilashG001 commented on #191
@therajanmaurya, I have made required changes, kindly review my pull request and please let me know if I have to make any further changes.
Pull request - https://github.com/openMF/self-service-app/pull/197

[2017-03-17 10:28] anant-dev commented on #132
@therajanmaurya I agree with @shivamarora96  we should use Shared Preferences to remember user.
If Shared Preferences is the way ahead to implement this do assign me this issue.

[2017-03-17 10:46] dilpreet2028 commented on #132
@immabhay Saving username and password will not be a good way of doing things rather we should save clientId and authenication token only (which is already getting saved)
@shivamarora96 you just need to remove preferncehelper.clear() which is clearing all the user credentials  and check for usertoken and client id if present then just go to the passcode activity and allow user to enter the passcod

[2017-03-17 10:46] anant-dev commented on #132
@therajanmaurya  We can have a remember me option on the login screen to facilitate this feature .
![screenshot_2017-03-17-16-10-59-716](https://cloud.githubusercontent.com/assets/13196029/24039962/0c30208c-0b2d-11e7-9fe4-21d6da08f7bd.jpeg)

[2017-03-17 11:00] Pritom14 commented on #132
@anant-dev since it is a banking transaction app , so I think keeping a remember me option won't be helpful because if the user is logged in and someone else has his/her phone in which the app is installed then it might prove to be bad.
What's your say?

[2017-03-17 11:39] anant-dev commented on #132
@Pritom14 Yes I agree with your concern. Then the approach suggested by @shivamarora96 is correct as in India banking apps are using this feature to keep the credentials of the user safe.

Or we can just remember the username and not the password (which the user will only have to put). This will not need an additional api or screen.
@therajanmaurya @Pritom14 What do you say?

[2017-03-17 12:46] ramya257 opened #198 "Absence of Splash Screen in the app"
**Summary:**

This app lacks splash screen which is very useful for preparing any app by making background api calls.

**Steps to reproduce:**
1.Open the app
2.It directly opens the login screen

**Expected behavior:**
There must be a splash screen which can be used to validate the session and check if the user has already logged in or not which can improve the UX by simulating faster loading time

[2017-03-17 16:00] shivamarora96 commented on #198
@ramya257  Already Implemented see comments of issue #132

[2017-03-17 16:57] karsai1993 opened #199 "Improve UX in LoanAccountSummary"
**Summary:**
The UX should be improved.

**Steps to reproduce:**
1, Open LoanAccountSummaryFragment

**Expected behavior:**
The layout should be allowed to be scrolled. All the textfields should be visible fully. The number values should be separated by thousand groups.

**Observed behavior:**
The user cannot scroll in this fragment and cannot read two textfields in portrait mode. That's why we ne

[2017-03-17 16:58] karsai1993 commented on #199
The solution is implemented. See attached images.
![imp_sum1](https://cloud.githubusercontent.com/assets/15123875/24054091/50ef1b52-0b3b-11e7-91ed-9d1ec1872dd6.png)
![imp_sum2](https://cloud.githubusercontent.com/assets/15123875/24054092/50f0a0e4-0b3b-11e7-9eab-60a6a5272367.png)

[2017-03-17 17:07] karsai1993 opened #200 "Implement thousands separators"
**Summary:**
As there are big numbers, thousands separators should be used to make them read easierly.

**Steps to reproduce:**
1, Take a look at any number in the app being bigger than 999.

**Expected behavior:**
Thousands separators should be used: 1,005.55 $

**Observed behavior:**
Thousands separators are not used: 1005.55 $

**Device and Android version:**
Samsung Ace 3
API 17 - 4.2.2

**Scr

[2017-03-17 17:08] karsai1993 commented on #200
The implementation is done. It is the outcome, shown in case of fragment above, but it is implemented to the whole app.
![imp_repayment_schedule](https://cloud.githubusercontent.com/assets/15123875/24054502/c32f9164-0b3c-11e7-8060-6f3fde230d09.png)

[2017-03-17 22:17] vladimirfomene opened #203 "Unable to build app using android studio"
**Summary:**

I cannot run the app on my phone or the emulator because android studio cannot resolve the DaggerApplicationComponent because the com.mifos.mifosxdroid.injection.component.DaggerApplicationComponent does not exist.

**Steps to reproduce:**

Download the codebase and try to build the app using android studio

**Expected behavior:**

I expected the com.mifos.mifosxdroid.injection.compo

[2017-03-17 22:34] ghost commented on #203
@vladimirfomene i think you did something wrong while building app or downloading code base, actually DaggerApplicationComponent present in code base
![screenshot 63](https://cloud.githubusercontent.com/assets/14215902/24065280/d9be864e-0b8f-11e7-9af7-2d6545a2b6a8.png)
Just try to re-download the project and rebuild it

[2017-03-18 06:04] hardik124 commented on #187
@therajanmaurya  shall I send a PR ? the code worked when server returned the image , but now since i cannot , it uses default image as user profile picture in case of server error.

[2017-03-18 09:08] #203 closed, assigned to nobody

[2017-03-18 09:54] dilpreet2028 opened #205 "Implement Crashlytics for crash reporting"
**Summary:**

Crashlytics should be implemented in order get the crash reports

[2017-03-18 09:54] dilpreet2028 commented on #205
@therajanmaurya I would like to implement it

[2017-03-18 10:07] shivamarora96 commented on #181
@therajanmaurya  can i send pr for this?

[2017-03-18 10:15] vladimirfomene opened #206 "Improve UX for Loan Account Details"
**Summary:**

When I turn my phone in landscape mode, part of the content of this activity is cut off. I was expecting it to give me the ability to scroll down.

**Steps to reproduce:**

Go to the Loan Account Details page. Make sure your phone's orientation option is in Auto-rotate. Then hold your phone in landscape mode.

**Expected behavior:**

To have a scroll option for this activity that all

[2017-03-18 11:49] therajanmaurya commented on #206
fix in #207

[2017-03-18 11:49] #206 closed, assigned to nobody

[2017-03-18 11:52] therajanmaurya commented on #205
Go ahead 👍

[2017-03-18 12:06] therajanmaurya commented on #193
Go ahead 👍

[2017-03-18 12:34] dilpreet2028 commented on #182
Fixed in #183

[2017-03-18 15:55] kunalsingh3110 opened #211 "Implement one time login for a user"
User has to enter his username and password each time he opens the app.

[2017-03-18 15:56] kunalsingh3110 commented on #211
@therajanmaurya  i will love to fix this and implement logout for each user .

[2017-03-18 16:42] shivamarora96 commented on #211
@beast-incarnate  check out issue #132 its already under process.

[2017-03-18 16:55] shivamarora96 commented on #132
@dilpreet96 @immabhay @anant-dev  @Pritom14 Guys dont change the method  suggested by me because the way i explained things has already been discussed with @therajanmaurya .See PR discussions.

Secondly, @dilpreet96 i have already removed clear method from homeActivity.
If you know how to access user from access_token then please help me with api, because api is giving me error.(Login is necessary

[2017-03-18 17:05] aj019 opened #213 "Login screen displaying wrong Toast message"
**Summary:**

While logging i used username: mifos and password: password rather than username: selfservice and password: Password@123. On clicking login first i got a Toast "Welcome Mifos" and then i got a Toast "Failed to load client"

**Steps to reproduce:**

1) Open the app
2) Use username: mifos and password: password
3) Click on login button

**Expected behavior:**

The message should be "Fa

[2017-03-20 17:21] Rishabhk07 commented on #69
@therajanmaurya hey, out of curiosity in the above wireframe what are you planning to show under reports ?

[2017-03-20 17:40] chaitanyaparashar commented on #213
I would work on this issue

[2017-03-20 19:08] abhaymaniyar commented on #186
@prashanthkomuravelli are you working on this?

[2017-03-20 21:00] ghost commented on #186
@abhaymaniyar i already done that but @therajanmaurya didn't said anything about that...that's why i am waiting

[2017-03-21 10:43] itsamitgoel opened #217 "Implement dailing of helpline number on clicking it in saving account transaction activity"
**Summary:**
On clicking helpline number in saving account transaction activity ,nothing happens. It should be able to dial the number on clicking it. We can see the similiar feature in saving account details activity where clicking the helpline number automatically dials it or moves the number to phone app
Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**St

[2017-03-21 10:46] itsamitgoel commented on #217
@therajanmaurya i would like to work on this

[2017-03-21 11:01] itsamitgoel opened #218 "remove the menuitem from Saving Account transaction Activity"
**Summary:**
Remove the menuitem from Saving Account transaction Activity as we are already in transaction activity. We dont need the "transaction" menuitem

**Steps to reproduce:**
1. Goto saving account transaction activity
2. click on the three dots present in the action bar

**Expected behavior:**
there should be no menu item in this activity as we are already in saving account transaction act

[2017-03-21 11:01] itsamitgoel commented on #218
@therajanmaurya i would like to work on this

[2017-03-21 17:29] itsamitgoel opened #220 "Bug: App crashes when submit button is clicked in ApplyForLoan activity with no internet connection"
**Summary:**
Bug: App crashes when submit button is clicked in ApplyForLoan activity with no internet connection

**Steps to reproduce:**
1. Log in the app
2. Goto Loan fragment
3. Turn off the internet connection.
4. goto "apply for loan" in the action bar(menu)
5. Click the submit button
6. the app crashes.

**Expected behavior:**
app should not crash on clicking submit button. Rather it should

[2017-03-21 17:29] itsamitgoel commented on #220
@therajanmaurya i would like to fix this

[2017-03-21 18:02] itsamitgoel opened #221 "UI Improvement in loan account details activity"
**Summary:**
UI Improvement in loan account details activity. Whenever we click any item with orange/blue dot in loan fragment, we see imageview and textview overlapping in loan account details activity.

**Steps to reproduce:**
1. goto loan fragment
2. click any item in the list with a orange/blue dot
2. Imageview and textview overlap each other making it difficult to read.

**Expected behavior:*

[2017-03-21 18:04] itsamitgoel commented on #221
@therajanmaurya  i would like to work on this

[2017-03-22 04:53] AbhilashG001 opened #223 "User cannot select currency in the Apply for Loan fragment."
**Summary:**

User cannot select the currency in the Apply for Loan fragment. The user should be able to select a currency for a Loan Product.

**Steps to reproduce:**

Step 1) Open the self service app.
Step 2) Select the Loan tab in home screen.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select "Apply for Loan".
Step 4) Tap on the currency field.

**Expec

[2017-03-22 04:54] AbhilashG001 commented on #223
I would like to work on this issue.

[2017-03-22 04:55] AbhilashG001 opened #224 "Currency changes while selecting a Loan Product."
**Summary:**

Currency changes while selecting a Loan Product. The currency should be what the user selects it to be and not change with the Loan Product selected.

**Steps to reproduce:**

Step 1) Open the self service app.
Step 2) Select the Loan tab in home screen.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select "Apply for Loan".
Step 4) Select a Loan

[2017-03-22 04:55] AbhilashG001 commented on #224
I would like to work on this issue.

[2017-03-22 21:53] itsamitgoel opened #227 "Snackbar instead of toast on successful transfer of money"
Snackbar instead of toast on successful transfer of money in Transfer activity

[2017-03-22 21:55] itsamitgoel opened #228 "Snackbar instead of toast on successful submission of loan"
Snackbar instead of toast on successful submission of loan in APPLY FOR LOAN activity

[2017-03-22 21:56] itsamitgoel commented on #227
@therajanmaurya i would like to work on this

[2017-03-22 21:57] itsamitgoel commented on #228
@therajanmaurya i would like to work on this

[2017-03-22 22:07] itsamitgoel opened #229 "change the title and description of location marker in the map"
**Summary:**

change the title and description of location marker in the map in the Help Fragment
Title: will be changed from "Sydney" to "Seattle".
Description : will be changed from from "the most populous city in australia" to "Home to large tech industry".

![screenshot_2017-03-23-03-27-23-673_org mifos selfserviceapp](https://cloud.githubusercontent.com/assets/16203080/24222807/5e778b1e-0f79-

[2017-03-22 22:26] itsamitgoel commented on #229
@therajanmaurya  i would like to fix this

[2017-03-22 22:32] itsamitgoel opened #230 "Color of buttons on Transfer activity is not following google material guidelines according to UI. Make button color primary"
**Summary:**
Color of buttons on Transfer activity is not following google material guidelines according to UI.  WE have to make button color primary.
![screenshot_2017-03-23-03-59-53-410_org mifos selfserviceapp](https://cloud.githubusercontent.com/assets/16203080/24223708/670af7da-0f7d-11e7-8c31-c267daf89446.png)

[2017-03-22 22:32] itsamitgoel commented on #230
@therajanmaurya i would like to fix this

[2017-03-23 05:38] aj019 opened #234 "Currency Symbol not correct"
**Summary:**

In saving amount details the account balance reads 0.00 a,1

**Steps to reproduce:**

Open the app
Go to savings tab in Accounts activity
Select the first saving item from the list

**Expected behavior:**

The currency symbol should be a dollar sign.

**Observed behavior:**

Some wird text is appearing in place of the dollar sign.

**Device and Android version:**

Nexus 5 Api 23
**Sc

[2017-03-23 05:41] aj019 commented on #234
I would like to work on this issue.

[2017-03-23 05:49] aj019 opened #235 "Toolbar title says Transfer when opening Deposit"
**Summary:**

In saving account details if we click on deposit button a new activity opens in which the toolbar title is Transfer instead of Deposit.

**Steps to reproduce:**

1) Open the app
2) Go To savings
3) Choose any saving
4) From the saving details
5) Click on Deposit

**Expected behavior:**

The app should either open an activity with the toolbar title "Deposit" or if the Activity is not

[2017-03-23 05:50] aj019 commented on #235
I would like to work on this issue.

[2017-03-23 05:51] puneetkohli521 commented on #234
Hi Anuj

Please fork and go ahead. It is an easy one . Feel free to contact if you
need any help.

Best
Puneet

On Thu, Mar 23, 2017 at 11:11 AM, Anuj Gupta <notifications@github.com>
wrote:

--
Regards
Puneet Kohli

[2017-03-23 05:56] puneetkohli521 commented on #234
Please open an issue before you proceed.

Best

On Thu, Mar 23, 2017 at 11:11 AM, Anuj Gupta <notifications@github.com>
wrote:

--
Regards
Puneet Kohli

[2017-03-23 06:02] aj019 opened #236 "Check to see whether End Date is after Start Date"
**Summary:**

In Transactions while selecting start date and end date there is no check to see whether end date is after start date.

**Steps to reproduce:**

1) Open the app
2) Go To savings
3) Go To saving details
4) Go To saving transactions
5) Enter start date as 23 March and end date as 21 March

**Expected behavior:**

There should be a toast to let the user know that the end date is before

[2017-03-23 06:03] aj019 commented on #236
I would like to work on this issue.

[2017-03-23 06:09] aj019 commented on #234
@puneetkohli521 I have already forked the repo. I have already opened this issue do you mean open a PR when submitting ?

[2017-03-23 06:12] aj019 opened #237 "Transaction option inside Transaction"
**Summary:**

Inside the Transaction Screen if we click on the toolbar menu. It shows Transaction as one of the options. And when the user clicks on the Transaction option nothing happens.

**Steps to reproduce:**

Open the app
Go To savings
Go To saving details
Go To saving transactions
If you click on the toolbar menu you will get an option saying Transaction

**Expected behavior:**

There shoul

[2017-03-23 06:12] aj019 commented on #237
I would like to work on this issue.

[2017-03-23 06:24] puneetkohli521 commented on #234
Well that's good then just open a PR then if you are done with the code

On Thu, Mar 23, 2017 at 11:39 AM, Anuj Gupta <notifications@github.com>
wrote:

--
Regards
Puneet Kohli

[2017-03-23 06:30] aj019 opened #238 "Snackbar instead of Toast on Filter"
**Summary:**

In Transactions when we filter the transactions a toast is displayed which says "Filtered".Rather than Toast we should have a Snackbar.

**Steps to reproduce:**

Open the app
Go To savings
Go To saving details
Go To saving transactions
Select 3 months and click on filter

**Expected behavior:**

A snackbar should be shown that says "Filtered"

**Observed behavior:**

A Toast is shown

[2017-03-23 06:31] aj019 commented on #238
I would like to work on this issue.

[2017-03-23 07:43] itsamitgoel commented on #237
@aj019 i already raised this issue ..see issue #218

[2017-03-23 10:05] itsamitgoel opened #239 "Color of buttons on Saving Account Transaction fragment is not following google material guidelines according to UI. Make button color primary"
**Summary:**

Color of buttons on Saving Account Transaction  fragment is not following google material guidelines according to UI. Make button color primary.

[2017-03-23 10:05] itsamitgoel commented on #239
@therajanmaurya i would like to fix this

[2017-03-23 10:06] itsamitgoel opened #240 "Color of buttons on Apply for loan fragment is not following google material guidelines according to UI. Make button color primary"
**Summary:**

Color of buttons on Apply for loan  fragment is not following google material guidelines according to UI. Make button color primary

[2017-03-23 10:07] itsamitgoel commented on #240
@therajanmaurya i would like to fix this

[2017-03-23 16:27] dilpreet2028 commented on #170
@therajanmaurya Shall i Fix this

[2017-03-23 17:19] therajanmaurya commented on #69
Added in #242

[2017-03-23 17:19] #69 closed, assigned to sosnickm

[2017-03-23 17:28] dilpreet2028 opened #243 "App Force closes in Home"
**Summary:**

On clicking on Apply for a loan , Savings accounts and shares app forces closes in Home

[2017-03-23 17:28] dilpreet2028 commented on #243
@therajanmaurya I would like to fix this

[2017-03-23 18:00] therajanmaurya commented on #243
@dilpreet96 Let me handle then according to this I will update the idealist.  I was waiting for this.

[2017-03-23 18:01] dilpreet2028 commented on #243
Okay Sir , waiting for the idea list to be updated :)

[2017-03-23 18:39] puneetkohli521 commented on #218
@itsamitgoel resolve it and submit a pr. The option would have been copied by mistake.

[2017-03-23 18:57] dilpreet2028 commented on #193
Fixed in #209

[2017-03-23 18:58] dilpreet2028 commented on #205
Added in #210

[2017-03-24 02:00] aj019 commented on #237
You are right @itsamitgoel . I am closing this issue.

[2017-03-24 02:00] #237 closed, assigned to nobody

[2017-03-24 02:40] aj019 opened #247 "Empty Snackbar message when making transfer and internet is off"
**Summary:**

The app shows an empty snackbar message when making transfer and internet is off

**Steps to reproduce:**
Open the app
Go to Savings
Select a saving
Go to Transfer
Add details
Turn off internet
Click on Review transfer
Click on Transfer

**Expected behavior:**

The app should show a snackbar with message "No Internet"

**Observed behavior:**

No message in snackbar

**Device and Andr

[2017-03-24 15:59] karsai1993 commented on #218
@itsamitgoel I reported this bug 9 days ago and gave a solution too. See issue #189 . In the description: "2, Make option menu button disabled as we are currently in the fragment which that menu option button would open." PR (#208) was sent some days ago but a question is poped up and I am waiting for response on that.

[2017-03-24 18:03] #205 closed, assigned to nobody

[2017-03-24 18:26] therajanmaurya commented on #243
fix in #244

[2017-03-24 18:26] #243 closed, assigned to nobody

[2017-03-24 22:41] vladimirfomene opened #248 "Touching helpline number does not load the dialer"
**Summary:**

When I'm on the Saving Account details activity and I click the support line number it loads the phone dialer but when I touch the support line number on the Saving Account Transaction Activity it does not load the dialer.

**Steps to reproduce:**

Go to the Saving Account Transaction activity. Then touch the support line number.

**Expected behavior:**

To load the phone's dialer.

[2017-03-24 22:42] vladimirfomene commented on #248
I working on this right away.

[2017-03-25 07:20] sanjeeb-sang commented on #247
**Summary:**
I have fixed the problem by checking for network connection right after the onClick method gets executed.
The app will now show a SnackBar saying "You are not connected to the internet!!" if there is no internet

**Requirement:**
It needs the permission to access network state
![screenshot_20170325-021423](https://cloud.githubusercontent.com/assets/22350684/24320337/5129cace-1101-11e7

[2017-03-25 07:39] sanjeeb9853 commented on #247
#250

[2017-03-25 10:17] vladimirfomene opened #251 "Improve UI : Transaction details are not clearly visible in the Saving Account Transaction Activity"
**Summary:**

Transaction detail data are not clearly visible in each row of the Recycler view in the Saving Account Transaction.

**Steps to reproduce:**

Go to the Saving Account Transaction and have a keen look at every item in the list.

**Expected behavior:**
Show text of the transaction detail under the  transaction type.

**Observed behavior:**
Part of the transaction detail text on this vi

[2017-03-25 10:18] vladimirfomene commented on #251
@therajanmaurya I will work on this straight away.

[2017-03-25 20:53] vladimirfomene commented on #248
@therajanmaurya. Please have a look at this PR.

[2017-03-25 22:32] itsamitgoel opened #256 "Amount column in TRANSFER fragment can accept .(dot) as amount"
**Summary:**

Amount column in TRANSFER fragment can accept .(dot) as amount. It should not happen. Amount column should only accept numbers.

[2017-03-26 14:09] thecskc opened #257 "Form Validation For Transfer"
**Summary:**

The transfer column can crashes when it takes in a "." character. Moreover, I feel the validation process can be made more effective.

**Steps to reproduce:**

Go to the transfer fragment, enter an amount of "." and do the transfer. The app crashes because of an exception.

**Expected behavior:**

The app shouldn't crash but should say that the character entered is an invalid charact

[2017-03-26 15:04] thecskc commented on #257
I've solved this issue.
I added a few additional checks and also used an external library for asynchronous form validation as well!
@therajanmaurya

[2017-03-27 00:08] mayank-kgp commented on #60
@prashanthkomuravelli As far as I know there is no field for security question in REST api.
@therajanmaurya Can you please confirm it?

[2017-03-27 08:11] ghost commented on #60
@mayank-kgp but in the description of issue they asked for it...

[2017-03-27 14:19] thecskc commented on #256
Hey Amit!
I noticed the same thing and I've solved it. I've also made the form validation more efficient, requiring less code using an external library.

[2017-03-28 08:13] dilpreet96 commented on #56
@therajanmaurya @rajuan
I am able to create a client and associate that client to a newly created self service user .
My question is
While registration do we just have to ask for the client Id and ask for dob, phone no, etc for checking the authenticity of user or we also have to allow the client to create their own client account?

[2017-03-28 17:24] ghost opened #258 "Clicking back button on home screen leading to empty screen"
if you click back button on home screen it is leading to empty screen i,e a layout with no fragment , @therajanmaurya can i fix this issue?
![17572071_701836993311232_743041967_o](https://cloud.githubusercontent.com/assets/14215902/24418462/b3cb8d1a-1409-11e7-87ad-ca08e631958d.png)

[2017-03-28 17:30] therajanmaurya commented on #258
yeah, I encounter this bug, to fix this you have to  change this line https://github.com/openMF/self-service-app/blob/development/app/src/main/java/org/mifos/selfserviceapp/ui/activities/HomeActivity.java#L59 with `replaceFragment(HomeFragment.newInstance(clientId), false,  R.id.container);`.
Go ahead and Send PR

[2017-03-28 17:45] ghost commented on #258
@therajanmaurya sir, PR sent..

[2017-03-28 17:49] ghost commented on #177
@therajanmaurya sir, as there is new HomeScreen is present now, and the PR that i sent also not merged , so can i implement this feature on new HomeScreen and send PR..

[2017-03-28 18:19] therajanmaurya commented on #258
Fix in #259

[2017-03-28 18:19] #258 closed, assigned to nobody

[2017-03-28 20:42] ghost opened #260 "AutoCompletion feature of username"
It is very uncomfortable for users that they need to enter username every time they wanted to login , instead if the app stores usernames in shared preferences and suggests them accordingly user typing characters @therajanmaurya can i implement this feature... i think it is useful
<img width="180" alt="17622178_701905756637689_2063741492_o" src="https://cloud.githubusercontent.com/assets/14215902/

[2017-03-29 05:12] ghost commented on #260
@therajanmaurya please tell me ,whether i proceed with this or not..

[2017-03-29 09:35] dilpreet2028 opened #262 "Navigation Drawer Item Selected Bugs"
**Summary:**

1.When User clicks on any of the account button from HomeFragment, navigation drawer does not updates the item to Accounts
2. BackStackListenerChangedListener not implemented due to which on back pressing , navigation drawer item does not get updated to the previous fragment which has appeared.

<img src="https://cloud.githubusercontent.com/assets/12071739/24575932/1bc62a6a-16d0-11e7

[2017-03-29 09:35] dilpreet2028 commented on #262
@therajanmaurya I would like to fix this

[2017-03-29 14:32] ashish05182001 commented on #236
Hello @aj019 , @edcable
I have sent an PR for this bug. Please review it.
Thanks

**Screenshots:**
![whatsapp image 2017-03-29 at 7 33 31 pm](https://cloud.githubusercontent.com/assets/13850995/24478780/cb0d661a-14f9-11e7-883c-fa42785a31c9.jpeg)
![whatsapp image 2017-03-29 at 7 33 37 pm](https://cloud.githubusercontent.com/assets/13850995/24478773/c4f263de-14f9-11e7-874f-87cde844e61a.jpeg)

![what

[2017-03-30 01:25] aj019 opened #266 "Wrong Toast message on logging in with Username with less than 5 characters"
**Summary:**
When the user enters a username with less than 5 characters and clicks on login. There is a toast message displays the Edittext text rather than the keyword username. For ex :- If i enter user in username the Toast message is "user cannot be less than 5 characters" but instead it should be "Username cannot be less than 5 characters"

**Steps to reproduce:**

Open the app
In Login ente

[2017-03-30 01:25] aj019 commented on #266
I would like to work on this issue

[2017-03-30 04:30] aj019 opened #267 "Review Transfer Dialog missing spacing between texts"
**Summary:**

The text inside the Review Transfer dialog box are not clear. There is no spacing and the labels and the inputs are separated by a ":" symbol which makes it hard to read. There should be spacing between the texts and the labels should be in bold to differentiate from the input.
Look at the screenshot below for a better understanding.

**Steps to reproduce:**

Open the App
Go to Savin

[2017-03-30 04:30] aj019 commented on #267
I would like to work on this issue

[2017-03-30 14:57] ashish05182001 commented on #198
@therajanmaurya Can I send a PR for this issue?

[2017-03-30 16:11] ashish05182001 commented on #132
Hello
@therajanmaurya @shivamarora96 @dilpreet96 @immabhay
I have another idea for doing this task without using any api and with proper authentication.
At first time of user login I will save the username and password of user in the app itself. Then I can put a check to see the user is logged in first time or not by using shared preferences. Then there wont be any need to login again and again by

[2017-03-30 20:13] rajatgoyal715 commented on #19
@ishan1604
The issue has been resolved here: https://github.com/openMF/self-service-app/commit/66756b78ce3889a4d0c67f09ef86c7dd3d9d183f
This issue should probably be closed. :)

[2017-03-30 22:50] ashish05182001 opened #273 "New Feature: Sharing of App by the user."
**Summary:**

App should have a new share feature by which the app can be share to different other social apps and websites easily.

**Expected behavior:**

There should be an option inside the App to be shared by the user easily .

**Observed behavior:**

No sharing feature.

**Screenshots:**

![screenshot_1490913780](https://cloud.githubusercontent.com/assets/13850995/24529397/fe9eae88-15c8-11e7

[2017-03-30 22:52] ashish05182001 commented on #273
@edcable @therajanmaurya
Can i create this feature and send a PR ?

[2017-03-30 23:42] itsamitgoel opened #275 "submission date in APPLY FOR LOAN should not have onclickListener and should represnt the current date"
submission date in APPLY FOR LOAN should not have onclickListener and should represnt the current date

[2017-04-01 05:16] #217 closed, assigned to nobody

[2017-04-01 05:19] #229 closed, assigned to nobody

[2017-04-01 05:20] #228 closed, assigned to nobody

[2017-04-01 06:07] #256 closed, assigned to nobody

[2017-04-02 15:12] KudzieChase opened #284 "Login Activity Shows Toast when Username has leading or trailing spaces."
**Summary:**

The Login Activity Shows a toast message informing the user that they have spaces in their username even if that isn't obvious to them due to leading and trailing spaces.

**Steps to reproduce:**

- Open the application, insert the sample test username and insert a leading space.

- Proceed to login and see the issue.

**Expected behavior:**

I feel like the app should ignore all lea

[2017-04-04 13:28] thecskc commented on #284
Did you trim the string?

[2017-04-04 14:34] KudzieChase commented on #284
Yes, if you checkout the pull request I made.. I've provided that fix @cskc97

[2017-04-05 10:51] thecskc opened #287 ""About Us" doesn't work"
**Summary:**

When the About Us option is clicked from the navigation drawer, no new fragment/activity is opened.

**Steps to reproduce:**
Open the app, click About Us in the navigation drawer.

**Expected behavior:**

Either the option shouldn't exist or there should be something of value displayed to the user.

**Observed behavior:**

I saw the opening screen being replicated again.

**Device an

[2017-04-05 10:52] thecskc commented on #287
@edcable  @therajanmaurya I'd like to work on this. Please let me know if I should remove the option or if there needs to be some content going in there. If there is any content that needs to be shown, please send me a txt file.
Thanks!

[2017-04-06 03:12] AbhilashG001 commented on #284
Hi, @KudzieChase , I have already reported this issue and have also provided a fix for the same; please view the following -
https://github.com/openMF/self-service-app/pull/197#discussion-diff-106779308L62
https://github.com/openMF/self-service-app/issues/191

[2017-04-06 14:11] #284 closed, assigned to nobody

[2017-04-14 10:56] Sanyam96 opened #292 "Bug: App closed after clicking back button on opened Navigation drawer on HomeScreen"
**Summary:**
By clicking the back button on opened navigation drawer on Home Screen it completely exits the application.

**Steps to reproduce:**
if we can override the back button that if the drawer is opened then close the drawer, else exits the application from the home screen.

**Expected behavior:**
On pressing back button -
If - the navigation drawer is opened then it must close the drawer.

[2017-04-14 10:59] Sanyam96 commented on #292
I have fixed this issue.
https://github.com/Sanyam96/self-service-app/tree/Navigation_drawer_fix
Can I send pull request?
@edcable @therajanmaurya @ishan1604

[2017-04-19 11:15] therajanmaurya commented on #141
fix in #290

[2017-04-19 11:15] #141 closed, assigned to nobody

[2017-04-21 08:30] santoshconflux commented on #224
@AbhilashG97 , The currencies are unique to loan products and charges & the desired currencies are added to loan product/charge  while creating them. Even in Web application of Mifos, you cannot  change currency in loan application or  for charges.

I think its expected behaviour, not an issue. @therajanmaurya

[2017-04-21 08:57] santoshconflux opened #294 "'Status Color' of Overdue loans should be red in stead of blue"
In self-service-app, go to  accounts and then click on Loan tab. Check for the account status colors for the accounts, 500, 495, 492

![ss](https://cloud.githubusercontent.com/assets/23022667/25270494/86f7e610-269e-11e7-8582-06ede11b9c71.jpg)

In web demo server for the  client Smith W R

![demo](https://cloud.githubusercontent.com/assets/23022667/25270428/4efc4fee-269e-11e7-9394-471bac2132e8.png)

[2017-04-21 09:09] santoshconflux opened #295 "Status color of overpaid loan accounts should be purple in stead of black."
In self-service-app , go to accounts and click on Loans tab. Check the status colors of accounts 027 and 028

![ss 1](https://cloud.githubusercontent.com/assets/23022667/25271026/49e0738a-26a0-11e7-9991-90e5007baf47.jpg)

On Web demo server for the client Smith W R

![demo](https://cloud.githubusercontent.com/assets/23022667/25271041/5cc58922-26a0-11e7-8b8c-f0a44b091282.png)

[2017-04-21 09:21] santoshconflux commented on #294
Ignore Loan account number with 500, I just closed it by prepaying. :)

[2017-04-21 09:26] santoshconflux opened #296 "'Make Payment' button should be removed from Closed Loan accounts."
Check the screenshot of the loan account 500 which is closed loan.

![ss2](https://cloud.githubusercontent.com/assets/23022667/25271712/afaf5030-26a2-11e7-8f41-e0d977eb311f.png)

[2017-04-21 10:36] santoshconflux opened #297 "Status color of closed savings account should be black in stead of blue"
In web demo server:
![demo](https://cloud.githubusercontent.com/assets/23022667/25274117/47bd34ce-26ac-11e7-8269-448c578e74f4.png)

In mobile app:

![ss4](https://cloud.githubusercontent.com/assets/23022667/25274148/63b0d21c-26ac-11e7-8733-173f1bb4268a.jpg)

[2017-04-21 10:54] santoshconflux opened #298 "Listing of Loans Savings and Shares"
In the mobile app, the accounts Loans/Savings/Shares are listed  'old-to-recent' (unlike in web demo server) . Recent accounts should be on top with gradually going in previous dates. It is always good practice to  keep recent accounts on the top with the ease of approving/disbursing, rather than scrolling for some time in order to go to recent accounts.

[2017-05-03 06:19] AbhilashG001 commented on #191
The issue was resolved.

[2017-05-03 06:19] #191 closed, assigned to nobody

[2017-05-03 06:20] AbhilashG001 commented on #179
The issue was resolved.

[2017-05-03 06:20] #179 closed, assigned to nobody

[2017-05-10 09:33] therajanmaurya commented on #177
fix in #291

[2017-05-10 09:33] #177 closed, assigned to nobody

[2017-05-10 09:59] therajanmaurya commented on #298
Thanks @santoshmath, I debug the demo web app, It's calling the same API end point that is calling in self-service and android-client.
To fix this issue I did not find any end parameter that give us the latest accounts according to time.
So I think we have to invert the account list and then show.

@santoshmath Do you think, we have any parameter that can make our work easy.

[2017-05-10 10:07] santoshconflux commented on #298
@therajanmaurya , I don't have any idea regarding parameter. :)

[2017-05-10 10:19] therajanmaurya commented on #298
Ok, I will put this issue on high priority and will fix soon thanks for reporting.

[2017-05-19 16:43] therajanmaurya opened #299 "Show message and retry button if app failed to fetch LoanTemplate while applying for loan"
**Summary:**

In Present we are fetching the loan template and inflating into the UI content but if app failed to fetch the loan template. It's can make app crash or HTTP request failure reason. It's better to show a **message and retry** button if app failed to fetch loan template.

**Steps to reproduce:**

Try to apply loan application without internet connection. App is crashinng.

**Expected b

[2017-06-01 15:32] dilpreet96 commented on #298
I also didnt found any parameter for sorting the accounts, if the endpoint could provide with timestamp for each account then it would be easier to sort accounts otherwise as @therajanmaurya said reversing of list can be done.

[2017-06-01 20:05] #297 closed, assigned to nobody

[2017-06-01 20:11] #299 closed, assigned to dilpreet2028

[2017-06-02 08:22] #224 closed, assigned to nobody

[2017-06-02 18:59] dilpreet2028 opened #303 "Loan updation implementation"
#### Steps
- To update a loan,a new fragment will be created which can use the exisiting fragment_add_application layout as the api allows to update all the elements provided in the UI part of this layout but with a new presenter.
- LoanAccount(model) needs to be passed during the intialization
- ProductId retrieved from loanAccount will be used to call the template which requires ProductId. API u

[2017-06-02 19:21] #294 closed, assigned to nobody

[2017-06-02 19:45] therajanmaurya commented on #303
@dilpreet96 No need to make new Fragment for the feature `update loan application`.
Here are the things that you can follow during implementation.
1. Make an enum `LoanState` and create CREATE, EDIT inside it.
2. Pass this enum into a contractor.
3. If CREATE: do not do anything create loan application is already written.
4. If EDIT: make new API call to fetch the loan application and set the valu

[2017-06-02 19:47] dilpreet96 commented on #56
@puneetkohli521 @therajanmaurya @rajuan
##### `Clarification needed`
Creating a self service user links one or more clients with one self service user account.
For creating a self service user I used :-
[code]
With this api:- https://demo.openmf.org/fineract-provider/api/v1/users
Along with the `admin token in the request header`.

This means that only an authorised and authenicated person can cre

[2017-06-02 20:05] dilpreet2028 commented on #303
Thank you @therajanmaurya . No confusion till now ,i'll ask if any.

[2017-06-02 20:06] dilpreet2028 commented on #295
Fixed in #302

[2017-06-02 20:06] #295 closed, assigned to nobody

[2017-06-06 14:39] #193 closed, assigned to nobody

[2017-06-06 15:12] dilpreet2028 opened #306 "Add more details to accounts list"
**Summary:**
Currently, Accounts List shows limited information, results from the *recent survey* recommends to add more description to each of the list item.
- `Loan Account List` should contain more details such as: Original Loan, Loan Balance and Amount Paid
- `Savings Accounts List` should also display Last Active and Balance
- `Share Accounts List` should also display Approved Shares and Pend

[2017-06-06 16:29] therajanmaurya commented on #306
@dilpreet96 Looks nice, please share this issue on slack channel with @edcable.

[2017-06-06 17:31] therajanmaurya opened #307 "Integrate slack channel"
**Summary:**

Like we are reporting on slack, So it's better to integrate slack too.

[2017-06-06 18:12] dilpreet2028 commented on #307
@therajanmaurya i am not able to select see any of mifos repositories during integration, I might not have access to add any mifos repo.(I have already authorized mifos from oauth apps for slack)

[2017-06-08 21:39] #296 closed, assigned to nobody

[2017-06-09 12:20] dilpreet2028 opened #308 "Savings charges Endpoint return 404 httpStatusCode"
**Summary:**

In order to implement Loan and saving charges, following endpoints need to be used:

#### For Loan (Works fine):-
https://demo.openmf.org/fineract-provider/api/v1/self/loans/28/charges?tenantIdentifier=default&pretty=true

#### For Savings charges (`Problem`):-
Reference: https://demo.openmf.org/api-docs/apiLive.htm#selfsavingscharges
This api`returns httpStatusCode as 404`:-
https:/

[2017-06-09 16:19] edcable commented on #308
@nazeer1100126 can you please review this?

[2017-06-10 07:51] dilpreet2028 commented on #298
Mifos X Client show Loan,Saving and Share list in decreasing order of `id` attribute. https://demo.openmf.org/#/viewclient/1
Will be sending PR soon.

[2017-06-11 20:31] #182 closed, assigned to nobody

[2017-06-14 19:19] dilpreet2028 commented on #287
Issue already exists #127
@therajanmaurya we should close this issue

[2017-06-14 19:23] dilpreet2028 commented on #275
@therajanmaurya this issue does not make sense

[2017-06-14 19:27] dilpreet2028 commented on #267
@therajanmaurya PR already merged, closing issue

[2017-06-14 19:27] #267 closed, assigned to nobody

[2017-06-14 19:29] dilpreet2028 commented on #266
@therajanmaurya PR already merged closing issue

[2017-06-14 19:29] #266 closed, assigned to nobody

[2017-06-14 19:37] dilpreet2028 commented on #257
@therajanmaurya "." crash issue has already been fixed and instead of showing Snackbar using a external library for prompting user does seems to be a nice idea.

[2017-06-14 19:52] dilpreet96 commented on #248
I think clicking `Contact your support line` should not load dialer, clicking phone number already loads the dailer, so this issue is not revelant . @therajanmaurya

[2017-06-14 19:56] dilpreet2028 commented on #240
@therajanmaurya PR already merged, closing issue

[2017-06-14 19:56] #240 closed, assigned to nobody

[2017-06-14 19:57] KevinGitonga opened #311 "Login to app"
**Summary:**

During login the username should be stored in memory in that on next load the user only enters the password and gets loged in automatically.

[2017-06-14 19:58] KevinGitonga commented on #311
Can be implemented using shared preferences.

[2017-06-14 20:05] dilpreet2028 commented on #311
For security reasons we are not performing this but thinking of implementing a passcode feature you can have a look at it here: #132

[2017-06-14 20:08] dilpreet2028 commented on #238
@therajanmaurya PR already merged, closing issue

[2017-06-14 20:08] #238 closed, assigned to nobody

[2017-06-14 20:10] KevinGitonga commented on #311
That is okay will work better for security reasons thanks @dilpreet96

[2017-06-14 20:10] #311 closed, assigned to nobody

[2017-06-14 20:13] dilpreet2028 commented on #223
Currency is automatically fetched from the loan template and depends on the Loan product(productId) you choose so it cannot be changed.
@therajanmaurya this issue is not relevant

[2017-06-14 20:20] dilpreet2028 commented on #235
@therajanmaurya  PR already merged, closing issue

[2017-06-14 20:20] #235 closed, assigned to nobody

[2017-06-14 20:23] dilpreet2028 commented on #234
This is the result of weird symbols in displaySymbol attribute in the api
[code]
Link to endpoint: https://demo.openmf.org/fineract-provider/api/v1/self/savingsaccounts/659?tenantIdentifier=default&pretty=true

@therajanmaurya this issue is not relevant.

[2017-06-14 20:25] dilpreet2028 commented on #260
We might not be needing a autocomplete feature after the implementation of Passcode feature.
@therajanmaurya what do you think?

[2017-06-14 20:33] dilpreet96 commented on #220
@therajanmaurya issue was fixed in #300 but validations for principal amount will be added.

[2017-06-14 20:39] dilpreet2028 commented on #218
This issue has already been fixed.
@therajanmaurya

[2017-06-14 20:48] dilpreet96 commented on #211
@therajanmaurya this issue is not relevant.

[2017-06-14 21:01] dilpreet2028 commented on #198
I dont think we need to include a splash screen.
@therajanmaurya what do you think?

[2017-06-14 21:09] dilpreet96 commented on #196
@immabhay hidding Deposit and Make Transfer button for pending accounts will help remove this bug.
@therajanmaurya what do you think?

[2017-06-14 21:11] dilpreet2028 commented on #192
Sharing and saving account have status colors according to the Mifos X Client.
@therajanmaurya I think this issue is not relevant

[2017-06-14 21:18] dilpreet2028 commented on #190
Instead of showing a dialog, it would be better if we follow the implementation of PR: #300
@therajanmaurya what do you think?

[2017-06-14 21:26] #170 closed, assigned to nobody

[2017-06-14 21:27] dilpreet96 commented on #174
@therajanmaurya I dont think it is a relevant issue

[2017-06-14 21:29] dilpreet2028 commented on #176
Fixed in #300

[2017-06-14 21:29] #176 closed, assigned to nobody

[2017-06-15 00:46] #223 closed, assigned to nobody

[2017-06-15 05:10] dilpreet2028 commented on #137
@therajanmaurya PR already merged, closing issue

[2017-06-15 05:10] #137 closed, assigned to nobody

[2017-06-15 05:24] dilpreet2028 commented on #236
@therajanmaurya Duplicate of issue #167

[2017-06-15 09:51] dilpreet2028 commented on #200
@therajanmaurya  As currency formatting is different for some countries so NumberFormat class could be used for performing this task .

[2017-06-15 09:57] dilpreet96 commented on #108
@therajanmaurya We would also have to refract screens for landscape orientation.

[2017-06-16 15:56] dilpreet2028 commented on #187
@hardik124 @sosnickm @therajanmaurya it was returning a 404 as there was no image uploaded for self service client, I uploaded a demo image from Mifos X Client for self service client and now it returns the base64 value for that image.
Link: https://demo.openmf.org/fineract-provider/api/v1/self/clients/1/images?tenantIdentifier=default&pretty=true

[2017-06-16 15:56] #187 closed, assigned to nobody

[2017-06-16 18:22] dilpreet2028 commented on #56
@therajanmaurya  @puneetkohli521  @droidchef  @edcable

In order to create a self service user we need an admin token. For this we first need to perform some tasks on Mifos X Client : https://demo.openmf.org/#/
- **Create a role** with a `CREATE USER` and `CREATE USER CHECKER` (used for verifying the creation of user) permissions only.
- **Create a user(admin)** and assign only the previously crea

[2017-06-17 10:57] #181 closed, assigned to nobody

[2017-06-18 16:41] dilpreet2028 opened #313 "Enchance Home Screen"
**Summary:**
Mock:

<img src="https://user-images.githubusercontent.com/12071739/27262112-9b071016-546d-11e7-88c8-d09fe08064cc.png" height=450 width=250/>

Loan, Saving and share Account cards would give overview to user by:-
- Displaying a pie chart which represents number of accounts that are Pending for approval, active, closed or waiting for disbural with different colours for each type *i.e.

[2017-06-18 19:26] droidchef commented on #313
Looks Uber Cool ;)  @dilpreet96

[2017-06-18 19:26] #298 closed, assigned to nobody

[2017-06-19 05:55] dilpreet2028 commented on #313
Thankyou @droidchef, then I will start its implementation.

[2017-06-19 11:33] #306 closed, assigned to nobody

[2017-06-19 15:44] therajanmaurya opened #314 "Make image and textview at centre"
**Summary:**

![](https://user-images.githubusercontent.com/12071739/26891647-681165dc-4bd3-11e7-96d5-013ed9c3e0ed.png)

As you can see the in this GIF, there a image and textview that is on the top but I want those at the centre.

[2017-06-19 22:13] dilpreet2028 commented on #314
Will send PR by today

[2017-06-19 22:23] therajanmaurya commented on #314
Do according to your schedule.

On 20-Jun-2017 3:43 AM, "Dilpreet Singh" <notifications@github.com> wrote:

[2017-06-20 06:52] #303 closed, assigned to nobody

[2017-06-20 08:06] #314 closed, assigned to nobody

[2017-06-20 13:51] dilpreet2028 commented on #155
Added in #304

[2017-06-20 13:51] #155 closed, assigned to nobody

[2017-06-22 13:37] #218 closed, assigned to nobody

[2017-06-22 20:43] #313 closed, assigned to nobody

[2017-06-22 21:00] #160 closed, assigned to nobody

[2017-06-25 08:02] therajanmaurya opened #320 "NPE while making Transfer"
**Summary:**
[code]

[2017-06-25 08:30] dilpreet2028 commented on #320
@therajanmaurya I am not able to replicate this exception, do you remember which account number you chose? but I think this might be due to api is not returning compelete information i.e. about the AccountType for a particular account as it was able to fetch information about accountId and clientId from that object before trying to fetch `getAccountType().getId()`.

[2017-06-25 08:52] therajanmaurya commented on #320
4th Account from SavingsAccount. try transfer to account number 37

[2017-06-25 09:39] dilpreet2028 commented on #320
<img src="https://user-images.githubusercontent.com/12071739/27515040-1614806e-59b8-11e7-8fd8-a37def3cafc1.gif"/>

I am able to transfer to and from account no 37

[2017-06-26 07:53] #234 closed, assigned to nobody

[2017-06-26 07:53] #192 closed, assigned to nobody

[2017-06-26 07:53] #275 closed, assigned to nobody

[2017-06-26 19:53] #320 closed, assigned to nobody

[2017-06-26 19:56] therajanmaurya opened #325 "Add AndroidStyle"
**Summary:**

Add AndroidStyle.xml and edit the PR template from .github and rename MifosStyle.xml to AndroidStyle.xml

You can use this file https://github.com/therajanmaurya/android-client-2.0/blob/master/AndroidStyle.xml.

This is the Android style standard file.

[2017-06-30 06:44] #325 closed, assigned to nobody

[2017-07-03 18:28] imGurpreetSK commented on #213
Is anyone working on this?

[2017-07-05 17:09] dilpreet2028 commented on #213
@GurpreetSK95 You can go ahead

[2017-07-07 20:00] dilpreet2028 opened #333 "SwipeRefreshLayout for loading more"
**Summary:**
Replace progressbar with SwipeRefreshLayout for Screens which loads more data from api and HomeFragment for loading Client Image and client account data.

[2017-07-07 20:07] dilpreet2028 opened #334 "Use Cardview in HomeFragment"
**Summary:**

Use Cardview for all child views in HomeFragment except for the Contact Us.

[2017-07-07 20:21] dilpreet2028 opened #335 "Save state of account overview"
**Summary:**
Saving state of account overview in HomeFragment. Will be implemented after Passcode implementation #132

[2017-07-07 20:25] dilpreet2028 commented on #230
fixed in #329

[2017-07-07 20:25] #230 closed, assigned to nobody

[2017-07-07 20:26] dilpreet2028 commented on #227
Fixed in #329

[2017-07-07 20:26] #227 closed, assigned to nobody

[2017-07-07 20:27] dilpreet2028 commented on #257
Already Fixed

[2017-07-07 20:27] #257 closed, assigned to nobody

[2017-07-07 20:28] dilpreet2028 commented on #211
Issue already exists regarding this #132

[2017-07-07 20:28] #211 closed, assigned to nobody

[2017-07-07 20:32] dilpreet2028 commented on #33
Added in #326

[2017-07-07 20:32] #33 closed

[2017-07-10 11:15] nikit19 opened #336 "Bug: On returning to home fragment from any fragment we see a toast message."
**Summary:**

On returning to home fragment from any fragment we see a toast message.

**Steps to reproduce:**

Login and select any  fragment. Then press the back button

**Expected behavior:**

"Press back again to exit" toast message should be displayed only from the home fragment.

**Observed behavior:**
After pressing the back button from any fragment the toast message is displayed.

**Device

[2017-07-10 11:23] therajanmaurya commented on #336
Good catch, if you want to work you can.

On Mon, Jul 10, 2017 at 4:45 PM, Nikit Bhandari <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-07-10 11:25] nikit19 commented on #336
Thank you sir. Yes I want to work on it.

[2017-07-10 11:30] therajanmaurya commented on #336
Go ahead and send PR 👍

On Mon, Jul 10, 2017 at 4:55 PM, Nikit Bhandari <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-07-12 12:24] #336 closed, assigned to nobody

[2017-07-14 09:32] dilpreet2028 commented on #64
Added in #338

[2017-07-14 09:32] #64 closed, assigned to nobody

[2017-07-23 10:25] dilpreet2028 commented on #132
Added in #339

[2017-07-23 10:25] #132 closed, assigned to nobody

[2017-07-24 08:02] dilpreet2028 opened #346 "Apk Size Increased drastically after using JNI"
**Summary:**
Using the JNI with .so files for passcode implementation has lead to an drastic increase in apk size.We should spilt apks for the release build depending upon the CPU architecture

**Stats of apk containing all CPU architecture .so file :**
![screenshot from 2017-07-24 13-04-27](https://user-images.githubusercontent.com/12071739/28513443-d9abf2d8-7073-11e7-84ff-f637c7951688.png)

**Af

[2017-07-25 20:52] dilpreet2028 commented on #308
Fixed
Loans and saving charges feature added in #343

[2017-07-25 20:52] #308 closed, assigned to nobody

[2017-07-25 20:53] dilpreet2028 commented on #131
Added in #348

[2017-07-25 20:53] #131 closed, assigned to nobody

[2017-07-26 10:45] dilpreet2028 commented on #287
Duplicate issue, closing

[2017-07-26 10:45] #287 closed, assigned to nobody

[2017-07-26 16:31] dilpreet2028 commented on #248
This issue was fixed

[2017-07-26 16:31] #248 closed, assigned to nobody

[2017-07-26 16:34] dilpreet2028 commented on #239
This issue has been fixed

[2017-07-26 16:34] #239 closed, assigned to nobody

[2017-07-26 16:37] dilpreet2028 commented on #195
Issue fixed in #321

[2017-07-26 16:37] #195 closed, assigned to nobody

[2017-07-26 16:37] dilpreet2028 commented on #196
Issue fixed in #321

[2017-07-26 16:37] #196 closed, assigned to nobody

[2017-07-26 19:58] #346 closed, assigned to nobody

[2017-07-26 19:59] #292 closed, assigned to nobody

[2017-07-26 20:10] therajanmaurya commented on #260
No, we don't need because of security.

[2017-07-26 20:10] #260 closed, assigned to nobody

[2017-07-27 09:10] #236 closed, assigned to nobody

[2017-07-27 09:11] dilpreet2028 commented on #221
This issue was fixed

[2017-07-27 09:11] #221 closed, assigned to nobody

[2017-07-27 09:18] dilpreet2028 commented on #220
Issue fixed in #300

[2017-07-27 09:18] #220 closed, assigned to nobody

[2017-07-27 10:20] #190 closed, assigned to nobody

[2017-07-28 06:52] dilpreet2028 commented on #185
Fixed in #332

[2017-07-28 06:52] #185 closed, assigned to nobody

[2017-07-28 07:12] dilpreet2028 commented on #199
This issue has been fixed

[2017-07-28 07:12] #199 closed, assigned to nobody

[2017-07-28 15:09] dilpreet2028 commented on #189
Fixed in #332

[2017-07-28 15:09] #189 closed, assigned to nobody

[2017-07-28 15:12] dilpreet2028 commented on #68
Closing this issue as Savings Accounts Summary Screen has been implemented.

[2017-07-28 15:12] #68 closed, assigned to nobody

[2017-07-28 15:13] dilpreet2028 commented on #57
Closing this issue as Login feature has been implemented.

[2017-07-28 15:13] #57 closed, assigned to nobody

[2017-07-28 15:56] edcable opened #359 "Create section for account statements/reports"
**Summary:**

As a user, I'd like to be able to retrieve and view account statements (monthly)

**Expected behavior:**

As a user I should be able to navigate to a new section from the navigation drawer called Statements or Reports and then I can select by date or by account and then either view a statement on screen or download this as a PDF.

I'm not sure if we need another self-service API for

[2017-07-28 16:01] #186 closed, assigned to nobody

[2017-07-28 16:01] #247 closed, assigned to nobody

[2017-07-28 16:02] #167 closed, assigned to nobody

[2017-07-28 16:07] edcable opened #360 "Explore enabling in-app notifications in self-service app"
**Summary:**

As a self-service user, I would like to receive in-app notifications from staff/organization.

**Desired Behavior**

Just as we do with SMS campaigns and event-based messages, it would be nice if messages could be generated and sent as in-app notification. These could be payment reminders, payment receipts, reminders about upcoming meetings, general messages like holiday greetings, b

[2017-07-29 11:44] dilpreet2028 opened #361 "PassCode View automatic login"
**Summary:**

We need to press login button after entering PassCode, but there should be a listener which automatically checks passcode and responds accordingly.

[2017-07-31 18:26] #361 closed, assigned to nobody

[2017-08-02 09:59] dilpreet2028 opened #364 "RTL support"
**Summary:**

RTL support should be added.

[2017-08-02 17:42] #364 closed, assigned to nobody

[2017-08-02 17:46] #251 closed, assigned to nobody

[2017-08-02 17:47] #335 closed, assigned to nobody

[2017-08-02 17:47] #213 closed, assigned to nobody

[2017-08-02 19:03] #333 closed, assigned to nobody

[2017-08-09 19:26] dilpreet2028 opened #370 "Vector causing crash below API 21"
**Summary:**

Use of vector in android:src tag in nav_drawer_header.xml causes a Crash below API 21
And In order to enable the use of vectors for drawableLeft we need to enable `AppCompatDelegate.setCompatVectorFromResourcesEnabled(true);`

[2017-08-10 05:56] #370 closed, assigned to nobody

[2017-08-10 09:43] dilpreet2028 opened #372 "OutOfMemoryError due to large size of Bitmap"
**Summary:**

Large size of Bitmap causes `OutOfMemoryError` on low end phones. Here is the log report:
[code]

[2017-08-11 12:34] #372 closed, assigned to nobody

[2017-08-11 16:17] #334 closed, assigned to nobody

[2017-08-11 16:58] #19 closed

[2017-08-15 06:19] dilpreet2028 opened #378 "LoanAccountFragment detail layout visibility"
**Summary:**
LoanAccountFragment currently shows `ll_account_detail` layout before fetching Loan details from the server.

**Expected behaviour**
LoanAccountFragment should only show a ProgressBar and then show `ll_account_detail` layout after fetching details from server

[2017-08-15 13:53] dilpreet2028 opened #381 "QRCodeReader Fragment crashes"
**Summary:**
On Scanning a invalid QRCode, app crashes by throwing `JsonSyntaxException`

**Expected behavior:**
It should prompt user to scan a valid QRCode

[2017-08-16 11:15] ippezshelby opened #383 "Check Connection status before authenticating client both at username/password login level and passcode level"
When a client is logging in, system should first check for connectivity and if no connection to the back-end platform it throws an error ' Back-end application is not running, please check your connections'.

[2017-08-16 11:26] therajanmaurya commented on #383
what do you mean. You mean application first check server is live or not.

On Wed, Aug 16, 2017 at 4:45 PM, Ippez Robert <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-08-16 11:27] ippezshelby commented on #383
**Test behavour {Tried this on a local instance}**

- Run back-end platform locally.
- Start Self service app and login a SSU till you are able to access his/her dashboard and other functionalities
- Stop the backend platform
- Keep the Self service app idle till when you try to awake it, it shows you passcode screen.
Enter your passcode, it will show you dashboard and show error 'Failed to fetch

[2017-08-17 07:45] ippezshelby opened #385 "Move the Toaster to the top right side of the device screen"
A client can not see Toaster Message when Device keyboard is on so it will be better to move the toaster to the top.

[2017-08-17 10:23] dilpreet2028 commented on #385
Snackbars(Toaster) are meant to be shown on the bottom of the screen and whenever a Snackbar appears the keyboard hides itself and then the snackbar is displayed.
Do you see any place where a snackbar hides below the keyboard ? if yes then please tell

[2017-08-17 10:44] dilpreet96 commented on #383
@Ippezrobert a self service user don't have to run the backend platform locally, they will be connected to the production server which will up and running most of the time.
And @therajanmaurya if for server will go down for a update then we can have a functionality of sending a notification to all users that you will not be able to use the application for this period of time (after the notificatio

[2017-08-17 10:59] hardik124 commented on #359
therajanmaurya, @edcable @dilpreet96  is this feature approved? Can I work on it?

[2017-08-18 15:55] #381 closed, assigned to nobody

[2017-08-18 15:58] #273 closed, assigned to nobody

[2017-08-18 17:11] dilpreet2028 commented on #378
Fixed in #384

[2017-08-18 17:11] #378 closed, assigned to nobody

[2017-08-18 17:11] #262 closed, assigned to nobody

[2017-08-21 13:43] #56 closed, assigned to nobody

[2017-08-21 13:44] #200 closed, assigned to nobody

[2017-08-23 03:44] ippezshelby opened #388 "Spinner remains active and visible spinning event if data is loaded or refreshed."

[2017-08-23 04:24] therajanmaurya commented on #388
Can you please provide some brief info of issue for what issue you are talking.

[2017-08-24 08:19] ippezshelby opened #391 "Refactor: Create Loan Page to include the following"
Allow client to:

1. Input Number of Repayment
2. Add tentative collateral
3. Asign tentative loan officer
4. View Repayment Schedule as below format

**No.                      | Due Date                       | Principal                | Interest               | Outstanding**

[2017-08-24 09:58] ippezshelby commented on #388
Behavior can't be replicated now. I think it was due to backend application not responding faster but when i restarted tomcat everything was fine.

[2017-08-24 09:58] #388 closed, assigned to nobody

[2017-08-26 08:43] therajanmaurya commented on #108
@dilpreet96 Please look this issue and check app is supporting orientation for every feature.

[2017-08-26 08:56] dilpreet2028 commented on #108
Okay @therajanmaurya

[2017-08-26 08:58] dilpreet2028 commented on #385
A better validation has been added in #386 and snackbar are shown in bottom of screen.

[2017-08-26 08:58] #385 closed, assigned to nobody

[2017-08-26 09:23] therajanmaurya opened #392 "NPE: While viewing beneficiary details"
**Summary:*

App is crashing while viewing the beneficiary details. Here is crash log

[code]

[2017-08-26 09:26] therajanmaurya opened #393 "show Logout instead I'M SURE"
**Summary:**

When user click on logout option that brings us logout material dialog in which we have to show `LOGOUT` instead of `I'M SURE` and add Dialog Title `Confirmation Logout`

![image](https://user-images.githubusercontent.com/5724482/29740200-b21ccc64-8a6e-11e7-83f0-48e0b803b18f.png)

[2017-08-26 09:35] therajanmaurya opened #394 "Enhance Beneficiaries list item UI"
**Summary:**

![image](https://user-images.githubusercontent.com/5724482/29740257-19277750-8a70-11e7-99b2-d83a717a7333.png)

[2017-08-29 05:51] #394 closed, assigned to dilpreet2028

[2017-08-29 05:52] #392 closed, assigned to dilpreet2028

[2017-08-29 05:53] #393 closed, assigned to nobody

[2017-09-01 11:44] mayank8318 opened #399 "Dollar sign is displayed after amount in total deposit"
**Summary:**
Dollar(currency) is displayed after the amount.
It should be displayed before the amount.
**Steps to reproduce:**
Open any accounts details

**Expected behavior:**
Currency symbol should be displayed before the amount.

**Observed behavior:**
Currency symbol was displayed after the amount
**Device and Android version:**
Samsung Galaxy A5(2016)

**Screenshots:**
![image](https://user-i

[2017-09-01 12:11] dilpreet2028 commented on #399
@mayank8318 If you want to fix it then go ahead

[2017-09-01 12:12] mayank8318 commented on #399
@dilpreet96 yes cool I will submit a PR asap :)

[2017-09-02 06:28] mayank8318 commented on #399
@dilpreet96 I have created the PR.
Please have a look.
Thanks!

[2017-09-02 08:53] #399 closed, assigned to nobody

[2017-09-04 11:32] imGurpreetSK commented on #108
Anyone working on this issue?
@dilpreet96 I would like to start with this.

[2017-09-04 11:45] therajanmaurya commented on #108
@GurpreetSK95 Welcome to the community but this issue is resolved here https://github.com/openMF/self-service-app/pull/398.

[2017-09-04 11:45] #108 closed, assigned to nobody

[2017-09-05 13:38] mayank8318 opened #401 "Buttons not displayed in calendar"
**Summary:**
The OK and CANCEL buttons are not visible on the calendar as the text is white
**Steps to reproduce:**
Go to Add a new load and change submission date
**Expected behavior:**
The button text should be visible
**Observed behavior:**
Button text was invisible
**Device and Android version:**
Samsung Galaxy A5(2016)
**Screenshots:**
![image](https://user-images.githubusercontent.com/223959

[2017-09-05 13:38] mayank8318 commented on #401
I would like to work on this issue :)

[2017-09-05 13:43] therajanmaurya commented on #401
Go ahead and send PR.

On Tue, Sep 5, 2017 at 7:08 PM, Mayank Vaidya <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-09-06 13:30] #401 closed, assigned to nobody

[2017-09-06 16:38] dilpreet2028 commented on #307
Added

[2017-09-06 16:38] #307 closed, assigned to dilpreet2028

[2017-09-06 20:04] edcable opened #403 "Translate Mobile Banking App into the following languages"
A number of languages are most commonly requested by our community. We need the strings translated for the following languages.

Easy-to-follow instructions on how to Translate Strings for the field office app have been provided by @tarun0 at https://github.com/openMF/android-client/wiki/Translation. The process will be similar here.

Translations are needed for

- [ ] Arabic (ar)
- [ ] French (fr

[2017-09-10 07:25] mayank8318 opened #405 "Touching on respective items in Account Overview(Home) should take you to that tab in the Accounts section"
**Summary:**

Touching Total Savings or Total Loan in the Account Overview should take the user to that tab in the Accounts screen.

**Steps to reproduce:**

Touch any of these in Account Overview.

**Expected behavior:**

Should take the user to the respected tab in Accounts.

**Observed behavior:**

No feedback for the touch.

**Device and Android version:**

Samsung Galaxy A5(2016)

[2017-09-10 07:25] mayank8318 commented on #405
I would like to work on this one.
Thanks.

[2017-09-12 16:23] amanjeetsingh150 commented on #403
Hey,
@dilpreet96 and @therajanmaurya, Sir I would like to translate these strings for Hindi language. Please assign this to me.
Thanks

[2017-09-12 16:36] dilpreet2028 commented on #403
You can go ahead @amanjeetsingh150

[2017-09-12 16:38] therajanmaurya opened #407 "Translate Mobile Banking App into HIndi"
**Summary:**

Issue #403  is parent issue for translation. it is a sub issue that will track about the Hindi translation.

[2017-09-12 16:39] therajanmaurya commented on #407
@amanjeetsingh150 Welcome to the community and Here you go.

[2017-09-12 16:42] edcable commented on #403
Thanks guys! You are too fast. I was replying...@amanjeetsingh150 Feel free to start with the translation and submit a pull request with the translated file when you've completed the work.

[2017-09-18 11:33] santoshconflux opened #409 "WebApp: Cancel Button in 'Apply for Loan' is not working and leading nowhere"

[2017-09-18 11:41] santoshconflux opened #410 "WebApp : Once Loan Application is submitted using 'Apply For Loan' , it gets submitted successfully but it remains in the name page"
Expected : It should come out of that page with confirmation

[2017-09-18 12:46] santoshconflux commented on #410
Reported Here: https://github.com/openMF/web-self-service-app/issues/35

[2017-09-18 12:46] #410 closed, assigned to nobody

[2017-09-18 12:47] santoshconflux commented on #409
Reported Here: https://github.com/openMF/web-self-service-app/issues/36

[2017-09-18 12:47] #409 closed, assigned to nobody

[2017-09-19 08:04] amasdeogratias opened #411 "Unable to login in the self service app when i changed it to my local mifos x system"
When i changed self service app from accessing data from mifos x demo to my local mifos x i installed in my machine(ubuntu), it has stopped to login and fetch clients.

When i click login button, it loads for 15 to 20 seconds then it stop without any errot
Am using the defaults username and password
username = "selfservice"
password = "password"

Am developing self service app in ubuntu 14.04 and

[2017-09-20 09:59] #405 closed, assigned to nobody

[2017-09-20 10:08] therajanmaurya commented on #411
@amasdeogratias We already added the support for the local backend. If I am not wrong, there is no Self-service user present in your backend with these credentials. If yes then please share the log of the android studio.

[2017-09-20 10:11] therajanmaurya commented on #391
@edcable Can you please look these parameters and confirm me so I will more development.

[2017-09-20 10:26] therajanmaurya commented on #383
@Ippezrobert Thanks for reporting this issue, I thought about it earlier and I working on it for showing the correct message to the user so the user will able to know what's the problem is and proceed accordingly

Here is some mockup
![image](https://user-images.githubusercontent.com/5724482/30638915-a63fe830-9e1a-11e7-9389-bd9a62cffc04.png)

And about the checking backend connectivity. It is end-

[2017-09-20 10:28] therajanmaurya commented on #198
I don't think we need splash screen, I don't find any use because we don't have OAuth 2 so for now I will put this dicuss off.

[2017-09-20 10:28] #198 closed, assigned to nobody

[2017-09-20 10:30] therajanmaurya commented on #164
I find this feature useful, Let me look what we have on the backend and how we can implement for exporting transactions.

[2017-09-20 11:48] mayank8318 opened #412 "Titlebar doesn't change upon returning back to parent activity"
**Summary:**

Titlebar doesn't change when the user returns back to the parent activity.

**Steps to reproduce:**

Open Accounts and press back.

**Expected behavior:**

The title bar should change accordingly

**Observed behavior:**

The title doesn't change.

**Device and Android version:**

SAMSUNG GALAXY A5(2016)

**Screenshots:**
![21733198_1802029919825814_1491883286_n](https://user-images.g

[2017-09-20 11:50] therajanmaurya commented on #412
Go ahead and send PR.

‌

On Wed, Sep 20, 2017 at 5:18 PM, Mayank Vaidya <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-09-20 12:36] therajanmaurya opened #413 "JavaBinder: !!! FAILED BINDER TRANSACTION !!!"
**Summary:**

We are getting log `09-20 18:02:30.659 29332-29332/org.mifos.selfserviceapp E/JavaBinder: !!! FAILED BINDER TRANSACTION !!!  (parcel size = 1568940)` after every request.

It is not affecting the app but needs to find what is this and why this is coming.

[2017-09-22 10:57] ivary43 opened #415 "In Home "contact us " in bottom is overlapping with the button navigation"
**Summary:**

On home "Contact Us" in bottom shouldn't overlap with button navigation .

**Steps to reproduce:**

Open Home

**Expected behavior:**

They should have  sufficient margin .

**Observed behavior:**
Both of them are overlapping (Contact us and lower button navigation ).

**Device and Android version:**
Moto G Turbo (6.0.1)

**Screenshots:**

![screenshot_20170922-162144](https://user-i

[2017-09-22 11:11] ivary43 opened #416 "Abrupt opening of "Account Overview" on Home"
**Summary:**
There is abrupt opening of "Account view" on click ,there should be a slide animation for opening and closing of that for better view

**Steps to reproduce:**
Go to Home and click on "Account Overview" .

**Expected behavior:**
There should be slide animation for opening and closing of "Account Overview" on click .

**Observed behavior:**
There is disrupt opening and closing of "Accou

[2017-09-22 14:59] ivary43 opened #417 "Text colour is not visible inside the button ."
**Summary:**

Text in the button view is not visible in cancel button  due to same font and background colour .

**Steps to reproduce:**
Drawer item ->Third party transfer -> After filling dummy data in entry

**Expected behaviour:**

Button theme should match the main theme Color and text inside the button should be visible .

**Observed behavior:**
The cancel  button was of default size and text

[2017-09-22 15:52] therajanmaurya commented on #417
@ivary43 welcome to community, Go ahead send a PR 👍

[2017-09-22 15:57] therajanmaurya commented on #416
@ivary43 Make sense, I think `android:animateLayoutChanges="true"` is sufficient for this.
Add in LinearLayout that you want to hide and show.

[2017-09-22 16:44] ivary43 commented on #417
@therajanmaurya I will do it as soon as possible .

[2017-09-22 16:45] ivary43 commented on #416
@therajanmaurya I will do it ..🙂

[2017-09-23 14:25] dilpreet2028 opened #418 "Passcode Activity shown mutliple times"
**Summary:**
User is shown the passcode activity screen multiple times if he send the app in background for multiple times and the passcode text size should be increased as suggested by Ed.

[2017-09-23 14:29] dilpreet2028 commented on #415
Go ahead @ivary43

[2017-09-23 15:07] dilpreet2028 commented on #413
This is happening because `Parcel` objects does not allow large values to be stored in them, in our case I was saving bitmaps in Parcel for saving their instance, so if we remove bitmaps from the bundle then the error is gone but if we remove images from bundle then we will have to download them again on orientation change. So @therajanmaurya, should we remove them?

[2017-09-23 15:11] therajanmaurya commented on #413
have you tried using Glide?

Have a look https://github.com/therajanmaurya/android-client-2.0/blob/development/app/src/main/java/org/apache/fineract/utils/ImageLoaderUtils.java

[2017-09-23 15:21] mayank8318 opened #422 "FAQ doesn't close upon re-clicking"
**Summary:**

When the user clicks on an open FAQ it should close.

**Steps to reproduce:**

Go to help section and open an FAQ.

**Expected behavior:**

The FAQ should close on re-clicking.

**Observed behavior:**

There is no response to the touch event.

**Device and Android version:**

Samsung Galaxy A5(2016)

**Screenshots:**

![21536115_1813174755377997_1040612400488775680_n](https://user-im

[2017-09-23 15:35] mayank8318 opened #423 "Wrong drawer item highlighted"
**Summary:**

When user goes to About Us section, Help is highlighted in drawer.

**Steps to reproduce:**

Go to About Us section and open the drawer.

**Expected behavior:**

About Us should be highlighted.

**Observed behavior:**

Help was highlighted.

**Device and Android version:**

Samsung Galaxy A5(2016)

**Screenshots:**

![21536184_1813191605376312_1975594439724236800_n](https://user-imag

[2017-09-23 15:36] therajanmaurya commented on #422
Go ahead send PR

[2017-09-23 15:36] #412 closed, assigned to nobody

[2017-09-25 14:52] ivary43 opened #424 "Account page is not opening properly while opening from home page."
**Summary:**

The homepage layout is still floating over the account page when opened while the homepage is still loading .The homepage layout shouldn't be floating above the  account page .

**Steps to reproduce:**

Open the account page when the homepage is still loading .

**Expected behavior:**
Homepage shouldn't be floating over the account page when it is opened while the homepage is still l

[2017-09-25 15:06] dilpreet2028 commented on #424
Go ahead 👍

[2017-09-25 15:06] dilpreet2028 commented on #423
Go ahead @mayank8318

[2017-09-26 13:07] ivary43 commented on #416
@therajanmaurya android:animateLayoutChanges="true" is not working ...i tried . Should i do it with java ?

[2017-09-26 19:06] #422 closed, assigned to nobody

[2017-09-26 19:06] #418 closed, assigned to nobody

[2017-09-26 19:07] #423 closed, assigned to nobody

[2017-09-28 08:04] mayank8318 opened #428 "Improve filter implementation"
**Summary:**

Currently the filter options are not implemented correctly, for example when the user reopens the filter tab for the second time his already selected filters are not highlighted.
Also there is no clear filters button.

**Steps to reproduce:**

Open filters tab

**Expected behavior:**

The already applied filters should be saved.
There should be a clear filters button.

**Observed beh

[2017-09-28 08:05] mayank8318 commented on #428
@therajanmaurya @dilpreet96 Also, the filtering is based on **OR** operation. Shouldn't it be **AND**

[2017-09-28 08:39] luckyman20 commented on #417
@therajanmaurya @edcable Can I work on this issue ?

[2017-09-29 12:51] dilpreet2028 opened #429 "Passcode should be confirmed again before saving"
**Summary:**

Currently the passcode is saved in one go but Passcode should be confirmed again before saving.

[2017-09-29 18:27] edcable opened #431 "Allow Financial Institution to Upload Logo of their Choosing for Mobile Banking App"
**Summary:**

Financial Institutions offering the mobile banking app to their customers will want to use their own branding and logo

We should make it easy for them to do so and still allow their customers to download our app from the Google Play store and not have to create their own APK and own version of the app to change its logo.

I propose we allow them upload a logo to their tenant which w

[2017-09-29 19:17] naman14 commented on #431
@edcable I maybe missing something here but financial institutions will have to anyway build and create their own version of app since they will be having a separate fineract instance and thus a different base API url that will have to be changed in the code.

However, I do agree that an admin section in the webapp for managing these self service channels will be great.

[2017-09-30 05:50] luckyman20 commented on #415
@therajanmaurya @dilpreet96 @edcable Can I go ahead with this issue ?

[2017-09-30 06:02] luckyman20 opened #432 "android:singleLine is now deprecated but it is used in many EditText"
**Summary:**

android:singleLine is used in all the EditText (wherever needed)

**Steps to reproduce:**

It is in fragment_add_loan.xml file and in many more xml files

**Expected behavior:**

Instead of android:singleLine, we can use android:maxLines

**Observed behavior:**

Currently, android:singleLine is used.

@edcable @therajanmaurya Can I work on this issue ?

[2017-09-30 07:53] luckyman20 commented on #416
@therajanmaurya Can I work on this issue ?

[2017-09-30 09:15] dilpreet2028 commented on #417
@luckyman000786, @ivary43 is already working on it #427

[2017-09-30 20:28] mayank8318 opened #433 "Improve UI of empty accounts screen"
**Summary:**

The current UI of empty accounts has a few bugs.

**Steps to reproduce:**

Open accounts.

**Expected behavior:**

The error view should be centered and the loader should stop.

**Observed behavior:**

The error view was not centered and the loader did not stop.

**Device and Android version:**

Samsung Galaxy A5(2016)

**Screenshots:**

![21753517_1820748477953958_662594556622641561

[2017-10-01 10:38] #429 closed, assigned to nobody

[2017-10-02 12:38] #432 closed, assigned to nobody

[2017-10-02 15:42] dilpreet2028 opened #436 "Option to change language from settings"
**Summary:**

There should be an option to change language from the app itself

[2017-10-02 19:45] #407 closed, assigned to nobody

[2017-10-07 14:18] #428 closed, assigned to nobody

[2017-10-07 14:24] #417 closed, assigned to nobody

[2017-10-08 10:32] mayank8318 opened #440 "Improve UI of Saving Accounts Transactions"
**Summary:**

The UI of Saving Accounts Transactions can be improved.

**Steps to reproduce:**

Open transactions for any savings account.

**Expected behavior:**

The current UI can be improved upon for example highlighting the amount red or green according to withdrawal or deposit, each transaction can be displayed in a card with appropriate borders for withdrawal and deposit.

**Observed behavi

[2017-10-08 10:33] mayank8318 commented on #440
@therajanmaurya I would like to work on this issue.
Thanks.

[2017-10-08 12:12] therajanmaurya opened #441 "Transfer Exception : Repayment date cannot be on a non working day"
**Summary:**

I was making normal transfer between savings account and I got the exception from server that
`Repayment date cannot be on a non working day`. I don't think this is a valid exception because self-service is end-user application and user can do any transaction at any time that's the meaning of this app.

[code]
@nazeer1100126 @edcable What do you think.

[2017-10-09 10:51] therajanmaurya commented on #440
@mayank8318 Please wait before making any change, I want to redesign this whole feature,
soon, I will provide some mockups then you can work on them. Till that I refactor the app with new material design guidelines. Pull new commits and build and try to play and let me know if you have any feedback.

[2017-10-09 13:10] luckyman20 commented on #441
@therajanmaurya I think you're right. This error is valid for only offline transfers. Online transfers can be made on any day. And In this we are making online transactions only.

[2017-10-09 13:14] therajanmaurya commented on #441
yes @luckyman000786 you are right, BTW we are building end user bank application so there is nothing like offline transaction, everything will happen in real time.

[2017-10-09 14:01] mayank8318 commented on #440
@therajanmaurya Yeah that would be fine

[2017-10-10 21:43] #436 closed, assigned to nobody

[2017-10-11 05:56] santoshconflux opened #445 "Unable to Create New user/account for a client showing the error: Client not found with basic details"
I tried creating new account for this client

https://demo.openmf.org/#/editclient/3326

I tried with client account number 000003326 and also external ID 19000

[2017-10-11 06:07] dilpreet2028 commented on #445
@santoshmath Please try creating a client on https://mobile.openmf.org/#/ as we are using this instance for debug version of the app.

[2017-10-11 13:10] santoshconflux commented on #445
@dilpreet96 , thanks. I am to create the account.

[2017-10-11 16:46] mayank8318 opened #446 "End Date datepicker should be initialised to the date of start date"
**Summary:**

Currently the end date is not set for the datepicker.

**Steps to reproduce:**

Open end date datepicker in any activity.

**Expected behavior:**

The minimum allowed date on the datepicker should be the start date.

**Observed behavior:**

All the dates were allowed in the end date and the error message was only displayed when the form was submitted.

**Device and Android version:**

[2017-10-11 16:47] mayank8318 commented on #446
@therajanmaurya Can I work on this issue?

[2017-10-11 17:39] dilpreet2028 commented on #445
Closing as issue was fixed

[2017-10-11 17:39] #445 closed, assigned to nobody

[2017-10-11 18:03] therajanmaurya commented on #446
Go ahead send PR

[2017-10-11 18:05] mayank8318 opened #447 "Currency symbol displayed as null"
**Summary:**

Currency symbol is displayed as null in Charges screen.

**Steps to reproduce:**

Open the charges tab.

**Expected behavior:**

It should have the appropriate currency sign.

**Observed behavior:**

null is displayed instead of the currency sign.

**Device and Android version:**

Samsung A5(2016)

**Screenshots:**

![image](https://user-images.githubusercontent.com/22395998/31458159

[2017-10-11 18:06] mayank8318 commented on #447
@therajanmaurya Certain currencies like Tanzanian Shilling[TZS] for example, don't have a currency symbol, so null is displayed instead.

[2017-10-11 18:18] edcable commented on #441
@therajanmaurya let me have @nazeer1100126  or @santoshmath comment as you are correct this validation shouldn't be in place given it's not staff in an office initiating repayment transactions. We'll have to discuss how we can have this validation in place for transactions via web app but not through self-service channels. Can you start a thread on Apache Fineract dev list to publicly discuss this

[2017-10-12 05:22] santoshconflux commented on #441
Discussed with @nazeer1100126 and We too believe that the self service user must be allowed to do transactions on non-working days but it should not allow for office staff (users) if non-working days is configured.

[2017-10-12 05:24] santoshconflux commented on #441
@therajanmaurya , Once you create the thread for the discussion as Ed suggested, please share the  link.

[2017-10-12 21:03] therajanmaurya commented on #416
According to new Dashboard, this issue does not exist anymore.

[2017-10-12 21:03] #416 closed, assigned to nobody

[2017-10-13 06:23] therajanmaurya opened #451 "Show Progress Dialog While making Transfer"
**Summary:**

Whenever a user tries to Transfer to his own account or third-party account, we are showing a progress bar that is not good according to UX User should not be allowed to switch on another feature if the user is making POST request.

So, Change the Progress bar with Progress Dialog while making Transfer.

**Steps to reproduce:**

Go to Navigation Drawer click on Third Party Transfer a

[2017-10-13 06:31] therajanmaurya opened #452 "Show Error Message, If Transfer request failed"
**Summary:**

Whenever a user is making any type of Transfer and If the request failed due to some reasons like No Internet or Socket Exception etc. It's showing empty Snack Bar without a message. It should show message `Unable to make Transfer, Please Transfer later`

**Steps to reproduce:**

Go to Transfer in Navigation and enter details and disconnect the internet.

**Expected behavior:**

It s

[2017-10-13 07:35] ivary43 opened #453 "Cancel Button is not working in "third party transfer"."
**Summary:**

Cancel button is not working in "Third Party transfer" section .

**Steps to reproduce:**
Go to navigation Transfer->Third Party Transfer .Fill the details and click on cancel .

**Expected behavior:**
On clicking on cancel it should cancel the transfer and finish the activity .

**Observed behavior:**

On clicking on cancel .Nothing was happening .

**Device and Android version:**
M

[2017-10-13 09:03] therajanmaurya commented on #447
I think while currency should not be null from the server in any case.

What do you think @edcable  @nazeer1100126 @santoshmath

[2017-10-13 09:14] therajanmaurya commented on #453
To fix this issue  call ` getActivity().getSupportFragmentManager().popBackStack();` on click `Cancel` button.

[2017-10-13 09:20] therajanmaurya opened #454 "Fix Cancel Button Background Borderless in Normal Transfer (SavingsMakeTransferFragment)"
**Summary:**

When user make the `SavingsMakeTransferFragment` Transfer and after completing the form `Cancel` button is borderless that should not according to UX.

**Steps to reproduce:**

Click on Transfer on Home Dashboard and select `Transfer` and fill the form and you can view `Review` and `Cancel` button

**Expected behavior:**

`Cancel` Button should not border less.

**Observed behavior:*

[2017-10-13 09:21] therajanmaurya commented on #454
To fix this issue go to `fragment_third_party_transfer` layout and in the bottom set `Cancel` button background tint color ` app:backgroundTint="@color/white"` and remote border less style.

[2017-10-13 09:22] ivary43 commented on #454
Can i Work on this issue @therajanmaurya ?

[2017-10-13 09:22] santoshconflux commented on #447
Yes, that's correct. @therajanmaurya , Did you see the same on Web side as  well?

[2017-10-13 09:31] therajanmaurya commented on #454
@ivary43 Please wait, I am creating these issue for GCI 2017 because we are going to participate.
If you wanna work on the issue. I will open issue in Android-client very soon. you can work on these.

[2017-10-13 09:31] therajanmaurya commented on #447
No, Can you send me the link here.

[2017-10-13 09:34] santoshconflux opened #455 "Minor Spelling Mistakes"
When you go to Home page>Accounts>Loan (or Saving or Share) and if client has no accounts , the message shows:
Their is no SavingsAccount associated with you.
Their is no LoanAccount associated with you.
Their is no ShareAccount associated with you.
Their is no transactions associated with you(In Recent Transactions)

It should be 'There' .

You have to correct the spellings from this line: https:

[2017-10-13 09:35] mayank8318 commented on #447
@therajanmaurya To check which currency it was I displayed the currency label :
![image](https://user-images.githubusercontent.com/22395998/31539990-fbe30e4c-b027-11e7-9d18-98bcd41f3491.png)

[2017-10-13 09:43] therajanmaurya commented on #447
@mayank8318 First, The issue I am opening with labels `GCI 2017` It's for GCI students and We are going to participate, So Please wait if you are GCI student and If you want to resolve some issues, I am going to open issue very soon on mifos android-client that will be available for everyone.

[2017-10-13 09:44] therajanmaurya commented on #447
And Second about the Patch you send, It's good but It's temporary according to UX because as Currency name will become out of the box, It will destroy UX, so we will stay to currency symbol.

[2017-10-13 09:47] mayank8318 commented on #447
@therajanmaurya I am not participating in GCI 2017. So I should leave issues labelled as GCI 2017 right?

[2017-10-13 09:50] therajanmaurya commented on #447
Yes, that would be fine. I will create some other issues for you and will mention you if you want to work.

[2017-10-13 09:52] mayank8318 commented on #447
@therajanmaurya Yes I am interested to work. Please mention me in such an issue:)
Thanks

[2017-10-13 09:54] santoshconflux opened #456 "In Loan Account Details , Next Instalment and and Due Date are showing wrong values."
As you can see from the screenshot & Link:

Next Instalment Amount  should be 987.72 (but showing total outstanding)
Next Due Date should be 02 February 2017 (but showing disbursement date)

https://mobile.openmf.org/#/viewloanaccount/1345

![screenshot_2017-10-13-15-17-27](https://user-images.githubusercontent.com/23022667/31540732-0e58dbfe-b02a-11e7-90f8-c7c7642bdbd7.png)

[2017-10-13 09:55] ivary43 commented on #453
I have solved it ,should i send a PR ? I am not a GCI student .

[2017-10-13 09:59] santoshconflux commented on #447
May I know the link of Web side where this screenshot is taken?

[2017-10-13 10:01] mayank8318 commented on #447
@santoshmath This was taken in the app itself as I wanted to see if the Currency object was valid or not.

[2017-10-13 10:08] therajanmaurya commented on #453
@ivary43 Please wait these are issues for GCI student, It's very small, you know that I will open issue for you by tomorrow you can solve them.

[2017-10-13 10:17] ivary43 opened #457 "No warning is shown when you click on cancel button while making a transfer ."
**Summary:**

No warning toast is shown when you try to cancel a transfer either third party or direct transfer.In case the customer by mistake clicks on cancel .

**Steps to reproduce:**

Go to navigation ->Transfer or Third Party transfer->Fill the details ->Click on review ->Then click on cancel.

**Expected behavior:**

It should open a dialog box or show a snackbar with message "Are you sure

[2017-10-13 10:19] therajanmaurya commented on #457
Go ahead and send PR

[2017-10-13 10:26] ivary43 commented on #453
Sorry for the trouble i was confused. .

[2017-10-13 10:47] santoshconflux commented on #447
No. My question was, To which platform(Ex: demo.openmf, mobile.openmf,etc) it  is  coneected? and also the User?

Cc: @therajanmaurya

[2017-10-13 10:49] santoshconflux opened #458 "'Account Overview' on home page leading nowhere"
@therajanmaurya , I think you might have plan for enhancements for this. May I know what it is?

[2017-10-13 11:03] therajanmaurya commented on #458
Yes, This feature will show total loan and savings account balance, If you have any suggestion about that other thing we can show, suggest.

Yes, I have planned for this feature, I will make it very soon and let you know.

[2017-10-13 11:04] therajanmaurya commented on #447
It is connected to mobile.openmf and with the username: selfservice and Password: password.

[2017-10-13 11:55] amasdeogratias opened #459 "Add Logout Feature in self service app"
The logout feature help clients to sign out from the app for security purposes

Logout feature or button can be created in the navigation drawer or as the toolbar
in the clients profile
Then it will be implemented in java class

[2017-10-13 12:20] therajanmaurya commented on #459
@amasdeogratias I think there is some misunderstanding about the current and old code base. It's already implemented. I will recommend you please pull the code base again and build.

Closing this issue for Now.

[2017-10-13 12:20] #459 closed, assigned to nobody

[2017-10-14 09:16] dilpreet2028 commented on #415
This issue has been fixed due to the new UI for the dashboard

[2017-10-14 09:16] #415 closed, assigned to nobody

[2017-10-14 19:09] therajanmaurya commented on #458
@santoshmath Here is the mock-up for the account overview.
![image](https://user-images.githubusercontent.com/5724482/31578555-385a74ae-b141-11e7-8b70-e617e3983a06.png)

[2017-10-14 19:18] dilpreet2028 commented on #458
Hey @therajanmaurya , the mockup looks great but instead of showing these on a completely new page, shouldn't we show them on the main screen only so that user doesn't have to go to another page for just getting an overview.

@denilap gave a feedback regarding the surveys that as it is not a primary feature for the app so that could be placed in the navigation drawer, so after that we can move Rec

[2017-10-14 19:31] therajanmaurya commented on #458
First, Please update your build, I changed lot's of thing and second I have played the previous UI in which we were showing the account overview that is making a bad impact on UX perspective. It was made Home screen lazy and somehow user has to wait time that account overview will be loaded.

I checked many many apps of banks they don't show balance or account overview on home because of security

[2017-10-15 16:36] luckyman20 opened #461 "In Saving Account Details, when offline, error message is not aligned properly"
**Summary:**

If a User is offline, and user goes to Saving Account Details, the error is not aligned well

**Steps to reproduce:**

Home --> Accounts --> Any Saving Accounts

**Expected behavior:**

Error message should be aligned properly.

**Observed behavior:**

Error message is showing at top center position, icon and text are colliding.

**Device and Android version:**

Coolpad Cool 1 (Andro

[2017-10-16 04:06] ippezshelby opened #464 "Self Service App Crashes on Samsung on Galaxy J1 with Android version 4.4.1"
@therajanmaurya , @dilpreet96 from my end if am building apk from the latest source code develpment branch builds well and installs on Samsung Galaxy J1 but launching it crashes.
with a message "Unfortunately Self Service App has stopped working"

[2017-10-16 04:38] santoshconflux commented on #458
@therajanmaurya , It looks good. I think there are no share accounts for the  client. That's why it's not displaying.

As you have seen in Web app of self service, the following things needs  to be displayed in mobile app as well:

1. Number of Loan Accounts
2. Number of Savings Accounts
3. Number of Share Accounts.
4. Total Amount in Arrears mentioning respective loan accounts (much needed as som

[2017-10-16 05:59] luckyman20 opened #465 "In Saving Account Details, Min. Required Bal. field shouldn't be empty"
**Summary:**

When a user is checking a saving account Min Required Balance is empty because it was not specified when creating the account.

**Steps to reproduce:**

Home --> Accounts --> Any Savings Account

**Expected behavior:**

If there was no Min. Required Balance specified at the time of creating the savings account. Then Min. Required Balance should show `Not Applicable`

**Observed behav

[2017-10-16 06:29] dilpreet2028 commented on #464
@Ippezrobert can you post the crash logs

[2017-10-16 06:51] #458 closed, assigned to nobody

[2017-10-16 12:11] ippezshelby commented on #464
@dilpreet96 , Could this be the cause ?

2:59:30 PM Gradle build finished with 3 warnings(s) in 4m 30s 49ms
2:59:32 PM Error running app: This version of Android Studio is incompatible with the Gradle Plugin used. Try disabling Instant Run (or updating either the IDE or the Gradle plugin to the latest version)

[2017-10-16 13:04] therajanmaurya commented on #464
Yes Please disable it https://stackoverflow.com/a/35169716/3176277

‌

On Mon, Oct 16, 2017 at 5:41 PM, Ippez Robert <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
LinedIn: https://www.linkedin.com/in/therajanmaurya/

[2017-10-16 14:57] dilpreet2028 opened #466 "Remove "None" from Filter accounts Dialog"
**Summary:**

Filter Dialog for Savings, Loans and Sharing Accounts now has the option to `Clear Filters` so `None` option should be removed from the list.

Remove `None` from all the lists given in <a href ="https://github.com/openMF/self-service-app/blob/development/app/src/main/java/org/mifos/selfserviceapp/utils/StatusUtils.java">StatusUtils class</a> and logic for checking `None` in `Accounts

[2017-10-18 06:56] luckyman20 commented on #424
@dilpreet96 @therajanmaurya I think this issue should be closed now as this is fixed in Pull Request #463.

[2017-10-18 09:04] #424 closed, assigned to nobody

[2017-10-18 09:05] therajanmaurya commented on #424
Yeah, @luckyman000786 thanks, As we have new home dashboard this issue no longer useful.

[2017-10-18 09:27] santoshconflux opened #467 "Enhancements required for the Account Overview"
1. Account Overview should be shown on home page rather than on different page having link on home page.

2. It should show Account Overview of Loans, Savings, Shares (Is  RD and FD also  possible?)

3.  Number of Loan Accounts
     Number of Savings Accounts
     Number of Share Accounts.

4.Total Amount in Arrears mentioning respective loan accounts

[2017-10-18 10:03] therajanmaurya commented on #467
@santoshmath what do you mean but second point, do you want to show amount only.

[2017-10-18 10:08] santoshconflux commented on #467
@therajanmaurya , Yes, let each type of account (Loan, Savings, etc) display,

1. Number of Active Accounts
2. Total Outstanding Balance
3. Total Arrears (in case of loans only)

[2017-10-18 10:15] therajanmaurya commented on #467
@santoshmath  do you mean by this type of info.

[code]
Let me what other things do you wanna add.

[2017-10-18 14:53] luckyman20 commented on #194
@therajanmaurya I think this isssue is  solved now. So I suggest you to close it.

[2017-10-19 08:05] luckyman20 opened #468 "New Screen should be shown while submission of new loan application is completed"
**Summary:**

A New Screen should be shown for every successful submission of new loan application.

One can create number of duplicate loan applications by clicking the 'SUBMIT LOAN' button again and again which can abuse the system.

If one applies a auto-clicker to It , It might create a problem to server to handle too many requests at the same time.

**Steps to reproduce:**

How can we reprodu

[2017-10-20 08:27] edcable commented on #431
Hi @naman14 Sorry I missed this comment. You bring up a good point and let's take this discussion to the mailing list where others more knowledgeable like yourself can chime in. Can we not make the base API url configurable from web UI and then is there a means of having the base API url be acquired and set based on which organization/tenant the client inputs as they're registering. As I think thr

[2017-10-20 21:45] dilpreet2028 opened #469 "Switch to Old Home UI"
**Summary:**

As per the discussion, we need to switch the Home UI to old UI along with old color palette for the Release.

In future, when we have to switch back to the new UI then:

Delete `HomeOldPresenter`, `HomeOldFragment`, `HomeOldView` ,`fragment_home_old.xml` and use `HomePresenter`, `HomeFragment`, `HomeView` ,`fragment_home.xml`.

In `colours.xml` delete `primary`,`primary_light` and `p

[2017-10-23 10:16] luckyman20 commented on #446
@therajanmaurya @edcable @dilpreet96 Can I work on this issue?

[2017-10-24 20:54] Rish02Sharma opened #471 "Option to show password"
**Summary:**

Currently there is no option to show password in new account screen.

**Expected behavior:**

![screenshot_20171025-022139](https://user-images.githubusercontent.com/22711368/31967386-63153494-b92b-11e7-8f54-648da13d7505.png)

**Observed behavior:**

![screenshot_20171025-021051](https://user-images.githubusercontent.com/22711368/31966988-1d27599a-b92a-11e7-9d03-7e217f750234.png)

[2017-10-26 20:25] dilpreet2028 opened #473 "Give preference to Account Balance shown in Savings and Loan Account Details"
**Summary:**

Account Balance shown in Savings and Loan Account Details should be given more preference than other things shown.
<img src = "https://user-images.githubusercontent.com/12071739/32075115-5ab04250-bab9-11e7-9bdd-04f00ca07982.png" width = 250 height =400/>

Shift Account Balance to the top and increase it's size and make the amount bold.

[2017-10-26 20:49] Rish02Sharma commented on #473
@dilpreet96 Can I work on this?

[2017-10-26 21:03] Rish02Sharma opened #474 "Confirm Password Option In new registration screen"
**Summary:**

There should be a `Confirm Password` Option also in the new account registration screen.

Something like this.
![account](https://user-images.githubusercontent.com/22711368/32076895-2894a8c8-babf-11e7-9365-a602df835723.jpg)

[2017-10-27 16:20] #471 closed, assigned to nobody

[2017-10-27 20:07] Rish02Sharma opened #476 "Input type of EditText in new registration screen"
**Summary:**
There are many EditText in new registration screen whose input type is `textEmailAddress`.
It should be according to their use cases.

[2017-10-30 07:02] amasdeogratias opened #478 "Create Guarantor in self service app for client's loan applied"
Guarantor  is the  person  who will take control for the client who have applied for the loan

When clients apply for the loan, guarantor is needed to be set to stand for that loan just when the given client will not pay for the loan, Guarantor will be responsible for that loan
Guarantor may be the external person or the existing customer in the branch.

To Create Guarantor for the given loan
- Yo

[2017-11-01 11:35] #457 closed, assigned to nobody

[2017-11-02 05:37] #474 closed, assigned to nobody

[2017-11-03 03:02] mdew192837 opened #481 "Use annotationProcessor instead of android-apt plugin (deprecated in 3.0)"
**Summary:**

android-apt plugin is deprecated in Android-Studio 3

**Steps to reproduce:**

1. Install Android Studio v3.
2. Try to let gradle sync

**Expected behavior:**
1. Gradle should sync

**Observed behavior:**
2. Build yields following error:
- Error:android-apt plugin is incompatible with the Android Gradle plugin.  Please use 'annotationProcessor' configuration instead.

[2017-11-03 11:33] #476 closed, assigned to nobody

[2017-11-03 14:56] therajanmaurya commented on #481
Fix in #480

[2017-11-03 14:56] #481 closed, assigned to nobody

[2017-11-03 15:30] Rish02Sharma opened #483 "Reducing Apk Size"
Apk size can be reduced significantly:

Removing unused import statements.

Removing unused XML Schema declaration.

Removing unused property.

and much more which can reduce the apk size a lot.

@therajanmaurya can I work on this??

[2017-11-03 15:41] therajanmaurya commented on #483
@Rish02Sharma Please expand, Give me an example because PMD and FindBugs checks check these things.

[2017-11-03 15:43] naman14 commented on #483
Yeah
Removing unused imports - Checkstyle already takes care of that, there are no unused imports in the app. I am also sure FindBugs also takes care of the unused properties also

Besides, I think doing changes in code wouldn't have any significant change in the APK size.

[2017-11-06 10:28] Rish02Sharma commented on #483
@therajanmaurya @naman14 Yeah I didn't knew much about the FindBugs. But Does proguard work on the resources side? I think it works only for Java side. So if an image in res/drawable is not used, Proguard only strips it’s reference in the R class but keeps the associated image in place.

[2017-11-06 10:34] therajanmaurya commented on #483
@Rish02Sharma I don't think there is an unused image in the drawable folder. Please expand and let me know if you find any.

[2017-11-06 13:18] Rish02Sharma commented on #483
@therajanmaurya Sure, I'll look into it.

[2017-11-06 14:51] Rish02Sharma opened #484 "App should open Login Activity when pressed back button in Register Activity"
When pressed back button on Register user Activity app should open Login Screen but in reality, back button is closing the app.

[2017-11-06 15:09] Rish02Sharma commented on #413
@therajanmaurya   I think it's affecting the app. I saw many activities which are crashing like `Account overview , Users profile ` etc. Is that crash due to this issue? If not can you explain me a bit about this issue?

[2017-11-10 16:04] #469 closed, assigned to nobody

[2017-11-11 09:31] luckyman20 commented on #483
@therajanmaurya @Rish02Sharma @naman14 How about crunching/compressing the png and jpeg files?

[2017-11-17 17:00] edcable opened #485 "Recent Transactions Only Displays Charges"
**Summary:**

I expect Recent Transactions to display a list of recent transactions across all of my accounts but it only displays charges.

**Steps to reproduce:**

Go to Navigation Drawer and click Recent Transactions
**Expected behavior:**

Display a list of all recent transactions from loan, savings, share accounts.

**Observed behavior:**

Only a list of charges

**Screenshots:**

![screensho

[2017-11-17 17:03] edcable opened #486 "Can't view account details for share accounts"
**Summary:**
From list of share accounts, I should be able to click each share account and view details of the account. However each link is not clickable.

**Steps to reproduce:**

Navigate to Accounts, Click Shares, Try to Click any Account from the List regardless of Status

**Expected behavior:**

Link successfully goes to the Account Details/Overview page

**Observed behavior:**

Not able to