[2017-11-17 17:06] dilpreet2028 commented on #486
@edcable we don't have any api for share account details.

[2017-11-18 10:44] Rish02Sharma opened #488 "Implementing Dark theme"
**Summary:**

I think there should also be the option of dark theme in the app with auto mode just like google maps.

@therajanmaurya @dilpreet96 Your thoughts on this?

[2017-11-20 10:21] SangramChavan opened #489 "Security"
**Summary:**

Executes raw SQL query. Untrusted user input in raw SQL queries can cause SQL Injection. Also sensitive information should be encrypted and written to the database.

**Files:**
BaseQueriable.java
AndroidDatabase.java
BaseDatabaseHelper.java
AndroidDatabaseStatement.java

[2017-11-20 12:04] therajanmaurya commented on #489
@SangramChavan Yes we know about it, we will encrypt the database before release, Don't worry.

[2017-11-20 12:08] SangramChavan commented on #489
@therajanmaurya Thanks !

[2017-11-20 12:08] #489 closed, assigned to nobody

[2017-11-24 13:03] nb2998 opened #490 "Incorrect credentials"
**Summary:**

The demo credentials mentioned in [Wiki](https://github.com/openMF/self-service-app/wiki) are not valid for the api host mobile.openmf.

**Steps to reproduce:**

Enter the credentials mentioned in Wiki i.e,
Username: selfservice
Password: password

**Expected behavior:**

Wiki should be modified with the correct credentials.

[2017-11-24 13:30] luckyman20 commented on #490
@nb2998 We are not using mobile.openmf as API host anymore, we have shifted it to demo.openmf.
Here I am leaving with you the commit in we shifted - [Commit](https://github.com/openMF/self-service-app/commit/a3ed700eb92b044440d95486f14b140de473312d)

[2017-11-24 13:38] dilpreet2028 commented on #490
@luckyman000786 We are currently using mobile instance only see here: https://github.com/openMF/self-service-app/blob/development/app/src/debug/java/org/mifos/mobilebanking/api/BaseURL.java#L10

@nb2998 , Thanks for reporting , seems like a backend issue, will be fixed soon.

[2017-11-24 13:41] luckyman20 commented on #490
@dilpreet96 But what about the commit, I was told by @therajanmaurya and @naman14 that we have shifted to demo.openmf

[2017-11-24 13:48] dilpreet2028 commented on #490
@luckyman000786 , there are some api's which are not present in the demo instance but these are present in the mobile instance so we had to shift back to the mobile instance.

[2017-11-24 13:50] luckyman20 commented on #490
@dilpreet96 Okay, Thank you so much for updating me.

[2017-11-24 17:00] edcable opened #491 "Enable user to create an account nickname for savings or loan account"
**Summary:**

For users to be able to quickly identify their accounts when doing transfers or payments, we should allow them to specify an account nickname.

We would have to decide if the account nickname is just stored locally in the app on the device or if the account nickname would be stored at the platform level for Apache Fineract.

Storing it the Apache Fineract level, would allow the user

[2017-11-25 10:09] #490 closed, assigned to nobody

[2017-11-28 06:06] dilpreet2028 opened #492 "Unit test for AccountOverviewPresenter"
**Summary:**
Write Unit tests for AccountOverviewPresenter.

Example for unit testing of <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/presenters/AccountsPresenter.java"> AccountPresenter</a> can be seen in <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/test/java/org/mifos/mobilebanking/AccountsPresenterTest.jav

[2017-11-28 06:07] dilpreet2028 opened #493 "Unit tests for ClientChargePresenter"
**Summary:**
Write Unit tests for ClientChargePresenter.

Example for unit testing of <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/presenters/AccountsPresenter.java"> AccountPresenter</a> can be seen in <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/test/java/org/mifos/mobilebanking/AccountsPresenterTest.java">

[2017-11-28 06:09] dilpreet2028 opened #494 "Unit tests for RegistrationPresenter"
**Summary:**
Write Unit tests for RegistrationPresenter.

Example for unit testing of <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/presenters/AccountsPresenter.java"> AccountPresenter</a> can be seen in <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/test/java/org/mifos/mobilebanking/AccountsPresenterTest.java">

[2017-11-28 06:10] dilpreet2028 opened #495 "Unit tests for RegistrationVerificationPresenter"
**Summary:**
Write Unit tests for RegistrationVerificationPresenter.

Example for unit testing of <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/presenters/AccountsPresenter.java"> AccountPresenter</a> can be seen in <a href="https://github.com/openMF/mifos-mobile/blob/development/app/src/test/java/org/mifos/mobilebanking/AccountsPresente

[2017-11-28 17:53] Rish02Sharma commented on #483
@luckyman000786 I don't think so there are many large sized png or jpeg files as maximum resource files are made from Android shape drawable which consumes less space than other formats.

[2017-11-28 17:55] luckyman20 commented on #483
@Rish02Sharma Yes I agree that but we can reduce somewhat by that

[2017-12-03 11:56] sombuddha2016 commented on #453
hey I am a GCI student....Can I work on this task?

[2017-12-03 13:58] dilpreet2028 commented on #453
Hello @sombuddha2016 , yes you can but first you have to claim this task from your google codein dashboard.

[2017-12-04 13:44] mkmar01 commented on #47
@therajanmaurya May I add this feature?

[2017-12-06 15:17] luckyman20 commented on #473
@dilpreet96 @edcable @therajanmaurya I think this should be closed now as this is solved already

[2017-12-07 13:21] mkmar01 commented on #466
@dilpreet96 may I send a PR for this?

[2017-12-07 13:23] luckyman20 commented on #466
@batbrain7 Are you participating in this year's GCI?

[2017-12-07 14:14] mkmar01 commented on #466
@luckyman000786 for next year's gsoc perhaps

[2017-12-07 14:15] luckyman20 commented on #466
@batbrain7 Sorry, this issue is only available for GCI students as of now

[2017-12-07 14:22] mkmar01 commented on #468
@luckyman000786 may I work on this?

[2017-12-07 14:30] luckyman20 commented on #468
@batbrain7 I am not authorized to assign the issue.

Maybe @therajanmaurya @dilpreet96 can help you on this matter

[2017-12-07 14:32] mkmar01 commented on #468
Thanks for the info @luckyman000786
@therajanmaurya @dilpreet96 may I work on this issue?

[2017-12-07 22:02] srv-twry commented on #446
@therajanmaurya @dilpreet96 can i work on it if it's available ?

[2017-12-08 06:24] #447 closed, assigned to nobody

[2017-12-08 15:39] mdew192837 commented on #452
@therajanmaurya See my comment on the pull request. I think that message is better. Sorry for the confusion, I made the comment accidentally on my brother's Github account.

[2017-12-09 10:52] therajanmaurya commented on #452
It's ok, @mdew192837 I will see.

[2017-12-09 19:10] #452 closed, assigned to nobody

[2017-12-10 14:17] fazerlicourice7 commented on #456
Just to clarify what is required here, is the next Due Date always on the same date each month? So the day of the date of disbursement of the loan (in this case the 2nd)? So the next couple of due dates would be Feb 2nd, Mar 2nd, April 2nd, etc.

However, for the installment amount due, how does one split up the total outstanding balance? Since there is no variable already existing for installment

[2017-12-10 18:28] se-ke commented on #495
Hey @dilpreet96 , I'm having some issues squashing my commits before opening a pull request. How should I squash them?

[2017-12-10 19:07] dilpreet2028 commented on #495
Hello @Boogi56 , have a look at https://gist.github.com/jbub/5766366 and this https://stackoverflow.com/questions/2563632/how-can-i-merge-two-commits-into-one/2568581#2568581

[2017-12-10 20:52] se-ke commented on #495
@dilpreet96 , I fixed it and created a pull request, thanks for the help

[2017-12-11 02:21] santoshconflux commented on #456
Next due is always on same month because repayment frequency is monthly. Each month repayment is just EMI, calculated based on some parameters. You can check repayment schedule of any loan account on Web side

[2017-12-11 18:21] dilpreet2028 commented on #494
Added in #498

[2017-12-11 18:21] #494 closed, assigned to nobody

[2017-12-11 19:39] fazerlicourice7 commented on #456
Alright, but I can't find any information about the number of repayments or length of the loan, or anything of that sort. Could someone please direct me to that information for each loan, it's definitely not in  LoanAccount

[2017-12-11 19:42] therajanmaurya commented on #456
Sorry @fazerlicourice7, wait I am looking into this.

[2017-12-11 23:35] srv-twry commented on #484
@dilpreet96 @Rish02Sharma Can i take it if it's available

[2017-12-12 01:43] fazerlicourice7 commented on #456
I found the data I need in the LoanWithAssociations.java class; [numberofRepayaments](https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/models/accounts/loan/LoanWithAssociations.java#L74) and[ interestRate](https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/models/accounts/loan/LoanWithAssociations.java#

[2017-12-12 06:39] #493 closed, assigned to nobody

[2017-12-14 16:11] #454 closed, assigned to nobody

[2017-12-14 16:14] #473 closed, assigned to nobody

[2017-12-14 16:15] #492 closed, assigned to nobody

[2017-12-15 16:07] mofetej commented on #466
Hello, I claimed this tasked how do i submit. should i create a PR

[2017-12-16 17:54] #453 closed, assigned to nobody

[2017-12-16 19:18] fazerlicourice7 commented on #473
This [GCI task](https://codein.withgoogle.com/tasks/6144978545803264/?sp-organization=6239808655458304) should be removed.

[2017-12-17 05:50] #451 closed, assigned to nobody

[2017-12-17 06:18] dr0pdb commented on #484
@dilpreet96 @Rish02Sharma Is it available ? If yes i would like to work on it.

[2017-12-17 08:43] luckyman20 commented on #452
@therajanmaurya @dilpreet96 @edcable This [GCI Task](https://codein.withgoogle.com/tasks/4858216947122176/?sp-organization=6239808655458304) should be closed now

[2017-12-17 19:51] #495 closed, assigned to nobody

[2017-12-17 21:31] mofetej commented on #452
Please how can i get pass the login/register activity to use the app

[2017-12-23 22:51] Rish02Sharma opened #515 "Clicking on HelpLine number doesn't do anything"
**Summary:**

Clicking on HelpLine number should open the phone dialer on home screen

[2017-12-27 12:16] ivary43 commented on #416
@therajanmaurya  this issue is present in current UI .So what should i do means should i make a new issue or the downgrading to the current UI is for small duration so should I leave ?

[2017-12-27 18:10] jb1998 commented on #515
Is this issue resolved??
I am beginner here so can I start by resolving this issue?

[2017-12-27 19:24] Rish02Sharma commented on #515
@jb1998 I have already sent PR to this issue and now waiting for mentors to respond, still, u can do it your way and if that would be better than mine then mentors will merge that one. No problem with that :smile:

[2017-12-27 20:33] jb1998 commented on #515
oh..!!!
Not a problem , I will look for other issues : )

[2017-12-28 06:04] tarun0 opened #518 "Crash on adding new Loan Account on Nougat"
**Summary:**

App crashes when new Loan Account _Floating Action Button_ is clicked.

**Steps to reproduce:**

Click on `Total Loan` in Account Overview on the Home Screen. Click on the _Floating Action Button (+)_

**Expected behavior:**

Show the screen for new loan application.

**Observed behavior:**

App crashed.

**Device and Android version:**

Motorola G5S Plus. Stock Android - Nougat (7.1

[2017-12-29 11:02] dilpreet2028 commented on #518
@tarun0 , this issue is caused due to #413 i.e. storing of bitmaps in bundle and that will be fixed soon

[2017-12-30 16:29] AkshGautam opened #519 "Updating Passcode feature absent"
**Summary:**

No option is provided to used to update/change the 4 digit password

**Expected behavior:**

User should have the option to update/change his 4 digit password.

**Observed behavior:**

No such feature present

[2017-12-30 16:30] AkshGautam commented on #519
@edcable @dilpreet96 @tarun0 I would like to do this task.Thanks

[2017-12-31 19:34] AkshGautam opened #521 "Password Reset on Logout"
**Summary:**

The 4-digit passcode is reset when the application is logged out.

**Steps to reproduce:**

1)Run the application
2)Click the logout button
3)Log in with the credentials
4) The 4 digit passcode activity appears

**Expected behavior:**

The application should use the same password unless the password is updated.

**Observed behavior:**

The application requires setting new password on

[2017-12-31 19:35] AkshGautam commented on #521
@tarun0 @therajanmaurya can i work on this?

[2018-01-03 15:51] Daniel-Genkin commented on #485
I think that the issue might actually be server based. This is what I am getting from the server:
`
{"totalFilteredRecords":2,"pageItems":[{"id":2,"officeId":1,"officeName":"Head Office","type":{"id":2,"code":"clientTransactionType.waiveCharge","value":"WAIVE_CHARGE"},"date":[2017,12,6],"currency":{"code":"AFN","name":"Afghanistan Afghani","decimalPlaces":2,"nameCode":"currency.AFN","displayLabel"

[2018-01-03 23:26] Daniel-Genkin commented on #485
I am also not getting the same screenshot as you. Here is my screenshot (I have a slight red tint on my screen, ignore it)
![device-2018-01-03-182323](https://user-images.githubusercontent.com/16430693/34544262-56efeea6-f0b3-11e7-9a59-38a9d9f1d24b.png)

(F.Y.I  the type of currency is not displayed properly although the server is giving the right information)

[2018-01-04 00:14] edcable commented on #485
@dilpreet96 @therajanmaurya Any thoughts on this issue. Can you confirm that it's server-side and not on the app itself?

[2018-01-04 00:14] edcable commented on #485
@Danki567 do you want to report the currency bug you found as a separate issue?

[2018-01-04 00:18] Daniel-Genkin commented on #485
Sure, what should I do to report it.

[2018-01-04 01:14] edcable commented on #485
@Danki567 you can just create a separate github issue here with what you found about how the currency displayed not matching what's being shown at server level.

[2018-01-04 05:44] luckyman20 commented on #485
This currency symbol issue is fixed by me in PR #501. Please update your local repo.

[2018-01-04 06:28] dilpreet2028 commented on #485
@Danki567 can you tell me what credentials are you logging in as the difference in the Screenshot for charges might be due the fact you are using a different user. And please update your local development branch with latest commits.

[2018-01-04 06:55] therajanmaurya commented on #485
Hi All,

@edcable , we already encountered this issue, I think you forget to open issue on Fineract Jira that in a recent transaction we are getting only changes and I am pretty sure we discussed this in one of our calls.

@luckyman20 This is a different issue that you fixed. Please read it again.

@edcable I have raised an issue on fineract jira issue : https://issues.apache.org/jira/browse/FINER

[2018-01-04 13:14] Daniel-Genkin commented on #485
Ok Thank you all for your help.
I cloned the master branch, so that is why there was the issue with the null currency symbols.
@dilpreet96 I am using selfservice and password for the login credentials. @edcable said to use them.
@therajanmaurya @edcable I would be glad to resolve this issue, but if you think that there is nothing that I can help with, please accept my task, so that I can continue

[2018-01-04 18:14] edcable commented on #485
@therajanmaurya which issue # did you create on the Fineract JIRA? It wasn't 493.

@Danki567 Could you please update the issue with additional details. Please also consider fixing the Fineract issue as well.

[2018-01-04 18:29] Daniel-Genkin commented on #485
@edcable  Do you mean to update this one or the one on Fineract?

[2018-01-07 02:27] S2606 opened #525 "Use NDK abiFilters instead of ABI split"
**Summary:**

There are some issues when using ABI split for APK size. Instead of this we can shift to NDK abiFilters.

[2018-01-15 10:21] #360 closed, assigned to dilpreet2028

[2018-01-16 10:59] ghost commented on #455
I'd like to work on this issue

[2018-01-16 15:25] #518 closed, assigned to nobody

[2018-01-16 18:24] therajanmaurya commented on #525
Please expand, @S2606 Please give an idea how you gonna enhance this.

[2018-01-16 18:33] therajanmaurya commented on #483
I don't think, this discussion needs to carry on because we already using vector drawable and FindBugs, CheckStyle, PMD for code quality. These things take care of everything.

If you have any question feel to open the issue again.

[2018-01-16 18:33] #483 closed, assigned to nobody

[2018-01-16 18:34] therajanmaurya commented on #488
Good Idea, Go for it.

[2018-01-16 18:37] therajanmaurya commented on #488
Add option in settings to switch the theme.

[2018-01-16 18:49] therajanmaurya commented on #491
I have created a ticket for this: https://issues.apache.org/jira/browse/FINERACT-595.

Yes, It should be on the platform.

[2018-01-16 18:57] therajanmaurya commented on #485
Sorry for the link, Here is the ticket link: https://issues.apache.org/jira/browse/FINERACT-594?filter=-2

[2018-01-16 19:00] Daniel-Genkin commented on #485
Ok thank you. So I should update the Information there?

[2018-01-16 19:05] therajanmaurya commented on #486
Ok, @edcable I have created a ticket for this: https://issues.apache.org/jira/browse/FINERACT-596

[2018-01-16 19:09] therajanmaurya commented on #484
Good catch.

[2018-01-16 19:21] therajanmaurya commented on #484
Feel free to pick issue and send PR.

[2018-01-17 03:12] therajanmaurya commented on #464
@Ippezrobert Try disabling Instant run and I gave link in above comment.
So I am closing the issue. If you have any issue feel free to open again the issue.

[2018-01-17 03:12] #464 closed, assigned to nobody

[2018-01-17 06:42] luckyman20 commented on #446
@mayank8318 Please let us know if you are still working on this issue. I am ready with a solution of this issue and ready for firing up the PR.

[2018-01-17 11:32] mayank8318 commented on #446
@luckyman20 Please go ahead with your PR :)

[2018-01-18 16:43] raghavpuri31 commented on #488
Please assign me the issue.

[2018-01-18 16:58] therajanmaurya commented on #488
Yeah sure @raghavpuri31, Go ahead and send PR.

[2018-01-18 20:08] #466 closed, assigned to nobody

[2018-01-18 20:25] therajanmaurya commented on #433
I am working on a library to manage this thing, Very soon I will share the library then you can work on the implementation till that I don't think we need to talk more.

[2018-01-18 20:25] #433 closed, assigned to nobody

[2018-01-18 20:31] therajanmaurya commented on #411
@amasdeogratias Please check web app, we have up and running feature to create a new self-service user, So create a self-service user from there and log in again. I am sure that will work. It is fully tested.

If you have any question feel free to open issue again.

[2018-01-18 20:31] #411 closed, assigned to nobody

[2018-01-18 20:33] therajanmaurya commented on #383
These thing resolved we are soon releasing a library to handle the above type of event and show proper UI.

@Ippezrobert I am closing this issue for now, If you have any question feel free to open again and ask.

[2018-01-18 20:33] #383 closed, assigned to nobody

[2018-01-18 20:34] #194 closed, assigned to nobody

[2018-01-18 20:39] therajanmaurya commented on #127
Already fixed

[2018-01-18 20:39] #127 closed, assigned to nobody

[2018-01-18 20:39] therajanmaurya commented on #161
Added in Help section.

[2018-01-18 20:39] #161 closed, assigned to nobody

[2018-01-18 20:40] therajanmaurya commented on #89
Duplicate #486

[2018-01-18 20:40] #89 closed, assigned to nobody

[2018-01-18 20:40] therajanmaurya commented on #59
Added in #363

[2018-01-18 20:40] #59 closed, assigned to nobody

[2018-01-19 09:17] S2606 commented on #525
@therajanmaurya Sometimes the abi split does not work when people share the app through some other medium such as bluetooth. This means if user with ARM architecture phone shares the application with someone with X86 architecture phone, the application will crash. So we can use NDK abiFilters.

[2018-01-19 12:29] manki11 opened #537 "Notification number box showing even with no Notification"
**Summary:**
The notification icon on the top-right of home screen in toolbar shows a red circle even when there is no Notification.

**Steps to reproduce:**
Close the app, and open again. (The problem resolves itself when the user taps on a given option and returns back to the home screen)

**Expected behavior:**
The red circle next to notification icon should only show-up when there is a notific

[2018-01-19 18:18] manki11 opened #538 "Clicking on help email should open Gmail"
**Summary:**
The contact us email at the bottom of the home screen is not responsive when touched.

**Expected behavior:**

Clicking on the contact email should open Gmail with the email as senders address

**Observed behavior:**

Clicking on contact email does nothing

**Device and Android version:**

Oneplus 5T
Android 7.1.1
Oxygen OS

**Screenshots:**

![whatsapp image 2018-01-19 at 5 46 06 pm]

[2018-01-20 05:47] ivary43 commented on #484
@therajanmaurya  can I work on this issue?

[2018-01-20 22:29] therajanmaurya commented on #413
I asked question why It's not working with Glide: https://github.com/sjudd/Base64ModelLoaderExample/issues

[2018-01-22 17:46] geekanamika commented on #465
Can I work on this issue if still open and available ? @luckyman20 @dilpreet96 @therajanmaurya

[2018-01-22 18:09] sashank27 commented on #461
@luckyman20 @dilpreet96 @therajanmaurya Can I work on this issue if it is still open and available ?

[2018-01-23 20:32] dilpreet2028 commented on #465
@luckyman20 are you working on this, if not @geekanamika you can take this issue. And incase of showing "Not applicable" hide the heading text i.e. 'Min. Required Bal'

[2018-01-23 20:45] #538 closed, assigned to nobody

[2018-01-23 20:49] #455 closed, assigned to nobody

[2018-01-24 15:44] geekanamika commented on #465
@dilpreet96 @luckyman20 Thank you , I am working on this issue now :)

[2018-01-29 07:16] miPlodder opened #542 "Add Intent to Helpline number"
**Summary:**

Add Intent to Helpline number on the Home Page (done like in case of Email)

**Steps to reproduce:**

Login into the app.
You will see Contact number at the bottom of the Home Activity.
Click on it. (no intent is send to make a call)

**Expected behavior:**

On clicking the Contact number should make a call. (done like in email)

**Observed behavior:**

Nothing happens on clicking it

[2018-01-29 07:18] miPlodder commented on #542
@tarun0  @therajanmaurya I want to work on this issue.

[2018-01-29 08:52] AkshGautam commented on #542
@miPlodder This issue is already opened #515  and the Pull request has  already been made #516

[2018-01-29 08:56] miPlodder commented on #542
@AkshGautam Thanks for informing.

[2018-01-29 09:14] miPlodder commented on #488
@raghavpuri31 Are you still working on this issue ?

[2018-01-29 09:23] raghavpuri31 commented on #488
Yes, I am working!

[2018-01-29 16:32] miPlodder commented on #537
@tarun0 @therajanmaurya I would like to do this task.

[2018-01-30 21:14] miPlodder opened #546 "Add correct Marker Location in Help"
**Summary:**

The map in the Help Section, shows 4 markers which are not properly labeled, and by default zoom in inside the map.

**Steps to reproduce:**

Open Navigation Drawer > Help > Find Locations

**Expected behavior:**

Marker should point to correct address (written above) and should be zoomed in near that address

**Observed behavior:**

Instead, there are 4 markers (not pointing to corr

[2018-01-30 21:40] miPlodder commented on #546
@therajanmaurya @tarun0 I would like to work on this issue.

[2018-01-31 16:03] miPlodder opened #548 "Replacing "Enter" key to "Next" key in Softkeyboard"
**Summary:**

Replace the "Enter" key on the soft keyboard with a "Next" key that gives focus to the next EditText.

**Steps to reproduce:**

Open the App > Click on Create an account > Several fields in EditText in the form have "Enter" key, instead of "Next" key on softkeyboard.

**Expected behavior:**

When we enter text in EditText, he should have "Next" key on the softkeyboard
(So, that he/sh

[2018-01-31 16:03] miPlodder commented on #548
@therajanmaurya @tarun0 @dilpreet96 I want to work on this issue.

[2018-02-01 15:03] ivary43 opened #549 "Progress bar is still visible even if there is no internet connection."
**Summary:**

The progress bar is still visible when there is no internet connection in saving, loan, share section of accounts.

**Steps to reproduce:**

Open the dashboard turn off net then open Accounts section swipe to saving, loan, share.

**Expected behaviour:**

The app should show a toast showing connection error and then the progress bar should disappear also the error message is not prop

[2018-02-01 15:31] ivary43 opened #550 "Can't refresh the Saving account ,Loan account ,Share account section after getting the internet connection back ."
**Summary:**

In saving, loan, share account section I can't refresh the section even the internet connection restores.

**Steps to reproduce:**

Go to Dashboard turn off your internet, Account section, then swipe to either of saving, loan, share section turn on the internet and then swipe.

**Expected behavior:**
 The App should refresh on swipe refresh showing the data (after the internet connec

[2018-02-01 15:42] ivary43 opened #551 "Typos in Issue template."
**Summary:**
There are typos in issue template (word behaviour is misspelt
![oie_77h7rxlcfuar](https://user-images.githubusercontent.com/24601454/35687366-876ead7c-0794-11e8-9b8b-4c3f3e337115.png)
).
I would like to work on this issue.

[2018-02-01 18:02] ivary43 opened #552 "Wrong item is getting labelled on navigation bar."
**Summary:**

Wrong item is labelled on the drawer.

**Steps to reproduce:**

Open the app then open the drawer click on share then press back.

**Expected behavior:**

After pressing back after clicking on share in drawer, Home should be labelled on top.

**Observed behavior:**

On the top still Share is labelled.

**Device and Android version:**
Moto G-3 .
Version 6.0.1.

**Screenshots:**
![scre

[2018-02-01 19:24] ivary43 opened #553 "Improper UI to show error on User profile in no data."
**Summary:**

UI is showing partial data and on top of it render error .

**Steps to reproduce:**

Open the app then open the drawer then click on the profile .

**Expected behavior:**

If it is showing error then it shouldn't show any data and the error message should occupy the whole fragment.

**Observed behavior:**
On the UI some partial data was showing and on top of it, the error message was

[2018-02-01 19:24] ivary43 commented on #553
@therajanmaurya , @dilpreet96  should I proceed?

[2018-02-01 19:25] ivary43 commented on #551
@therajanmaurya , @dilpreet96  should I proceed?

[2018-02-01 19:26] ivary43 commented on #552
@therajanmaurya, @dilpreet96  should I proceed?

[2018-02-01 19:26] ivary43 commented on #549
@therajanmaurya , @dilpreet96  should I proceed?

[2018-02-01 21:12] ivary43 opened #554 "Filters are not working properly on the account page in all section."
**Summary:**

Filters are not working properly on the account page in all section.

**Steps to reproduce:**

Go to dashboard then click on account section, open filter option than without selecting any options click on filter or select an option click on filter then remove that option then and click filter.
**Expected behavior:**

If none of the options was chosen then on clicking filter it should

[2018-02-01 21:38] ivary43 opened #555 "Specific filter options absent in loan account section."
**Summary:**

Specific filter option absent.

**Steps to reproduce:**

Go to dashboard ->Account ->Loan ->Click on filter .

**Expected behavior:**

In filter options, there should be options to filter those loans which waiting for disbursement.

**Observed behavior:**

There was no filter present for filtering loans (waiting for disbursement).

**Device and Android version:**
Device: Moto-G3.
Ver

[2018-02-02 13:57] #551 closed, assigned to nobody

[2018-02-02 15:30] jindalAnuj opened #557 "Update readme"
**Summary:**

i want to add readme.md. As it has very less information about the project and setup

[2018-02-03 18:21] ivary43 opened #558 "Error fragment absent in beneficiary section."
**Summary:**

Error fragment absent in beneficiary section, there should be a permanent message present on the beneficiary section showing an error message (No internet connection present!) as present in every section of the dashboard.

**Steps to reproduce:**

Open the app, turn off the internet, open beneficiary section.
**Expected behaviour:**

There should be a permanent message showing error

[2018-02-03 18:55] ivary43 opened #559 "Continue button is enabled in no internet connection leading to app crash."
**Summary:**

Continue button should be disabled on no internet connection in tranfer and 3rd party transfer section.

**Steps to reproduce:**

Open the app, turn off the internet open transfer or third party transfer section click on continue and on next section click on continue again.

**Expected behaviour:**

The continue button should be disabled if there is no internet connection because app

[2018-02-03 21:34] ivary43 opened #560 "Date picker not working properly in Apply for Loan section."
**Summary:**

Unable to select future dates in expected disbursement date in apply for loan section.

**Steps to reproduce:**

Open the app->Apply for loan ->click on expected disbursement date.

**Expected behaviour:**

Since expected disbursement date is the date till what we want our loan money, so it should be any future date but we can't select a future date in the app.

**Observed behaviour:

[2018-02-04 18:56] srijansoni opened #561 "Feature- Adding Fingerprint Authentication"
**Summary:**

Fingerprint Authentication can be added to the app which will work alongside passcode also. It will make the app more secure and convenient to use.

**Steps to reproduce:**

1) Open the app.
2) No fingerprint authentication is present.

**Expected behaviour:**

Fingerprint Authentication can be added to the app which will work alongside passcode also. An option will be present for th

[2018-02-04 18:56] srijansoni commented on #561
May I work on this issue?

[2018-02-04 20:30] srijansoni opened #563 "App Crashes on clicking the "Apply for Loan" Button"
**Summary:**

The app is crashing when "Apply for Loan" Button is clicked.

**Steps to reproduce:**

1) Open the app.
2) Enter Login Credentials and then Login.
3) Enter or skip passcode.
4) Click on Apply for Loan.

**Expected behaviour:**

The app should not crash.

**Observed behaviour:**

The app is crashing.

**Device and Android version:**

Device- Moto G5 Plus
Android Version- 7.0

**GIF:**

[2018-02-04 20:30] srijansoni commented on #563
May I work on this issue?

[2018-02-04 21:39] ivary43 commented on #561
@srijansoni  how are you planning to do this because currently verification is done on server.

[2018-02-05 13:28] srijansoni commented on #561
@ivary43 Fingerprint authentication has nothing to do with the server.
1) The user has to register a passcode one time.
2) Then every time he uses the fingerprint to login, the app will match this fingerprint to the stored one.
3) If the fingerprint is correct, then automatically send the registered passcode and attempt to authenticate the user from the server.
4) All the rest of the process is sa

[2018-02-05 20:27] miPlodder commented on #550
@ivary43 I tried it, it worked for me. I guess, it didn't worked for you, maybe your internet connection was slow. Can you try again and see that its working or not ?

[2018-02-05 20:37] miPlodder commented on #560
@therajanmaurya @dilpreet96 I would like to work on this issue.

[2018-02-05 20:44] ivary43 commented on #550
@miPlodder  you can see it's 4G in the screenshot and my college wifi is pretty good, so maybe that's not the problem.Anyhow I will look at that once again.

[2018-02-05 20:46] ivary43 commented on #560
@miPlodder I already started working on this issue as mentioned in the issue.

[2018-02-06 08:06] miPlodder opened #566 "On Submitting Loan, shows the same Activity"
**Summary:**

On Submitting Loan, shows the same Activity instead show AccountActivity.

**Steps to reproduce:**

1) Click on Accounts from Navigation Drawer.
2) Go to Loan ViewPager.
3) Click on **'+'** Floating Button.
4) Enter Loan Details.
5) Click on Submit Button.

**Expected behaviour:**

After Submit, go to AccountActivity.

**Observed behaviour:**

After Submit, it stays on the same Activ

[2018-02-06 08:07] miPlodder commented on #566
@therajanmaurya @dilpreet96 I would like to work on this issue.

[2018-02-06 10:53] ivary43 commented on #566
@miPlodder  this issue has already been referenced in  #468.

[2018-02-06 14:18] AkshGautam opened #568 "Retaining activity state on orientation changes and preventing crash on orientation changes"
**Summary:**

Currently The state is lost on changing the orientation ie from landscape to portrait or vice versa.

**Steps to reproduce:**

For Instance
1)Run the app
2)Third party transfers
3)Select some option(continue)
4)Change orientation
Changes get reset

**Expected behaviour:**

The changes should be retained on orientation changes.

**Observed behaviour:**

The changes are reset on orient

[2018-02-06 14:19] AkshGautam commented on #568
@therajanmaurya  @dilpreet96  I am working on this.

[2018-02-06 15:05] miPlodder commented on #566
@ivary43 Thanks for the info.

[2018-02-06 15:07] miPlodder commented on #468
@therajanmaurya @dilpreet96 I would like to work on this issue.

[2018-02-06 15:10] miPlodder commented on #468
@luckyman20 Instead of new Activity, we can move back to previous Activity. Apart from that I'm thinking of adding a Confirmation Dialog after Submit Button is pressed.

[2018-02-06 15:14] luckyman20 commented on #468
@miPlodder This looks like a temporary solution for this issue, I think there should be some consistency in the app, so I would request you to please check transfer confirmation activity - there we are getting new screen and it looks better. New screen will have ID of the loan that will help user to track the loan application status.

[2018-02-06 15:28] miPlodder commented on #468
@luckyman20 Yeah, your approach seems better. (will do it that way)

[2018-02-06 17:23] AkshGautam opened #570 "Improper UI render when offline"
**Summary:**

The UI of the error screen when offline is improper.

**Steps to reproduce:**

1)Run the app
2)Select account
Make sure you are offline.

**Expected behaviour:**

A well aligned UI screen.

**Observed behaviour:**

A misaligned UI screen.

**Device and Android version:**

Android 5.0.2, API 21

**Screenshots:**

![screenshot_2018-02-06-22-45-17](https://user-images.githubusercontent.

[2018-02-06 17:24] AkshGautam commented on #570
@therajanmaurya  @dilpreet96  I am working on this.

[2018-02-06 17:37] AkshGautam opened #571 "App Crashes In third party transfer/transfer in offline mode."
**Summary:**

The app crashes due to Null Pointer exception in third party transfer/transfer in offline mode.

**Steps to reproduce:**

1)Run the app
2)select third party transfer/transfer in offline mode
3) select continue

**Expected behaviour:**

No crash.

**Observed behaviour:**

App crashes.

**Device and Android version:**

Android 5.0.2, API 21

**Screenshots:**

![20180206_230046](https:/

[2018-02-06 17:37] AkshGautam commented on #571
@therajanmaurya @dilpreet96  i want to work on this

[2018-02-06 17:47] AkshGautam opened #572 "Empty options list in offline mode in select account type."
**Summary:**

The select account type in add beneficiary displays empty list when offline.

**Steps to reproduce:**

1)Run the app
2)Add beneficiary
3)select account type when offline

**Expected behaviour:**

A toast of screen with message that the client is offline

**Observed behaviour:**

Empty list

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**

![screenshot_2018-02-

[2018-02-06 17:47] AkshGautam commented on #572
@therajanmaurya @dilpreet96  I am working on this

[2018-02-06 17:59] ivary43 commented on #570
@AkshGautam  i have referred this problem in #549 and i started working on this.

[2018-02-06 18:01] ivary43 commented on #571
@AkshGautam  i already made the same issue #559 and working on this.

[2018-02-06 18:02] AkshGautam opened #573 "Improper Snackbar message in activities such as Help,About,Settings etc"
**Summary:**

The snackbar messgae in activities such as help,about and settings is irrelavent when offline.

**Steps to reproduce:**

1)Run the app
2)Select About in offline mode

**Expected behaviour:**

A snackbar with no internet connection mesage or no snackbar.

**Observed behaviour:**

Failed to fetch client snackbar.

**Device and Android version:**

Android 5.0.2, API 21

**Screenshots:**

[2018-02-06 18:02] AkshGautam commented on #573
@therajanmaurya  @dilpreet96  I am working on this.

[2018-02-06 18:03] AkshGautam commented on #570
@therajanmaurya  please close this issue, its been already reported earlier.sorry, i did not notice.

[2018-02-06 18:05] AkshGautam commented on #571
sorry again.i did not see that. @therajanmaurya  please close this as well.

[2018-02-06 18:17] AkshGautam opened #574 "Snackbar + toast message for same prompt"
**Summary:**

Both snackbar and toast messages are displayed simultaneously for the same prompt.

**Steps to reproduce:**

1)Run the app in offline mode
2)Select account/beneficiaries

**Expected behaviour:**

A snackbar message for a more generic behaviour throughout the app since the error screen on activity displays same message as toast so toast should be disabled.

**Observed behaviour:**

to

[2018-02-06 18:19] AkshGautam commented on #574
@therajanmaurya @dilpreet96  I am working on this.

[2018-02-06 18:41] ivary43 opened #575 "style:Using lombok to remove boilerplate code in POJOs"
**Summary:**

There are lots of boilerplate code inside POJOs.

**Expected behaviour:**

Using [lombok](https://projectlombok.org/) can reduce these codes.

[2018-02-06 18:42] ivary43 commented on #575
@dilpreet96, @therajanmaurya  can we use Lombok to reduce those codes??

[2018-02-06 22:40] ivary43 opened #576 "Data fetched from server is not retaining on orientaion change leading to app crash."
**Summary:**

Data fetched from server is not retaining on orientation change leading to app crash.

**Steps to reproduce:**

Go to Accounts-> Loan ->Select any closed Loan ->Repayment Schedule then change to landscape mode.

**Expected behaviour:**

The activity should retain the data fetched from the server and shouldn't lose it on change of orientation.
**Observed behaviour:**

Fragment loses t

[2018-02-06 22:49] ivary43 opened #577 "feat:Reporting of crash while using app absent."
**Summary:**
Feature of reporting an app crash is currently absent in app.

**Expected behaviour:**

We should send the reports to our organisation desk or somewhere more suitable So that we could analyze and fix the bugs for future updates after the release of the app.

**Observed behaviour:**

This feature is currently not present in the app.

[2018-02-06 22:51] ivary43 commented on #577
@therajanmaurya, @dilpreet96  can I implement this feature?

[2018-02-07 03:12] AkshGautam commented on #576
@ivary43  I have sent The PR for #568 and that has solved the crash problem as well as data retention issue. It's not crashing now and data is saved. I have checked it.

[2018-02-07 04:59] AkshGautam opened #578 "zero amount accepted in transfers/third party transfers"
**Summary:**

The amount of type 0.0(n times) is accepted as valid amount type in transfers though it is a zero transfer value.

**Steps to reproduce:**

For Instance
1)Run the app
2)Third party transfer
3)select amount of 0.0

**Expected behaviour:**

A snackbar message "amount should be greater than 0" on clicking continue.

**Observed behaviour:**

No message and it is accepted as valid amount.

[2018-02-07 05:00] AkshGautam commented on #578
@therajanmaurya @dilpreet96  I am working on this.

[2018-02-07 05:31] ivary43 commented on #578
I am getting an error while making the transfer .You can only review with 0.00 amount but can't make the transfer.Please Check.

[2018-02-07 07:16] AkshGautam commented on #578
@ivary43 yes the error is there when making the transfer but why do we need to proceed with the review process when the amount filled is invalid? Try the above process with 0 and you will get invalid amount snack bar. 0 and 0.00 is the same thing so why there should be a dual behavior in both cases. The app should be general for every error. Showing a snack bar in case of 0 and letting the user pr

[2018-02-07 09:18] apoorvinfo opened #579 "Changing Hidden icon of Account Overview in the Home Section"
**Summary:**

The Previous icon of Hidden Account Overview is just the faded version of Show icon , which gives less sense to the logic of appearing and disappearing.
**Steps to reproduce:**

Clicking the Show Account Overview on the home page.

**Expected behaviour:**

Having a better icon to imply the details Best.
.

**Device and Android version:**
6.0.1 API 23
**Screenshots:**

Using this icon

[2018-02-07 09:19] apoorvinfo commented on #579
@tarun0 @therajanmaurya I am working on this issue?

[2018-02-07 11:10] apoorvinfo opened #580 "No Change in Post details once selected in Transfer and Third Party Transfer."
**Summary:**

Once the detail in single block is selected in Transfer or Third Party Transfer , such as Pay From to next block Beneficiary , Previous Block of Pay From can't be changed, And On Pressing Back Button Moves to the Home Section. And Once the First Block is Selected, The Default Value of Second block is Considered null by the app and Snack is shown for Selected.
**Steps to reproduce:**

[2018-02-07 11:11] apoorvinfo commented on #580
@tarun0 I am Working on this issue!

[2018-02-07 11:18] apoorvinfo opened #582 "Survey Section Doesn't Lead to Anywhere"
**Summary:**

Survey Button in the Home Section doesn't lead to Anywhere.
**Steps to reproduce:**

How can we reproduce the issue?

1.Go to Home.
2.Click on Survey.

What did you expect the app to do?
No Survey class or Acvtivity Used.

**Device and Android version:**

6.0.1 API 23

**Screenshots:**

![27901481_1675555545835826_2124265463_o 1](https://user-images.githubusercontent.com/21074243/359

[2018-02-07 11:19] apoorvinfo commented on #582
@tarun0 @therajanmaurya Please review and Why the color of Account and Transfer section is white and rest are matching with environment?

[2018-02-07 11:19] apoorvinfo commented on #582
@tarun0 @therajanmaurya Please review and Why the color of Account and Transfer section is white and rest are matching with environment?

[2018-02-07 11:29] apoorvinfo opened #583 "Recent Transaction should show more information on Clicking in a brief way."
**Summary:**

Recent Transaction shows only the adapter limited details and no action on clicking them. While this should be clickable resulting in dialog box or new frame which the sender name, account details, whom it is send to , price and other details in a brief way. This all improves user experience and make the app friendly.
**Steps to reproduce:**

1.Go to Home
2.Go to Navigation Bar
3.Go

[2018-02-07 11:30] apoorvinfo commented on #583
@tarun0 @therajanmaurya I am working on this issue!

[2018-02-07 11:30] ivary43 commented on #582
@apoorvinfo  Survey section is still under construction.

[2018-02-07 11:33] apoorvinfo commented on #582
@ivary43 thanku for the information

[2018-02-07 11:33] apoorvinfo commented on #582
@ivary43 Are you assigned or ?

[2018-02-07 11:34] ivary43 commented on #583
@apoorvinfo  this issue has already been reported in issue #485 and API development is under process.

[2018-02-07 12:48] ivary43 commented on #582
@apoorvinfo no this is not assigned to me.

[2018-02-07 12:50] ivary43 commented on #576
@therajanmaurya please this close this issue this has been fixed in PR #569.

[2018-02-07 12:52] ivary43 commented on #576
@AkshGautam I didn't notice that as per your issue I thought you were doing that for only those activities which require user input.

[2018-02-07 18:48] geekanamika opened #585 "Small mistakes in Wiki page"
**Changes Required in wiki page**
1. android studio set up  description :
buildtoolversion of project is '26.0.2' , whereas in wiki page , it suggests to download 23 to set up the project, It should be fixed.
2. Building up the code step suggests to clone from repo link whereas conventionally approach is to create a fork & then clone.

**Screenshots:**
![screenshot from 2018-02-08 00-07-11](https:

[2018-02-07 19:10] ivary43 commented on #585
@geekanamika  do you want to fix this issue ?

[2018-02-07 19:31] geekanamika commented on #585
@ivary43  Yes, I am waiting for mentors approval :) @dilpreet96 @therajanmaurya Is this valid ?

[2018-02-07 20:57] ivary43 opened #586 "Unable to refresh after getting the internet connection back in Charges section."
**Summary:**

Unable to refresh after getting the internet connection back in Charges section.

**Steps to reproduce:**

Open the app->Turn off your internet ->Charges Section (Try to refresh).

**Expected behaviour:**

As soon as i get back my internet i should be able to refresh the activity.

**Observed behaviour:**

I was not able to refresh after internet connection restores.

**Device and An

[2018-02-08 12:48] miPlodder opened #587 "App crashes on Third Party Transfer Activity (Null Pointer Exception)"
**Summary:**

Null Pointer Exception at **ThirdPartyTransferFragment.java:284**

**Steps to reproduce:**

1) Open Navigation Drawer
2) Open Third Party Transfer from drawer.
3) Continue on Pay From (Empty field gets )
4) Click continue on "**Beneficiary**".

**Expected behaviour:**

App should not crash.

**Observed behaviour:**

App is crashing.

**Device and Android version:**

Xiaomi, Marshmall

[2018-02-08 12:52] miPlodder commented on #587
@therajanmaurya @dilpreet96 I would like to resolve this issue.

[2018-02-08 13:44] ivary43 commented on #587
@miPlodder  this issue has already been referenced in issue #571 and resolved in PR #584. I Disabled the button to continue so you can't continue or can't select when there is no option.

[2018-02-08 13:56] miPlodder commented on #587
@ivary43 Thanks for the info.

[2018-02-08 14:11] miPlodder commented on #587
@therajanmaurya @dilpreet96 Please close this issue.

[2018-02-09 11:26] dilpreet2028 commented on #542
Closing as it is a duplicate issue

[2018-02-09 11:26] #542 closed, assigned to nobody

[2018-02-09 11:29] #465 closed, assigned to nobody

[2018-02-09 11:31] #484 closed, assigned to nobody

[2018-02-09 12:02] miPlodder commented on #566
@dilpreet96 Please close this issue. ( **Duplicate Issue** )

[2018-02-09 19:11] ivary43 opened #588 "No error message present while logging in if server are down."
**Summary:**

There should be error message showing the error why the user is not able to log in as per the status code received from the server side.

**Expected behaviour:**

The app should the error why the user is not able to log in (leaving wrong credentials) if it is due to the server side.

**Observed behaviour:**

No Such error message was present.

[2018-02-09 19:11] ivary43 commented on #588
@dilpreet96 , @tarun0  i would like to work on this issue.

[2018-02-09 21:31] miPlodder opened #589 "2 Conflictling Snackbar Msg on Refreshing in Home Activity"
**Summary:**

2 Conflictling Snackbar Msg on Refreshing in Home Activity, instead 1 Snackbar Msg should be shown

**Steps to reproduce:**

1) Open Home
2) Refresh using SwipeRefreshLayout.

**Expected behaviour:**

Message should come one after 1.

**Observed behaviour:**

1st msg is not visible and 2nd msg pops up over it.

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

!

[2018-02-09 21:31] miPlodder opened #590 "http not showing in licences"
**Summary:**

Links are not showing "**h**", instead showing "**ttp**" in starting of links in Licenses

**Steps to reproduce:**

1) Open Navigation Drawer.
2) Click About Us
3) Click Licenses

**Expected behaviour:**

Links should show "h" in the starting of the links.

**Observed behaviour:**

Links don't contain leading "h"

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

[2018-02-09 21:32] miPlodder commented on #590
@therajanmaurya @dilpreet96 I would like to work on this issue.

[2018-02-09 21:33] miPlodder commented on #589
@therajanmaurya @dilpreet96 I would like to work on this issue.

[2018-02-11 03:36] AkshGautam opened #591 "Improper behaviour of eye icon in passcode activity."
**Summary:**

Faded eye icon - hidden passcode
Dark eye icon - not hidden passcode
Initially, the eye icon should be faded since the passcode is hidden and after clicking it once it should turn to dark but this is not happening. Changing the color requires two touches after which the icon works as expected.

**Steps to reproduce:**

1)Run the app
2)enter some number
3)hit the eye icon(password vis

[2018-02-11 03:36] AkshGautam commented on #591
@therajanmaurya @dilpreet96  I am working on this.

[2018-02-11 10:04] luckyman20 commented on #570
@AkshGautam As you have opened the issue, you can close the issue. So please do so

[2018-02-11 10:05] luckyman20 commented on #566
@miPlodder You can also close this issue as you have opened the issue. So please do so

[2018-02-11 11:31] AkshGautam opened #593 "Modifications in Pull request template."
**Summary:**

Currently, the Pull request template has Issue marker as Issue #{Issue Number} which is incorrect since the issue number is intended to be adjacent to # marker. changing it to #Issue_number would be much easier to interpret.

I am working on this.

[2018-02-11 11:32] AkshGautam commented on #593
@dilpreet96 @therajanmaurya I am working on this.

[2018-02-11 11:43] #571 closed, assigned to nobody

[2018-02-11 11:44] #570 closed, assigned to nobody

[2018-02-11 12:01] sridharjajoo opened #595 "Using library to display 3rd party libraries"
**Summary:**
We can use a 3rd party library https://psdev.de/LicensesDialog/
with the help of which we can display the libraries in an organized manner.

**Steps to reproduce:**
Go to About us and click on licences.

[2018-02-11 12:25] sridharjajoo opened #596 "Bug when language is changed from English to Hindi"
**Summary**
When language is changed from English to Hindi the language of the toolbar doesn't change.
![screenshot_2018-02-11-17-52-37-046_org mifos mobilebanking](https://user-images.githubusercontent.com/20684618/36073326-aa69f620-0f54-11e8-929a-411a0eed0909.png)

**Steps to reproduce:**
Go to Settings and change the language from English to Hindi.

[2018-02-11 12:48] #566 closed, assigned to nobody

[2018-02-11 12:48] #587 closed, assigned to nobody

[2018-02-11 12:53] sridharjajoo opened #597 "Bug on screen rotation"
**Summary:**
When the screen is rotated , the text present on the toolbar is diminished in size.

**Steps to reproduce:**
Go to any activity and rotate the screen.

**Expected behaviour:**
The size of the text shouldn't change.

**Screenshots:**
![screenshot_2018-02-11-17-56-51-333_org mifos mobilebanking](https://user-images.githubusercontent.com/20684618/36073542-90960ac8-0f58-11e8-9fbb-6e1b263f

[2018-02-11 16:05] AkshGautam commented on #596
@sridharjajoo do you want to work on this? if yes please ask to do so.

[2018-02-11 18:12] sridharjajoo commented on #596
I want to work on this!

[2018-02-11 19:23] Rish02Sharma opened #599 "App shareable link is broken"
The link shared from the app of play store is broken.

@dilpreet96 Can I work on this?

[2018-02-11 19:31] ivary43 commented on #599
@Rish02Sharma  the app is not currently on playstore so there is no link presently.

[2018-02-11 19:34] Rish02Sharma commented on #599
ohh! So it's a dummy link isn't?

[2018-02-11 19:38] #599 closed, assigned to nobody

[2018-02-11 19:38] ivary43 commented on #599
Yes, unfortunately.

[2018-02-12 11:12] tarun0 commented on #588
Always add a GIF or video of the issue!

[2018-02-12 11:16] ivary43 commented on #586
@tarun0 , @dilpreet96 , @therajanmaurya  i want to work on this issue.

[2018-02-12 11:20] ivary43 commented on #588
@tarun0 I can't do it right now because the server is up but there is no toast to handle status code 503.Sorry for the inconvenience.

[2018-02-12 11:38] tarun0 commented on #586
Did you try clicking on the message? If I remember correctly, the page reloads when the No-Network message is clicked.

[2018-02-12 11:44] ivary43 commented on #586
@tarun0  after clicking on the icon it refreshes, I think we should add a swipe refresh to reload or refresh because that is what we generally do, and it is present across all such fragments.What's your view on this?

[2018-02-12 11:46] #576 closed, assigned to nobody

[2018-02-13 05:58] sridharjajoo opened #603 "Create the Code Of Conduct.md"
**Summary:**
There should be a code of conduct file in the project.

[2018-02-13 07:00] ivary43 opened #604 "feat: Adding push notification in the app."
**Summary:**
Currently, in app there is a section for notification but there is no push notification in the app.It will be more useful if we add push notifications in the app so the user can see if there is some approval of loan or disbursement of loan etc. details from the notification bar.

[2018-02-13 07:01] ivary43 commented on #604
@therajanmaurya , @dilpreet96  what's your view on this?

[2018-02-13 07:13] #515 closed, assigned to nobody

[2018-02-13 15:53] miPlodder opened #606 "Not proper closing of <item> tag in string.xml"
**Summary:**

Not proper closing of <item> tag in string.xml, shows improper answer in **Help Fragment**

**Steps to reproduce:**

1) Open Navigation Drawer.
2) Go to to Help
3) Expand last question, you will see incomplete answer.

**Expected behaviour:**

Complete answer to the question

**Observed behaviour:**

Incompleted answer to the question

**Device and Android version:**

Xiaomi, Marshma

[2018-02-13 15:56] miPlodder commented on #606
@dilpreet96 @therajanmaurya I would like to work on this.

[2018-02-13 16:07] miPlodder opened #607 "Typos in Strings.xml"
**Summary:**

There are typos in strings.xml

**Steps to reproduce:**

res >> values >> strings.xml

**Expected behaviour:**

Typos should be corrected as they are used in many places.

**Observed behaviour:**

These typos are used in many layouts.

[2018-02-13 16:11] ivary43 commented on #607
@miPlodder  do you want to work on this issue?

[2018-02-13 16:12] miPlodder commented on #607
@ivary43 Yeah, I'm working on it.

[2018-02-13 16:13] miPlodder commented on #607
@therajanmaurya @dilpreet96 I working on this issue.

[2018-02-13 16:15] ivary43 commented on #607
@miPlodder  please use Android lint you can find all the typos using that.

[2018-02-13 19:25] miPlodder opened #609 "Adding Multi Language Support in Settings"
**Summary:**

Settings should include multiple languages in options to select other language.

**Steps to reproduce:**

1) Open Nav Drawer
2) Open Setting
3) Choose language

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

It contains only 2 languages support.

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![settings_issue](https://us

[2018-02-13 19:27] miPlodder commented on #609
@dilpreet96 @therajanmaurya I would like to work on this issue.

[2018-02-13 19:34] mohak1712 opened #610 "Notification icon in home screen"
**Summary:**

The notification icon in Home Screen is buggy.

**Steps to reproduce:**

Open the app to the Home Screen and check the toolbar.

**Expected behaviour:**

The notification icon (pink part) should be a circle

**Observed behaviour:**

The notification icon (pink part) is an oval that hampers the UI of the app

**Device and Android version:**

LeEco2 (6.0)

**Screenshots:**

![screensho

[2018-02-13 20:45] mohak1712 opened #612 "Next in Beneficiary screen does not work"
**Summary:**

In Add Beneficiary screen when adding values to various fields pressing enter moves the data up and does not take user to the next field

**Steps to reproduce:**

Go to Manage Beneficiaries -> Add -> Add values

**Expected behaviour:**

When adding values the pressing next the user should automatically be transferred to the next field rather than they themselves clicking the next fie

[2018-02-13 21:35] ivary43 commented on #525
@therajanmaurya , @dilpreet96   can i work on this enhancement.

[2018-02-13 21:48] mohak1712 opened #616 "restrict user input for account number in Add Beneficiary Screen"
**Summary:**

Add beneficiary screen allows any kind of input for Account Number.

**Steps to reproduce:**

Go to add beneficiary screen -> add value in account number field

**Expected behaviour:**

Account number should only allow numerical values

**Observed behaviour:**

Right now user can enter any value (numerical/text/special characters)

**Device and Android version:**

LeEco2(6.0)

**Scre

[2018-02-13 21:48] Rish02Sharma opened #617 "feat: Tutorial Screen for users logging in the app for the first time."
We can highlight some features for users on the first start of app.
@dilpreet96 @therajanmaurya Suggestions? Can I work on this?

[2018-02-13 22:14] Rish02Sharma opened #620 "Using BindView in place of findViewById in the project"
In some of the Activities/Fragments BindView is not implemented in place of 'findViewById".

[2018-02-13 22:15] Rish02Sharma commented on #620
@therajanmaurya @dilpreet96 any suggestions?? Can i work on this?

[2018-02-14 04:16] sridharjajoo commented on #617
@Rish02Sharma How do you plan to do this?

[2018-02-14 06:02] miPlodder opened #621 "Next button in keyboad should be changed to Done"
**Summary:**

Next button in keyboard should be changed to Done in many forms in the apps

**Steps to reproduce:**

Open forms in apply for loan form ,transfer form, third transfer activity (refer GIFS below)

**Expected behaviour:**

Done button should be shown for better UI/UX

**Observed behaviour:**

Instead next button is used

**Device and Android version:**

Xiaomi, Marshmallow

**Screensho

[2018-02-14 06:07] miPlodder commented on #621
@dilpreet96 @therajanmaurya I would like to work on this issue.

[2018-02-14 11:17] #446 closed, assigned to nobody

[2018-02-14 11:21] #546 closed, assigned to nobody

[2018-02-14 19:41] mohak1712 opened #623 "DatePicker UI in open saving account transaction screen"
**Summary:**

Date Picker in Saving Account Transaction screen is not good UI/UX

**Steps to reproduce:**

Open Saving Account Transaction Screen -> Pick a date

**Expected behaviour:**

There should be a uniform color throughout and the size of the picker should be correct

**Observed behaviour:**

There is a clearly visible white patch and the picker looks a bit stretched than a usual DatePicker

[2018-02-14 20:05] miPlodder opened #625 "After successful Transaction Details Fragment is not scrolling"
**Summary:**

After successful Transaction Details Fragment is not scrolling till the bottom

**Steps to reproduce:**

1) Go to Transfers
2) Fill in the details and submit the form

**Expected behaviour:**

Transaction Details Fragment should be scrolling the bottom

**Observed behaviour:**

Instead, it's not scrolling.

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![scr

[2018-02-14 20:06] miPlodder commented on #625
@dilpreet96 @therajanmaurya I would like to work on this issue.

[2018-02-14 20:46] ivary43 commented on #525
@therajanmaurya , @dilpreet96  i want to work on this issue.

[2018-02-14 23:09] ivary43 opened #628 "In transfer and many section 'only spaces' can be accepted as a value for remark,name etc."
**Summary:**

In transfer and many section of the app only spaces are getting accepted as a value for remark, name etc because the string is not trimmed before checking it's value.

**Steps to reproduce:**

Transfer-> In remark put only spaces->Submit.

**Expected behaviour:**

The app should show an error that name is empty or remark is empty in such cases.

**Observed behaviour:**

The app shoul

[2018-02-14 23:10] ivary43 commented on #628
@dilpreet96 , @therajanmaurya  i want to work on this issue.

[2018-02-14 23:14] ivary43 opened #629 "In recent transactions null is shown in Currency type."
**Summary:**

In recent transactions null is shown in Currency type.

**Steps to reproduce:**

Go to recent transactions.

**Expected behaviour:**

At place of null currency value should be there.

**Observed behaviour:**

Null was shown instead of currency type.

**Device and Android version:**
Moto g-3 (6.0.1)

**Screenshots:**
![screenshot_20180215-042322](https://user-images.githubusercontent.

[2018-02-14 23:15] ivary43 commented on #629
@dilpreet96  , @therajanmaurya  i want to work on this issue.

[2018-02-15 05:15] miPlodder opened #632 "Apply for Loan Fragment doesn't contain SwipeRefresh Layout"
**Summary:**

Apply for Loan Fragment doesn't contain SwipeRefresh Layout

**Steps to reproduce:**

Click on Apply to Loan from HomeFragment

**Expected behaviour:**

SwipeRefresh Layout will help us to restore the fragment's form when internet connection is restored

**Observed behaviour:**

Instead, swiperefresh layout is not present

**Device and Android version:**

Xiaomi, Marshmallow

**Scree

[2018-02-15 05:16] miPlodder commented on #632
@dilpreet96 @therajanmaurya I would like to work on this issue.

[2018-02-15 05:23] miPlodder opened #633 "Internet Connectivity Msg not on Layout in Beneficiaries"
**Summary:**

In Beneficiaries Fragment, Internet Connectivity Msg not shown on layout

**Steps to reproduce:**

Open Beneficiaries without Internet Connection

**Expected behaviour:**

Internet Connectivity Msg should be shown on layout like other layout

**Observed behaviour:**

Instead, the layout is kept blank (unlike other layouts)

**Device and Android version:**

Xiaomi, Marshmallow

**Scre

[2018-02-15 05:23] miPlodder commented on #633
@therajanmaurya @dilpreet96 I would like to work on this issue.

[2018-02-15 05:47] ivary43 commented on #633
@miPlodder  this issue has already been reported in #558 and PR has already been sent.

[2018-02-15 05:48] miPlodder commented on #633
@ivary43 Thanks for the info.

[2018-02-15 05:48] #633 closed, assigned to nobody

[2018-02-15 14:56] mohak1712 opened #634 "Ambiguous UI functionality of radio button in Saving Account Transactions"
**Summary:**

When using filter with selecting start and end date any previously selected radio buttons should be cleared

**Steps to reproduce:**

Open Saving Account Transaction Screen click any radio button then select start and end date and click the filter button. The radio button doesn't get unchecked.

**Expected behaviour:**

The checked radio button if any must get unchecked on filter but

[2018-02-15 15:04] mohak1712 commented on #634
I would like to work on this

[2018-02-15 15:30] mohak1712 opened #635 "Filter icon gets cut when searching in Account Screen"
**Summary:**

When searching in accounts screen the filter icons gets cut

**Steps to reproduce:**

Open Accounts screen -> click search icon

**Expected behaviour:**

Filter icon should not get cut

**Observed behaviour:**

Filter icon gets cut (goes out of the bounds of screen)

**Device and Android version:**

LeEco2(6.0)

**Screenshots:**

![before_click](https://user-images.githubusercontent.

[2018-02-15 15:30] mohak1712 commented on #635
I would like to work on this

[2018-02-16 08:58] mohak1712 opened #636 "Move from Observable to Single"
**Summary:**

In the `LoginPresenter` when logging in a user `Observable<User>` is used which can be changed to `Single<User>`.
Since there is `Observable<User>` we need to implement 3 methods namely `onNext` `onCompleted` and `onError` and `onCompleted ` is useless since there is only a single emission. If we move to `Single<User>` we just need `onSuccess` and `onError` methods, which is logicall

[2018-02-16 09:00] mohak1712 commented on #636
@dilpreet96 @therajanmaurya I would like to know your views on this so that I can work on this !

[2018-02-16 20:37] ivary43 commented on #634
@mohak1712 I didn't get you what's the issue in this? If the user is selecting the start/end date and he/she would remember according to what params they are filtering, how it is making the UI ambiguous.

[2018-02-17 02:57] mohak1712 commented on #634
@ivary43 When user is using start and end date for filtering shouldn't any previously checked radio button be unchecked bcoz the filtering is not as per the radio button.
It seems confusing since it shows the checked radio button even if we are using dates for filtering

[2018-02-17 10:46] sridharjajoo opened #641 "Animating the tick icon after transferring money"
**Summary:**
When money is transferred from one account to another , a screen of successful transaction comes up which consists of a tick icon . We can animated that icon so as to make a the screen a little more attractive.

**Steps to reproduce:**
Transfer money from one account to another or do a 3rd party transfer.

**Expected behaviour:**
The tick icon can be animated (similar to tick icon in

[2018-02-17 11:45] miPlodder opened #642 "FloatingActionButton becomes invisible on scrolling"
**Summary:**

FloatingActionButton becomes invisible on scrolling in Loan Fragment in Accounts

**Steps to reproduce:**

1) Go to Accounts
2) Swipe Left to Loan
3) Scroll down the list

**Expected behaviour:**

FloatingActionButton should be visible

**Observed behaviour:**

FloatingActionButton becomes invisible and show some strange behaviour

**Device and Android version:**

Xiaomi, Marshmallow

[2018-02-17 11:46] miPlodder commented on #642
@dilpreet96 @therajanmaurya I would like to work on this issue.

[2018-02-17 12:48] mohak1712 commented on #642
@miPlodder this doesn't seem like an issue
this looks like a behavior of FAB
`app:layout_behavior="org.mifos.mobilebanking.utils.ScrollFabBehavior"`

[2018-02-17 12:57] miPlodder commented on #642
@mohak1712 When we scroll, it's looks good that FAB is invisible. But we stop scrolling, the FAB should be visible but instead it's invisible (this is what end user don't want).

I guess this behavior can be changed by working on this file,

https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/utils/ScrollFabBehavior.java

[2018-02-17 13:02] mohak1712 commented on #642
ya you can make changes to that file for newer functionality

[2018-02-17 14:09] sridharjajoo opened #643 "Dialog box content disappears on screen rotation"
**Summary:**
On rotating the device when the filter dialog box appears in the accounts section the bottom part of the dialog box which includes options such as ''CLEAR FILTERS'',''CANCEL'',"FILTER" get removed.

**Steps to reproduce:**
1) Go to the Accounts section and rotate the screen.
2) Select the filter icon present on the toolbar.
3) A dialog box appears which shows the checkboxes but the bo

[2018-02-17 14:30] ivary43 commented on #643
@sridharjajoo this issue is same as #568 and PR has already been sent.

[2018-02-17 15:18] ivary43 commented on #642
@miPlodder  i think it's a pretty common behaviour to hide the FAB on scroll to avoid any hinderance to the view on scrolling because if the user is scrolling down the User want to see some data so FAB has no use but when the user is going up he might need to add loan or the user is done searching, so the FAB becomes visible again .
I think there is no issue in that.Please do confirm.

[2018-02-17 16:20] miPlodder commented on #642
@ivary43 User can scroll a bit (FAB is gone), and want to add a loan ,but wouldn't find the FAB.
It's not necessary that user will always want to add a loan while Scrolling up.

The best design will be that FAB is invisible only while scrolling, rest of the time it should be visible. This approach will surely enhance the UI/UX .

[2018-02-17 17:56] sridharjajoo commented on #643
@ivary43 My issue is related to the content of the dialog box which remain invisible even after applying the changes made in the previous P.R
![device-2018-02-17-233434](https://user-images.githubusercontent.com/20684618/36344086-2d4f8470-143b-11e8-8d87-4eeb6177f546.png)

[2018-02-17 20:41] Rish02Sharma commented on #488
@raghavpuri31 I'm done with this feature. Are you still working because I want to send the PR now.

[2018-02-17 20:43] raghavpuri31 commented on #488
On Sun, 18 Feb 2018 at 2:12 AM, Rishabh Sharma <notifications@github.com>
wrote:

Okay you can send the PR

[2018-02-17 20:49] Rish02Sharma opened #645 "Error message should be more helpful"
On logging in , if user types incorrect password or email then the message is displayed about the api. It should be more helpful like incorrect email or password.

@dilpreet96 @therajanmaurya I'm working on this.

[2018-02-17 22:11] Rish02Sharma commented on #617
@sridharjajoo Plan as in how will I implement this?

[2018-02-17 22:12] Rish02Sharma commented on #63
@dilpreet96 @therajanmaurya Can I work on this?

[2018-02-18 05:09] sridharjajoo commented on #617
@Rish02Sharma Yes.I meant will you be using any library or implementing this tutorial process on your own?

[2018-02-18 07:47] mainaliayush2007 commented on #56
I followed the same process mentioned here but i was unable to register a self-service user from the app.
1. I created a admin and gave the role of CREATE USER and CREATE USER CHECKER
2. In order to test the API i used Postman, there i set the Authorization to Basic Auth then sent the POST request to the url https://<domain-name>/fineract-provider/api/v1/users with the headers
Fineract-Platform-Te

[2018-02-18 08:02] mainaliayush2007 commented on #56
I followed the same process mentioned here but i was unable to register a self-service user from the app.

I created a admin and gave the role of CREATE USER and CREATE USER CHECKER
In order to test the API i used Postman, there i set the Authorization to Basic Auth with the username and password of the admin created with permission CREATE USER and CREATE USER CHECKER then sent the POST request to

[2018-02-18 21:16] miPlodder opened #650 "Softkeyboard stays on screen"
**Summary:**

Softkeyboard stays on screen even when new fragment loaded

**Steps to reproduce:**

1) Open any form in app
2) Open Navigation Fragment
3) Click on any other option

**Expected behaviour:**

Softkeyboard should close whenever change of fragment

**Observed behaviour:**

Instead, Softkeyboard stays on the screen

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

[2018-02-18 21:17] miPlodder commented on #650
@dilpreet96 @therajanmaurya @droidchef  @satyan I would like to work on this issue.

[2018-02-19 20:40] codedsun opened #653 "Contact Us Number should be clickable"
**Summary:**

The phone number provided in the bottom under Home Section, should be clickable

**Steps to reproduce:**

Go to the home section and scroll down to contact us
Click on the phone number.

**Expected behaviour:**

It should be clickable

**Observed behaviour:**

It's not clickable

**Device and Android version:**

Asus Zenfone Max, Android 6.0

[2018-02-19 21:48] ivary43 commented on #653
@codedsun  please rebase and check this issue is already reported in #515 and resolved in #516.

[2018-02-19 22:01] ivary43 opened #654 "Check for password length is absent while registering a client."
**Summary:**

Currently while logging in we are asked to enter a password whose length is greater than 5 but while registering the client check for password length is absent.

**Steps to reproduce:**

Try registering as a new client and enter a password of length less than or equal to 5.

**Expected behaviour:**

If we enter a password of length less than 6 then it should show an error snackbar.

[2018-02-19 22:01] ivary43 commented on #654
@dilpreet96 , @therajanmaurya  i am working on this issue.

[2018-02-19 22:04] ivary43 commented on #654
There is one small bug too that it is making a network call even if the password didn't match . I have a question too can account number be alphabetic?

[2018-02-20 04:19] mohak1712 opened #655 "Unable to create Beneficiaries"
**Summary:**

Unable to add beneficiaries to an account.

**Steps to reproduce:**

Try adding a beneficiary. It shows failed error

**Expected behaviour:**

We should be able to add beneficiaries.

**Observed behaviour:**

We are not able to add beneficiaries.

**Device and Android version:**

LeEco2(6.0)

[2018-02-20 04:19] mohak1712 commented on #655
I would like to work on this

[2018-02-20 06:20] AkshGautam opened #656 "Adding scrollbar in lists such accounts"
**Summary:**

Currently, there is no scrollbar in the lists such as loans of account section. Adding a scrollbar makes the user aware of how long the list is and about the current position of the user in a big list.

**Expected behaviour:**

A side scrollbar to make user aware of the list.

**Observed behaviour:**

No scrollbar.

**Screenshots:**
![20180220_114730](https://user-images.githubuserco

[2018-02-20 06:21] AkshGautam commented on #656
@therajanmaurya @dilpreet96  I am working on this.

[2018-02-20 06:39] AkshGautam opened #657 "Adding NA where Min required Balance is not available in accounts section and adding space between contact us and contact number in same fragment"
**Summary:**

Currently, there is no text displayed under MIn required balance in some cases. Moreover there should be a space between the contact us and the contact number in the same fragment footer.

**Steps to reproduce:**

1)run the app
2) accounts

**Expected behaviour:**

NA should be displayed when No min req balance is available and adding a space between text and number for better clarit

[2018-02-20 06:39] AkshGautam commented on #657
@therajanmaurya @dilpreet96  i am working on this

[2018-02-20 07:48] ivary43 opened #658 "Setting emptyview if there is no data to display."
**Summary:**

Currently, there is no empty view present in beneficiary and many activities if there is no data to display.It's a good practice to put an empty view if there is no data present.

**Steps to reproduce:**

Go to Beneficiary Activity ->(If there is any beneficiary delete them all)

**Expected behaviour:**

There should be an empty view present if there is no data.

**Observed behaviour

[2018-02-20 07:49] ivary43 commented on #658
@dilpreet96 , @therajanmaurya I am working on this issue.

[2018-02-20 07:51] ivary43 commented on #629
Same issue is present in charges activity too. I will fix that.

[2018-02-20 07:58] ivary43 commented on #657
@AkshGautam  can you please confirm i was unable to replicate the issue.
![screenshot_20180220-132452](https://user-images.githubusercontent.com/24601454/36412825-ce3881ae-1641-11e8-895f-93954b9dd647.png)

[2018-02-20 12:12] mohak1712 opened #659 "App crashes in third party transfers"
**Summary:**

When making third party transfers with no beneficiary present for that account the app crashes when the  user presses `Continue`

**Steps to reproduce:**

Click on continue in the beneficiary section of third party transfers when there are no beneficiaries present

**Expected behaviour:**

The app should show the user an error that there is no beneficiary account linked.

**Observed

[2018-02-20 12:12] mohak1712 commented on #659
I would like to work on this

[2018-02-20 12:56] AkshGautam commented on #657
@ivary43 It's working fine after pulling the latest code.

[2018-02-20 13:03] ivary43 commented on #657
@AkshGautam  if you are still adding the space between contact and number can you make a small change that for a closed account(In loan account details )the due date is blank please fill NA there or whatever approach you want and update the issue title.

[2018-02-20 13:08] AkshGautam commented on #657
@ivary43 Sure I would do that as well. I'll close this issue and create a new one since once I change the title and description of the issue other readers might be confused.

[2018-02-20 13:13] AkshGautam opened #660 "Adding NA for Due date in closed account and adding space between contact us string literal and the number in savings account"
**Summary:**

Currently, there is no text displayed under due date in case of a closed account. Moreover, there should be a space between the contact us and the contact number in the same savings account footer for better clarity.

**Screenshots:**

**Blank Due date**

![screenshot_2018-02-20-18-38-54](https://user-images.githubusercontent.com/19329788/36425778-d7e3859c-166d-11e8-9d89-8d59f5a11ea8

[2018-02-20 13:13] AkshGautam commented on #660
@therajanmaurya @dilpreet96 I am working on this

[2018-02-20 13:13] #657 closed, assigned to nobody

[2018-02-20 13:20] sridharjajoo opened #661 "Bug while entering the passcode"
**Summary:**
When the wrong passcode is entered in the passcodeview , the 4th dot isn't visible which doesn't occur when correct passcode is entered.

**Steps to reproduce:**
Enter the wrong passcode in passcodeview.

**Expected behaviour:**
The 4th dot should also be visible and then the snackbar should appear that the passcode is wrong.

[2018-02-20 13:20] mohak1712 commented on #655
This seems to be a server side issue and not some issue with the app. If anyone has a different explanation then would love to hear that

![err](https://user-images.githubusercontent.com/12782512/36425992-b5701d44-166e-11e8-9cd1-835641444b17.jpeg)

[2018-02-20 13:20] sridharjajoo commented on #661
@dilpreet96 I would like to work on this issue

[2018-02-20 13:31] ivary43 commented on #661
@sridharjajoo I think it's not a bug if it's a wrong password then function just clears the whole password. Since entering and clearing are sequential process and it is too fast that's why you can't see that 4th dot.

[2018-02-20 13:42] miPlodder opened #663 "User Image is not showing"
**Summary:**

User Image is not visible in the Home Activity

**Steps to reproduce:**

(1) Open Home Activity
(2) Click on the space left to Username

**Expected behaviour:**

User Image should be visible, if user has not uploaded it, default user image should be opened

**Observed behaviour:**

User Image is not visible

**Device and Android version:**

Xioami, Marshmallow

**Screenshots:**

![is

[2018-02-20 13:43] miPlodder commented on #663
@dilpreet96 @therajanmaurya @droidchef @satyan I am working on this.

[2018-02-20 14:36] sridharjajoo opened #665 "Wrong behaviour of onBackPressed ( )"
**Summary:**
When money is transferred from one account to another , a screen pops up on successful transaction which says that transfer is successful . When we select the close button present at the bottom of the screen we are directed to **SavingsAccountDetails** fragment which is correct.  But when the back button is pressed or the the back arrow on the toolbar is pressed , we are directed to

[2018-02-20 14:37] sridharjajoo commented on #665
@dilpreet96 @droidchef @satyan I am working on this

[2018-02-20 14:40] sridharjajoo commented on #661
@ivary43 In my opinion ,  to be bring consistency in the design the user should be shown that all the dots were filled and then a snackbar should appear that the passcode was wrong.

[2018-02-20 18:28] roychowdhuryrohit-dev commented on #553
This issue hasn't been fixed yet !

[2018-02-21 07:09] miPlodder opened #668 ""No Beneficiary" is not shown when list of beneficiary is empty"
**Summary:**

"No Beneficiary" is not shown when list of beneficiary is empty, instead message should be shown

**Steps to reproduce:**

1) Open Navigation Drawer
2) Click on "Manage Beneficiary"

**Expected behaviour:**

Message "No Beneficiary" should be shown

**Observed behaviour:**

No message is shown on Fragment

**Device and Android version:**

Xioami, Marshmallow

**Screenshots:**

![__em

[2018-02-21 07:10] miPlodder commented on #668
@dilpreet96 @satyan @droidchef I am working on this issue.

[2018-02-21 12:17] AkshGautam commented on #668
@miPlodder  is this the same as #558 ? Please check.

[2018-02-21 12:21] ivary43 commented on #668
@miPlodder  this is same as #658.

[2018-02-21 12:26] miPlodder commented on #668
@AkshGautam @ivary43 Thanks for informing.

[2018-02-21 12:54] sridharjajoo commented on #668
You can close this issue

[2018-02-21 12:54] sridharjajoo commented on #653
@codedsun Kindly close this issue

[2018-02-21 13:11] #668 closed, assigned to nobody

[2018-02-21 18:33] Rish02Sharma opened #669 "Text in searchView is not cleared on BackPressed"
**Summary:**

Clicking the back button when there is some texts in search bar should clear the texts first rather than closing the screen.

@dilpreet96 @therajanmaurya I'm working on this.

[2018-02-22 13:02] #653 closed, assigned to nobody

[2018-02-24 14:58] mohak1712 opened #671 "Duplicate Accounts in transfer screen"
**Summary:**

There is duplication of accounts in the payto and payfrom part of transfer screen

**Steps to reproduce:**

Open the transfer screen and select the payfrom or payto option

**Expected behaviour:**

There should not be any duplication of accounts

**Observed behaviour:**

There is duplication of accounts

**Device and Android version:**

LeEco(6.0)

**Screenshots:**

![whatsapp image

[2018-02-24 14:59] mohak1712 commented on #671
I would like to work on this

[2018-02-24 19:58] Rish02Sharma commented on #617
Hey @sridharjajoo well it depends upon the mentor's approval and the amount of introductory material we want to provide to the new users , i can hard code for it but GUI of libraries would be more attractive so some of the libraries which i looked for are [apl-devs](https://github.com/apl-devs/AppIntro), [msayan/tutorial-view](https://github.com/msayan/tutorial-view) and [MaterialIntroTutorial](ht

[2018-02-24 20:17] #537 closed, assigned to nobody

[2018-02-24 20:18] #548 closed, assigned to nobody

[2018-02-24 20:28] #593 closed, assigned to nobody

[2018-02-24 20:35] miPlodder opened #674 "Invalid Check and Toast Message on Submiting Loan"
**Summary:**

Invalid Toast Message on Submiting Loan

**Steps to reproduce:**

1) Apply from Loan
2) Change Principal Amount
3) Submit Loan

**Expected behaviour:**

Proper restriction for Principal Amount  should be there and valid Toast message should be shown

**Observed behaviour:**

Improper Check message don't allow User to change Principal Amount of the loan and invalid Toast message is sh

[2018-02-24 20:36] miPlodder commented on #674
@dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-02-25 17:19] Rish02Sharma opened #675 "Empty Toast message if we create an account when mobile network is off"
**Summary:**
If we try to create a new account in offline mode then the toast message that is displayed is empty.

**Steps to reproduce:**

Log In screen --> Create an account

**Expected behaviour:**

Toast message should it make clear that network is not connected thus account cant be created.

**Observed behaviour:**

Empty Snack Bar.

**Screenshots:**

![screenshot_20180222-001712](https://use

[2018-02-25 20:45] miPlodder opened #676 "Phone Number not opening Phone Dialer"
**Summary:**

Phone Number on Home Fragment not opens dialer on clicking

**Steps to reproduce:**

Click on Phone Number on scrolling down

**Expected behaviour:**

Dialer should open

**Observed behaviour:**

Dialer is not opening

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![_phone_dialer_issue](https://user-images.githubusercontent.com/22195621/36646220-d75dde20-1a9

[2018-02-25 20:45] miPlodder commented on #676
@dilpreet96 @droidchef @satyan I would like to work on this PR.

[2018-02-25 22:51] Rish02Sharma commented on #675
@dilpreet96 @therajanmaurya I'm working on this. :)

[2018-02-25 23:00] Rish02Sharma commented on #675
@dilpreet96 @therajanmaurya @droidchef @satyan

[2018-02-26 20:03] AkshGautam commented on #609
@miPlodder What's the point of adding options if the translations do not exist?

[2018-02-26 20:11] miPlodder commented on #609
@AkshGautam We just have to add translations in the strings.xml file for each language.

[2018-02-26 20:15] AkshGautam commented on #609
I know That as well,one must know a language in order to put the translations in strings.xml. without translations there is no point of giving users a dummy language selection.

[2018-02-27 06:22] miPlodder commented on #609
@AkshGautam I'm thinking of adding translation from Google Translate, but they are not always accurate. So, I waiting for reviewer instructions.

[2018-02-27 06:39] miPlodder opened #678 "Progress Bar does not change it visiblity"
**Summary:**

Progress Bar shows infinity while creating Beneficiary

**Steps to reproduce:**

Go to Beneficiaries
Add Beneficiary
Scan QR Code (w/o QR that is via Add, it works sometimes, and behaves same as below sometimes)

**Expected behaviour:**

Progress Bar should not be visible

**Observed behaviour:**

Progress Bar is visible (even on other fragments)

**Device and Android version:**

Xia

[2018-02-27 06:39] miPlodder commented on #678
@dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-02-27 18:06] ivary43 opened #679 "Abrupt opening of "Account Overview" on Home"
**Summary**
There is abrupt opening of "Account view" on click, there should be a slide animation for opening and closing of that for better view

**Steps to reproduce:**
Go to Home and click on "Account Overview".

**Expected behaviour**
There should be slide animation for opening and closing of "Account Overview" on click.

**Observed behaviour**
There is disrupt opening and closing of "Account

[2018-02-27 18:09] luckyman20 commented on #679
@ivary43 Instead of slide animation, you can come up with some other beautiful animation as slide animation is mostly used in going through pages and stuff.

[2018-02-27 18:12] ivary43 commented on #679
@luckyman20  Any suggestion ?? I suggested that because that is mostly found in a dropdown.

[2018-02-27 18:15] luckyman20 commented on #679
@ivary43 You might like to visit this page - https://developer.android.com/training/transitions/start-activity.html. I would like to suggest `Explode` animation though.

[2018-02-27 18:24] ivary43 commented on #679
@luckyman20 I think that's better(```Explode```) when you are opening an intent, also I read somewhere the same in Udacity course. I think that might not good here.

[2018-02-27 21:13] mohak1712 opened #680 "Remarks not visible during deposit or transfer"
**Summary:**

Remarks are not shown during deposit or transfer

**Steps to reproduce:**

Open the deposit or transfer screen add remarks and click review. Remarks won't be visible on the next screen.

**Expected behaviour:**

Remarks should be visible

**Observed behaviour:**

Remarks are not visible.

**Device and Android version:**

LeEco2(6.0)

**Screenshots:**

![whatsapp image 2018-02-28 at 0

[2018-02-27 21:13] mohak1712 commented on #680
I would like to work on this

[2018-02-27 21:36] mohak1712 commented on #679
@luckyman20 Explode might be an overkill since user might be changing the visibility more often than we think. You might wanna go with something subtle like a fade or slide

[2018-02-28 02:00] luckyman20 commented on #679
@mohak1712 I think fade and slide will don't give the richer look to the app. Explode on the other hand is not also so much good for that.

@ivary43 You can search out for more animations and discuss here.

[2018-02-28 10:11] AkshGautam opened #683 "User is allowed to enter incorrect pass-code 4 times instead of 3 times"
**Summary:**

 User is allowed to enter incorrect pass-code 4 times instead of 3 times.

**Steps to reproduce:**

1)Run the app
2)Enter incorrect passocode
3)Repeat 3 times

**Expected behaviour:**

The app should only allow the user to enter incorrect pass-code 3 times.

**Observed behaviour:**

Currently, the app allows the user to enter incorrect pass-code 4 times and the toast of incorrect pas

[2018-02-28 10:11] AkshGautam commented on #683
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-02-28 10:33] AkshGautam opened #684 "Filter checkbox item requires initial touch to work as expected."
**Summary:**

The Filter Loan accounts checkbox requires an initial touch (if we touch the item instead of checkbox ) to work as expected

**Steps to reproduce:**

1)Run the app
2)Select Accounts
3)Filter Accounts
4)Click the filter item

**Expected behaviour:**

The item should have been checked on a single touch but it requires one more touch.

**Observed behaviour:**

Item requires an extra tou

[2018-02-28 10:34] AkshGautam commented on #684
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-02-28 12:16] miPlodder opened #685 "App crashes on entering large integers"
**Summary:**

App crashes when we enter large integers in form of the application

**Steps to reproduce:**

1) Click on Beneficiaries
2)  Add using FAB
3) Enter large value in Transfer Limit

**Expected behaviour:**

App should not crash and limit use input in EditText (or even show a Message regarding that)

**Observed behaviour:**

App crashes

**Device and Android version:**

Xiaomi, Marshmallo

[2018-02-28 14:34] #572 closed, assigned to nobody

[2018-02-28 15:13] AkshGautam opened #686 "Action Bar Slides in case Add Beneficiary fragment"
**Summary:**

On moving down in screen the action slides upwards instead of View section thus making clicking the navbar drawer difficult and overlaps notification panel which creates hinderance in UX.

**Steps to reproduce:**

1)Run the app
2)Add Beneficiary
3)Keep on filling the from details

**Expected behaviour:**

The action bar should be immobile

**Observed behaviour:**

The action bar is m

[2018-02-28 15:13] AkshGautam commented on #686
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-02-28 17:17] AkshGautam opened #688 "Login fails after entering correct passcode for the fourth time after 3 wrong tries."
**Summary:**

The login to app fails if the user enters the correct passcode after 3 wrong tries.
PS 1234 is the correct passcode here.

**Steps to reproduce:**

1)Run the appp
2)Enter wrong passcode 3 times
3)Enter correct passcode
4)Login fails and login activity is presented

**Expected behaviour:**

The app should login on correct passcode enter on 4th time even if previous 3 were wrong and sh

[2018-02-28 17:18] AkshGautam commented on #683
The toast says you have entered wrong passcode more than 3 times which makes the issue redundant.Closing.

[2018-02-28 17:18] #683 closed, assigned to nobody

[2018-03-01 05:16] mohak1712 opened #691 "Add support for fingerprint authentication if feasible"
**Summary:**

The app does not currently support fingerprint authentication

**Steps to reproduce:**

Only way to login is to enter password

**Expected behaviour:**

The app should support fingerprint authentication

**Observed behaviour:**

The app does not support fingerprint authentication

**Device and Android version:**

LeEco2 (6.0)

[2018-03-01 05:17] mohak1712 commented on #691
I would like to check if it is feasible and work on it thereafter

[2018-03-01 06:31] ivary43 commented on #691
@mohak1712 this issue has already been reported in #561. If you want to work please ask there in comment section.

[2018-03-01 07:04] mohak1712 commented on #561
Are you working on this issue? @srijansoni

[2018-03-01 07:05] mohak1712 commented on #691
Ok thanks

[2018-03-01 10:16] harshitbansal05 opened #692 "Navigation Drawer not following material guidelines"
**Summary:**

Navigation drawer in home activity does not follow material guidelines.

**Steps to reproduce:**

In the home activity, open the navigation drawer.

**Expected behaviour:**

According to material ui, ***The nav drawer spans the height of the screen, with everything behind it visible but darkened by a scrim***. The name size should be 14 sp and email address must also be shown in addi

[2018-03-01 10:16] harshitbansal05 commented on #692
i would like to work on it as well..

[2018-03-01 10:37] ivary43 commented on #691
@mohak1712  please close this issue.

[2018-03-01 11:05] #691 closed, assigned to nobody

[2018-03-01 12:52] ivary43 commented on #684
![20180301_181707](https://user-images.githubusercontent.com/24601454/36845568-44c58f00-1d7d-11e8-9254-f1bb7c3ba01d.gif)
@AkshGautam can you please confirm I was not able to replicate the issue.

[2018-03-01 14:01] mohak1712 opened #696 "Withdraw Loan button moves out of screen"
**Summary:**

Withdraw Loan button moves out of screen when the reason for withdrawal is long

**Steps to reproduce:**

Add a long reason for withdrawal.

**Expected behaviour:**

Withdraw Loan button should be visible no matter the length. User should be able to scroll

**Observed behaviour:**

Withdraw Loan button moves out of screen

**Device and Android version:**

LeEco2(6.0)

**Screenshots:*

[2018-03-01 14:01] mohak1712 commented on #696
I would like to work on this

[2018-03-01 16:21] harshitbansal05 opened #697 "White screen persisting for a short duration after opening app"
**Summary:**

When opening the app, a white screen is shown for a certain duration of time.

**Steps to reproduce:**

Open application.

**Expected behaviour:**

The white screen should be replaced by a splash screen containing the logo of the application.

**Observed behaviour:**

The white screen persists.

**Device and Android version:**

Redmi Note 3 Android Version: 5.1.1 Stock

[2018-03-01 16:26] ivary43 commented on #697
@harshitbansal05  please always attach a screenshot or gif for UI related issues.

[2018-03-01 16:53] miPlodder commented on #685
@dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-03-01 16:55] AkshGautam commented on #684
@ivary43  It is not working as expected on my device.

[2018-03-01 18:58] miPlodder opened #698 "Inconsistent check for Password during Signing Up"
**Summary:**

Inconsistent check for Password during Signing Up

**Steps to reproduce:**

1) Go to Sign Up
2) Enter less than 6 length password
3) Submit the form

**Expected behaviour:**

Instead of trying to connect to Server, first we should validate it locally

**Observed behaviour:**

Whereas it is trying to connect to server
Now, if user creates account successfully with smaller length passw

[2018-03-01 18:59] miPlodder commented on #698
@dilpreet96 @satyan @droidchef I would like to work on this issue.

[2018-03-01 19:02] ivary43 commented on #698
@miPlodder  this issue has already been reported in #654.

[2018-03-01 19:03] miPlodder commented on #698
@ivary43 Thanks for the info

[2018-03-01 19:03] #698 closed, assigned to nobody

[2018-03-01 19:10] miPlodder opened #699 "Password and Confirm Password not checked before submiting Signing Up"
**Summary:**

Password and Confirm Password not checked before submitting Signing Up

**Steps to reproduce:**

1) Go to Sign Up
2) Enter details (password and confirm password should not be same)
3) Submit the form

**Expected behaviour:**

User should be informed that both passwords are not matching

**Observed behaviour:**

Instead, its showing message and trying to Sign Up

**Device and Android

[2018-03-01 19:11] miPlodder commented on #699
@dilpreet96 @satyan @droidchef I would like to work in this issue.

[2018-03-01 19:14] ivary43 commented on #699
@miPlodder  please go through the issue #654. I have mentioned the same in the comment section.

[2018-03-01 19:15] miPlodder commented on #699
@ivary43 Thanks again for the info.

[2018-03-01 19:15] #699 closed, assigned to nobody

[2018-03-01 20:05] ivary43 opened #701 "Remove redundant casting in the project."
**Summary**
Remove redundant type cast from the project.In the project at many places we are using redundant type cast  e.g : ``` TextView tv = (TextView)findViewById(R.id.xxxx)```.
I think will be good for code clean up plus we are using butterknife so it will be better to use that.

[2018-03-01 20:06] ivary43 commented on #701
@therajanmaurya , @dilpreet96 i would like to work on this.

[2018-03-02 04:29] Rish02Sharma commented on #701
Hey @ivary43 i think its the same issue as #620 .. Still best of luck :+1:

[2018-03-02 05:28] miPlodder opened #702 "Inconsistent check for Username during Signing Up"
**Summary:**

Inconsistent check for Username during Signing Up

**Steps to reproduce:**

1) Go to Sign Up
2) Fill the details (username with spaces)
3) Submit details

**Expected behaviour:**

Instead, error message should be shown.

**Observed behaviour:**

If the form is submitted, new user will not be able login to the app (check for spaces in user name is present in login activity)

**Device

[2018-03-02 05:29] miPlodder commented on #702
@dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-03-02 05:35] miPlodder opened #703 "App crashes and causes UX issues when user submit or enter fragment for any form in Offline Mode"
**Summary:**

App crashes and causes UX issues when user submit or enter fragment for any form in Offline Mode (Dropdown contains empty value)

**Steps to reproduce:**

Open Transfer or Beneficiary Form in offline mode

**Expected behaviour:**

I guess, a better approach will be to show "No Internet" message on Screen

**Observed behaviour:**

Instead, it shows the form with no dropdowns which cau

[2018-03-02 05:36] miPlodder commented on #703
@dilpreet96 @satyan @droidchef I would like to work on this issue.

[2018-03-02 05:46] miPlodder opened #704 "Spaces in password field Inconsistency"
**Summary:**

Spaces in password are not excepted while Logging In

**Steps to reproduce:**

1) Go to Login Screen
2) Enter spaces in password

**Expected behaviour:**

Password should be excepted

**Observed behaviour:**

Password is not accepted

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![issue_spaces_in_password](https://user-images.githubusercontent.com/22195621/

[2018-03-02 05:46] miPlodder commented on #704
@dilpreet96 @satyan @droidchef I would like to work on this issue.

[2018-03-02 06:54] ivary43 commented on #703
@miPlodder this is same as #559.

[2018-03-02 06:56] ivary43 commented on #704
@miPlodder  spaces are not meant to be in the password only alphabet ,numbers and symbols are accepted in that field.I think it's pretty common in a password field.

[2018-03-02 08:11] miPlodder commented on #703
@ivary43 This issue is not to work to stop the Crash, but to prevent it. You can read my approach in the 1st comment. The approach is to not load the form, when there is no Internet Connection.

[2018-03-02 08:20] miPlodder commented on #704
@ivary43 I guess using spaces in passwords adds security strength of a password (prevents Dictionary attack and Brute Force Attack). Moreover, this is a banking app, where security should be our first priority.

[2018-03-02 09:37] ivary43 commented on #704
@miPlodder  if you are talking about security, I think **only spaces** is a very weak password plus it is not allowing because trailing spaces are trimmed before sending to the server.You can enter spaces in between the alphanumerics.I think that is allowed.

[2018-03-02 11:56] #589 closed, assigned to nobody

[2018-03-02 12:02] #612 closed, assigned to nobody

[2018-03-02 12:02] #607 closed, assigned to nobody

[2018-03-02 12:03] #558 closed, assigned to nobody

[2018-03-02 12:16] miPlodder commented on #704
@ivary43 I never talked of entering all only spaces. In GIF, I entered it to show that spaces are getting trimmed. Consider, a scenario if user entered leading and trailing space, it will trim it, which should not be done.

[2018-03-02 12:38] ivary43 commented on #704
@miPlodder  leading spaces are not trimmed only trailing ones are trimmed, plus in every input text field, we trim the trailing spaces because we don't know that was intentional or not you can look up the
 same in the codebase.

[2018-03-02 13:01] miPlodder commented on #704
@ivary43  I'm think of showing error (below password), if user adds leading or trailing spaces, because user should know leading and trailing  have to be avoided. And during Sign Up, do the same check on Sign Up.

Somewhat like this which Gmail uses,

![issue_password](https://user-images.githubusercontent.com/22195621/37087959-cdf7eb08-2221-11e8-8c93-152872d7af43.png)

[2018-03-04 08:45] YashishDua opened #708 "Navigation View Margin Error"
**Summary:**

On scrolling down navigation view has an unnecessary margin over top

**Steps to reproduce:**

Reducing the margin relatively

**Expected behaviour:**

No margin at top ( White Color must not be there)

**Observed behaviour:**

When Navigation view scrolled down, there is a margin at top revealing white color over blue. It's not syncing with UI

[2018-03-04 09:42] mohak1712 commented on #708
@YashishDua can you add a screenshot and I think this is similar to #692

[2018-03-05 04:09] Rish02Sharma opened #709 "Migrate from RxJava 1 to RxJava 2"
**Summary:**

Currently RxJava 1 is being used in the project but Rxjava 1 is a bit outdated now. We should migrate it to RxJava 2 now.

@therajanmaurya @dilpreet96 What do you think about this? Can I start working on this?

[2018-03-06 18:48] #578 closed, assigned to nobody

[2018-03-08 07:46] therajanmaurya commented on #709
Good @Rish02Sharma, I have given my suggestion please make the change and let me know I will review the whole PR then.

[2018-03-08 11:46] mohak1712 commented on #709
@therajanmaurya I think we can also add changes mentioned in #636. Can you please check

[2018-03-08 20:02] miPlodder opened #713 "UI Issue while adding Transfer"
**Summary:**

UI Issue while adding Transfer

**Steps to reproduce:**

1) Click on Transfer
2) Choose Transfer from Transfer Type

**Expected behaviour:**

End user should not be able to add money to his/her account from other users accounts due to UI Inconsistency

**Observed behaviour:**

End user can add money to his/her amount from other users accounts due to UI Inconsistency

**Device and And

[2018-03-08 20:03] miPlodder commented on #713
@dilpreet96 @satyan @droidchef I would like to work on this issue.

[2018-03-08 22:28] edcable commented on #713
Please go ahead in working on this issue @miPlodder

[2018-03-10 18:21] #521 closed, assigned to nobody

[2018-03-11 04:19] mohak1712 opened #714 "Add support for Java 8"
Summary:

Currently, Java 8 is not supported. With Java8 we can use lambda functions, method references etc
@therajanmaurya @dilpreet96 What do you think about this? Can I start working on this?

[2018-03-11 05:25] therajanmaurya commented on #702
Good Catch @miPlodder, yes your are right username doesn't consist any space in between because It is unique identity. Please make the changes I suggested in PR.

[2018-03-11 05:32] #686 closed, assigned to nobody

[2018-03-11 21:02] ivary43 opened #718 "Feature: forgot password option is absent in the app"
**Summary:**

Currently forgot password feature is not present in the app, there should be an option to reset password in case the client forgot the password

**Steps to reproduce:**
Open the login screen.

**Expected behaviour:**
The user should be able to reset the password in case he/she forgets the password via email link or any other method.

[2018-03-11 21:03] ivary43 commented on #718
@therajanmaurya , @dilpreet96  I will like to work on this feature (both app and API part).

[2018-03-11 21:19] ivary43 opened #719 "Feature: email or phone number verification while registering the client is absent."
**Summary:**
Currently, email or phone number verification while registering a user is absent in the app.

**Expected behaviour:**
Email or phone number verification should be present within the app as a unique identifier to contact the person, plus it adds an additional layer of security by avoiding fake registration.

[2018-03-11 21:20] ivary43 commented on #719
@dilpreet96 , @therajanmaurya  i would like to add this feature.

[2018-03-12 06:39] AkshGautam opened #720 "Progress Bar overshadowing Navigation drawer"
**Summary:**

Progress bar is currently overshadowing navigation drawer.According to my perception of UX, this should not happen and nav drawer should overshadow the progress bar when the drawer is opened. Currently this gives users the impression of something loading in navbar but actually, the progress bar is intended for the fragment below nav drawer.

**Screenshots:**

![20180312_091450](https

[2018-03-12 06:40] AkshGautam commented on #720
@therajanmaurya @dilpreet96  I would like to work on this

[2018-03-12 06:44] AkshGautam opened #721 "Progress Bar overshadowing activities which does not contain any information which is still loading."
**Summary:**

Currently, the progress bar is overshadowing activities which do not require any data to be loaded and are already in the final state. This need to be improved since this gives the impression to user that the loading is still in progress.

**Screenshots:**
![screenshot_2018-03-12-09-16-10](https://user-images.githubusercontent.com/19329788/37269066-e240ea12-25ee-11e8-8305-f0076722557

[2018-03-12 06:45] AkshGautam commented on #721
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-03-12 06:52] miPlodder commented on #721
@AkshGautam This issue has already been reported #678  and I working on it.

[2018-03-12 07:05] #721 closed, assigned to nobody

[2018-03-12 15:56] AkshGautam opened #722 "Clicking on Add beneficiary fab button should open new activity instead of fragment replacement"
**Summary:**

As suggested by @therajanmaurya  in the PR https://github.com/openMF/mifos-mobile/pull/705 comments that clicking the fab button while adding beneficiary should open a new activity instead of fragment replace.

I am working on it.

[2018-03-12 16:00] AkshGautam commented on #722
@therajanmaurya Why do we need a new activity instead of the fragment replacement? As an android developer, how do we make the tradeoff between a new activity or a fragment? I went through the https://stackoverflow.com/questions/20306091/dilemma-when-to-use-fragments-vs-activities post and it had several viewpoints. what do you think,which one to use when?

PS: I would like to work on this task

[2018-03-12 18:56] AkshGautam commented on #596
@sridharjajoo are you still working on this? I would like to take up this task if you are not working on it anymore.

[2018-03-12 19:12] sridharjajoo commented on #596
I will submit a pr till tomorrow

On Tue, Mar 13, 2018 at 12:26 AM, Aksh Gautam <notifications@github.com>
wrote:

[2018-03-12 20:28] #553 closed, assigned to nobody

[2018-03-12 20:40] miPlodder opened #723 "Empty Remark Accepted while withdrawing loan"
**Summary:**

Empty Remark Accepted while withdrawing loan

**Steps to reproduce:**

1) Go to Accounts
2) Go to Loan View Pager
3) Click on any Pending Loan
4) Withdraw the Loan

**Expected behaviour:**

User should be informed to entered Remark via Toast message

**Observed behaviour:**

Instead Empty Remark is accepted

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![is

[2018-03-12 20:40] miPlodder commented on #723
@dilpreet96 @therajanmaurya @droidchef @satyan I would like to work on this issue.

[2018-03-13 05:28] #709 closed, assigned to nobody

[2018-03-13 11:09] sridharjajoo commented on #563
@srijansoni Are you working on this issue?

[2018-03-13 11:24] sridharjajoo opened #726 "App crashing while making payment in Loans Section"
**Steps to reproduce:**
1) Go to Accounts -> Loan
2) Select the loan which is Active
3) Select Make Payment
4) Fill the form and select Transfer.

**Expected behaviour:**
The app shouldn't crash.

**Device and Android version:**
Xiaomi Redmi Note 3 (6.0.1)

**Screenshots:**
![device-2018-03-13-164810](https://user-images.githubusercontent.com/20684618/37338954-026ca4ac-26df-11e8-8c28-d1a818f03306.

[2018-03-13 11:26] sridharjajoo commented on #726
@dilpreet96 @therajanmaurya @droidchef @satyan I would like to work on this issue.

[2018-03-13 12:07] sridharjajoo opened #728 "App crashing while Updating loans"
**Steps to reproduce:**
1) Go to Accounts Section
2) Select Loans
3) Select any pending loan
4) Select Update Loan from the overflow menu

**Expected behaviour:**
App shouldn't crash

**Device and Android version:**
Xiaomi Redmi Note 3 (6.0.1)

[2018-03-13 13:12] miPlodder opened #729 "App crashes in User Profile Section"
**Summary:**

App crashes on opening User Profile Section

**Steps to reproduce:**

Open User Profile from Navigation Drawer by clicking on Personal Image

**Expected behaviour:**

App should not crash

**Observed behaviour:**

App crashes

**Device and Android version:**

Xiaomi

**Screenshots:**

![issue_user_profile_crashes](https://user-images.githubusercontent.com/22195621/37343540-de6cac00-2

[2018-03-13 13:12] miPlodder commented on #729
@therajanmaurya @dilpreet96 @satyan @droidchef I would like to work on this PR.

[2018-03-13 16:20] ivary43 commented on #729
@miPlodder  did you rebase ?? I think this should get resolved in #605 ..anyhow please check

[2018-03-13 16:26] miPlodder commented on #729
@ivary43 I did.

[2018-03-14 05:06] AkshGautam opened #731 "Toolbar label getting changed and minimized on orientation changes"
**Summary:**

Toolbar label is modified when the orientation of the screen changes.

**Steps to reproduce:**

1) Run the app
2) Select charges from navbar
3) Change orientatation.
4) Toolbar text changes and is minimized

**Expected behaviour:**

No change is fragment name.

**Observed behaviour:**

Fragment name gets modified.

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:

[2018-03-14 05:06] AkshGautam commented on #731
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-03-14 18:14] ivary43 opened #735 "feature:add filters for deposit and withdrawal in savings account transaction section"
**Summary:**
In savings account transactions the list is too long for some account.So it would be better if we add a filter for withdrawal and deposit, it would be much easier go through the transactions.

**Screenshots**
![screenshot_20180314-232927](https://user-images.githubusercontent.com/24601454/37422619-9a8be3d0-27e1-11e8-9c69-e17887134163.png)

[2018-03-14 18:15] ivary43 commented on #735
I would like to work on this feature.

[2018-03-14 20:53] miPlodder opened #736 "Improve UI Design of User Profile Fragment"
**Summary:**

Improve UI Design of User Profile Fragment in Offline mode

**Steps to reproduce:**

Click on User Image either from Nav Drawar or from Home Fragment

**Expected behaviour:**

Improper change of visibility, and activity should refresh on clicking the Error Icon (like done in other activities)

**Observed behaviour:**

Unwanted view are visible, clicking Error Icon does nothing

**Dev

[2018-03-14 20:54] miPlodder commented on #736
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this PR.

[2018-03-15 17:44] #701 closed, assigned to nobody

[2018-03-15 17:45] #704 closed, assigned to nobody

[2018-03-15 17:46] #685 closed, assigned to nobody

[2018-03-16 16:48] therajanmaurya commented on #722
@AkshGautam because of UX.

[2018-03-16 16:48] therajanmaurya commented on #722
Go ahead and send PR.

[2018-03-17 14:49] #591 closed, assigned to nobody

[2018-03-17 14:53] #555 closed, assigned to nobody

[2018-03-17 16:53] ankurs287 opened #737 "Passcode setup after logging in : Incomplete"
**Summary:**

No back button is provided when app asks to re-enter the passcode after logging in.

**Steps to reproduce:**

1) Log in into App.
2) Enter passcode and tap on proceed.
3) You will be redirected to the activity where it asks to re-enter the passcode.

**Expected behaviour:**

User should have the option to go back in case he/she -
1) forgets the passcode entered.
2) wants to change th

[2018-03-17 16:54] ankurs287 commented on #737
@therajanmaurya  @dilpreet96  @droidchef  @satyan  I would like to work on this. Thanks.

[2018-03-17 18:38] #731 closed, assigned to nobody

[2018-03-17 18:48] #678 closed, assigned to nobody

[2018-03-17 18:57] #588 closed, assigned to nobody

[2018-03-17 19:02] #650 closed, assigned to nobody

[2018-03-17 19:03] #692 closed, assigned to nobody

[2018-03-17 19:05] #675 closed, assigned to nobody

[2018-03-17 19:06] #680 closed, assigned to nobody

[2018-03-17 19:12] #609 closed, assigned to nobody

[2018-03-17 19:18] #656 closed, assigned to nobody

[2018-03-17 19:20] #660 closed, assigned to nobody

[2018-03-17 19:21] #654 closed, assigned to nobody

[2018-03-17 19:24] #635 closed, assigned to nobody

[2018-03-17 19:28] #629 closed, assigned to nobody

[2018-03-17 19:30] #634 closed, assigned to nobody

[2018-03-17 19:34] therajanmaurya commented on #632
No this is not perfect workflow. I am closing this PR.

[2018-03-17 19:34] #632 closed, assigned to nobody

[2018-03-17 19:37] #625 closed, assigned to nobody

[2018-03-17 19:38] #610 closed, assigned to nobody

[2018-03-17 19:51] #606 closed, assigned to nobody

[2018-03-17 20:01] #568 closed, assigned to nobody

[2018-03-17 20:09] #737 closed, assigned to nobody

[2018-03-17 21:09] AkshGautam opened #739 "Wrong Toolbar text on home/settings"
**Summary:**

The toolbar text changes to settings for home fragment. Moreover the settings fragment shows mifos mobile as the text instead of settings

**Steps to reproduce:**

1)run the app
2) open settings
3) go to home

The home toolbar shows settings as the toolbar text and settings fragment shows mifos mobile as toolbar text

**Screenshots:**

![20180318_023647](https://user-images.githubuse

[2018-03-17 21:09] AkshGautam commented on #739
@therajanmaurya @dilpreet96 I would like to work on this

[2018-03-17 21:20] AkshGautam opened #740 "Proper formatting of text when language is switched to hindi"
**Summary:**
The text items needs to be separated with space when the language is switched to the existing translations in hindi.

**Screenshots:**

![screenshot_2018-03-18-02-45-11](https://user-images.githubusercontent.com/19329788/37560054-0379d86c-2a57-11e8-973b-8fb277bb7259.png)

![screenshot_2018-03-18-02-45-40](https://user-images.githubusercontent.com/19329788/37560055-09c751ea-2a57-11e8-9

[2018-03-17 21:20] AkshGautam commented on #740
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-03-17 21:35] AkshGautam opened #741 "Settings fragment getting dismissed on change of language"
**Summary:**

Change of language dismisses the settings fragment and redirects the user to home fragment.The user might have some other changes to make in settings for which he has to go to settings again which is not good UX.

**Steps to reproduce:**

1) Run the app
2) Click settings
3) Change language

**Expected behaviour:**

After change of language user stays in settings fragment.

**Observed

[2018-03-17 21:45] AkshGautam opened #742 "Adding translations which exists in strings.xml"
**Summary:**

Translations of some string already exist in string.xml file but are not applied in parts such as drop down.

**Screenshots:**
![screenshot_2018-03-18-03-07-38](https://user-images.githubusercontent.com/19329788/37560219-7b218d9e-2a5a-11e8-924e-c9d4ecec1ff8.png)

![screenshot_2018-03-18-03-09-37](https://user-images.githubusercontent.com/19329788/37560222-7ea97170-2a5a-11e8-9cba-0aba

[2018-03-17 21:45] AkshGautam commented on #742
@therajanmaurya @dilpreet96  I would like to work on this

[2018-03-18 06:12] sridharjajoo opened #744 "UI issue in the Home Activity"
**Summary:**
In the home activity there is a UI Issue in which the the card views present in the 2nd row are cut out at the bottom.

**Steps to reproduce:**
Go to the Home Activity.

**Screenshots:**
![img_20180318_114059](https://user-images.githubusercontent.com/20684618/37563195-6f58b932-2aa1-11e8-863d-219485d59eb9.png)

[2018-03-18 06:13] sridharjajoo commented on #744
@therajanmaurya @droidchef I would like to work on this issue

[2018-03-18 08:12] sridharjajoo opened #745 "Message in case of no beneficiaries"
**Summary**
If no beneficiary is added then the screen should show an appropriate message.

**Steps to reproduce:**
Go to the benfeciary section of the app.

**Expected behaviour:**
The screen is blank.

**Screenshots:**

![screenshot_2018-03-18-12-03-45-464_org mifos mobilebanking](https://user-images.githubusercontent.com/20684618/37563947-218aaf74-2ab2-11e8-9cb6-9b5586298f90.png)

[2018-03-18 08:13] sridharjajoo commented on #745
@therajanmaurya @droidchef I want to work on this issue.

[2018-03-18 08:27] ivary43 commented on #745
@sridharjajoo this is same as #658.

[2018-03-18 08:28] miPlodder opened #746 "App Crashes on Updating Loan"
**Summary:**

App Crashes on Updating Loan

**Steps to reproduce:**

1) Go to Accounts
2) Go to Loans Section
3) Open any Pending Loan
4) Update it from the Toolbar

**Expected behaviour:**

App should not crash, and update Loan form should be loaded.

**Observed behaviour:**

Instead, App crashes

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![issue_update_loan](https:/

[2018-03-18 08:29] miPlodder commented on #746
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-03-18 08:29] miPlodder opened #747 "No check for empty Edittexts and for validity of Url, causes App to crash"
**Summary:**

No check for Empty Base Url, cause App to crashes

**Steps to reproduce:**

1) Go to Setting
2) Change the Base Url from Update Endpoints

**Expected behaviour:**

Instead User should be informed to enter valid Url

**Observed behaviour:**

App crashes and next time when the user tries to open it App crashes ( It degrades UX )

**Device and Android version:**

Xiaomi, Marshmallow

**

[2018-03-18 08:30] miPlodder commented on #747
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-03-18 08:30] miPlodder opened #748 "No error message on Login In when wrong API end is changed"
**Summary:**

No error message on Login In when wrong API end is changed

**Steps to reproduce:**

1) Change API Endpoint
2) Enter Credentials and try to Log In

**Expected behaviour:**

User should be shown Error message, that Invalid requests are made

**Observed behaviour:**

User is not informed about what's going wrong

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

!

[2018-03-18 08:30] miPlodder commented on #748
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-03-18 08:31] sridharjajoo commented on #746
@miPlodder Same as #728

[2018-03-18 08:32] #745 closed, assigned to nobody

[2018-03-18 08:33] miPlodder commented on #746
@sridharjajoo Thanks for the info.

[2018-03-18 08:33] #746 closed, assigned to nobody

[2018-03-18 08:38] miPlodder opened #749 "Change API Endpoint option not present at Log In Activity"
**Summary:**

Change API Endpoint option not present at Log In Activity

**Steps to reproduce:**

Change the Endpoint from Settings

**Expected behaviour:**

If User changes Endpoint, then User is taken Log In Activity. Now, if User entered a wrong Endpoint, he/she would not be able to Log In. Then, only way to Log In is by uninstalling the App and installing Again, which is not good for UX of the

[2018-03-18 08:39] miPlodder commented on #749
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-03-18 08:49] AkshGautam opened #750 "Enhancement:Placing cursor at the end of edit text to save user click"
**Summary:**

Currently the cursor is placed at starting of the edit text and requires one more click if user wants to backspace the text.

**Steps to reproduce:**

1) Run the app
2) settings
3) Update end point

**Expected behaviour:**

cursor at end of string

**Observed behaviour:**

cursor at beginning.

**Screenshots:**
![20180318_141731](https://user-images.githubusercontent.com/19329788/375

[2018-03-18 08:50] AkshGautam commented on #750
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-03-18 09:04] AkshGautam opened #751 "Improving the UI of the review fragment."
**Summary:**

Currently, the review fragment is minutely scrolling even if the fields in it does not overflows. The fragment should only scroll if the items overflow.

**Screenshots:**

![20180318_142947](https://user-images.githubusercontent.com/19329788/37564312-73a8d82e-2ab9-11e8-8522-b1154b8b385d.gif)

I want to work on this.

[2018-03-18 09:04] AkshGautam commented on #751
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-03-18 09:08] sridharjajoo opened #752 "Keyboard persists during 3rd party transfer"
**Summary:**
Under 3rd party transfer when the remarks are entered and the review is selected , the keyboard doesn't get dismissed.

**Steps to reproduce:**
Go to 3rd party transfer and add the remarks and select REVIEW.

**Screenshot**
![device-2018-03-18-144442](https://user-images.githubusercontent.com/20684618/37564390-1626fddc-2abb-11e8-9623-6607f6ed8178.gif)

**Expected behaviour:**
The keyb

[2018-03-18 09:09] sridharjajoo commented on #752
@therajanmaurya @droidchef I want to work on this issue.

[2018-03-18 09:12] miPlodder commented on #752
@sridharjajoo Please Add Screenshots or GIF for this issue.

[2018-03-18 09:17] sridharjajoo commented on #752
@miPlodder Added the gif

[2018-03-18 14:10] mohak1712 opened #754 "Closed filter not working as expected"
**Summary:**

Using the closed filter on Loan doesn't filter all the items

**Steps to reproduce:**

Open the loan fragment and use the close filter

**Expected behaviour:**

It should show all the closed loans

**Observed behaviour:**

It just shows one closed loan.

**Device and Android version:**

LeEco2(6.0)

**Screenshots:**

![whatsapp image 2018-03-18 at 19 36 35 2](https://user-images.gith

[2018-03-18 14:11] mohak1712 commented on #754
I would like to work on this

[2018-03-18 14:16] mohak1712 opened #755 "feature : Add missing filter for Waiting for Disburse in Loan"
**Summary:**

Currently, there is no way to filter `Waiting for Disburse` in Loan fragment

**Steps to reproduce:**

Open the filter in Loan fragment.

**Expected behaviour:**

There should be a filter so that user can filter these loans also.

**Observed behaviour:**

There is no filter available

**Device and Android version:**

LeEco2 (6.0)

**Screenshots:**

![whatsapp image 2018-03-18 at 19 3

[2018-03-18 14:16] mohak1712 commented on #755
I would like to work on this

[2018-03-18 14:19] #628 closed, assigned to nobody

[2018-03-18 14:23] #671 closed, assigned to nobody

[2018-03-18 14:28] #696 closed, assigned to nobody

[2018-03-18 14:29] #679 closed, assigned to nobody

[2018-03-18 15:01] ivary43 commented on #755
@mohak1712 please rebase it has been fixed.

[2018-03-18 15:08] mohak1712 commented on #755
@ivary43 thanks

[2018-03-18 15:08] #755 closed, assigned to nobody

[2018-03-18 15:38] #663 closed, assigned to nobody

[2018-03-18 18:03] sridharjajoo opened #758 "Error in displaying Total Deposit amount"
**Summary:**
The total deposit amount in the SavingsAccountDetailsFragment.java doesn't show the amount in a formatted manner i.e the commas aren't placed as they are present under Total Withdrawls.

**Steps to reproduce:**
Go to Accounts -> Savings.

**Screenshots:**
![screenshot_2018-03-18-23-29-22-333_org mifos mobilebanking](https://user-images.githubusercontent.com/20684618/37569182-9d374d10-

[2018-03-18 18:03] sridharjajoo commented on #758
@therajanmaurya @dilpreet96 I want to work on this issue.

[2018-03-19 10:52] AkshGautam opened #763 "Adding Butterknife to existing code"
**Summary:**

Currently, the file such [as](https://github.com/openMF/mifos-mobile/blob/development/app/src/main/java/org/mifos/mobilebanking/utils/ConfigurationDialogFragmentCompat.java) does not contain Butterknife whereas the projects uses butterknife extensively. I would like to work on adding butterknife support to all such files do not use it.

[2018-03-19 10:53] AkshGautam commented on #763
@therajanmaurya @dilpreet96  May i work on this?

[2018-03-19 15:03] miPlodder opened #764 "Adding Numeric Softkeyboard for Account Number"
**Summary:**

Adding Numeric Softkeyboard for Account Number

**Steps to reproduce:**

Go to Log In Screen

**Expected behaviour:**

Numeric Softkeyboard should be displayed

**Observed behaviour:**

Instead, Normal Softkeyboard is displayed

**Device and Android version:**

Xiaomi, Marshmallow

[2018-03-19 15:04] miPlodder commented on #764
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on it.

[2018-03-19 18:44] shobhit1997 opened #767 "App Crashes while launching in Redmi 2"
The App crashes when I try to open it on my phone.
I am building the app on Redmi 2 with android kitkat.
Screenshot of the logs.
![screenshot 38](https://user-images.githubusercontent.com/22341511/37615509-806d8f1c-2bd3-11e8-8453-8a6d53e33ede.png)
![screenshot 40](https://user-images.githubusercontent.com/22341511/37615512-80fef196-2bd3-11e8-86e2-1bd14260167a.png)

[2018-03-19 18:48] mohak1712 commented on #754
@dilpreet96  @therajanmaurya there is one case where none of the status types is true. However, when setting data to adapter it sets the type to close if others are false without checking if it actually is closed. So that is why the filter is failing in that case. Should I add another category like `others` or update the filter

[code]

[code]

[2018-03-19 20:17] ivary43 opened #770 "feat:Adding filters into transactions section of loan accounts."
**Summary:**

Currently, no filter feature is present in the transaction section of loan accounts.There should be filter option present to filter on basis of date in the transaction section of loan accounts.

**Steps to reproduce:**

Go to loan section pick any account which is in arrears or active.

**Expected behaviour:**

There should be a filter option present in the transaction section becaus

[2018-03-19 20:18] ivary43 commented on #770
@therajanmaurya , @dilpreet96 i would like to work on this issue.

[2018-03-20 07:44] luckyman20 commented on #764
@miPlodder In Mifos, Account Number can be alpha numeric

[2018-03-20 18:24] #750 closed, assigned to nobody

[2018-03-20 18:31] #740 closed, assigned to nobody

[2018-03-20 18:36] #764 closed, assigned to nobody

[2018-03-21 06:44] #767 closed, assigned to nobody

[2018-03-21 06:48] shobhit1997 opened #772 "The app crashes on API 19"
The app crashes while launching on API 19 ( Kitkat ).
(Tested on Redmi 2)

The minSdkVersion mentioned is 15 so ,the app should run on API 19.

[2018-03-22 08:41] #729 closed, assigned to nobody

[2018-03-22 09:12] #573 closed, assigned to nobody

[2018-03-22 09:58] therajanmaurya commented on #772
@shobhit1997 It is an issue of support library. Please see the log. still not resolved and the app is running on API 15, 16, 17, 18, not 19 and 20, 21, 22, 23 +.

As the support library issue will be resolved. It is vector drawable issue.

[2018-03-22 09:58] #772 closed, assigned to nobody

[2018-03-22 09:59] therajanmaurya commented on #763
Go ahead and send PR.

[2018-03-22 10:00] therajanmaurya commented on #758
Go ahead and send PR.

[2018-03-22 10:01] therajanmaurya commented on #754
Go ahead and send PR.

[2018-03-22 10:02] therajanmaurya commented on #752
@sridharjajoo Please make change on PR.

[2018-03-22 10:28] AkshGautam opened #774 "Adding sweet-error library support across the application."
**Summary:**

Addition of library [Sweet error Library](https://github.com/therajanmaurya/Sweet-Error) across the application in order to avoid manual handling of UI handling error.

[2018-03-22 10:34] AkshGautam commented on #774
@therajanmaurya I would like to be a part of this task.

[2018-03-22 12:55] miPlodder opened #775 "Softkeyboard block UI in Accounts"
**Summary:**

Softkeyboard block UI in Accounts

**Steps to reproduce:**

1) Go to Accounts
2) Press the Search Icon to Search
3) Swipe to go to another fragments

**Expected behaviour:**

Softkeyboard should hide when we change fragments

**Observed behaviour:**

Instead, it blocks the UI

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![issue_softkeyboard](https://user-i

[2018-03-22 12:56] miPlodder commented on #775
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this PR.

[2018-03-22 13:06] ivary43 commented on #774
@therajanmaurya  me too.

[2018-03-22 18:37] AkshGautam opened #778 "Transfer within same account"
**Summary:**

Currently, the material stepper is allowing to proceed to review fragment on making a transfer within the same account which should be prohibited.

**Steps to reproduce:**

1) Run the app
2) Transfer
3) Complete the process

**Expected behaviour:**

User should not be allowed to movew to review fragment in case details are incorrect.

**Observed behaviour:**

user is allowed to move

[2018-03-23 00:47] ivary43 opened #781 "minor gradle refactor"
**Summary:**

In Gradle, versions of some dependency is mentioned directly but according to the convention it should be fetched from rootProject.

[2018-03-23 01:38] ivary43 opened #782 "Adding check for network connection in activities and fragments."
**Summary:**

In many fragments, while showing error, network connectivity is not checked which leads to a less suitable error message like "error loading in {Feature name}" whereas the message should reflect that there is no internet connection.

**Screenshots:**

![screenshot_20180323-070210](https://user-images.githubusercontent.com/24601454/37806976-f7132022-2e68-11e8-9643-499a4d35e6b3.png)

[2018-03-23 01:39] ivary43 commented on #782
@therajanmaurya , @dilpreet96  I would like to work on this issue.

[2018-03-27 09:17] miPlodder opened #788 "Latency in Floating Label in EditText in Update Endpoint"
**Summary:**

Latency in Floating Label in EditText in Update Endpoint

**Steps to reproduce:**

1) Go to Settings from Navigation Drawer
2) Click on Update Endpoints

**Expected behaviour:**

No latency should be there in animating EditText's Floating Label in Update Endpoint

**Observed behaviour:**

Instead, there is latency in EditText's Floating Label, which degrades the UI

**Device and Andr

[2018-03-27 09:18] miPlodder commented on #788
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-03-30 05:56] #758 closed, assigned to nobody

[2018-03-30 05:57] #781 closed, assigned to nobody

[2018-03-30 05:59] #775 closed, assigned to nobody

[2018-04-01 17:01] miPlodder opened #791 "Account Overview Animation is not in sync with other views"
**Summary:**

Account Overview Animation is not in sync with other views

**Steps to reproduce:**

Click on Account Overview

**Expected behaviour:**

Layout below the Account Overview should be in coordination with it

**Observed behaviour:**

Instead, it's not.

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![issue_overview_animation](https://user-images.githubuserconte

[2018-04-01 17:02] miPlodder commented on #791
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-04-02 11:41] #791 closed, assigned to nobody

[2018-04-02 11:42] #739 closed, assigned to nobody

[2018-04-02 11:43] #744 closed, assigned to nobody

[2018-04-02 11:52] #751 closed, assigned to nobody

[2018-04-02 13:35] miPlodder opened #793 "Nav Drawer selected item on Logout cancelling"
**Summary:**

Nav Drawer selected item on Logout cancelling

**Steps to reproduce:**

1) Open Nav Drawer
2) Click Logout
3) Then, Cancel logout

**Expected behaviour:**

Nav Drawer selected item should be at Home

**Observed behaviour:**

Instead, it's on Logout which causes inconsistency in Nav Drawer and Home Activity

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![iss

[2018-04-02 13:38] miPlodder commented on #793
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-04-02 14:35] miPlodder opened #794 "Invalid User name is shown in User Profile"
**Summary:**

App name is shown as Username ("Mifos Mobile") in User Profile

**Steps to reproduce:**

Click on User Profile Image

**Expected behaviour:**

App name ("Mifos Mobile") should not be shown at Username place and username should be shown directly

**Observed behaviour:**

Instead, "Mifos Mobile" is shown for few seconds and then it's changed which degrades the UI

**Device and Android

[2018-04-02 14:36] miPlodder commented on #794
@therajanmaurya @dilpreet96 @satyan @droidchef I would like to work on this issue.

[2018-04-02 14:58] ivary43 opened #795 "feat: adding recylerview instead of tables in repayment Schedule and other section of app."
**Summary:**

Currently, table layout is used in the repayment schedule and other section which is a not good UI wise, I think we should replace that with recyclerview.

**Steps to reproduce:**

Loan->Any active loan ->Repayment schedule.

**Expected behaviour:**

There should be recycler view instead of table layout.

**Observed behaviour:**

Table layout was present instead of recyclerview.

**D

[2018-04-02 14:59] ivary43 commented on #795
@therajanmaurya ,  @dilpreet96 , @droidchef  I would like to work on this issue.

[2018-04-02 15:15] ivary43 opened #796 "feat: adding bottom sheet navigation in the project for better UI navigation."
**Summary:**

I think we should switch to bottom sheet navigation instead of normal menus in the app for better UI navigation and also in add beneficiary option since we have to select only options there so a bottom sheet will be better in place of a fragment.

[2018-04-02 15:16] ivary43 commented on #796
@therajanmaurya , @dilpreet96 , @droidchef  I would like to work on this issue.

[2018-04-03 18:26] AkshGautam opened #799 "Card View getting cut down on orientation changes"
**Summary:**

Card view in add beneficiary fragment is getting cut on orientation change to landscape

**Steps to reproduce:**

1) Run the app
2) Add benficiary
3) Fab button
4) Orientation change to landscape

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**

![screenshot_2018-04-03-23-47-25](https://user-images.githubusercontent.com/19329788/38267968-9325a04a-379a-11e8-80c

[2018-04-03 18:26] AkshGautam commented on #799
@therajanmaurya @dilpreet96  I would like to work on this.

[2018-04-04 13:29] ivary43 opened #801 "feat: adding password strength checker while registering a new client."
**Summary:**

Currently on signing up the strength of password while setting it up is not shown.Since this is a banking app I think it would be pretty helpful if we suggest the strength of the password so that user can set up a strong password for better security.
I want to add something like this:
![4xh8y](https://user-images.githubusercontent.com/24601454/38310424-2434acbc-383a-11e8-84b6-0748a10

[2018-04-04 13:30] ivary43 commented on #801
@therajanmaurya, @dilpreet96  I would like to work on this enhancement.

[2018-04-05 10:38] #799 closed, assigned to nobody

[2018-04-05 10:40] #763 closed, assigned to nobody

[2018-04-05 10:41] #794 closed, assigned to nobody

[2018-04-05 10:44] #752 closed, assigned to nobody

[2018-04-06 09:48] dmiepub opened #802 "Not able to login after updating api endpoint"
**Summary:**

We updated the api endpoint in settings and try to login using our self service user account.  It is not showing any message while we have tested our self service user account using apis. It is working with apis but not working with mifos-mobile app.

Is there any other configurations required apart from making account self service field true and maping with the client?

[2018-04-12 18:22] #658 closed, assigned to nobody

[2018-04-12 18:23] #665 closed, assigned to nobody

[2018-04-12 18:24] #702 closed, assigned to nobody

[2018-04-14 16:32] edcable opened #804 "Wrong dialogue message for third party transfer"
**Summary:**

The prompt for first step of a third party transfer reads "Select account to pay to" rather than " Select account to pay from"

**Steps to reproduce:**

Go to transfers, then third party transfers.

**Expected behaviour:**

To display select account to pay from

**Observed behaviour:**

Wrong message displayed.
**Device and Android version:**

LeEco Android 6.0.1

[2018-04-14 16:33] edcable commented on #804
![screenshot_20180414-092607](https://user-images.githubusercontent.com/823454/38770366-e3f8c004-3fc6-11e8-9fd2-af3d5a80ec44.jpg)

[2018-04-14 19:14] miPlodder commented on #804
@edcable I would like to work on this issue.

[2018-04-14 19:48] miPlodder opened #806 "Spinner Prompt Message not showing in Add Beneficiary"
**Summary:**

Spinner Prompt Message not showing in Add Beneficiary

**Steps to reproduce:**

Go to **Beneficiary > Click FAB > Click Add**
Now, **Select Account Type**

**Expected behaviour:**

Spinner Prompt Message should be visible like other Spinner's in app

**Observed behaviour:**

Instead, Spinner Prompt Message is not visible

**Device and Android version:**

Xiaomi, Marshmallow

**Screen

[2018-04-14 19:50] miPlodder commented on #806
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-04-15 09:32] #804 closed, assigned to nobody

[2018-04-15 09:42] therajanmaurya commented on #806
Yeah go ahead and remove this prompt message and use simple spinner.

[2018-04-15 09:46] therajanmaurya commented on #802
Hi @dmiepub, I don't think there should be coming any error, can you please share base url with me or email me rajanmaurya154@gmail.com I will guide you.

[2018-04-15 09:49] #788 closed, assigned to nobody

[2018-04-15 15:07] edcable opened #807 "Wrong message on loan payment screen"
**Summary:**

Screen reads Transfer to Savings when it should read Payment from Savings or Payment to Loan

**Steps to reproduce:**

Repay an active loan from savings account.

**Expected behaviour:**

What

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

LeEco Android 6.0.1

**Screenshots:**

[2018-04-15 15:07] edcable commented on #807
![screenshot_20180415-075546](https://user-images.githubusercontent.com/823454/38779924-15b40366-4084-11e8-844a-51dffab61421.jpg)

[2018-04-15 15:09] miPlodder commented on #807
@edcable I would like to work on this issue.

[2018-04-15 15:54] edcable commented on #807
@miPlodder certainly please take it up.

[2018-04-15 16:24] edcable opened #808 "Loan repayment should pre-populate with amount due like in Web App"
**Summary:**

When repaying a loan, the amount due should pre-populate with the current amount due like in the web app.

**Steps to reproduce:**

Navigate to a loan, click to repay.

**Expected behaviour:**

Value in the payment field pre- populated with the amount due, i.e. current installment plus any amount overdue, penalties, etc.

This should be a value in the database. See what is returned i

[2018-04-15 16:54] ivary43 commented on #808
@edcable  I would like to work on this.

[2018-04-18 14:48] dilpreet2028 commented on #808
Go ahead @ivary43

[2018-04-19 16:26] #806 closed, assigned to nobody

[2018-04-19 16:28] #793 closed, assigned to nobody

[2018-04-19 16:39] AkshGautam opened #810 "Adding simple spinner in apply for loan and other activities"
**Summary:**

Replacing the current  dialog spinner with the usual drop down spinner.

![screenshot_2018-04-19-22-06-46](https://user-images.githubusercontent.com/19329788/39005631-5448d7f8-441e-11e8-8d35-2e4e2a685321.png)

@therajanmaurya  @dilpreet96  I would like to work on this.

[2018-04-21 08:03] edcable opened #813 "App crashes when submitting loan repayment"
**Summary**

All crashes when submitting a loan repayment

**Steps to reproduce:**
Navigate to loan, pay from account that has enough funds.

**Expected behaviour:**

Successfully submit payment and display receipt of sorts.

**Observed behaviour:**
Crashes app ( see screenshot)

**Device and Android version:**

Android 6.0.1
![screenshot_20180421-005313](https://user-images.githubusercontent.com/

[2018-04-21 08:06] AkshGautam commented on #813
@edcable sir, May I work on this?

[2018-04-21 08:27] edcable opened #814 "Should display more descriptive error message when not enough funds in chosen saving account to repay loan"
**Summary:**

When attempting to repay a loan from a savings account that doesn't have enough funds, error message isn't as accurate as it should be

**Steps to reproduce:**

Navigate to an active loan, re pay it but sleeve an amount greater than the balance in the chosen savings account.

**Expected behaviour:**

Error message should be specific and say there is not enough funds, not the vague er

[2018-04-21 08:28] AkshGautam commented on #814
@edcable sir, i would like to work on this.

[2018-04-21 15:49] luckyman20 commented on #807
@miPlodder Are you still working on this?

[2018-04-21 15:52] miPlodder commented on #807
@luckyman20 Yes, I'm.

[2018-05-03 19:00] ivary43 commented on #774
@AkshGautam  can you please make a to-do list of all the fragments where we need to add this library so we can figure out where we have to work.

[2018-05-05 10:22] miPlodder opened #818 "Resizing the Forms UI Size when Softkeyboard is active"
**Summary:**

Resizing the Forms UI Size when Softkeyboard is active

**Steps to reproduce:**

Go to any form and click on the EditText

**Expected behaviour:**

UI should resize, and if UI is bigger it should be scrollable for better UX (for all forms)

**Observed behaviour:**

Instead, it's not

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![issue_softkeyboard](https:/

[2018-05-05 10:23] miPlodder commented on #818
@therajanmaurya @dilpreet96 @droidchef @satyan I would like to work on this issue.

[2018-05-06 15:04] #807 closed, assigned to nobody

[2018-05-06 15:32] miPlodder opened #820 "Fabric Api key is missing in Android Manifest"
**Screenshots:**

![issue_crashlytics](https://user-images.githubusercontent.com/22195621/39674874-88d0b298-5170-11e8-93ee-bfa8c8a41c2c.png)

[2018-05-06 15:55] therajanmaurya commented on #726
@miPlodder this issue still exist
[code]

[2018-05-06 15:59] miPlodder commented on #726
@therajanmaurya It's duplicate issue. Please check #813

[2018-05-06 16:02] therajanmaurya commented on #726
duplicate issue #813

[2018-05-06 16:02] #726 closed, assigned to nobody

[2018-05-06 16:04] #461 closed, assigned to nobody

[2018-05-06 16:05] #549 closed, assigned to nobody

[2018-05-06 16:05] #550 closed, assigned to nobody

[2018-05-06 16:11] therajanmaurya commented on #674
@miPlodder this is server default value, It should be like this.

[2018-05-06 16:11] #674 closed, assigned to nobody

[2018-05-06 16:13] #810 closed, assigned to nobody

[2018-05-06 20:03] ivary43 commented on #808
@dilpreet96  please review the PR.

[2018-05-07 11:23] miPlodder commented on #574
@AkshGautam Snackbar Error message is triggered due to Home Fragment, whereas Toast message is triggered due to Accounts Fragment.

[2018-05-14 20:39] miPlodder opened #829 "NumberFormatException exception while adding Beneficiary"
**Summary:**

NumberFormatException exception while adding Beneficiary

**Steps to reproduce:**

Add beneficiary

**Expected behaviour:**

Integer value should be send to the server

**Observed behaviour:**

Instead, we are sending Double to the server

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![screenshot 158](https://user-images.githubusercontent.com/22195621/40022

[2018-05-14 20:39] miPlodder commented on #829
@therajanmaurya I working on this.

[2018-05-15 14:48] miPlodder commented on #580
@therajanmaurya I'm thinking of adding a Refresh Button on the Toolbar, so that user can press it can re-fill the form again. Please tell is this approach workable for this issue.

[2018-05-17 12:44] miPlodder opened #833 "Support for applying Savings Accounts"
**Details :**

Keeping consistency in the UI design throughout the app, helps in better UX. So, I’m thinking of
adding a Floating Action Button at the bottom of the fragment, similar to that in Loan Fragment.
Moreover, after adding Saving Accounts, we can also add a Confirmation Screen which will
show the details entered in the form, from there user can either Cancel or Apply from Saving
Accounts.

[2018-05-17 12:45] miPlodder opened #834 "Support for viewing, applyling Share Accounts"
**Details :**

Similar to Saving Accounts, and Loan Accounts, I will be using the same UI design for Share
Accounts, that’s adding Floating Action Button at the bottom of the fragment. Moreover,
currently on clicking a Share Account item, nothing happens, so will be working on adding
functionality to view Share Accounts.

[2018-05-17 12:46] miPlodder opened #835 "Support for adding Guarantors"
**Details :**

Adding support for adding Guarantor for every Loan. Moreover, adding functionality for
updating, and removing the Guarantor should also be available. This can be achieved by adding a
three dot menu on the Toolbar on the Loan Account Details Screen.

[2018-05-17 12:48] miPlodder opened #836 "Support for Customer Support/Chat"
**Details :**

I found this Chat SDK (https://github.com/chat-sdk/chat-sdk-android) which is an Open Source Project and free to use. We can integrate this in project, for providing Chat Support to the Customers.
Apart, from that we can even make the Customer Support Chat from scratch using Firebase Realtime Database. On the server side, we can add basic Web Interface for the staff to respond to th

[2018-05-17 12:49] ivary43 commented on #834
@miPlodder did you talk with Rajan for this?? We are on same project.

[2018-05-17 12:51] miPlodder opened #837 "Integration with external Payment System"
**Details :**

The community suggested two External Payment System, M-Pesa and Stellar in the mailing list.
Since, Africa has the highest User Base for this application, and M-Pesa (Safaricom) being Africa’s most dominant mobile money provider. Hence, we can integrate M-Pesa in the application. That’s adding a new type of Transaction that enables customer, to transfer money from his/her account to

[2018-05-17 12:52] miPlodder opened #838 "Dashboards/Visualizations"
**Details :**

We will be replacing the old materialized dashboard with the new dashboard which has already
been implemented, along with it adding some enhancements to it’s design. Apart from that we can also add some visualizations such as adding Stacked Bar Plots for user to see how many numbers of Saving Accounts, Loans, Share Accounts, he/she is having over last week. Similarly, adding Scatter

[2018-05-17 12:54] miPlodder opened #839 "Support for editing user details including personal photo, client details"
**Details :**

Whenever user clicks on his/her Personal photo either on the Dashboard or on the Navigation
Drawer, the user is taken to the his/her Profile page, there we can add Button, next to Photo (will
change present ImageView to circular ImageView, as current ImageView is too large and images
doesn’t look good there ).

**Mockup :**

![image](https://user-images.githubusercontent.com/2219562

[2018-05-17 12:54] miPlodder opened #840 "Support for viewing Reports"
**Details :**

We can enable the user to view reports and even download the report to their mobile devices. We can even add an option to send report as an email to the Email Id of the user.

[2018-05-17 12:55] miPlodder opened #841 "Support for surveys / Questionnaires"
**Details :**
Requirement Elicitation can be done through app using 2 ways, Surveys and Feedback (Needs Community Approval).

For Survey, we can add Multiple Choice Questions, because user wouldn’t want to like descriptive answers to 5 -10 questions.  I would also like to add a completely new functionality into Survey, like question which ask user to rate their experience (0 – Poor, 5 – Excellent

[2018-05-17 12:58] ivary43 commented on #834
Yes or no ??

[2018-05-17 12:59] miPlodder commented on #834
@ivary43 I had a talk with @therajanmaurya today. He was having some issue on his side regarding number of Android Interns. Although, I told him about you, it would be better if you mail him.

[2018-05-17 13:07] miPlodder opened #842 "Allow user to import QR Code from gallery for adding a Beneficiary"
**Details :**

User can import the QR Code from the gallery. To implement this functionality, User will have
to adjust the QR Code and put it inside the box either by Zooming (In/Out) or by moving the
image. When the User has adjusted the image, he/she can press the Scan Button to proceed, or
Cancel Button if he/she doesn’t want to scan the QR Code.
After successful scan, Add Beneficiary form will

[2018-05-17 13:11] miPlodder opened #843 "Testing and Documenting the project"
**Details :**

Writing Unit and Integration Test for Application. Apart from that enhancing the documentation of the project.

[2018-05-17 13:13] miPlodder opened #844 "Add reCAPTCHA"
**Details :**

We can add reCAPTCHA during the Login process to enhance the Security of the app.
I have worked on two approaches to implement it. Firstly by generating random alphanumeric
characters, and then displaying then on a view, and validating them when user enters it.
Secondly, by using SafetyNet API (https://developer.android.com/training/safetynet/recaptcha)
​

[2018-05-17 13:16] miPlodder opened #845 "Make Writing and Displaying larger number convenient for User"
**Details :**

For instance, while Signing Up, user has to enter his/her Account Number, it’s difficult for the
user to count the number of zeroes entered or even validate, the entered account number
properly.
A better approach will be to automatically add spaces after every 3 digits entered for better
visibility to the user. It can also be used while entering his/her phone number (even on helplin

[2018-05-17 13:16] miPlodder opened #846 "UI Enhancements"
**Details :**

**(1) Adding Gradients**
We can add Colour Gradient, preferably bluish on screens where there is lesser textual content,
for instance Splash Activity, Passcode activity, or even on Widgets etc.

**(2) Submit Button at bottom**
One UI Enhancements that I have learnt by working on and using other Android Application, is
that adding full width Submit Button for the form improves the Us

[2018-05-17 13:24] miPlodder opened #847 "Username and Image should be shown when Internet is not there in Home Fragment"
**Details :**

Currently, what happens is that in Home Fragment, Username’s TextView is blank, because it’s
being fetched for some time. Similarly, Total Savings and Total Loan Amount fields are also
empty. It’s a bad UI design in case of no or slow Internet.
Instead, we can store them in the Shared Preference and show them when Internet Connection is
slow, and update the Shared Prefs and data on

[2018-05-17 13:50] ivary43 commented on #829
@miPlodder I think this a server-side issue ..I guess transfer limit should be double.

[2018-05-17 15:52] miPlodder commented on #829
@ivary43 It's server side issue, because we are sending double, but the server expects int. Due to which, in the release user wouldn't be able to Add Beneficiary.

[2018-05-17 15:58] ivary43 commented on #829
I am saying that this is a server-side bug since the transfer limit is an amount, so it can be double. So instead of making a changing our value from double to int, it is better to make an issue in the server side code to change from int to double.

[2018-05-17 16:23] miPlodder commented on #829
@ivary43 Yeah, that's good solution.

[2018-05-25 04:32] miPlodder opened #850 "Mockups Required"
UI Mockups Needed for the tasks mentioned below,

(1) Support for applying for for savings accounts (#833 )
(2) Support for viewing share accounts (#834 )
(3) Support for adding guarantors (#835 )
(4) Support for customer support/chat (#836 )
(5) Integration with an external payment system (#837 )
(6) Dashboards/visualizations (#838 )
(7) Support for editing user details. (#839 )
(8) Support for v

[2018-05-25 04:34] miPlodder commented on #850
@edcable Above mentioned is list for Mockups. I have added issue for each task and added my design for them please take a look at that also.

[2018-05-27 12:03] #659 closed, assigned to nobody

[2018-05-27 12:04] #829 closed, assigned to nobody

[2018-05-27 12:08] #728 closed, assigned to nobody

[2018-05-27 12:08] miPlodder opened #852 "Redundant Issues or Issues not existing now"
Issues list

#726
#720
#708
#620
#618
#597
#583
#579
#574
#552

[2018-05-27 12:09] miPlodder commented on #852
@therajanmaurya This is the list of redundant issues.

[2018-06-01 06:25] #774 closed, assigned to nobody

[2018-06-01 06:29] #580 closed, assigned to nobody

[2018-06-01 06:29] #741 closed, assigned to nobody

[2018-06-01 06:30] #814 closed, assigned to nobody

[2018-06-01 06:31] #813 closed, assigned to edcable

[2018-06-01 06:35] #525 closed, assigned to nobody

[2018-06-01 06:36] #818 closed, assigned to nobody

[2018-06-01 06:38] #736 closed, assigned to nobody

[2018-06-01 06:40] #754 closed, assigned to nobody

[2018-06-01 06:44] #778 closed, assigned to nobody

[2018-06-04 09:50] #722 closed, assigned to nobody

[2018-06-04 09:52] #747 closed, assigned to nobody

[2018-06-04 10:33] #623 closed, assigned to nobody

[2018-06-04 10:46] #586 closed, assigned to nobody

[2018-06-04 10:47] #552 closed, assigned to nobody

[2018-06-04 10:48] #641 closed, assigned to nobody

[2018-06-05 03:18] #703 closed, assigned to nobody

[2018-06-07 05:55] therajanmaurya commented on #708
Duplicate of #692

[2018-06-07 05:55] #708 closed, assigned to nobody

[2018-06-07 05:57] therajanmaurya commented on #620
duplicate #701

[2018-06-07 05:57] #620 closed, assigned to nobody

[2018-06-07 05:58] therajanmaurya commented on #597
Already fixed in https://github.com/openMF/mifos-mobile/pull/734

[2018-06-07 05:58] #597 closed, assigned to nobody

[2018-06-07 05:59] therajanmaurya commented on #583
Duplicate https://github.com/openMF/mifos-mobile/issues/485

[2018-06-07 05:59] #583 closed, assigned to nobody

[2018-06-07 06:00] therajanmaurya commented on #579
@miPlodder we can do this, this is a valid issue.

[2018-06-07 06:00] therajanmaurya commented on #574
Fixed

[2018-06-07 06:00] #574 closed, assigned to nobody

[2018-06-07 06:00] therajanmaurya commented on #720
Fixed

[2018-06-07 06:00] #720 closed, assigned to nobody

[2018-06-07 06:01] therajanmaurya commented on #852
I checked and closed the issues those are redundant issues.

[2018-06-07 06:01] #852 closed, assigned to nobody

[2018-06-07 06:01] miPlodder commented on #579
@therajanmaurya Ok, I will take up this issue.

[2018-06-07 06:05] therajanmaurya commented on #676
@miPlodder use auto link phone parameter in TextView

[2018-06-07 06:07] therajanmaurya commented on #642
It is common behavior that we added as a feature, So I don't think we need to remove this.

[2018-06-07 06:07] #642 closed, assigned to nobody

[2018-06-07 06:08] therajanmaurya commented on #636
Nope we will stick with Observable

[2018-06-07 06:08] #636 closed, assigned to nobody

[2018-06-07 06:11] miPlodder commented on #676
@therajanmaurya It's already there https://github.com/openMF/mifos-mobile/blob/development/app/src/main/res/layout/fragment_home_old.xml#L370
But still its not working in my device.

[2018-06-11 08:11] #842 closed, assigned to nobody

[2018-06-15 12:28] miPlodder opened #859 "Beneficiary Spinner should be more descriptive"
**Summary:**

Beneficiary Spinner should be more descriptive

**Steps to reproduce:**

Make TPT Transfer

**Expected behaviour:**

Atleast, Beneficiary Name along with Account Number should be displayed

**Observed behaviour:**

Instead it's not

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![screenshot_2018-06-15-16-20-00-871_org mifos mobilebanking](https://user-images

[2018-06-15 12:28] miPlodder commented on #859
@therajanmaurya I'm working on it.

[2018-06-18 09:20] #579 closed, assigned to nobody

[2018-06-21 09:06] miPlodder opened #862 "Adding Kotlin Support"

[2018-06-23 18:36] miPlodder commented on #577
@ivary43 This feature is already implemented in the App. Although the API is not added (#820 )

[2018-06-25 20:39] miPlodder opened #864 "App crashes on Importing Qr Code from Gallery"
**Summary:**

App crashes on Importing Qr Code from Gallery

**Steps to reproduce:**

Import QR Code from Gallery
Crop it and Process the image
Press back button

**Expected behaviour:**

App should not crash

**Observed behaviour:**

App crashes

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![issue_864](https://user-images.githubusercontent.com/22195621/41900280-fcc70e2

[2018-07-01 17:05] miPlodder opened #868 "App crashes on clicking Pending Savings Account"
**Summary:**

App crashes on clicking Pending Savings Account

**Steps to reproduce:**

Account> Click any Savings Account

**Expected behaviour:**

Similar screen showing that Approval is pending should be shown (Similar to that shown in Loans Section)

**Observed behaviour:**

App crashes

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![20180701_203110](https://user-ima

[2018-07-07 19:09] #864 closed, assigned to nobody

[2018-07-25 09:48] #862 closed, assigned to nobody

[2018-08-07 14:20] #859 closed, assigned to nobody

[2018-08-07 14:31] #868 closed, assigned to nobody

[2018-08-07 14:34] #697 closed, assigned to nobody

[2018-08-12 12:44] miPlodder opened #874 "Clicking on Closed Saving Account crashes"
**Summary:**

Clicking on Closed Saving Account crashes

**Steps to reproduce:**

Clicking on Closed Saving Account crashes

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![pr_874](https://user-images.githubusercontent.com/22195621/44004325-83f96f2a-9e7e-11e8-87ba-5bb503d71d56.gif)

[2018-08-13 05:30] #835 closed, assigned to nobody

[2018-08-13 08:08] #874 closed, assigned to nobody

[2018-08-30 14:12] jaindiv26 commented on #844
@miPlodder At the time of sign-up we do collect user mobile number, so instead of implementing reCAPTCHA the more secure way is to authenticate the user using the registered mobile number.

[2018-09-05 06:52] luckyman20 commented on #844
@jaindiv26 We are implementing this for not getting spam registrations, I think we have API in process for mobile verification.

@miPlodder Are you working on this already? If not I would like to work on it.

[2018-09-09 06:50] luckyman20 opened #880 "Add Social Auth Support for Login/SignUp"
**Summary:**

There should social auth like Facebook, LinkedIn, Twitter etc. to ease up the process of registration and login process.

**Expected behaviour:**

Social Auth Options for registration and login.

**Observed behaviour:**

No Social Auth Options for registration and login.

@therajanmaurya May I start working on this?

[2018-09-18 12:09] drish1001 commented on #846
May I work on this issue?

[2018-09-18 13:21] kalpesh30 opened #881 "Survey Button on the main dashboard is not producing any effect"
**Summary:**
The survey button in the main dashboard not working.

**Steps to reproduce:**

1. Open the app.
2. Log in to the app.
3. In the dashboard when we click on the survey button in the account options button nothing happens.

**Expected behaviour:**
Even if there are no surveys active at the current moment, it should display a message or survey activity or fragment should open.

**Observed

[2018-09-18 13:22] kalpesh30 commented on #881
May I please work on this issue?

[2018-09-18 13:44] kalpesh30 opened #882 "App getting crash in the Loan account list activity"
**Summary:**
When we open the Loan Account List in the app and scroll down, the app crashes.

**Steps to reproduce:**

1. Open the app and Login.
2. Open the Loan account List by clicking on the Loan Amount.
3. when we scroll down the list, the app crashes.

**Expected behaviour:**

The app should not crash and should display the list properly.

**Observed behaviour:**

The app crashes.

**Device

[2018-09-18 13:49] drish1001 opened #883 "Entities in spinner are being displayed multiple times, when submit beneficiary button pressed in 'Add Beneficiary' fragment"
**Summary**
On going into the Benefeciaries, from the homepage and on adding new beficiaries, a try again page is being displayed, which on retrying, results in display of same entities in the spinner.

**Steps to reproduce:**

1. Go to the Beneficiaries.
2. Click in the FAB Button.
3. Click on ```Add``` in Select Mode
4. Enter the necessary details and click on ```Submit Beneficiary```.
5. Click

[2018-09-18 13:49] drish1001 commented on #883
May I please work on this issue?

[2018-09-18 13:53] kalpesh30 commented on #882
I would like to work on this issue. May I work on this issue?

[2018-09-20 12:47] miPlodder commented on #882
@kalpesh30 The issue is relevant, you can work on it.

[2018-09-20 12:52] miPlodder commented on #881
@kalpesh30 This is a redundant issue. (https://github.com/openMF/mifos-mobile/issues/840) And PR for this issue has been created. (Only API integration work is left).

You can remove this issue.

[2018-09-20 13:01] miPlodder commented on #844
@luckyman20 This functionality requires some changes on server-side. You can talk to @edcable regarding those changes and then work on it. Or you can choose another API for reCaptcha which does not require server-side configuration, but before working on it get the API's you want to work on accepted by the Community Members.

[2018-09-20 13:07] miPlodder commented on #883
@drish1001 The reason you are not able to create Beneficiary is that you are giving the wrong Credentials. Choose a valid Account Number and Office Number. For example,

Office Number = Head Office

Rest information can be anything.

Although, the behaviour for wrong credentials is wrong. You can work on it.

[2018-09-20 13:08] miPlodder commented on #883
Although, the behaviour for wrong credentials is wrong. You can work on it.

[2018-09-20 13:23] miPlodder commented on #880
@luckyman20 I think for Security Purpose this use-case is not relevant. You can ask the community regarding this in the mailing list.

[2018-09-20 14:29] luckyman20 commented on #880
@miPlodder Could you please elaborate how can this affect security of the app?

Let me tell discuss the approach too -

When the user will click on the social auth button, he/she will be redirected to the Authentication page of that respective Social Media App (in case he/she is not already authenticated) then we will fetch all the necessary details from that Social Media App and then we will fill

[2018-09-20 14:32] luckyman20 commented on #844
@miPlodder I don't know if you have checked out this official reCaptcha API from Google - [Link of the API](https://developer.android.com/training/safetynet/recaptcha)

[2018-09-22 03:52] miPlodder commented on #844
@luckyman20 Refer this blog post - [Link](https://www.androidhive.info/2018/04/android-recaptcha-safetynet/)

[2018-09-22 04:30] miPlodder commented on #880
@luckyman20 Since, Social Media information are public and are visible to everyone, even attacker. Moreover, you wouldn't find any Banking App asking for Social Authentication, it because of Privacy and Security concerns.

[2018-09-22 07:01] luckyman20 commented on #844
@miPlodder So I think we can go ahead with this API. Right?

[2018-09-22 07:05] luckyman20 commented on #880
@miPlodder It Seems that I missed the security aspect. Thanks for pointing out.

[2018-09-22 07:05] #880 closed, assigned to nobody

[2018-09-23 02:04] e-qui-nox opened #885 "App crashes on pressing SUBMIT BENEFICIARY button of Update Beneficiary in the side menu."
**Summary:**

In the Beneficiary details page when Update Beneficiary is being selected from the side menu and after making the changes or without making any changes when the Submit Beneficiary button is being clicked, the app crashes.

**Steps to reproduce:**

1. Open the app and Login.
2. Click on Beneficiaries in Home Page.
3. Click on one of the entities.
4. Click on the side menu.
5. Click on

[2018-09-23 02:05] e-qui-nox commented on #885
May I please work on this issue?

[2018-09-25 08:09] kalpesh30 commented on #882
@miPlodder  Can you please review this PR about this issue?

[2018-10-01 11:37] RajaVamsi11 opened #886 "Self Service App / Mifos Mobile Crashes on Samsung with Android version 4.4.2"
**Summary:**
@therajanmaurya @dilpreet96
When I tried to run the app from the android studio building apk from the latest source code development branch builds well and installs on Samsung but launching it crashes.
with a message "Unfortunately Mifos Mobile has stopped"
I tried disabling instant run but it does not work.

**Log Cat Errors:**
10-01 16:55:56.275 26645-26645/? E/dalvikvm: >>>>> Norma

[2018-10-12 21:00] jmsperu opened #888 "Cannot Resolve Symbol: MifosNotification_Table Symbol"
Hi,

When editing on androi studio I see an error: "Cannot Resolve Symbol" "MifosNotification_Table Symbol"
and import org.mifos.mobilebanking.models.notification.MifosNotification_Table; is underlined.
Path to file: mifos-mobile-1.0.0\app\src\main\java\org\mifos\mobilebanking\api\local\DatabaseHelper.java

[2018-10-16 06:12] #882 closed, assigned to nobody

[2018-10-16 12:13] m-murad opened #889 "Inconsistent navigation drawer view selection."
**Summary:**

In `HomeActivity` if we navigate to some other fragment and rotate the screen the navigation drawer shows `Home` open as selected even when some other fragment is being shown.

**Steps to reproduce:**
1. In `HomeActivity` open the navigation drawer and select `Accounts` option.
2. Rotate the device.
3. Open the navigation drawer, `Home` option will be selected.

**Expected behaviour:

[2018-10-16 12:26] m-murad opened #891 "Unnecessary initialisation of HomeActivity in SettingsActivity"
**Summary:**

In the `onBackPressed` method of `SettingsActivity` we are unnecessarily initializing the `HomeActivity` again even though we already have an instance of `HomeActivity`.

Instead we can simpally call the `super.onBackPressed` to kill the SettingsActivity.

**Expected behavior:**

Only one instance of `HomeActivity` should be present.

**Observed behaviour:**

Unnecessary multiple ins

[2018-10-17 15:21] edcable commented on #749
@miPlodder

We also need to think about this from the perspective of the client who would  be using the app.

Client would either be downloading the app from Google Play (if it was on a Mifos-hosted account) or most likely they'd be downloading it from a partner or a financial institution who is providing this app to its members.

In either case, the end client who is using the app to view details

[2018-10-19 08:52] theamritanair opened #893 "Doesn't change the language under the Setting option"
**Summary:**

In the Settings option, on changing the language, there's no change.
The changes occur only if English and Hindi languages are selected.

**Steps to reproduce:**
1. Open the app. Open the Navigation Drawer.
2. Select the Settings option.
3. Click on Languages.
4. Select the language you want.

**Expected behaviour:**

On selecting the language, the app should change to the selected l

[2018-10-20 06:49] miPlodder commented on #893
@theamritanair This is not a bug. Currently, translations for others languages are given in English only. That's why it's occurring. Check out this French translation [file](https://github.com/openMF/mifos-mobile/blob/development/app/src/main/res/values-fr/strings.xml).

Only translation for the Hindi language is available. You can try that out.

[2018-10-20 06:53] miPlodder commented on #885
@e-qui-nox It's a relevant issue. Although it's not happening on my device. You can start to work on it.

[2018-10-20 07:03] miPlodder opened #894 "Progress Bar shown on top of Input Fields"
**Summary:**

Progress Bar shown on top of Input Fields

**Steps to reproduce:**

Go to Beneficiary. Click any Beneficiary from the list.

**Expected behaviour:**

Input fields should be absent and when fetching (progress bar) is done, then it should be made visible.

**Observed behaviour:**

Instead, Progress Bar is shown on top of Input Fields which is a bad UI design.

**Device and Android vers

[2018-10-20 07:11] miPlodder opened #895 "Error text beneath EditText should be shown for all the EditText on clicking the Login Button"
**Summary:**

Error text beneath EditText should be shown for all the EditText on clicking the Login Button

**Steps to reproduce:**

Log into app without entering credentials

**Expected behaviour:**

Errors for all the EditText should be shown like shown in other apps like Paypal

**Observed behaviour:**

Error text are not shown for all the EditText

**Device and Android version:**

Xiaomi, Mar

[2018-10-20 07:15] miPlodder opened #896 "Error text beneath EditText should be shown for all the EditText on clicking the Sign Up Button"
**Summary:**

Error text beneath EditText should be shown for all the EditText on clicking the Sign Up Button

**Steps to reproduce:**

Sign Up without entering any details

**Expected behaviour:**

Errors for all the EditText should be shown like shown in other apps like Paypal

**Observed behaviour:**

Error text are not shown for all the EditText

**Device and Android version:**

Xiaomi, Marshm

[2018-10-20 07:17] miPlodder opened #897 "Username is shown as "null" on login"
**Summary:**

Username is shown as "null" on login

**Steps to reproduce:**

Login to app

**Expected behaviour:**

Username should be shown

**Observed behaviour:**

Username is shown as null

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![20181020_122546](https://user-images.githubusercontent.com/22195621/47252670-14789680-d466-11e8-98fb-b4e23b708161.gif)

[2018-10-20 07:24] miPlodder opened #898 "Working of DatePicker on creating Loans are causing Inconsistency"
**Summary:**

Working of Calender on creating Loans are causing Inconsistency

**Steps to reproduce:**

Create a new loan

**Expected behaviour:**

Submission date should show the "Present Date" and ImageView should be removed
Whereas for Expected Disbursement should show the dates after "Present Date" as selectable, and previos dates as non-selectable.

**Observed behaviour:**

Both Datepickers a

[2018-10-20 08:15] miPlodder opened #899 "Recent Transaction Fragment shows Snackbar every time on opening"
**Summary:**

Recent Transaction Fragment shows Snackbar every time on opening

**Steps to reproduce:**

Go to Navigation Drawer > Recent Tranactions

**Expected behaviour:**

Snackbar should not pop up everytime. (no need to show the snackbar)

**Observed behaviour:**

Instead, it pops up everytime

**Device and Android version:**

Xiaomi, Marshmallow

**Screenshots:**

![20181020_122636](https:/

[2018-10-20 22:06] drish1001 commented on #883
Can you please review this pull request?

[2018-10-24 13:08] letelete commented on #896
I'll take this issue

[2018-10-24 16:08] migueldinisdev commented on #899
@miPlodder

Hi! I can fix this. But I'm not understand what's the expected behaviour. The snackbar is showing up everytime and it shouldn't. But when should it appear exactly?

Thanks !

[2018-10-24 16:11] miPlodder commented on #899
@MigDinny This task is for GCI students.

[2018-10-24 16:16] migueldinisdev commented on #899
@miPlodder And I am a GCI student. I just didn't claim the task yet, was going to do it in a few minutes...

EDIT: claimed it right now.

[2018-10-24 16:18] miPlodder commented on #899
@MigDinny Sure, hurry up and claim the task then you are good to go.

I have updated the expected behaviour above.

[2018-10-24 16:19] migueldinisdev commented on #899
@miPlodder I did it :)

[2018-10-24 16:31] migueldinisdev commented on #899
@miPlodder I'm sorry but I'm not understanding again... Do you mean TextView? Because I cannot see any EditText present in **row_recent_transaction.xml** and in **fragment_recent_transactions.xml**

Could you be more clear? Thanks!!

[2018-10-24 16:45] miPlodder commented on #899
@MigDinny We need not show any Snackbar, just like other UI's where we fetch a list of item, no Snackbar or Toast is shown when the fetch is completed. (updated above too)

[2018-10-24 16:54] migueldinisdev commented on #899
@miPlodder I got it now! Thanks for the answer. Will work on it.

[2018-10-24 17:21] letelete commented on #896
Review ready! https://github.com/openMF/mifos-mobile/pull/907

[2018-10-24 23:43] migueldinisdev commented on #898
Update: working on this

[2018-10-25 08:00] letelete opened #910 "Bug: Unresolved dependencies error while building app"
**Summary:**

Can't build the app, because of compiler unresolved dependencies errors, such as:

**Steps to reproduce:**

1. Clone development branch
2. Open project in your IDE
3. Build project

**Expected behaviour:**

Complete build

**Observed behaviour:**

As I mentioned before, there are unresolved dependencies errors:

![image](https://user-images.githubusercontent.com/18665370/47484032-f71

[2018-10-25 08:02] letelete commented on #910
@miPlodder  This issue appears in #907, #908. Fix for this issue might be #909

[2018-10-25 09:22] letelete commented on #895
I'm working on it.

[2018-10-25 09:38] letelete commented on #895
Waiting for review. BTW, I couldn't find this task on the GCI site, why is that?

[2018-10-25 09:52] migueldinisdev commented on #910
I was having this issue in my project after cloning it. I actually solved it by changing some stuff in **build.gradle**. I added it to **.gitignore** though.

UPDATE:

What I did was a temporary workaround in my computer. I increased **minSdkVersion** to **21** and removed multidex library dependency.

As described [here](https://developer.android.com/studio/build/multidex), projects with minSdkVe

[2018-10-25 17:30] m-sameer commented on #910
@miPlodder I'm able to fix this issue by updating the `compileSdkVersion` and some dependencies. Can you please add this as a GCI task?

[2018-10-26 15:59] #910 closed, assigned to nobody

[2018-10-28 16:15] etlhsu commented on #898
@miPlodder I am not working on this task, but to clarify, the submission date should not be selectable with a DatePicker.

[2018-10-28 16:47] migueldinisdev commented on #898
@ethan627hsu I thought about that too, it was on my to-do list :p

Thanks for pointing out!

[2018-10-28 16:52] miPlodder commented on #898
Yeah, that what I have written. Present date should be shown means no date picker, just text.

[2018-10-28 18:17] etlhsu commented on #898
@miPlodder Thanks for the clarification, it is good to make sure contributors are reading clear documentation, and don't waste their time on an obsolete implementation.

[2018-10-29 00:09] migueldinisdev opened #918 "App shuts down after PIN Code"
**Summary:**

The app shuts down after typing the PIN Code.

**Steps to reproduce:**

1. `git checkout development`
2. `git pull origin` (make sure the development branch is updated with upstream's)
3. Open the app
4. Type your PIN
5. The exact moment you touch on the last digit, a FATAL Exception is triggered

**Expected behaviour:**

Log in normally

**Observed behaviour:**

The app just shuts d

[2018-10-29 19:29] etlhsu commented on #918
@MigDinny The error is that the method that is unable to run is "native". This means that the method is implemented in a separate C file with the JNI (Java Native Interface). But Android cannot find the C implementation of the method. Read more [here](https://stackoverflow.com/questions/6101311/what-is-the-native-keyword-in-java-for).

[2018-10-29 22:17] migueldinisdev commented on #918
**SOLVED**

I deleted my local repo and cloned it again.

[2018-10-29 22:17] #918 closed, assigned to nobody

[2018-10-31 07:10] etlhsu opened #919 "Adapter Attachment Error in RecyclerView when viewing "Charges" and "Accounts" pages"
**Summary:**

When opening the main pages for viewing accounts and charges, an error log is written speaking of how a recyclerview handled a case where no adapter is attached to it. I decided to have this issue scope both "Accounts" and "Charges" pages as the exact same log is sent out with a very similar entry point.

**Steps to reproduce:**

1. Run the Mifos Mobile app through an IDE, and valida

[2018-10-31 07:18] etlhsu opened #920 "Splash Screen Image Streching"
**Summary:**

When the splash screen is opened, a stretched version of the Mifos logo appears, making the non-circular globe and lettering look odd.

**Steps to reproduce:**
1. Close the app, make sure all activities have been destroyed and the UI is dismissed from the background memory.
2. Open the app and observe the splash screen.
3. Capture the splash screen using a well-timed screenshot or vi

[2018-11-02 16:57] RajaVamsi11 opened #923 "Add static shorts for app"
**Feature Request:**
I want to introduce a feature of adding static shorts to the app for activities in navigation drawer for quick access to the users like:
- Recent Transactions
- Charges
- Third Party Transfers

**Feature description**
App shortcuts were introduced in API 25 for the users do their common tasks quickly. using these shortcuts will be more useful. you can visit this [link](https:/

[2018-11-02 16:58] RajaVamsi11 opened #924 "Add shortcuts for app"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did

[2018-11-02 17:00] RajaVamsi11 opened #925 "Add static shortcuts for app"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen).

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did

[2018-11-02 17:01] RajaVamsi11 opened #926 "Add static shortcuts for app"
**Summary:**

I want to introduce a new feature
**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version (e.g., An

[2018-11-02 17:09] RajaVamsi11 commented on #923
@miPlodder Please review this issue.I am interested in implementing this feature. May I start working on this issue?

[2018-11-02 17:10] RajaVamsi11 commented on #924
sorry for duplicate issue

[2018-11-02 17:10] #924 closed, assigned to nobody

[2018-11-02 17:10] RajaVamsi11 commented on #925
sorry for this kind of issue

[2018-11-02 17:10] #925 closed, assigned to nobody

[2018-11-02 17:14] RajaVamsi11 commented on #926
Duplicate issue

[2018-11-02 17:14] #926 closed, assigned to nobody

[2018-11-02 20:54] etlhsu commented on #923
@RajaVamsi11, that sounds like an awesome idea 🥇😀. You might want to be on the [gitter chat](https://gitter.im/openMF/self-service-app), there you can contact @miPlodder and @luckyman20 and have them help you track the development of your feature. On the chat, you can also talk to other students, and ask for help on using certain features!

[2018-11-03 05:08] RajaVamsi11 commented on #923
@ethan627hsu glad you liked that idea

[2018-11-03 19:49] RajaVamsi11 commented on #596
@miPlodder Can I start working on this issue?

[2018-11-10 18:06] luckyman20 commented on #923
@RajaVamsi11 This seems like a good idea, @miPlodder What are your views on that?

[2018-11-11 06:22] miPlodder opened #929 "App crashes on clicking Transaction in Loan Accounts"
**Summary:**

App crashes on clicking Transaction in Loan Accounts

**Steps to reproduce:**

Accounts > Loan Account > Any withdrawn Loan Account > Transaction

**Expected behaviour:**

App should not crash

**Observed behaviour:**

App crash

**Device and Android version:**

Marshmallow, Xiaomi

[2018-11-11 07:00] miPlodder opened #930 "Transfer Confirmation Details are scrollable"
**Summary:**

Transfer Confirmation Details are scrollable

**Steps to reproduce:**

Transfer > Click any Transfer from pop-up > Fill Details and Review

**Expected behaviour:**

Confirmation Details are scrollable

**Observed behaviour:**

Instead, they should be non-scrollable, for better User Experience

**Device and Android version:**

Marshmallow, Xiaomi

**Screenshots:**

![1 1](https://user

[2018-11-11 07:05] miPlodder opened #931 "App crashes on Updating Beneficiary"
**Summary:**

App crashes on Updating Beneficiary

**Steps to reproduce:**

Beneficiary > Click any Beneficiary >  Update > Submit

**Expected behaviour:**

App should not crash

**Observed behaviour:**

App crash

**Device and Android version:**

Xiaomi, Marshmallow

[2018-11-11 07:10] miPlodder opened #932 "Snackbar pops on the FAB on deleting Beneficiary"
**Summary:**

Snackbar pops on the FAB on deleting Beneficiary

**Steps to reproduce:**

Beneficiary > Click on any Beneficiary or create new Beneficiary > Delete it from menu

Create new Beneficiary using details,

**Expected behaviour:**

FAB should animate upwards so that it doesn't get covered by Snackbar

**Observed behaviour:**

Instead, FAB doesn't animate.

**Device and Android version:**

[2018-11-11 11:36] #897 closed, assigned to nobody

[2018-11-11 12:03] #894 closed, assigned to nobody

[2018-11-11 12:06] #899 closed, assigned to nobody

[2018-11-11 12:11] #898 closed, assigned to nobody

[2018-11-11 20:16] RajaVamsi11 commented on #795
@ivary43 @therajanmaurya @miPlodder I would like to work on this issue. can you please assign this issue to me.

[2018-11-18 10:02] letelete opened #934 "Bug: App doesn't back to the beneficiaries list after adding a new beneficiary"
**Summary:**

App doesn't back to the beneficiary list after adding a new beneficiary

**Steps to reproduce:**

Beneficiaries > Add beneficiary

**Expected behaviour:**

After adding a new beneficiary I should back to the beneficiaries list

**Observed behaviour:**

After adding a new beneficiary I see the "Add beneficiary screen"

**Device and Android version:**

Android 8.0, Huawei p10

**Screen

[2018-11-18 10:07] letelete opened #935 "Bug: Newly added beneficiary isn't visible until manually refresh"
**Summary:**

For now, the user needs to update the beneficiaries list manually to see the newly added beneficiary.

**Steps to reproduce:**

Beneficiaries > Add beneficiary > Add some beneficiary

**Expected behaviour:**

The beneficiaries list should be refreshed automatically to show me the newly added beneficiary.

**Observed behaviour:**

I can't see the newly added beneficiary until I don't

[2018-11-19 19:14] migueldinisdev commented on #885
@miPlodder
@e-qui-nox

https://github.com/openMF/mifos-mobile/issues/931 same issue here.

Fixed in #933

[2018-11-20 17:45] m-sameer opened #940 "Lint errors and warnings"
**Summary:**
It is a good practice to keep the codebase free of lint warnings, to make it more robust, performant, and readable.

**Steps to reproduce:**
Go to Analyze -> Inspect Code... -> select Whole project

**Screenshot:**
![screenshot from 2018-11-20 23-17-18](https://user-images.githubusercontent.com/28915865/48792549-8c163b80-ed1a-11e8-8d38-9fdabbb5da96.png)

**Expected behaviour:**
Minimi

[2018-11-21 13:56] letelete opened #943 "Feature Request: Add Polish translation"
**Summary:**

There is no polish translation in the app

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

Polish translation available

**Observed behaviour:**

There is no polish translation in the app

**Device and Android version:**

android 8.0, huawei p10

**Screenshots:**

Can be created by pressing the Volume Down and Power Button at the same time on Androi

[2018-11-22 08:45] letelete opened #944 "Feature Request: Add translatable=false flag to make translations easier to do"
**Summary:**

There are some strings which shouldn't be translated.

**Steps to reproduce:**

app>src>main>res>values>strings.xml

**Expected behavior:**

Add translatable="false" flag to non translatable strings.

**Observed behavior:**

There are some strings which shouldn't be translated, but these don't have the flag.

[2018-11-22 22:25] migueldinisdev opened #950 "Feat: Add Portuguese translations"
Portuguese translations are needed.

[2018-12-03 05:12] #885 closed, assigned to nobody

[2018-12-03 05:14] #931 closed, assigned to nobody

[2018-12-03 05:17] #930 closed, assigned to nobody

[2018-12-03 05:18] #929 closed, assigned to nobody

[2018-12-03 05:23] #950 closed, assigned to nobody

[2018-12-03 05:27] #943 closed, assigned to nobody

[2018-12-03 09:25] miPlodder opened #958 "Transfer button size shrinks on Confirmation Page"
**Summary:**

Transfer button size shrinks on Confirmation Page

**Steps to reproduce:**

Complete a Transfer (normal Transfer or 3rd Party Transfer)

**Expected behaviour:**

Submit button should be properly visible and after transfer complete the cardview is not appropriate.

**Observed behaviour:**

Submit button is not properly visible

**Device and Android version:**

Xiaomi, Marshmallow

**S

[2018-12-03 10:06] m-sameer opened #960 "Remove non-translatable strings from translated languages' strings.xml"
**Summary:**
Two non-translatable string arrays named **`languages`** and **`languages_value`** are present in the **strings.xml** file for Portuguese.

**Expected behaviour:**
The two arrays should only be present in the default locale and therefore should be removed from **strings.xml** for Portuguese.

[2018-12-03 19:22] m-sameer opened #963 "Add Urdu translation"
**Summary:**
Add Urdu translation to extend the reach. It will help people speaking the Hindustani language with skills to read and write in the Persianised standard register of the Hindustani language and therefore the app can be comprehended by a Hindustani speaker (which are about 1 Billion).

[2018-12-04 07:14] santoshconflux commented on #486
@edcable , @therajanmaurya , @miPlodder

API development is done and the ticket is resolved.
 https://issues.apache.org/jira/browse/FINERACT-596

Tested in latest self service apk and it is yet to be implemented in front end self service app.

[2018-12-04 08:58] miPlodder commented on #486
@Santosh Math <santosh@confluxtechnologies.com>
Can you share the endpoints for the newly created API's?

Sincerely,
Saksham Handu

On Tue, Dec 4, 2018 at 12:44 PM Santosh Math <notifications@github.com>
wrote:

[2018-12-04 09:28] ShruthiRajaram commented on #486
Share account template -GET https://Domain Name/api/v1/self/shareaccounts/template?clientId={clientId}
Retrieve share account - https://DomainName/api/v1/self/shareaccounts/{accountId}
Submit share account - https://Domain Name/api/v1/self/shareaccounts

[2018-12-04 10:23] miPlodder commented on #486
@ShruthiRajaram @santoshconflux Thanks, I will work on it.

[2018-12-04 11:36] santoshconflux commented on #486
@miPlodder ,  Is it duplicate ticket of this?
https://github.com/openMF/mifos-mobile/issues/834

which has already PR still open?

https://github.com/openMF/mifos-mobile/pull/870

[2018-12-04 11:42] santoshconflux commented on #478
@miPlodder , @edcable , API  development is done

https://issues.apache.org/jira/browse/FINERACT-628

[2018-12-04 13:24] miPlodder commented on #486
@santoshconflux Yeah, both the issues are same. Regarding, the PR, I created in during the GSoC period using Fake Data Layer.

[2018-12-04 13:28] #843 closed, assigned to nobody

[2018-12-15 10:16] nikhil-sachdeva opened #967 "Resource compilation failed while setting up"
**Summary:**

Compilation failed while running the app on device with the following error.

Android resource compilation failed
Output:  /Users/Nikhil/AndroidStudioProjects/mifos-mobile/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/values-fr.xml:6: error: unescaped apostrophe in string
"Pour afficher les transactions dans votre compte d'épargne, allez à la section Co

[2018-12-19 13:27] nikhil-sachdeva commented on #932
@miPlodder I looked into the issue, and tried solving it. When the details fragment is destroyed upon deletion, the Snackbar is called and shown on the beneficiaries list page and hence this result, how could we get the view/fab object passed in the Snackbar if its not called from the list fragment.

[2018-12-20 14:20] #958 closed, assigned to nobody

[2018-12-20 14:21] #963 closed, assigned to nobody

[2018-12-20 14:22] #403 closed, assigned to nobody

[2018-12-20 15:02] #935 closed, assigned to nobody

[2018-12-20 15:05] #934 closed, assigned to nobody

[2018-12-20 15:25] #891 closed, assigned to nobody

[2018-12-20 15:28] #889 closed, assigned to nobody

[2018-12-21 14:25] miPlodder opened #969 "Language not changed on changing Language from Settings"
**Summary:**

Language not changed on changing Language from Settings

**Steps to reproduce:**

Settings > Change language > Press back to goto Home Activity

**Expected behaviour:**

Language should be changed on Home Activity

**Observed behaviour:**

Language not changed on Home Activity

**Device and Android version:**

Xiaomi, Marshmallow

[2018-12-21 15:56] #969 closed, assigned to nobody

[2018-12-21 19:19] shiv07tiwari commented on #923
@miPlodder  @ethan627hsu  @luckyman20
Hello. I am wiling to start my contributions for this organisation.
This idea seems very interesting. Can I start working on this ?

[2018-12-21 20:25] shiv07tiwari commented on #896
@miPlodder Can I work on this issue.
I am interested in contributing to this organisation .

[2018-12-22 22:17] shiv07tiwari commented on #896
@letelete  Hello. Can I take up this issue or this is still under process ?

[2019-01-01 04:53] miPlodder commented on #923
@RajaVamsi11 Sorry for the delayed response, you can start to work on this feature as its pretty handy.

[2019-01-01 04:53] #896 closed, assigned to nobody

[2019-01-01 04:54] #893 closed, assigned to nobody

[2019-01-01 04:54] #881 closed, assigned to nobody

[2019-01-01 04:55] #714 closed, assigned to nobody

[2019-01-01 05:00] miPlodder commented on #967
@nikhil-sachdeva If you are still facing some issue, then you can clone delete the fork, fork again and clone the repo. Try again fresh and send PR for this.

[2019-01-01 12:06] #967 closed, assigned to nobody

[2019-01-02 08:33] #895 closed, assigned to nobody

[2019-01-02 08:36] #456 closed, assigned to nobody

[2019-01-04 12:30] IgorWilbert opened #975 "Fix grammar mistakes and translate missing strings in portuguese strings.xml"
**Summary:**

As a native portuguese speaker, I noticed typos and grammar mistakes in the **strings.xml** file for Portuguese translation. Also, there are some strings which still hasn't been translated from English to Portuguese

**Expected behaviour:**

There should not be any grammar mistakes or typos in the Portuguese translation and all strings that can be meaningfully translated from English

[2019-01-04 12:31] IgorWilbert commented on #975
I want to work on this issue, as soon as #962 gets merged

[2019-01-06 17:18] nikhil-sachdeva commented on #847
Can I work on this issue if it's still open?

[2019-01-06 19:15] jmig5776 commented on #975
I will take up this issue

[2019-01-06 22:16] IgorWilbert commented on #975
@jmig5776 #962 wasn't merged yet, it is bad practice to have multiple PRs for the same part of the code.

[2019-01-07 13:03] jmig5776 commented on #975
Ohh okk okk you work on it.

[2019-01-08 19:59] shiv07tiwari opened #976 "Filter icon is not aligned properly while using Search in Account"
**Summary:**

Filter icon is displaced while using search option, which leads to bad UI.

**Steps to reproduce:**

1. Go to Accounts.
2. Open search bar

**Expected behaviour:**

Either this should be fixed, or maybe we can remove the filter option while user is using the search bar.

**Observed behaviour:**

![e1a3c282-2213-481b-b7a9-231849bf1033](https://user-images.githubusercontent.com/3816372

[2019-01-08 20:02] shiv07tiwari commented on #976
@luckyman20 @miPlodder  Can I work on this issue ?

[2019-01-09 07:51] luckyman20 commented on #976
Go ahead on fixing this.

[2019-01-09 14:11] shiv07tiwari commented on #976
@luckyman20 I have some Issues regarding this.
If the user is using the search option, then I guess he/she doesn't need the filter option.

What's happening is that we need to set the size for the search bar as per device width, for which we will have to override the SearchView methods.
So instead of that we can use "ifRoom" for FilterOptions.

[2019-01-09 22:26] shiv07tiwari opened #978 "Filters still enabled after Search in Accounts Section"
Summarize your issue in one sentence (what goes wrong, what did you expect to happen).
In Accounts, the filters are still clicked, even after the user uses search option, which basically removes all the filters.
**Steps to reproduce:**
1. Apply any filter.(Suppose closed)
2. Use search and type something in search bar, then cancel the search option (List is now unfiltered)
3. Open filters
You will

[2019-01-09 22:26] shiv07tiwari commented on #978
@luckyman20  @miPlodder   Can I work on this issue ?

[2019-01-12 03:05] rahul-jha98 commented on #932
I would like to work on the issue if its still open?

[2019-01-13 09:44] vaibhav2203 commented on #978
hey, can i work on this issue? @luckyman20 @miPlodder

[2019-01-13 09:45] shiv07tiwari commented on #978
@vaibhav2203  I am already fixing this.

[2019-01-13 10:25] jsuyash1514 opened #979 "App crashes on clicking transaction in closed saving account."
**Summary:**

When the user clicks on "Transactions" in the closed saving account details, app crashes.

**Steps to reproduce:**

1.) Go to the accounts tab.
2.) Then select the closed account 000000031.
3.) Then click on "Transactions".

**Expected behaviour:**

If the transaction list is empty, it should display "No recent transactions".

**Observed behaviour:**

As I clicked on "Transaction", i

[2019-01-13 10:28] jsuyash1514 commented on #979
@luckyman20  Can I work on this issue?

[2019-01-13 12:17] jsuyash1514 opened #980 "Search account by account number"
**Summary:**

In the accounts tab, the search bar gives the result only if the "product name" contains the input string.
A new feature can be added, to search by "account number".

**Steps to reproduce:**

In the accounts tab, enter "44" in the search bar. It should return the list of accounts with a/c number containing "44".

@luckyman20  Should I work on this?

[2019-01-13 13:07] luckyman20 commented on #979
Yeah, go ahead.

[2019-01-13 13:09] luckyman20 commented on #980
You can, but after solving the previous issue. I would recommend working on one issue at a time.

[2019-01-13 13:15] rahul-jha98 commented on #932
@miPlodder Could I start working on the issue?

[2019-01-14 10:35] luckyman20 commented on #932
@nikhil-sachdeva and @rahul-jha98, there is already a PR for this issue, there is no point in making multiple PRs for a single issue.

[2019-01-15 08:51] ShivangiSingh17 commented on #742
May I please work on this issue?

[2019-01-15 09:14] ShivangiSingh17 commented on #596
Hello,can i work on this issue ?

[2019-01-15 09:16] ShivangiSingh17 commented on #557
Hello can i work on this issue?

[2019-01-15 10:05] #976 closed, assigned to nobody

[2019-01-15 10:18] luckyman20 commented on #978
@shiv07tiwari We just discussed on the previous issue that user might want to search from a filtered list. The issue would be that if filters are applied then they should not get removed when user clicks on search button.

[2019-01-15 15:20] shiv07tiwari commented on #978
@luckyman20 What I am saying is that when we do the steps I wrote above, the filter option is still clicked, but the filter is not applied. So yes I get your point, we should retain the filter while searching.
Working on this. !

[2019-01-15 15:59] ravi-kishan opened #983 "DatePicker's highlighted date is set to current date even after user selects a different date."
**Summary:**

DatePicker's highlighted date is set to current date even after user selects a different date.

**Steps to reproduce:**
Goto->Accounts->Loan fragment
Choose floating action button to apply for loan
Set expected disbursement date to future value and open datepicker dialog again.

**Expected behaviour:**

DatePickers highlighted date should be the date selected by user previously

**Ob

[2019-01-15 16:01] ravi-kishan commented on #983
@luckyman20 I would like to work on this.

[2019-01-15 16:05] luckyman20 commented on #983
@ravi-kishan Go ahead.

[2019-01-17 04:16] jsuyash1514 commented on #174
@luckyman20  Can I work on this issue?

[2019-01-17 11:21] jindalAnuj commented on #557
Yeah

[2019-01-17 12:33] shiv07tiwari opened #985 "Account list is null if no filter is selected"
**Summary:**
When the user opens filter options, and if he/she doesn't select any options and clicks filter, then the list is null
**Steps to reproduce:**
1. Open accounts
2. Open filters, don't select any option and click filter
3. We see that the list disappears.

**Expected behaviour:**
If no filter is selected, all the accounts should be displayed.

**Observed behaviour:**

Blank page

[2019-01-18 12:27] jsuyash1514 commented on #174
@therajanmaurya @luckyman20 I want to work on this issue if it is still open. Should I proceed?

[2019-01-18 13:17] luckyman20 commented on #174
@jsuyash1514 This seems a good addition. Can you please tell how you wish to approach this? If possible, please provide mockup.

[2019-01-18 13:34] jsuyash1514 commented on #174
@luckyman20  We can add a seekbar in filter option ranging from 0 to the maximum value of transaction in that list. The user can slide the 2 ends of seekbar to select the range of transaction and on applying filter, we can display the filtered list.
Example:
![screenshot_2019-01-18-18-53-54-417_com navismart navismart](https://user-images.githubusercontent.com/32803444/51389858-a66e6900-1b53-11e9-

[2019-01-18 13:36] jsuyash1514 commented on #174
@luckyman20  What's your opinion on this? Should I proceed?

[2019-01-18 13:37] luckyman20 commented on #174
@jsuyash1514 Looks good. Please go ahead.

[2019-01-19 01:43] shaliniv16 commented on #985
@shiv07tiwari can I work on this issue?

[2019-01-19 02:32] shiv07tiwari commented on #985
Actually i opened this issue so that I can work on it @shaliniv16 .
At least you should have waited for my response before opening a PR.
@luckyman20

[2019-01-19 15:29] ShivangiSingh17 opened #987 "Missing some translation in hindi language"
**Summary:**

The application is missing some translation in Hindi language

**Steps to reproduce the issue:**

1. Go to settings.
1. Change language to hindi.

**Expected behaviour:**

All strings should be translated to Hindi.

**Observed behaviour:**

Some strings do not have Hindi tranlation.

**Device and Android version:**

Vivo 1724
Android 8.1.0
Funtouch OS 4.0